@model EtlManager.Models.JobExecution

@{
    switch (Model.ExecutionStatus)
    {
        case "COMPLETED":
            <span class="badge badge-success">@Html.DisplayFor(modelItem => Model.ExecutionStatus)</span>
            break;
        case "FAILED":
            <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.ExecutionStatus)</span>
            break;
        case "WARNING":
        case "STOPPED":
        case "SUSPENDED":
            <span class="badge badge-warning">@Html.DisplayFor(modelItem => Model.ExecutionStatus)</span>
            break;
        case "RUNNING":
            <span class="badge badge-primary">@Html.DisplayFor(modelItem => Model.ExecutionStatus)</span>
            break;
        default:
            <span class="badge badge-secondary">@Html.DisplayFor(modelItem => Model.ExecutionStatus)</span>
            break;
    }
}