@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETL Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{ String pageRoute = ViewContext.RouteData.Values["page"].ToString(); }

    @if (!User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <text class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">ETL Manager</text>
            </nav>
        </header>
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    }
    else
    {

        <header>
            <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <text class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">ETL Manager</text>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </header>

        <div class="container-fluid">
            <div role="row">

                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column pt-3">
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute == "/Index" ? "active" : "")" asp-page="/Index">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/home.svg")))
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute == "/Dashboard" ? "active" : "")" asp-page="/Dashboard">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/bar-chart-2.svg")))
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(5) == "/Jobs" ? "active" : "")" asp-page="/Jobs/Index">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/list.svg")))
                                    Jobs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(10) == "/Schedules" ? "active" : "")" asp-page="/Schedules/Index">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/calendar.svg")))
                                    Schedules
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(11) == "/Executions" ? "active" : "")" asp-page="/Executions/Jobs">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/activity.svg")))
                                    Executions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(8) == "/Account" ? "active" : "")" asp-page="/Account/Email">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/user.svg")))
                                    Account
                                </a>
                            </li>
                            <li class="nav-item mt-3">
                                <form method="post">
                                    <a class="nav-link" asp-page="/LogOut">
                                        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/log-out.svg")))
                                        Log out
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-4">
                    @RenderBody()
                </main>

            </div>
        </div>

    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
