@using Biflow.Ui.Mediator.Commands.AzureCredential
@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbFactory
@inject ToasterService Toaster
@inject IMediator Mediator
@inject ThemeService ThemeService

<style>
    tr a {
        text-decoration: none;
    }
        
        tr:hover a {
            text-decoration: underline;
        }
</style>

<PageTitle>Azure credentials | Biflow</PageTitle>

<div class="row flex-row-reverse justify-content-between align-items-end g-3">
    <div class="col-auto">
        <HxAlert Color="ThemeService.CurrentTheme == Theme.Light ? ThemeColor.Light : ThemeColor.Dark"
                 CssClass="small py-2 mb-0"
                 style="max-width: 40rem;">
            <div class="row g-3">
                <div class="col-auto">
                    <SvgIcon Icon="LucideIcon.Info" />
                </div>
                <div class="col">
                    Azure credentials are used to integrate with Azure services, Fabric and Power BI.
                    @if (_showMore)
                    {
                        <text>
                            Service principal and managed identity credentials enable you to add integrations for Data Factories, Synapse workspaces and Function Apps.
                            All credential types allow you to create Power BI/Fabric related steps (refresh semantic model, run dataflow/pipeline/notebook).
                            <span class="alert-link text-decoration-underline cursor-pointer"
                                  @onclick="() => _showMore = false">
                                Show less
                            </span>
                        </text>    
                    }
                    else
                    {
                        <span class="alert-link text-decoration-underline cursor-pointer"
                              @onclick="() => _showMore = true">
                            Show more
                        </span>
                    }
                </div>
            </div>
        </HxAlert>
    </div>
    <div class="col-auto">
        <HxDropdownButtonGroup>
            <HxDropdownToggleButton Color="ThemeColor.Success" Enabled="_azureCredentials is not null">
                Add Azure credential
            </HxDropdownToggleButton>
            <HxDropdownMenu>
                <HxDropdownItem OnClick="() => ShowEditModalAsync(AzureCredentialType.ServicePrincipal, null)">
                    Service principal
                </HxDropdownItem>
                <HxDropdownItem OnClick="() => ShowEditModalAsync(AzureCredentialType.OrganizationalAccount, null)">
                    Organizational account
                </HxDropdownItem>
                <HxDropdownItem OnClick="() => ShowEditModalAsync(AzureCredentialType.ManagedIdentity, null)">
                    Managed identity
                </HxDropdownItem>
            </HxDropdownMenu>
        </HxDropdownButtonGroup>
    </div>
</div>

<div class="card pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
                <th>
                    Type
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (_azureCredentials is null)
            {
                <tr><td colspan="6" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
            }
            else if (_azureCredentials.Count == 0)
            {
                <tr><td colspan="6">No Azure credentials</td></tr>
            }
            else
            {
                @foreach (var credential in _azureCredentials.OrderBy(a => a.AzureCredentialName))
                {
                    var pipelineClients = credential.PipelineClients.Count();
                    var functionApps = credential.FunctionApps.Count();
                    var workspaces = credential.FabricWorkspaces.Count();
                    <tr>
                        <td class="align-middle">
                            @credential.AzureCredentialName
                        </td>
                        <td class="align-middle">
                            <HxButtonGroup>
                                <HxButton Size="ButtonSize.Small"
                                          Color="ThemeColor.None"
                                          CssClass="btn-auto" aria-label="edit"
                                          @onclick="async () => await ShowEditModalAsync(credential.AzureCredentialType, credential)">
                                    <SvgIcon Icon="LucideIcon.Pen" />
                                </HxButton>
                                <HxDropdownButtonGroup>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="delete">
                                        <SvgIcon Icon="LucideIcon.Trash2" />
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => DeleteAzureCredential(credential)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdownButtonGroup>
                                <HxDropdownButtonGroup>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="clear tokens">
                                        <SvgIcon Icon="LucideIcon.X" />
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Clear access tokens?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => ClearTokens(credential)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdownButtonGroup>
                            </HxButtonGroup>
                        </td>
                        <td class="align-middle">
                            @credential.AzureCredentialType
                        </td>
                        <td class="align-middle">
                            <a class="text-body" href="javascript:void(0)" @onclick="async () =>
                                {
                                    _fabricWorkspacesAzureCredential = credential;
                                    await _fabricWorkspacesModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(workspaces > 0 ? $"{workspaces} Fabric workspace(s)" : null)
                            </a>
                        </td>
                        <td>
                            <a class="text-body" href="javascript:void(0)" @onclick="async () =>
                                {
                                    _pipelineClientsAzureCredential = credential;
                                    await _pipelineClientsModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(pipelineClients > 0 ? $"{pipelineClients} pipeline client(s)" : null)
                            </a>
                        </td>
                        <td>
                            <a class="text-body" href="javascript:void(0)" @onclick="async () =>
                                {
                                    _functionAppsAzureCredential = credential;
                                    await _functionAppsModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(functionApps > 0 ? $"{functionApps} Function App(s)" : null)
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<ServicePrincipalCredentialEditModal @ref="_servicePrincipalEditModal"
                                     OnAzureCredentialSubmit="OnAzureCredentialSubmit" />

<OrganizationalAccountCredentialEditModal @ref="_organizationalAccountEditModal"
                                          OnAzureCredentialSubmit="OnAzureCredentialSubmit" />

<ManagedIdentityCredentialEditModal @ref="_managedIdentityEditModal"
                                    OnAzureCredentialSubmit="OnAzureCredentialSubmit" />

<HxModal @ref="_fabricWorkspacesModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Fabric workspaces using {_fabricWorkspacesAzureCredential?.AzureCredentialName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>Fabric workspace name</th>
                        <th>Workspace id</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var workspace in _fabricWorkspacesAzureCredential?.FabricWorkspaces
                                  .OrderBy(x => x.FabricWorkspaceName) ?? Enumerable.Empty<FabricWorkspace>())
                    {
                        <tr>
                            <td>
                                @workspace.FabricWorkspaceName
                            </td>
                            <td>
                                @workspace.WorkspaceId
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _fabricWorkspacesModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_pipelineClientsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Pipeline clients using {_pipelineClientsAzureCredential?.AzureCredentialName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Pipeline client name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in _pipelineClientsAzureCredential?.PipelineClients
                            .OrderBy(c => c.PipelineClientName) ?? Enumerable.Empty<PipelineClient>())
                        {
                            <tr>
                                <td>
                                    @client.PipelineClientName
                                </td>
                                <td>
                                    @client.PipelineClientType
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _pipelineClientsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_functionAppsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Function Apps using {_functionAppsAzureCredential?.AzureCredentialName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Function App name</th>
                            <th>Resource group name</th>
                            <th>Resource name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var functionApp in _functionAppsAzureCredential?.FunctionApps
                            .OrderBy(fa => fa.FunctionAppName) ?? Enumerable.Empty<FunctionApp>())
                        {
                            <tr>
                                <td>
                                    @functionApp.FunctionAppName
                                </td>
                                <td>
                                    @functionApp.ResourceGroupName
                                </td>
                                <td>
                                    @functionApp.ResourceName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _functionAppsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private List<AzureCredential>? _azureCredentials;
    private ServicePrincipalCredentialEditModal? _servicePrincipalEditModal;
    private OrganizationalAccountCredentialEditModal? _organizationalAccountEditModal;
    private ManagedIdentityCredentialEditModal? _managedIdentityEditModal;
    private AzureCredential? _pipelineClientsAzureCredential;
    private HxModal? _pipelineClientsModal;
    private AzureCredential? _functionAppsAzureCredential;
    private HxModal? _fabricWorkspacesModal;
    private AzureCredential? _fabricWorkspacesAzureCredential;
    private HxModal? _functionAppsModal;
    private bool _showMore;
    
    protected override void OnInitialized() => ThemeService.OnThemeChanged += OnThemeChanged;
    
    public void Dispose() => ThemeService.OnThemeChanged -= OnThemeChanged;
    
    private void OnThemeChanged(Theme theme, bool isAuto) => StateHasChanged();

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        _azureCredentials = await context.AzureCredentials
            .AsNoTrackingWithIdentityResolution()
            .Include(app => app.FabricWorkspaces)
            .Include(app => app.PipelineClients)
            .Include(app => app.FunctionApps)
            .OrderBy(df => df.AzureCredentialName)
            .ToListAsync();
    }

    private async Task DeleteAzureCredential(AzureCredential azureCredential)
    {
        try
        {
            await Mediator.SendAsync(new DeleteAzureCredentialCommand(azureCredential.AzureCredentialId));
            _azureCredentials?.Remove(azureCredential);
        }
        catch (Exception ex)
        {
            var message = ex.InnerException?.Message ?? ex.Message;
            Toaster.AddError("Error deleting Azure credential", message);
        }
    }

    private void OnAzureCredentialSubmit(AzureCredential azureCredential)
    {
        _azureCredentials?.RemoveAll(a => a.AzureCredentialId == azureCredential.AzureCredentialId);
        _azureCredentials?.Add(azureCredential);
        StateHasChanged();
    }

    private async Task ClearTokens(AzureCredential azureCredential)
    {
        try
        {
            await Mediator.SendAsync(new ClearAzureCredentialTokensCommand(azureCredential.AzureCredentialId));
            Toaster.AddSuccess("Tokens cleared successfully");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error clearing tokens", ex.Message);
        }
    }

    private Task ShowEditModalAsync(AzureCredentialType type, AzureCredential? azureCredential)
    {
        return type switch
        {
            AzureCredentialType.ServicePrincipal =>
                _servicePrincipalEditModal.LetAsync(x => x.ShowAsync(azureCredential?.AzureCredentialId ?? Guid.Empty)),
            AzureCredentialType.OrganizationalAccount =>
                _organizationalAccountEditModal.LetAsync(x => x.ShowAsync(azureCredential?.AzureCredentialId ?? Guid.Empty)),
            AzureCredentialType.ManagedIdentity =>
                _managedIdentityEditModal.LetAsync(x => x.ShowAsync(azureCredential?.AzureCredentialId ?? Guid.Empty)),
            _ => throw new ArgumentOutOfRangeException($"Unhandled Azure credential type {type}")
        };
    }
}
