@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ToasterService Toaster
@inject IJSRuntime Js

<div class="row">
    <div class="col">
        <HxButton Size="ButtonSize.Small" Color="ThemeColor.Link" OnClick="InferDependenciesFromDataObjects">
            Infer dependencies from sources and targets
        </HxButton>
    </div>
</div>

<div class="row mt-3 align-items-center">
    <div class="col-auto">
        <HxButtonGroup>
            <FilterDropdown TItem="JobProjection"
                            Items="JobSlims.Values.OrderBy(j => j.JobName)"
                            FilterSet="_jobFilter"                            
                            IdSelector="x => x.JobId.ToString()"
                            TextSelector="x => x.JobName"
                            OnChange="StateHasChanged"
                            IsSearchable
                            DelayItemsRender>
                <TitleTemplate>
                    @if (_jobsLoading)
                    {
                        <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                        <span>Loading...</span>
                    }
                    else
                    {
                        <SvgIcon Icon="LucideIcon.ClipboardList" />
                        <span>Job</span>
                    }
                </TitleTemplate>
                <ItemTemplate Context="item">
                    @item.JobName
                </ItemTemplate>
            </FilterDropdown>

            <FilterDropdown TItem="StepType"
                            FilterSet="_stepTypeFilter"
                            Items="Steps.Select(s => s.StepType).Distinct().OrderBy(t => t)"
                            OnChange="StateHasChanged">
                <TitleTemplate>
                    <SvgIcon Icon="LucideIcon.Wrench" />
                    Step type
                </TitleTemplate>
                <ItemTemplate Context="item">
                    <StepTypeIcon StepType="item" />
                    @item.ToString()
                </ItemTemplate>
            </FilterDropdown>

            <FilterDropdown TItem="StepTag"
                            FilterSet="_tagFilter"
                            Items="StepSlims.Values.SelectMany(step => step.Tags).DistinctBy(t => t.TagName).Order()"
                            IdSelector="t => t.TagId.ToString()"
                            TextSelector="t => t.TagName"
                            OnChange="StateHasChanged">
                <TitleTemplate>
                    <SvgIcon Icon="LucideIcon.Tag" />
                    Tags
                </TitleTemplate>
                <ItemTemplate Context="tag">
                    <TagBadge Tag="tag" />
                </ItemTemplate>
            </FilterDropdown>
        </HxButtonGroup>
    </div>
    <div class="input-group input-group-sm col">
        <div class="input-group-text rounded-left">
            <SvgIcon Icon="LucideIcon.Search" />
        </div>
        <input type="search" style="max-width: 25rem;" class="form-control" @bind-value="_dependenciesFilterText" @bind-value:event="oninput" placeholder="Search" autocomplete="off" />
    </div>    
</div>

<div class="row mt-3">
    <div class="col-5">
        <h6>Available steps</h6>
        <div style="overflow-y: scroll; height: calc(100vh - 415px);">
            <table class="table table-sm table-hover">
                <tbody>
                    @{
                        var steps = GetOrderedSteps().ToList();
                        var multiJobAvailable = _jobFilter.Count > 1;
                    }
                    @foreach (var step in steps)
                    {
                        <tr class="cursor-pointer" @onclick="() => AddDependency(step)">
                            <td class="align-middle small">
                                <StepTypeIcon StepType="step.StepType" />
                                <HighlightableText Text="@step.StepName" PartToHighlight="@_dependenciesFilterText" />
                                @if (multiJobAvailable)
                                {
                                    var job = JobSlims.GetValueOrDefault(step.JobId);
                                    <br />
                                    <span class="small">@job?.JobName</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-7">
        <h6>Step depends on</h6>
        <div style="overflow-y: scroll; height: calc(100vh - 415px);">
            <table class="table table-sm table-hover">
                <tbody>
                    @if (Step is null)
                    {
                        <tr>
                            <td class="text-center" colspan="3">
                                <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        var externalDependencies = Step.Dependencies.Any(d => StepSlims.GetValueOrDefault(d.DependantOnStepId)?.JobId != Step.JobId);
                        @foreach (var dependency in Step.Dependencies)
                        {
                            var step = StepSlims.GetValueOrDefault(dependency.DependantOnStepId);
                            if (step is null)
                            {
                                <tr><td colspan="5">Error getting step</td></tr>
                                continue;
                            }
                            var title = dependency.IsCandidateForRemoval ? "Dependency not found in source/target mapping" : dependency.IsNewAddition ? "New dependency" : null;
                            <tr>
                                <td class="align-middle small">
                                    <StepTypeIcon StepType="step.StepType" />
                                    @step.StepName
                                    @if (externalDependencies)
                                    {
                                        <br />
                                        <span class="small">@step.JobName</span>
                                    }
                                </td>
                                <td class="align-middle text-center" title="@title">
                                    @if (dependency.IsCandidateForRemoval)
                                    {
                                        <span class="text-danger fw-bold fs-5 pb-1">–</span>
                                    }
                                    else if (dependency.IsNewAddition)
                                    {
                                        <span class="text-success fw-bold fs-5 pb-1">+</span>
                                    }
                                </td>
                                <td class="align-middle">
                                    @{
                                        var (className, icon) = dependency.DependencyType switch
                                        {
                                            DependencyType.OnSucceeded => ("text-success", LucideIcon.CircleCheck),
                                            DependencyType.OnCompleted => ("text-primary", LucideIcon.MoveRight),
                                            DependencyType.OnFailed => ("text-danger", LucideIcon.OctagonAlert),
                                            _ => ("text-secondary", LucideIcon.CircleHelp)
                                        };
                                    }
                                    <span class="@className">
                                        <SvgIcon Icon="icon" />
                                    </span>
                                </td>
                                <td class="align-middle">
                                    <InputSelect class="form-select form-select-sm" @bind-Value="dependency.DependencyType">
                                        @foreach (var type in Enum.GetValues<DependencyType>())
                                        {
                                            <option>@type</option>
                                        }
                                    </InputSelect>
                                </td>
                                <td class="align-middle">
                                    <HxButton Size="ButtonSize.Small" CssClass="btn-auto" OnClick="() => RemoveDependency(step)">
                                        <SvgIcon Icon="LucideIcon.Delete" />
                                    </HxButton>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Step? Step { get; set; }

    [Parameter]
    public IEnumerable<Step> Steps { get; set; } = [];

    [Parameter]
    public Dictionary<Guid, StepProjection> StepSlims { get; set; } = [];

    [Parameter]
    public Dictionary<Guid, JobProjection> JobSlims { get; set; } = [];

    private static readonly JsonSerializerOptions JsonOptions = new() { WriteIndented = true };
    
    private readonly HashSet<JobProjection> _jobFilter = [];
    private readonly HashSet<StepTag> _tagFilter = [];
    private readonly HashSet<StepType> _stepTypeFilter = [];

    private Step? _previousStep;
    private string _dependenciesFilterText = string.Empty;
    private bool _jobsLoading = false;

    private IEnumerable<StepProjection> GetOrderedSteps()
    {
        // Filter steps and group them by job.
        var jobs = StepSlims.Values
            .Where(step => !_jobFilter.Any() || _jobFilter.Any(j => step.JobId == j.JobId))
            .Where(step => step.StepId != Step?.StepId) // Exclude current step => step cannot depend on itself.
            .Where(step => step.StepName?.ContainsIgnoreCase(_dependenciesFilterText) == true) // Filter based on search filter.
            .Where(step => !_stepTypeFilter.Any() || _stepTypeFilter.Contains(step.StepType)) // Filter based on step type
            .Where(step => _tagFilter.Count == 0 || _tagFilter.Any(tag => step.Tags.Any(t => t.TagName == tag.TagName))) // Filter based on tags
            .Where(step => Step?.Dependencies.All(d => d.DependantOnStepId != step.StepId) ?? true) // Exclude steps which are already listed as dependencies
            .GroupBy(step => (step.JobId, step.JobName))
            .OrderBy(g => g.Key.JobName)
            .Select(g => (g.Key.JobId, Steps: g.ToArray()))
            .ToArray();
        // Sort each job's steps based on the job's execution mode (default or topological comparer).
        return jobs.SelectMany(j =>
        {
            IComparer<StepProjection> comparer = Comparer<StepProjection>.Default;
            var executionMode = JobSlims.GetValueOrDefault(j.JobId)?.ExecutionMode;
            if (executionMode != ExecutionMode.Dependency)
            {
                return j.Steps.OrderBy(s => s, comparer);
            }
            
            try
            {
                comparer = new TopologicalStepProjectionComparer(j.Steps);
            }
            catch (CyclicDependencyException ex)
            {
                var message = JsonSerializer.Serialize(ex.CyclicObjects, JsonOptions);
                _ = Js.InvokeVoidAsync("console.log", message);
                Toaster.AddError("Error sorting steps", "Cyclic dependencies detected. See browser console for detailed output.");
            }
            catch (Exception ex)
            {
                Toaster.AddError("Error sorting steps", ex.Message);
            }
            
            return j.Steps.OrderBy(s => s, comparer);
        }).ToArray();
    }

    protected override void OnParametersSet()
    {
        if (Step is null || _previousStep == Step)
        {
            return;
        }
        _previousStep = Step;
        _jobFilter.Clear();
        var job = JobSlims.GetValueOrDefault(Step.JobId);
        if (job is not null)
            _jobFilter.Add(job);
    }

    private void RemoveDependency(StepProjection step)
    {
        ArgumentNullException.ThrowIfNull(Step);
        var dependency = Step.Dependencies.FirstOrDefault(dep => dep.DependantOnStepId == step.StepId);
        if (dependency is not null)
        {
            Step.Dependencies.Remove(dependency);
        }
    }

    private void AddDependency(StepProjection step)
    {
        ArgumentNullException.ThrowIfNull(Step);
        if (Step.Dependencies.Any(dep => dep.DependantOnStepId == step.StepId))
        {
            return;
        }
        var newDep = new Dependency
        {
            StepId = Step.StepId,
            DependantOnStepId = step.StepId,
            IsNewAddition = true
        };
        Step.Dependencies.Add(newDep);
    }

    private void InferDependenciesFromDataObjects()
    {
        ArgumentNullException.ThrowIfNull(Step);
        var sources = Step.DataObjects.Where(d => d.ReferenceType == DataObjectReferenceType.Source);

        var dependsOnSteps = Steps.Where(step =>
            TargetsOf(step).Any(target =>
                sources.Any(source => source.IsSubsetOf(target))));
        var missingDependencies = dependsOnSteps.Where(d1 => Step.Dependencies.All(d2 => d2.DependantOnStepId != d1.StepId));

        foreach (var step in missingDependencies)
        {
            var dependency = new Dependency
            {
                StepId = Step.StepId,
                DependantOnStepId = step.StepId,
                IsNewAddition = true
            };
            Step.Dependencies.Add(dependency);
        }

        var candidatesForRemoval = Step.Dependencies.Where(d => !dependsOnSteps.Any(s => s.StepId == d.DependantOnStepId));
        foreach (var candidate in candidatesForRemoval)
        {
            candidate.IsCandidateForRemoval = true;
        }

        return;

        static IEnumerable<StepDataObject> TargetsOf(Step step) =>
            step.DataObjects.Where(d => d.ReferenceType == DataObjectReferenceType.Target);
    }

}
