@using System.Text;

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ToasterService Toaster

@if (_table is null)
{
    <div class="row mt-5">
        <div class="col">
            <HxSpinner Color="ThemeColor.Secondary" />
        </div>
    </div>
    return;
}

<div class="row">
    <div class="col">
        <div>
            <a href="datatables">
                All data tables
            </a>
            <span>&nbsp;/&nbsp;</span>
            @if (_table.Category is not null)
            {
                <span>@_table.Category.CategoryName /&nbsp;</span>
            }
            <a href="datatables/edit/@_table.DataTableId">
                @_table.DataTableName
            </a>
            <span>&nbsp;/</span>
            <strong>Import data</strong>
        </div>
    </div>
</div>

@if (!_table.AllowImport)
{
    <div class="row mt-3">
        <div class="col">
            <div class="alert alert-secondary">
                This data table does not allow importing data.
            </div>
        </div>
    </div>
    return;
}

<div class="row mt-3">
    <div class="col" style="max-width: 40rem;">
        <div>
            <label for="import_file_input" class="form-label">Select Excel file to import</label>
            <InputFile id="import_file_input" @ref="_inputFile" class="form-control form-control-sm" OnChange="LoadFileAsync" />
        </div>
    </div>
</div>

<div class="row align-items-center mt-3">
    <div class="col-auto">
        <HxButton Color="ThemeColor.Primary" Size="ButtonSize.Small" OnClick="UploadAsync" Enabled="_upload is not null">
            <SvgIcon Icon="LucideIcon.Save" />
            Save
        </HxButton>
    </div>
    <div class="col-auto ms-3">
        <label class="col-form-label">Upload type</label>
    </div>
    <div class="col-auto">
        <div>
            <select @bind="_uploadType" class="form-select form-select-sm">
                @foreach (var type in _uploadTypes)
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>
    </div>
</div>

@{
    var columns =
        _upload?.Columns
        ?? _builder?.Columns.Where(c => c is { IsHidden: false, IsLocked: false } || c.IsPrimaryKey)
        ?? [];
}

<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body px-0">
                @if (_upload is not null)
                {
                    <small class="text-secondary px-3">@_upload.Data.Count record(s)</small>
                }
                <table class="table table-sm">
                    <thead>
                        <tr>
                            @foreach (var column in columns)
                            {
                                <th>
                                    @column.Name
                                    @if (column.IsPrimaryKey)
                                    {
                                        <span class="ms-2" title="Primary key column">
                                            <SvgIcon Icon="LucideIcon.Key" />
                                        </span>
                                    }
                                    @if (column is { IsLocked: true, IsPrimaryKey: false })
                                    {
                                        <span class="ms-2 text-warning" title="Locked column excluded from final import">
                                            <SvgIcon Icon="LucideIcon.Lock" />
                                        </span>
                                    }
                                    @if (column is { IsHidden: true, IsPrimaryKey: false })
                                    {
                                        <span class="ms-2 text-warning" title="Hidden column excluded from final import">
                                            <SvgIcon Icon="LucideIcon.EyeOff" />
                                        </span>
                                    }
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (_upload is null)
                        {
                            var count = columns.Count();
                            var colspan = count > 0 ? count : 1;
                            <tr>
                                <td colspan="@colspan" class="@(_loading ? "text-center" : null)">
                                    @if (_loading)
                                    {
                                        <HxSpinner Color="ThemeColor.Secondary" />
                                    }
                                    else
                                    {
                                        <em>Upload file to preview data</em>
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <Virtualize Items="_upload.Data" Context="row" SpacerElement="tr"> 
                                <tr>
                                    @foreach (var column in _upload.Columns)
                                    {
                                        <td>@row[column.Name]</td>
                                    }
                                </tr>
                            </Virtualize>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Guid? TableId { get; set; }

    private MasterDataTable? _table;
    private InputFile? _inputFile;
    private bool _loading = false;
    private List<UploadType> _uploadTypes = new();
    private UploadType _uploadType;
    private UploadBuilder? _builder;
    private Upload? _upload;

    protected override async Task OnParametersSetAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        _table = await context.MasterDataTables
            .Include(t => t.Category)
            .Include(t => t.Connection)
            .ThenInclude(c => c.Credential)
            .FirstAsync(t => t.DataTableId == TableId);

        // Protect users against an incorrect upload type selection by filtering them
        // based on what is allowed with the current data table.
        var uploadTypes = new List<UploadType>();
        if (_table.AllowInsert)
        {
            uploadTypes.Add(UploadType.Upsert);
            uploadTypes.Add(UploadType.InsertNew);
        }
        uploadTypes.Add(UploadType.UpdateExisting);
        if (_table.AllowDelete)
        {
            uploadTypes.Add(UploadType.DeleteMissing);
        }
        if (_table.AllowInsert && _table.AllowDelete)
        {
            uploadTypes.Add(UploadType.Full);
        }
        _uploadTypes = uploadTypes;
        _uploadType = _uploadTypes.First();

        _builder = await UploadBuilder.FromTableAsync(_table);
    }

    private async Task LoadFileAsync(InputFileChangeEventArgs e)
    {
        _loading = true;
        try
        {
            ArgumentNullException.ThrowIfNull(_builder);
            using var stream = new MemoryStream();
            await e.File.OpenReadStream().CopyToAsync(stream);
            stream.Position = 0;
            _upload = _builder.BuildFromExcelStream(stream);
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error reading Excel file", ex.Message);
        }
        finally
        {
            _loading = false;
        }
    }

    private async Task UploadAsync()
    {
        if (_upload is null)
        {
            Toaster.AddError("Upload object was null");
            return;
        }
        try
        {
            var (inserted, updated, deleted) = await _upload.SaveUploadToDbAsync(_uploadType);
            var message = new StringBuilder();
            switch (inserted)
            {
                case 0 when updated == 0 && deleted == 0:
                    message.Append("No changes detected");
                    break;
                case > 0:
                    message.Append("Inserted ").Append(inserted).Append(" record(s)").AppendLine();
                    break;
            }
            if (updated > 0)
            {
                message.Append("Updated ").Append(updated).Append(" record(s)").AppendLine();
            }
            if (deleted > 0)
            {
                message.Append("Deleted ").Append(deleted).Append(" record(s)").AppendLine();
            }
            Toaster.AddSuccess("Data updated successfully", message.ToString());
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error updating data", ex.Message);
        }
    }
}
