@using System.IO.Compression

@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ToasterService Toaster
@inject IJSRuntime Js
@inject ThemeService ThemeService

<div class="row justify-content-between">
    <div class="col d-flex align-items-start">
        <HxButton Color="ThemeColor.Success" OnClick="() => _createModal.LetAsync(x => x.ShowAsync())">
            Create version
        </HxButton>
        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.VersionManager}")">
            <a role="button" class="btn btn-auto btn-sm ms-auto" href="versions/revertjson">
                Revert from JSON
            </a>
        </AuthorizeView>
    </div>
    
</div>

<Paginator @ref="_paginator"
           Items="Versions"
           Context="pageItems"
           InitialPageSize="UserState.Versions.PageSize"
           InitialPage="UserState.Versions.CurrentPage"
           OnPageChanged="page => UserState.Versions.CurrentPage = page"
           OnPageSizeChanged="size => UserState.Versions.PageSize = size">

    <div class="row justify-content-end justify-content-xxl-between align-items-end mt-3">
        <div class="col-auto" style="max-width: 33rem;">
            <HxAlert Color="ThemeService.CurrentTheme == Theme.Light ? ThemeColor.Light : ThemeColor.Dark" CssClass="small py-2 mb-0">
                <div class="row g-3">
                    <div class="col-auto">
                        <SvgIcon Icon="LucideIcon.Info" />
                    </div>
                    <div class="col">
                        Environment versions are point-in-time snapshots of the environment configuration stored as a single JSON object. <a class="alert-link" href="versions/help">Read more</a>
                    </div>
                </div>
            </HxAlert>
        </div>
        <div class="col-xxl mt-3 mt-xxl-0 d-flex justify-content-end">
            <PaginationControls Paginator="_paginator" />
        </div>
    </div>

    <div class="row mb-4 mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body px-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Created on</th>
                                <th>Created by</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Versions is null)
                            {
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                                    </td>
                                </tr>
                            }
                            else if (Versions.Count == 0)
                            {
                                <tr>
                                    <td colspan="5">
                                        No versions
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var version in pageItems ?? [])
                                {
                                    // Show the description in full length as an HTML title if the description
                                    // was truncated.
                                    var (versionDescription, versionTitle) = version.Description?.Length > 100
                                        ? ($"{version.Description[..100]}...", version.Description)
                                        : (version.Description, "");
                                    <ContextMenuToggle ContainerHtmlTag="tr">
                                        <ChildContent Context="menu">
                                            <td class="align-middle">
                                                <span class="cursor-pointer text-decoration-underline"
                                                      @onclick="() => _detailsOffcanvas.LetAsync(x => x.ShowAsync(version.VersionId))">
                                                    @version.VersionId
                                                </span>
                                            </td>
                                            <td class="align-middle small" title="@versionTitle">
                                                @versionDescription
                                            </td>
                                            <td class="align-middle">
                                                @version.CreatedOn.LocalDateTime
                                            </td>
                                            <td class="align-middle small">
                                                @version.CreatedBy
                                            </td>
                                            <td>
                                                <HxButton Size="ButtonSize.Small"
                                                          Color="ThemeColor.None"
                                                          Spinner="false" CssClass="btn-auto"
                                                          @onclick="e => menu.ShowContextMenuAsync(e)">
                                                    <SvgIcon Icon="LucideIcon.Ellipsis" />
                                                </HxButton>
                                            </td>
                                        </ChildContent>
                                        <MenuContent>
                                            <DropdownMenuHeader>Version id: @version.VersionId</DropdownMenuHeader>
                                            <DropdownMenuItem @onclick="() => _detailsOffcanvas.LetAsync(x => x.ShowAsync(version.VersionId))">
                                                <SvgIcon Icon="LucideIcon.Braces" />
                                                Show JSON
                                            </DropdownMenuItem>
                                            <DropdownMenuItem @onclick="() => DownloadAsync(version.VersionId)">
                                                <SvgIcon Icon="LucideIcon.Download" />
                                                Download JSON
                                            </DropdownMenuItem>
                                            <DropdownMenuLink href="@($"versions/compare/{version.VersionId}")">
                                                <SvgIcon Icon="LucideIcon.GitCompareArrows" />
                                                Compare to current
                                            </DropdownMenuLink>
                                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.VersionManager}")">
                                                <DropdownMenuLink href="@($"versions/revert/{version.VersionId}")">
                                                    <SvgIcon Icon="LucideIcon.History" />
                                                    Revert...
                                                </DropdownMenuLink>
                                            </AuthorizeView>
                                        </MenuContent>
                                    </ContextMenuToggle>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</Paginator>

<VersionDetailsOffcanvas @ref="_detailsOffcanvas" />

<VersionCreateModal @ref="_createModal"
                    PropertyTranslationSets="PropertyTranslationSets"
                    OnVersionCreated="version => Versions?.Insert(0, version)" />

@code {
    [CascadingParameter] public UserState UserState { get; set; } = new();

    [Parameter] public IList<VersionProjection>? Versions { get; set; }
    [Parameter] public IList<PropertyTranslationSet>? PropertyTranslationSets { get; set; }
    
    private Paginator<VersionProjection>? _paginator;
    private VersionCreateModal? _createModal;
    private VersionDetailsOffcanvas? _detailsOffcanvas;

    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += OnThemeChanged;
    }

    private void OnThemeChanged(Theme theme, bool isAuto) => StateHasChanged();

    private async Task DownloadAsync(int versionId)
    {
        try
        {
            await using var context = await DbContextFactory.CreateDbContextAsync();
            var version = await context.EnvironmentVersions.FirstOrDefaultAsync(v => v.VersionId == versionId);
            ArgumentNullException.ThrowIfNull(version);

            IEnumerable<(string Name, string Content)> files =
            [
                ("snapshot.json", version.Snapshot),
            ("snapshot_with_references.json", version.SnapshotWithReferencesPreserved)
            ];

            using var zipArchiveStream = new MemoryStream();
            // The ZipArchive object is written to the Stream when it is disposed.
            await using (var zipArchive = new ZipArchive(zipArchiveStream, ZipArchiveMode.Create, leaveOpen: true))
            {

                foreach (var (name, content) in files)
                {
                    await using var entryStream = zipArchive.CreateEntry(name).Open();
                    await using var entryStreamWriter = new StreamWriter(entryStream);
                    await entryStreamWriter.WriteAsync(content);
                }
            }
            zipArchiveStream.Position = 0; // reset the stream position

            var filename = $"version_{version.VersionId}.zip";
            var bytes = zipArchiveStream.ToArray();
            using var stream = new MemoryStream(bytes);
            using var streamRef = new DotNetStreamReference(stream: stream);
            await Js.InvokeVoidAsync("downloadFileFromStream", filename, streamRef);
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error exporting version", ex.Message);
        }
    }

    public void Dispose() => ThemeService.OnThemeChanged -= OnThemeChanged;
}
