@inject IHxMessengerService Messenger
@inject MarkupHelperService MarkupHelper
@inject SqlServerHelperService SqlServerHelperService

<HxOffcanvas @ref="Offcanvas" Size="OffcanvasSize.Large" OnClosed="OnClosed" Title="Select package">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                @MarkupHelper.FromFile("icons/feather/folder.svg")
                                Folders
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Catalog is null)
                        {
                            <tr><td>Loading...</td></tr>
                        }
                        else if (Catalog.Count == 0)
                        {
                            <tr><td>No folders</td></tr>
                        }
                        else
                        {
                            foreach (var folder in Catalog.Keys)
                            {
                                <tr style="cursor: pointer;" @onclick="() => OnFolderChanged(folder)" class="@(folder == SelectedFolder ? "bg-light fw-bold" : null)">
                                    <td>@folder</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                @MarkupHelper.FromFile("icons/feather/briefcase.svg")
                                Projects
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Catalog is not null && SelectedFolder is not null)
                        {
                            var projects = Catalog[SelectedFolder].Keys;
                            if (projects.Count == 0)
                            {
                                <tr><td>No projects</td></tr>
                            }
                            else
                            {
                                foreach (var project in projects)
                                {
                                    <tr style="cursor: pointer;" @onclick="() => OnProjectChanged(project)" class="@(project == SelectedProject ? "bg-light fw-bold" : null)">
                                        <td>@project</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        @MarkupHelper.FromFile("icons/feather/filter.svg")
                    </div>
                    <input type="text" class="form-control" @bind-value="FilterText" @bind-value:event="oninput"
                           placeholder="Filter by name" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                @MarkupHelper.FromFile("icons/feather/package.svg")
                                Packages
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Catalog is not null && SelectedFolder is not null && SelectedProject is not null)
                        {
                            var packages = Catalog[SelectedFolder][SelectedProject];
                            if (packages.Count == 0)
                            {
                                <tr><td>No packages</td></tr>
                            }
                            else
                            {
                                foreach (var package in packages.Where(p => p.ContainsIgnoreCase(FilterText)).OrderBy(p => p))
                                {
                                    <tr style="cursor: pointer;" @onclick="() => SelectedPackage = package" class="@(package == SelectedPackage ? "bg-light fw-bold" : null)">
                                        <td>@package</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectPackageAsync"
                  Enabled="SelectedPackage is not null && SelectedProject is not null && SelectedFolder is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" @onclick="async () => await Offcanvas.HideAsync()">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {

    private HxOffcanvas Offcanvas { get; set; } = null!;

    [Parameter]
    public Guid? ConnectionId { get; set; }

    [Parameter]
    public EventCallback<(string Folder, string Project, string Package)> OnPackageSelected { get; set; }

    private Dictionary<string, Dictionary<string, List<string>>>? Catalog { get; set; }

    private string FilterText { get; set; } = string.Empty;

    private string? SelectedFolder { get; set; }
    private string? SelectedProject { get; set; }
    private string? SelectedPackage { get; set; }

    private void OnClosed()
    {
        Catalog = null;
        SelectedFolder = null;
        SelectedProject = null;
        SelectedPackage = null;
        FilterText = string.Empty;
    }

    private void OnFolderChanged(string folder)
    {
        if (folder != SelectedFolder)
        {
            SelectedPackage = null;
            SelectedProject = null;
        }
        SelectedFolder = folder;
    }

    private void OnProjectChanged(string project)
    {
        if (project != SelectedProject)
        {
            SelectedPackage = null;
        }
        SelectedProject = project;
    }

    private async Task SelectPackageAsync()
    {
        if (SelectedFolder is not null && SelectedProject is not null && SelectedPackage is not null)
        {
            var package = (SelectedFolder, SelectedProject, SelectedPackage);
            await OnPackageSelected.InvokeAsync(package);
            await Offcanvas.HideAsync();
        }
    }

    public async Task ShowAsync()
    {
        await Offcanvas.ShowAsync();
        if (ConnectionId is null || ConnectionId == Guid.Empty) return;
        try
        {
            Catalog = await SqlServerHelperService.GetCatalogPackages((Guid)ConnectionId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error reading catalog", ex.Message);
        }
    }

}
