@inject IConfiguration Configuration
@inject IJSRuntime JS
@inject IWebHostEnvironment WebHostEnvironment
@inject IDbContextFactory<EtlManagerContext> DbContextFactory
@inject ITokenService TokenService

<BSModal @ref="Modal" Size="Size.Large" IsScrollable="true" IsOpenChanged="ModalOpenChanged">
    <BSModalHeader OnClick="() => Modal.Hide()">Select pipeline</BSModalHeader>

    <BSModalBody>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/folder.svg")))
                                Folders
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Pipelines is null)
                        {
                            <tr><td>Loading...</td></tr>
                        }
                        else if (Pipelines.Count == 0)
                        {
                            <tr><td>No pipelines</td></tr>
                        }
                        else
                        {
                            foreach (var folder in Pipelines.Keys.OrderBy(folder => folder))
                            {
                                <tr style="cursor: pointer;" @onclick="() => OnFolderChanged(folder)" class="@(folder == SelectedFolder ? "bg-light font-weight-bold" : null)">
                                    <td>@folder</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="input-group input-group-sm">
                    <label class="sr-only">Search</label>
                    <div class="input-group-prepend">
                        <div class="input-group-text rounded-left">
                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/filter.svg")))
                        </div>
                    </div>
                    <input type="text" class="form-control" @bind-value="FilterText" @bind-value:event="oninput"
                           placeholder="Filter by name" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/pipeline.svg")))
                                Pipelines
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Pipelines is not null && SelectedFolder is not null)
                        {
                            foreach (var pipeline in Pipelines[SelectedFolder].Where(p => p.ContainsIgnoreCase(FilterText)).OrderBy(p => p))
                            {
                                <tr style="cursor: pointer;" @onclick="() => SelectedPipeline = pipeline" class="@(pipeline == SelectedPipeline ? "bg-light font-weight-bold" : null)">
                                    <td>@pipeline</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BSModalBody>

    <BSModalFooter>
        <BSButton Color="Color.Primary" Class="ml-5" @onclick="SelectPipeline"
                  IsDisabled="SelectedPipeline is null">
            Select
        </BSButton>
        <BSButton Color="Color.Secondary" @onclick="() => Modal.Hide()">Cancel</BSButton>
    </BSModalFooter>
</BSModal>

@code {

    private BSModal Modal { get; set; } = null!;

    [Parameter]
    public Guid? DataFactoryId { get; set; }

    [Parameter]
    public EventCallback<string> OnPipelineSelected { get; set; }

    private Dictionary<string, List<string>>? Pipelines { get; set; }

    private string FilterText { get; set; } = string.Empty;

    private string? SelectedFolder { get; set; }
    private string? SelectedPipeline { get; set; }

    private async Task ModalOpenChanged(bool isOpen)
    {
        if (isOpen && DataFactoryId is not null && DataFactoryId != Guid.Empty)
        {
            try
            {
                Guid dataFactoryId = DataFactoryId ?? throw new ArgumentNullException(nameof(dataFactoryId), "Data Factory id cannot be null");
                using var context = DbContextFactory.CreateDbContext();
                var dataFactory = await context.DataFactories
                    .Include(df => df.AppRegistration)
                    .FirstAsync(df => df.DataFactoryId == dataFactoryId);
                Pipelines = await dataFactory.GetPipelinesAsync(TokenService);
                StateHasChanged();
            }
            catch (Exception ex)
            {
                await JS.InvokeVoidAsync("alert", $"Error reading pipelines: {ex.Message}");
            }
        }
        else
        {
            Pipelines = null;
            SelectedFolder = null;
            SelectedPipeline = null;
            FilterText = string.Empty;
        }
    }

    private void OnFolderChanged(string folder)
    {
        if (folder != SelectedFolder)
        {
            SelectedPipeline = null;
        }
        SelectedFolder = folder;
    }

    private void SelectPipeline()
    {
        OnPipelineSelected.InvokeAsync(SelectedPipeline);
        Modal.Hide();
    }

    public void Show() => Modal.Show();
}
