@page
@model EtlManager.Pages.Executions.JobsModel
@{
    ViewData["Title"] = "Executions";
}

<form>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Status</label>
            <select asp-for="Status" asp-items="Model.Statuses" class="form-control">
                <option value="">ALL</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Job</label>
            <select asp-for="JobName" asp-items="Model.JobNames" class="form-control">
                <option value="">All</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Date & time until</label>
            <input asp-for="DateTimeUntil" class="form-control" type="datetime-local">
        </div>
        <div class="form-group col-md-1">
            <label>Interval (h)</label>
            <input asp-for="IntervalHours" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <input type="submit" value="Refresh" class="btn btn-primary" />
    </div>
</form>

<p />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].ExecutionStatus)
            </th>
            <th>
                Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Executions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @{
                        switch (item.ExecutionStatus)
                        {
                            case "COMPLETED":
                                <span class="badge badge-success">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                            case "FAILED":
                                <span class="badge badge-danger">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                            case "SKIPPED":
                                <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                            default:
                                <span class="badge badge-primary">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                        }
                    }
                </td>
                <td>
                    <text>@item.GetDurationInReadableFormat()</text>
                </td>
                <td>
                    <a asp-page="./JobDetails" asp-route-id="@item.ExecutionId" target="_blank">Details</a> |
                    <a asp-page="./JobDetailsGraph" asp-route-id="@item.ExecutionId" target="_blank">Graph</a>
                </td>
            </tr>
        }
    </tbody>
</table>
