@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@model EtlManager.Pages.Shared._JobDetailsNavigationPartialModel


<select class="form-control" style="width: auto;" onchange="location = this.value;">
    @foreach (var job in Model.Jobs)
    {
        <option value="/Jobs/JobDetails/@Model.RedirectPage?id=@job.JobId" selected="@(job.JobId == Model.Job.JobId ? "selected" : null)">
            @job.JobName
        </option>
    }
</select>
<p></p>
<ul class="nav nav-tabs mt-3" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "Index" ? "active" : null)" asp-page="./Index" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/list.svg")))
            Steps
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "Dependencies" ? "active" : null)" asp-page="./Dependencies" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/bootstrap/diagram-3-fill.svg")))
            Dependencies
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "Schedules" ? "active" : null)" asp-page="./Schedules" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/calendar.svg")))
            Schedules
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "History" ? "active" : null)" asp-page="./History" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/activity.svg")))
            Executions
        </a>
    </li>
</ul>