@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@model EtlManager.Pages.Shared._JobDetailsNavigationPartialModel


<div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/loader.svg")))
        @Model.Job.JobName
    </button>
    <div class="dropdown-menu">
        <h6 class="dropdown-header">Go to</h6>
        @foreach (var job in Model.Jobs.Where(job => job.JobId != Model.Job.JobId))
        {
            <a class="btn dropdown-item" asp-page="/Jobs/JobDetails/@Model.RedirectPage" asp-route-id="@job.JobId">@job.JobName</a>
        }
    </div>
</div>
<hr />
<p></p>
<ul class="nav nav-tabs mt-3" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "Index" ? "active" : null)" asp-page="./Index" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/list.svg")))
            Steps
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "Dependencies" ? "active" : null)" asp-page="./Dependencies" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/bootstrap/diagram-3-fill.svg")))
            Dependencies
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "Schedules" ? "active" : null)" asp-page="./Schedules" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/calendar.svg")))
            Schedules
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.RedirectPage == "History" ? "active" : null)" asp-page="./History" asp-route-id="@Model.Job.JobId">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/activity.svg")))
            History
        </a>
    </li>
</ul>