@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration
@using System.Reflection
@inject IWebHostEnvironment WebHostEnvironment
@inject IAuthorizationService AuthorizationService
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETL Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{ String pageRoute = ViewContext.RouteData.Values["page"].ToString(); }

    @if (!User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-custom sticky-top flex-md-nowrap p-0 shadow">
                <text class="navbar-brand mr-0 px-3">ETL Manager</text>
            </nav>
        </header>
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    }
    else
    {

        <header>
            <nav class="navbar navbar-dark navbar-custom sticky-top flex-lg-nowrap navbar-expand-lg p-0 shadow">
                <text class="navbar-brand navbar-brand-bg col-lg-2 mr-0 px-3">ETL Manager</text>
                <button class="navbar-toggler position-absolute d-lg-none" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li>
                        <strong class="navbar-text px-3">
                            @(Configuration.GetValue<string>("EnvironmentName"))
                        </strong>
                    </li>
                    <li>
                        <text class="navbar-text px-3">
                            v@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion)
                        </text>
                    </li>
                    
                </ul>
            </nav>
        </header>

        <div class="container-fluid h-100">
            <div role="row" class="h-100 d-flex">

                <nav id="sidebarMenu" class="col-lg-2 d-lg-block bg-light sidebar collapse">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column pt-3">
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute == "/Index" ? "active" : "")" asp-page="/Index">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/home.svg")))
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute == "/Dashboard" ? "active" : "")" asp-page="/Dashboard">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/bar-chart-2.svg")))
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(5) == "/Jobs" ? "active" : "")" asp-page="/Jobs/Index">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/loader.svg")))
                                    Jobs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(10) == "/Schedules" ? "active" : "")" asp-page="/Schedules/Index">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/calendar.svg")))
                                    Schedules
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(11) == "/Executions" ? "active" : "")" asp-page="/Executions/Jobs">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/activity.svg")))
                                    Executions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(pageRoute.Left(8) == "/Account" ? "active" : "")" asp-page="/Account/Email">
                                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/user.svg")))
                                    Account
                                </a>
                            </li>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(pageRoute.Left(9) == "/Settings" ? "active" : "")" asp-page="/Settings/Users">
                                        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/settings.svg")))
                                        Settings
                                    </a>
                                </li>
                            }
                            <li class="nav-item mt-3">
                                <form method="post">
                                    <a class="nav-link" asp-page="/LogOut">
                                        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/log-out.svg")))
                                        Log out
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="ml-sm-auto col-lg-10 px-md-4 pt-4 flex-grow-1">
                    @RenderBody()
                </main>

            </div>
        </div>

    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
