@model Models.StepExecution

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.ExecutionId)
    </dt>
    <dd class="col-sm-9">
        <a asp-page="/Executions/JobDetails" asp-route-id="@Model.ExecutionId">@Html.DisplayFor(model => Model.ExecutionId)</a>
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.ExecutorProcessId)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.ExecutorProcessId)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.JobId)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.JobId)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.JobName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.JobName)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.StepId)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.StepId)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.StepName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.StepName)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.StepType)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.StepType)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.CreatedBy)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.CreatedBy)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.CreatedDateTime)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.CreatedDateTime)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.StartDateTime)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.StartDateTime)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.EndDateTime)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => Model.EndDateTime)
    </dd>
    <dt class="col-sm-3">
        <text>Duration</text>
    </dt>
    <dd class="col-sm-9">
        <text>@Model.GetDurationInReadableFormat()</text>
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.ExecutionStatus)
    </dt>
    <dd class="col-sm-9">
        <partial name="_StepExecutionStatusBadgePartial" model="Model" />
    </dd>
    @if (Model.ExecutionStatus == "STOPPED")
    {
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.StoppedBy)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => Model.StoppedBy)
        </dd>
    }
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => Model.ErrorMessage)
    </dt>
    <dd class="col-sm-9">
        <text class="text-danger" style="white-space: pre-wrap">@Model.ErrorMessage</text>
    </dd>
    @if (Model.StepType == "SQL")
    {
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.SqlStatement)
        </dt>
        <dd class="col-sm-9">
            <pre><code>@Model.SqlStatement</code></pre>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.InfoMessage)
        </dt>
        <dd class="col-sm-9">
            <pre><code>@Model.InfoMessage</code></pre>
        </dd>
    }
    else if (Model.StepType == "SSIS")
    {
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.PackagePath)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => Model.PackagePath)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.ExecuteIn32BitMode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => Model.ExecuteIn32BitMode)
        </dd>
    }
    else if (Model.StepType == "PIPELINE")
    {
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.PipelineName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => Model.PipelineName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.PipelineRunId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => Model.PipelineRunId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => Model.DataFactoryId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => Model.DataFactoryId)
        </dd>
    }
</dl>