@inject IConfiguration configuration
@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment
@inject ITokenService TokenService 

<HxButton Color="ThemeColor.Success" @onclick="async () => await ShowEditModalAsync(null)" IsDisabled="AppRegistrations is null">
    Add App registration
</HxButton>

<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
                <th>
                    Tenant id
                </th>
            </tr>
        </thead>
        <tbody>
            @if (AppRegistrations is null)
            {
                <tr><td colspan="4">Loading...</td></tr>
            }
            else if (AppRegistrations.Count == 0)
            {
                <tr><td colspan="4">No App registrations</td></tr>
            }
            else
            {
                @foreach (var app in AppRegistrations)
                {
                    <tr>
                        <td class="align-middle">
                            @app.AppRegistrationName
                        </td>
                        <td class="align-middle">
                            <HxButtonGroup CssClass="btn-row">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" aria-label="edit" @onclick="async () => await ShowEditModalAsync(app)">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/edit-2.svg")))
                                </HxButton>
                                <HxDropdown>
                                    <HxDropdownToggle Size="ButtonSize.Small" Color="ThemeColor.Light" aria-label="delete">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/trash-2.svg")))
                                    </HxDropdownToggle>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => DeleteAppRegistration(app)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdown>
                                <HxDropdown>
                                    <HxDropdownToggle Size="ButtonSize.Small" Color="ThemeColor.Light" aria-label="clear tokens">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/x.svg")))
                                    </HxDropdownToggle>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Clear access tokens?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => ClearTokens(app)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdown>
                            </HxButtonGroup>
                        </td>
                        <td class="align-middle">
                            @app.TenantId
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<AppRegistrationEditModal @ref="AppRegistrationEditModal" AppRegistrationId="EditAppRegistrationId" OnAppRegistrationSubmit="OnAppRegistrationSubmit" />

@code {
    private List<AppRegistration>? AppRegistrations { get; set; }

    private Guid EditAppRegistrationId { get; set; }
    private AppRegistrationEditModal AppRegistrationEditModal { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        using var context = await Task.Run<EtlManagerContext>(DbFactory.CreateDbContext);
        AppRegistrations = await context.AppRegistrations
            .AsNoTracking()
            .OrderBy(df => df.AppRegistrationName)
            .ToListAsync();
    }

    private async Task DeleteAppRegistration(AppRegistration appRegistration)
    {
        using var context = DbFactory.CreateDbContext();
        context.Remove(appRegistration);
        await context.SaveChangesAsync();
        AppRegistrations?.Remove(appRegistration);
    }

    private async void OnAppRegistrationSubmit(AppRegistration appRegistration)
    {
        using var context = DbFactory.CreateDbContext();
        if (appRegistration.AppRegistrationId == Guid.Empty)
        {
            context.Add(appRegistration);
            AppRegistrations?.Add(appRegistration);
        }
        else
        {
            AppRegistrations?.RemoveAll(a => a.AppRegistrationId == appRegistration.AppRegistrationId);
            AppRegistrations?.Add(appRegistration);
            context.Attach(appRegistration).State = EntityState.Modified;
        }
        await context.SaveChangesAsync();
        StateHasChanged();
    }

    private async Task ClearTokens(AppRegistration appRegistration)
    {
        using var context = DbFactory.CreateDbContext();
        var tokens = await context.AccessTokens.Where(t => t.AppRegistrationId == appRegistration.AppRegistrationId).ToListAsync();
        tokens.ForEach(t => context.Remove(t));
        await context.SaveChangesAsync();
        TokenService.Clear();
    }

    private async Task ShowEditModalAsync(AppRegistration? appRegistration)
    {
        EditAppRegistrationId = appRegistration?.AppRegistrationId ?? Guid.Empty;
        await AppRegistrationEditModal.ShowAsync();
    }
}
