@inject IConfiguration configuration
@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment
@inject IJSRuntime JS

<BSButton Color="Color.Success" @onclick="() => ShowEditModal(null)">
    Add Function App
</BSButton>

<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
                <th>
                    Resource group
                </th>
                <th>
                    Resource
                </th>
            </tr>
        </thead>
        <tbody>
            @if (FunctionApps is null)
            {
                <tr><td colspan="4">Loading...</td></tr>
            }
            else if (FunctionApps.Count == 0)
            {
                <tr><td colspan="4">No Function Apps</td></tr>
            }
            else
            {
                @foreach (var app in FunctionApps)
                {
                    <tr>
                        <td class="align-middle">
                            @app.FunctionAppName
                        </td>
                        <td class="align-middle">
                            <BSButtonGroup Class="btn-row">
                                <BSButton Size="Size.Small" Color="Color.Light" aria-label="edit" @onclick="() => ShowEditModal(app)">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/edit-2.svg")))
                                </BSButton>
                                <BSDropdown>
                                    <BSDropdownToggle Size="Size.Small" Color="Color.Light" aria-label="delete">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/trash-2.svg")))
                                    </BSDropdownToggle>
                                    <BSDropdownMenu>
                                        <BSDropdownHeader>Delete?</BSDropdownHeader>
                                        <BSDropdownItem @onclick="() => DeleteFunctionApp(app)">Confirm</BSDropdownItem>
                                    </BSDropdownMenu>
                                </BSDropdown>
                            </BSButtonGroup>
                        </td>
                        <td class="align-middle">
                            @app.ResourceGroupName
                        </td>
                        <td class="align-middle">
                            @app.ResourceName
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<FunctionAppEditModal @ref="FunctionAppEditModal" FunctionAppId="EditFunctionAppId" AppRegistrations="AppRegistrations" OnFunctionAppSubmit="OnFunctionAppSubmit" />

@code {
    private List<FunctionApp>? FunctionApps { get; set; }
    private List<AppRegistration>? AppRegistrations { get; set; }

    private Guid EditFunctionAppId { get; set; }
    private FunctionAppEditModal FunctionAppEditModal { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var context = DbFactory.CreateDbContext();
        FunctionApps = await context.FunctionApps.OrderBy(f => f.FunctionAppName).ToListAsync();
        AppRegistrations = await context.AppRegistrations.OrderBy(ar => ar.AppRegistrationName).ToListAsync();
    }

    private async Task DeleteFunctionApp(FunctionApp functionApp)
    {
        var context = DbFactory.CreateDbContext();
        context.Remove(functionApp);
        await context.SaveChangesAsync();
        FunctionApps?.Remove(functionApp);
    }

    private async void OnFunctionAppSubmit(FunctionApp functionApp)
    {
        var context = DbFactory.CreateDbContext();
        if (functionApp.FunctionAppId == Guid.Empty)
        {
            context.Add(functionApp);
            FunctionApps?.Add(functionApp);
        }
        else
        {
            context.Attach(functionApp).State = EntityState.Modified;
        }
        await context.SaveChangesAsync();
        StateHasChanged();
    }

    private void ShowEditModal(FunctionApp? functionApp)
    {
        EditFunctionAppId = functionApp?.FunctionAppId ?? Guid.Empty;
        FunctionAppEditModal.Show();
    }
}
