@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject IConfiguration configuration
@inject IJSRuntime JS
@inject IWebHostEnvironment WebHostEnvironment
@inject ITokenService TokenService 

<BSModal @ref="Modal" Size="Size.Large">
    @if (FunctionApp is not null)
    {
        <BSModalHeader OnClick="() => Modal.Hide()">@(FunctionAppId == Guid.Empty ? "New Function App" : "Edit " + FunctionApp.FunctionAppName)</BSModalHeader>
        <BSModalBody>
            <BSForm Model="FunctionApp" id="function_app_edit_form" OnValidSubmit="SubmitFunctionApp">
                <div class="row">
                    <div class="col mx-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <BSFormGroup>
                            <BSLabel>Function App name</BSLabel>
                            <InputText class="form-control" @bind-Value="FunctionApp.FunctionAppName"></InputText>
                        </BSFormGroup>

                        <BSFormRow>
                            <BSFormGroup Class="col-lg-6">
                                <BSLabel>App registration</BSLabel>
                                <InputSelect class="form-control" @bind-Value="FunctionApp.AppRegistrationId" @onchange="args => AppRegistrationChanged(args.Value)">
                                    @foreach (var app in AppRegistrations ?? Enumerable.Empty<AppRegistration>())
                                        {
                                        <option value="@app.AppRegistrationId">@app.AppRegistrationName</option>
                                        }
                                </InputSelect>
                            </BSFormGroup>
                        </BSFormRow>

                        <BSFormRow>
                            <BSFormGroup Class="col-lg">
                                <BSLabel>Subscription id</BSLabel>
                                <InputText class="form-control" @bind-Value="FunctionApp.SubscriptionId"></InputText>
                            </BSFormGroup>
                        </BSFormRow>

                        <BSFormRow>
                            <BSFormGroup Class="col-lg">
                                <BSLabel>Resource group name</BSLabel>
                                <InputText class="form-control" @bind-Value="FunctionApp.ResourceGroupName"></InputText>
                            </BSFormGroup>
                            <BSFormGroup Class="col-lg">
                                <BSLabel>Resource name</BSLabel>
                                <InputText class="form-control" @bind-Value="FunctionApp.ResourceName"></InputText>
                            </BSFormGroup>
                        </BSFormRow>

                        <div class="row mb-3">
                            <div class="col">
                                <BSButton Size="Size.Small" Color="Color.Secondary" @onclick="TestConnection" IsDisabled="TestingConnection">
                                    Test connection
                                </BSButton>
                                @if (TestingConnection)
                                {
                                    <div class="spinner-border spinner-border-sm text-primary align-middle ml-3" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                }
                                else if (ConnectionTestSuccess == true)
                                {
                                    <span class="badge badge-success ml-3">Success</span>
                                }
                                else if (ConnectionTestSuccess == false)
                                {
                                    <span class="badge badge-danger ml-3">Failed</span>
                                }
                            </div>
                        </div>

                        <BSFormRow>
                            <BSFormGroup Class="col-lg">
                                <BSLabel>Function App key</BSLabel>
                                <InputText class="form-control" @bind-Value="FunctionApp.FunctionAppKey"></InputText>
                            </BSFormGroup>
                        </BSFormRow>

                        <div class="row">
                            <div class="col">
                                <BSButton Size="Size.Small" Color="Color.Secondary" @onclick="OpenKeySelectModal">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/more-horizontal.svg")))
                                    Browse function app keys
                                </BSButton>
                            </div>
                        </div>

                        <FunctionAppKeySelectModal @ref="KeySelectModal" FunctionApp="FunctionApp" OnKeySelected="OnKeySelected" />

                    </div>
                </div>
            </BSForm>
        </BSModalBody>
    }
    <BSModalFooter>
        <BSButton ButtonType="ButtonType.Submit" form="function_app_edit_form" Color="Color.Success">@(FunctionAppId == Guid.Empty ? "Create" : "Save")</BSButton>
        <BSButton Color="Color.Secondary" @onclick="() => Modal.Hide()">Cancel</BSButton>
    </BSModalFooter>
</BSModal>

@code {
    [Parameter]
    public Guid FunctionAppId { get; set; } // empty Guid => new Function App

    [Parameter]
    public EventCallback<FunctionApp> OnFunctionAppSubmit { get; set; }

    [Parameter]
    public List<AppRegistration>? AppRegistrations { get; set; }

    private FunctionApp? FunctionApp { get; set; }

    private BSModal Modal { get; set; } = null!;

    private bool? ConnectionTestSuccess { get; set; } = null;
    private bool TestingConnection { get; set; } = false;

    private FunctionAppKeySelectModal KeySelectModal { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        if (FunctionAppId != Guid.Empty)
        {
            var context = DbFactory.CreateDbContext();
            FunctionApp = await context.FunctionApps
                .Include(f => f.AppRegistration)
                .FirstAsync(f => f.FunctionAppId == FunctionAppId);
        }
        else
        {
            FunctionApp = new()
            {
                AppRegistrationId = AppRegistrations?.FirstOrDefault()?.AppRegistrationId,
                AppRegistration = AppRegistrations?.FirstOrDefault()!
            };
        }
    }

    private void AppRegistrationChanged(object value)
    {
        var idString = value.ToString();
        if (idString is not null)
        {
            var id = Guid.Parse(idString);
            var appRegistration = AppRegistrations?.FirstOrDefault(a => a.AppRegistrationId == id);
            if (appRegistration is not null && FunctionApp is not null)
            {
                FunctionApp.AppRegistration = appRegistration;
            }
        }
    }

    private void OnKeySelected(string key)
    {
        if (FunctionApp is not null)
            FunctionApp.FunctionAppKey = key;
    }

    private void OpenKeySelectModal()
    {
        KeySelectModal.Show();
    }

    private async Task SubmitFunctionApp()
    {
        await OnFunctionAppSubmit.InvokeAsync(FunctionApp);
        Modal.Hide();
    }

    private async Task TestConnection()
    {
        ConnectionTestSuccess = null;
        TestingConnection = true;
        try
        {
            if (FunctionApp is not null) await FunctionApp.TestConnection();
            ConnectionTestSuccess = true;
        }
        catch (Exception ex)
        {
            ConnectionTestSuccess = false;
            await JS.InvokeVoidAsync("alert", ex.Message);
        }
        TestingConnection = false;
    }

    public void Show() => Modal.Show();
}
