@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment
@inject IConfiguration configuration
@inject IJSRuntime JS

<BSButton Color="Color.Success" @onclick="() => ShowEditModal(null)">
    Add user
</BSButton>

<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                </th>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th>
                    Created
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Users is null)
            {
                <tr><td colspan="5">Loading...</td></tr>
            }
            else if (Users.Count == 0)
            {
                <tr><td colspan="5">No users</td></tr>
            }
            else
            {
                @foreach (var user in Users)
                {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            <BSButtonGroup Class="btn-row">
                                <BSButton Color="Color.Light" Size="Size.Small" aria-label="edit" @onclick="() => ShowEditModal(user)">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/edit-2.svg")))
                                </BSButton>

                                <BSDropdown>
                                    <BSDropdownToggle Color="Color.Light" Size="Size.Small" aria-label="change password" @onclick="ResetPassword">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/key.svg")))
                                    </BSDropdownToggle>
                                    <BSDropdownMenu Class="p-4" style="min-width: 25rem;">
                                        <BSFormGroup>
                                            <BSLabel>New password</BSLabel>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/lock.svg")))
                                                    </div>
                                                </div>
                                                <BSBasicInput InputType="InputType.Password" @bind-Value="Password"></BSBasicInput>
                                            </div>
                                        </BSFormGroup>
                                        <BSFormGroup>
                                            <BSLabel>Confirm password</BSLabel>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/key.svg")))
                                                    </div>
                                                </div>
                                                <BSBasicInput InputType="InputType.Password" @bind-Value="ConfirmPassword"></BSBasicInput>
                                            </div>
                                        </BSFormGroup>
                                        <BSButton Size="Size.Small" Color="Color.Success" @onclick="() => UpdatePassword(user)">Save</BSButton>
                                    </BSDropdownMenu>
                                </BSDropdown>

                                <BSDropdown>
                                    <BSDropdownToggle Color="Color.Light" Size="Size.Small" aria-label="delete">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/trash-2.svg")))
                                    </BSDropdownToggle>
                                    <BSDropdownMenu>
                                        <BSDropdownHeader>Delete?</BSDropdownHeader>
                                        <BSDropdownItem @onclick="() => DeleteUser(user)">Confirm</BSDropdownItem>
                                    </BSDropdownMenu>
                                </BSDropdown>
                            </BSButtonGroup>
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.Role
                        </td>
                        <td>
                            @user.CreatedDateTime
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<UserEditModal @ref="UserEditModal" Username="@EditModalUsername" OnUserSubmit="OnUserSubmit" />


@code {
    private List<User> Users { get; set; } = null!;

    private UserEditModal UserEditModal { get; set; } = null!;
    private string? EditModalUsername { get; set; }

    private string? Password { get; set; }
    private string? ConfirmPassword { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = DbFactory.CreateDbContext();
        Users = await context.Users.OrderBy(user => user.Username).ToListAsync();
    }

    private async Task DeleteUser(User user)
    {
        try
        {
            var context = DbFactory.CreateDbContext();
            context.Users.Remove(user);
            await context.SaveChangesAsync();
            Users.Remove(user);
        }
        catch (Exception)
        {
            await JS.InvokeVoidAsync("alert", "Error deleting user");
        }
    }

    private void OnUserSubmit(User user)
    {
        var existingUser = Users.FirstOrDefault(u => u.Username == user.Username);
        if (existingUser is not null)
        {
            Users.Remove(existingUser);
        }
        Users.Add(user);
    }

    private void ShowEditModal(User user)
    {
        EditModalUsername = user?.Username;
        UserEditModal.Show();
    }

    private async Task UpdatePassword(User user)
    {
        if (!(await PasswordCheck()))
        {
            return;
        }

        var result = await Utility.UpdatePasswordAsync(configuration,
            user.Username ?? throw new ArgumentNullException(nameof(user.Username), "Username was null"),
            Password!); // PasswordCheck() makes sure Password is not null
        if (result)
        {
            ResetPassword();
            await JS.InvokeVoidAsync("alert", "Password updated successfully");
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Error updating password");
        }
    }

    private void ResetPassword()
    {
        Password = null;
        ConfirmPassword = null;
    }

    private async Task<bool> PasswordCheck()
    {
        Password = Password ?? string.Empty;
        ConfirmPassword = ConfirmPassword ?? string.Empty;

        if (Password.Length < 1 || Password.Length > 250)
        {
            await JS.InvokeVoidAsync("alert", "The password must be between 1 and 250 characters in length");
            return false;
        }

        if (!Password.Equals(ConfirmPassword))
        {
            await JS.InvokeVoidAsync("alert", "The two passwords do not match");
            return false;
        }

        else
        {
            return true;
        }
    }
}
