@inject MarkupHelperService MarkupHelper
@inject SqlServerHelperService SqlServerHelper
@inject IHxMessengerService Messenger

<HxOffcanvas @ref="Offcanvas" Size="OffcanvasSize.Large" BackdropEnabled="false" ScrollingEnabled="true" Title="Explore SQL references">
    <BodyTemplate>
        <div class="row">
            <div class="col-auto">
                <label class="form-label">Connection</label>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-group-text">
                        @MarkupHelper.FromFile("icons/feather/database.svg")
                    </div>
                    <select class="form-select form-select-sm" @bind="ConnectionId">
                        @foreach (var connection in Connections ?? Enumerable.Empty<SqlConnectionInfo>())
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <HxButton Color="ThemeColor.Primary" Size="ButtonSize.Small" OnClick="RunQuery">
                    @MarkupHelper.FromFile("icons/feather/refresh-cw.svg")
                    Run query
                </HxButton>
                <HxButton Color="ThemeColor.Secondary" Size="ButtonSize.Small" CssClass="ms-3" OnClick="ClearFilters">
                    @MarkupHelper.FromFile("icons/feather/x.svg")
                    Clear filters
                </HxButton>
            </div>
        </div>
        <div class="row mt-1"><div class="col"><div class="form-text">Querying a large database without filters may be a heavy operation.</div></div></div>
        <div class="row mt-3">
            <div class="col">
                <label class="form-label">Referencing object</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Schema</span>
                    <select class="form-select form-select-sm" @bind="ReferencingSchemaOperator" style="max-width: 5rem;">
                        <option value="=">=</option>
                        <option value="like">like</option>
                    </select>
                    <input type="text" class="form-control form-control-sm" autocomplete="off"
                           @bind="ReferencingSchemaFilter" @bind:event="oninput" />
                    <span class="input-group-text">Name</span>
                    <select class="form-select form-select-sm" @bind="ReferencingNameOperator" style="max-width: 5rem;">
                        <option value="=">=</option>
                        <option value="like">like</option>
                    </select>
                    <input type="text" class="form-control form-control-sm" autocomplete="off"
                           @bind="ReferencingNameFilter" @bind:event="oninput" />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Type</span>
                    <select class="form-select form-select-sm" @bind="ReferencingTypeFilter">
                        <option value="">ALL</option>
                        @foreach (var type in QueryResults.Select(r => r.ReferencingType).Distinct().OrderBy(s => s))
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label class="form-label">Referenced object</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Schema</span>
                    <select class="form-select form-select-sm" @bind="ReferencedSchemaOperator" style="max-width: 5rem;">
                        <option value="=">=</option>
                        <option value="like">like</option>
                    </select>
                    <input type="text" class="form-control form-control-sm" autocomplete="off"
                           @bind="ReferencedSchemaFilter" @bind:event="oninput" />
                    <span class="input-group-text">Name</span>
                    <select class="form-select form-select-sm" @bind="ReferencedNameOperator" style="max-width: 5rem;">
                        <option value="=">=</option>
                        <option value="like">like</option>
                    </select>
                    <input type="text" class="form-control form-control-sm" autocomplete="off"
                           @bind="ReferencedNameFilter" @bind:event="oninput" />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Type</span>
                    <select class="form-select form-select-sm" @bind="ReferencedTypeFilter">
                        <option value="">ALL</option>
                        @foreach (var type in QueryResults.Select(r => r.ReferencedType).Distinct().OrderBy(s => s))
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-text">Hover over an object's name to view its type.</div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>
                                Referencing object
                            </th>
                            <th>
                                Referenced object
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reference in FilteredQueryResults)
                        {
                            var referencing = $"[{reference.ReferencingSchema}].[{reference.ReferencingName}]";
                            var referencedDb = reference.ReferencedDatabase is null ? null : $"[{reference.ReferencedDatabase}].";
                            var referenced = $"{referencedDb}[{reference.ReferencedSchema}].[{reference.ReferencedName}]";
                            <tr>
                                <td>
                                    <HxTooltip Text="@reference.ReferencingType">
                                        @referencing
                                    </HxTooltip>
                                </td>
                                <td>
                                    <HxTooltip Text="@reference.ReferencedType">
                                        @referenced
                                    </HxTooltip>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" @onclick="async () => await Offcanvas.HideAsync()">Close</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {

    private Guid? ConnectionId { get; set; }
    [Parameter] public IEnumerable<SqlConnectionInfo> Connections { get; set; } = Enumerable.Empty<SqlConnectionInfo>();

    private HxOffcanvas Offcanvas { get; set; } = null!;

    private string ReferencingSchemaOperator { get; set; } = "like";
    private string ReferencingSchemaFilter { get; set; } = string.Empty;

    private string ReferencingNameOperator { get; set; } = "like";
    private string ReferencingNameFilter { get; set; } = string.Empty;

    private string ReferencedSchemaOperator { get; set; } = "like";
    private string ReferencedSchemaFilter { get; set; } = string.Empty;

    private string ReferencedNameOperator { get; set; } = "like";
    private string ReferencedNameFilter { get; set; } = string.Empty;

    private string ReferencingTypeFilter { get; set; } = string.Empty;
    private string ReferencedTypeFilter { get; set; } = string.Empty;

    private IEnumerable<SqlReference> FilteredQueryResults => QueryResults
        .Where(r => !ReferencingTypeFilter.Any() || r.ReferencingType == ReferencingTypeFilter)
        .Where(r => !ReferencedTypeFilter.Any() || r.ReferencedType == ReferencedTypeFilter);

    private IEnumerable<SqlReference> QueryResults { get; set; } = Enumerable.Empty<SqlReference>();

    private async Task RunQuery()
    {
        try
        {
            Guid connectionId = ConnectionId ?? throw new ArgumentNullException(nameof(ConnectionId), "Connection id was null");
            QueryResults = await SqlServerHelper.GetSqlReferencedObjectsAsync(
                connectionId,
                referencingSchemaOperator: ReferencingSchemaOperator,
                referencingSchemaFilter: ReferencingSchemaFilter,
                referencingNameOperator: ReferencingNameOperator,
                referencingNameFilter: ReferencingNameFilter,
                referencedSchemaOperator: ReferencedSchemaOperator,
                referencedSchemaFilter: ReferencedSchemaFilter,
                referencedNameOperator: ReferencedNameOperator,
                referencedNameFilter: ReferencedNameFilter);
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error querying references", ex.Message);
        }

    }

    private void ClearFilters()
    {
        ReferencingSchemaOperator = "like";
        ReferencingSchemaFilter = string.Empty;

        ReferencingNameOperator = "like";
        ReferencingNameFilter = string.Empty;

        ReferencedSchemaOperator = "like";
        ReferencedSchemaFilter = string.Empty;

        ReferencedNameOperator = "like";
        ReferencedNameFilter = string.Empty;

        ReferencingTypeFilter = string.Empty;
        ReferencedTypeFilter = string.Empty;
    }

    public async Task ShowAsync(Guid? connectionId, string? sqlStatement = null)
    {
        ConnectionId = connectionId ?? Connections.FirstOrDefault()?.ConnectionId;
        var proc = sqlStatement?.ParseStoredProcedureFromSqlStatement();
        var schema = proc?.Schema;
        var name = proc?.ProcedureName;
        if (schema is not null)
        {
            ReferencingSchemaFilter = schema;
            ReferencingSchemaOperator = "=";
        }
        if (name is not null)
        {
            ReferencingNameFilter = name;
            ReferencingNameOperator = "=";
        }
        await Offcanvas.ShowAsync();
    }

}
