@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ToasterService Toaster
@inject IJSRuntime Js

<HxModal @ref="_modal" Size="ModalSize.Large" Scrollable="true" Title="@(_key?.Id == Guid.Empty ? "New API key" : "Edit API key")">
    <BodyTemplate>
        @if (_key is not null)
        {
            <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
            <EditForm Model="_key" id="api_key_edit_form" OnValidSubmit="SubmitApiKeyAsync">
                <div class="row">
                    <div class="col mx-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <FluentValidationValidator Validator="_validator" />

                        <div class="row">
                            <div class="col">
                                <label class="form-label">Name</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-text">
                                        <SvgIcon Icon="LucideIcon.PenLine" />
                                    </div>
                                    <InputText class="form-control form-control-sm" @bind-Value="_key.Name"></InputText>
                                </div>
                            </div>
                        </div>

                        @{
                            var keyDisplayValue = _key.Id == Guid.Empty
                                ? _key.Value
                                : new string('*', 64);
                        }
                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">API key</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-text">
                                        <SvgIcon Icon="LucideIcon.Key" />
                                    </div>
                                    <textarea class="form-control form-control-sm font-monospace" disabled value="@keyDisplayValue" rows="2"></textarea>
                                </div>
                                @if (_key.Id == Guid.Empty)
                                {
                                    <div class="form-text">Copy and save the API key someplace secure. You won't be able to view it in the UI after saving.</div>
                                    <span class="text-decoration-underline pointer link-primary small"
                                          @onclick="CopyToClipboard">
                                        Copy to clipboard
                                    </span>
                                }
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">Valid from</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-text">
                                        <SvgIcon Icon="LucideIcon.Calendar" />
                                    </div>
                                    <InputDate class="form-control form-control-sm" Type="InputDateType.DateTimeLocal" @bind-Value="@_key.ValidFrom" />
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-label">Valid to</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-text">
                                        <SvgIcon Icon="LucideIcon.Calendar" />
                                    </div>
                                    <InputDate class="form-control form-control-sm" Type="InputDateType.DateTimeLocal" @bind-Value="@_key.ValidTo" />
                                </div>
                            </div>
                        </div>
                        
                        <h6 class="mt-4">Scopes</h6>
                        
                        <div class="row mt-3">
                            <div class="col">
                                <div class="row mb-3 small">
                                    <div class="col-auto">
                                        <span class="text-decoration-underline link-primary pointer"
                                              @onclick="@(() => SelectAllScopes("Read"))">
                                            Select all
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-decoration-underline link-primary pointer"
                                              @onclick="@(() => DeselectAllScopes("Read"))">
                                            Deselect all
                                        </span>
                                    </div>
                                </div>
                                @foreach (var scope in Scopes.AsReadOnlyList().Where(s => s.Contains("Read")))
                                {
                                    <div @key="scope" class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="scope_@scope.Replace('.', '_')"
                                               checked=@_key.Scopes.Contains(scope)
                                               @onchange="@(_ => _key.ToggleScope(scope))">
                                        <label class="form-check-label fw-normal"
                                               for="scope_@scope.Replace('.', '_')">
                                            @scope
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="col">
                                <div class="row mb-3 small">
                                    <div class="col-auto">
                                        <span class="text-decoration-underline link-primary pointer"
                                              @onclick="@(() => SelectAllScopes("Write"))">
                                            Select all
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-decoration-underline link-primary pointer"
                                              @onclick="@(() => DeselectAllScopes("Write"))">
                                            Deselect all
                                        </span>
                                    </div>
                                </div>
                                @foreach (var scope in Scopes.AsReadOnlyList().Where(s => s.Contains("Write")))
                                {
                                    <div @key="scope" class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="scope_@scope.Replace('.', '_')"
                                               checked=@_key.Scopes.Contains(scope)
                                               @onchange="@(_ => _key.ToggleScope(scope))">
                                        <label class="form-check-label fw-normal"
                                               for="scope_@scope.Replace('.', '_')">
                                            @scope
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit form="api_key_edit_form" Color="ThemeColor.Success">@(_key?.Id == Guid.Empty ? "Create" : "Save")</HxSubmit>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public EventCallback<ApiKey> OnApiKeySubmit { get; set; }

    private readonly ApiKeyValidator _validator = new();

    private ApiKey? _key;
    private HxModal? _modal;

    private void SelectAllScopes(string filter)
    {
        ArgumentNullException.ThrowIfNull(_key);
        _key.Scopes.RemoveAll(s => s.Contains(filter));
        _key.Scopes.AddRange(Scopes.AsReadOnlyList().Where(s => s.Contains(filter)));
        _key.Scopes.Sort();
    }

    private void DeselectAllScopes(string filter)
    {
        ArgumentNullException.ThrowIfNull(_key);
        _key.Scopes.RemoveAll(s => s.Contains(filter));
    }

    private async Task SubmitApiKeyAsync()
    {
        await OnApiKeySubmit.InvokeAsync(_key);
        await _modal.LetAsync(x => x.HideAsync());
    }

    public async Task ShowAsync(Guid keyId)
    {
        _key = null;
        await _modal.LetAsync(x => x.ShowAsync());
        if (keyId != Guid.Empty)
        {
            await using var context = await DbContextFactory.CreateDbContextAsync();
            _key = await context.ApiKeys
                .AsNoTrackingWithIdentityResolution()
                .FirstAsync(k => k.Id == keyId);
        }
        else
        {
            _key = new()
            {
                ValidFrom = DateTimeOffset.Now,
                ValidTo = DateTimeOffset.Now.AddYears(1)
            };
        }
    }

    private async Task CopyToClipboard()
    {
        try
        {
            await Js.InvokeVoidAsync("navigator.clipboard.writeText", _key?.Value);
            Toaster.AddInformation("Key value copied to clipboard");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error copying key value to clipboard", ex.Message);
        }
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await Js.InvokeAsync<bool>("confirm", "Discard unsaved changes?");
        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }
}
