@inject IDbContextFactory<AppDbContext> DbFactory
@inject ToasterService Toaster
@inject IMediator Mediator

<style>
    tr a {
        text-decoration: none;
    }
        
        tr:hover a {
            text-decoration: underline;
        }
</style>

<PageTitle>App registrations | Biflow</PageTitle>

<HxButton Color="ThemeColor.Success" @onclick="async () => await ShowEditModalAsync(null)" Enabled="_appRegistrations is not null">
    Add app registration
</HxButton>

<div class="card pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
                <th>
                    Tenant id
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (_appRegistrations is null)
            {
                <tr><td colspan="7" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
            }
            else if (_appRegistrations.Count == 0)
            {
                <tr><td colspan="7">No app registrations</td></tr>
            }
            else
            {
                @foreach (var app in _appRegistrations.OrderBy(a => a.AppRegistrationName))
                {
                    var jobs = app.Steps.Select(s => s.Job).Distinct().Count();
                    var steps = app.Steps.Count();
                    var pipelineClients = app.PipelineClients.Count();
                    var functionApps = app.FunctionApps.Count();
                    <tr>
                        <td class="align-middle">
                            @app.AppRegistrationName
                        </td>
                        <td class="align-middle">
                            <HxButtonGroup>
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="edit" @onclick="async () => await ShowEditModalAsync(app)">
                                    <SvgIcon Icon="FeatherIcon.Edit2" />
                                </HxButton>
                                <HxDropdownButtonGroup>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="delete">
                                        <SvgIcon Icon="FeatherIcon.Trash2" />
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => DeleteAppRegistration(app)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdownButtonGroup>
                                <HxDropdownButtonGroup>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="clear tokens">
                                        <SvgIcon Icon="FeatherIcon.X" />
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Clear access tokens?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => ClearTokens(app)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdownButtonGroup>
                            </HxButtonGroup>
                        </td>
                        <td class="align-middle">
                            @app.TenantId
                        </td>
                        <td class="align-middle">
                            @(jobs > 0 ? $"{jobs} job(s)" : null)
                        </td>
                        <td class="align-middle">
                            <a class="text-body" href="javascript:void(0)"
                                @onclick="async () =>
                                {
                                    _stepsAppRegistration = app;
                                    await _stepsModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(steps > 0 ? $"{steps} step(s)" : null)
                            </a>
                        </td>
                        <td>
                            <a class="text-body" href="javascript:void(0)" @onclick="async () =>
                                {
                                    _pipelineClientsAppRegistration = app;
                                    await _pipelineClientsModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(pipelineClients > 0 ? $"{pipelineClients} pipeline client(s)" : null)
                            </a>
                        </td>
                        <td>
                            <a class="text-body" href="javascript:void(0)" @onclick="async () =>
                                {
                                    _functionAppsAppRegistration = app;
                                    await _functionAppsModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(functionApps > 0 ? $"{functionApps} Function App(s)" : null)
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<AppRegistrationEditModal @ref="_appRegistrationEditModal" OnAppRegistrationSubmit="OnAppRegistrationSubmit" />

<HxModal @ref="_stepsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Steps using {_stepsAppRegistration?.AppRegistrationName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Step</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var step in _stepsAppRegistration?.Steps
                            .OrderBy(s => s.Job.JobName)
                            .ThenBy(s => s.StepName) ?? Enumerable.Empty<Step>())
                        {
                            <tr>
                                <td>
                                    @step.Job.JobName
                                </td>
                                <td>
                                    <StepTypeIcon StepType="step.StepType" />
                                    &nbsp;
                                    @step.StepName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _stepsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_pipelineClientsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Pipeline clients using {_stepsAppRegistration?.AppRegistrationName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Pipeline client name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in _pipelineClientsAppRegistration?.PipelineClients
                            .OrderBy(c => c.PipelineClientName) ?? Enumerable.Empty<PipelineClient>())
                        {
                            <tr>
                                <td>
                                    @client.PipelineClientName
                                </td>
                                <td>
                                    @client.PipelineClientType
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _pipelineClientsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_functionAppsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Function Apps using {_stepsAppRegistration?.AppRegistrationName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Function App name</th>
                            <th>Resource group name</th>
                            <th>Resource name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var functionApp in _functionAppsAppRegistration?.FunctionApps
                            .OrderBy(fa => fa.FunctionAppName) ?? Enumerable.Empty<FunctionApp>())
                        {
                            <tr>
                                <td>
                                    @functionApp.FunctionAppName
                                </td>
                                <td>
                                    @functionApp.ResourceGroupName
                                </td>
                                <td>
                                    @functionApp.ResourceName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _functionAppsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private List<AppRegistration>? _appRegistrations;
    private AppRegistrationEditModal? _appRegistrationEditModal;
    private AppRegistration? _stepsAppRegistration;
    private HxModal? _stepsModal;
    private AppRegistration? _pipelineClientsAppRegistration;
    private HxModal? _pipelineClientsModal;
    private AppRegistration? _functionAppsAppRegistration;
    private HxModal? _functionAppsModal;

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        _appRegistrations = await context.AppRegistrations
            .AsNoTrackingWithIdentityResolution()
            .Include(app => app.Steps)
            .ThenInclude(step => step.Job)
            .Include(app => app.PipelineClients)
            .Include(app => app.FunctionApps)
            .OrderBy(df => df.AppRegistrationName)
            .ToListAsync();
    }

    private async Task DeleteAppRegistration(AppRegistration appRegistration)
    {
        try
        {
            await Mediator.SendAsync(new DeleteAppRegistrationCommand(appRegistration.AppRegistrationId));
            _appRegistrations?.Remove(appRegistration);
        }
        catch (Exception ex)
        {
            var message = ex.InnerException?.Message ?? ex.Message;
            Toaster.AddError("Error deleting app registration", message);
        }
    }

    private async Task OnAppRegistrationSubmit(AppRegistration appRegistration)
    {
        if (appRegistration.AppRegistrationId == Guid.Empty)
        {
            await Mediator.SendAsync(new CreateAppRegistrationCommand(appRegistration));
        }
        else
        {
            await Mediator.SendAsync(new UpdateAppRegistrationCommand(appRegistration));
            _appRegistrations?.RemoveAll(a => a.AppRegistrationId == appRegistration.AppRegistrationId);
        }
        _appRegistrations?.Add(appRegistration);
        StateHasChanged();
    }

    private async Task ClearTokens(AppRegistration appRegistration)
    {
        await Mediator.SendAsync(new ClearAppRegistrationTokensCommand(appRegistration.AppRegistrationId));
    }

    private async Task ShowEditModalAsync(AppRegistration? appRegistration)
    {
        await _appRegistrationEditModal.LetAsync(x => x.ShowAsync(appRegistration?.AppRegistrationId ?? Guid.Empty));
    }
}
