@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IJSRuntime Js
@inject ToasterService Toaster
@inject ITokenService TokenService

<HxModal @ref="modal" Size="ModalSize.Large" OnClosed="() => connectionTestSuccess = null" Title="@(client?.BlobStorageClientId == Guid.Empty ? "New blob client" : "Edit " + client?.BlobStorageClientName)">
    <BodyTemplate>
        @if (client is not null)
        {
            <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
            <EditForm Model="client" id="blob_client_edit_form" OnValidSubmit="SubmitClientAsync">
                <div class="row">
                    <div class="col mx-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div>
                            <label class="form-label">Blob storage client name</label>
                            <InputText class="form-control" @bind-Value="client.BlobStorageClientName"></InputText>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="connection_method_radio_azure_credential"
                                           checked=@(client.ConnectionMethod == BlobStorageConnectionMethod.AzureCredential)
                                           disabled=@(!AzureCredentials?.Any() ?? true)
                                           @onchange="@(_ => client.UseCredential(AzureCredentials!.First(), client.StorageAccountUrl ?? ""))">
                                    <label class="form-check-label fw-normal" for="connection_method_radio_azure_credential">
                                        Azure credential
                                        <HxPopover Trigger="PopoverTrigger.Hover" Content="Use an Azure credential to authenticate against the Blob Storage account. The account url also needs to be provided. It is most likely in the format https://<accountname>.blob.core.windows.net/">
                                            <SvgIcon Icon="LucideIcon.Info" />
                                        </HxPopover>
                                    </label>
                                </div>
                                <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" id="connection_method_radio_connection_string"
                                           checked=@(client.ConnectionMethod == BlobStorageConnectionMethod.ConnectionString)
                                           @onchange="@(_ => client.UseConnectionString(client.ConnectionString ?? ""))">
                                    <label class="form-check-label fw-normal" for="connection_method_radio_connection_string">
                                        Connection string
                                        <HxPopover Trigger="PopoverTrigger.Hover" Content="Use a connection string to authenticate against the Blob Storage account. The connection string may contain either an account key or a SAS token.">
                                            <SvgIcon Icon="LucideIcon.Info" />
                                        </HxPopover>
                                    </label>
                                </div>
                                <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" id="connection_method_radio_url"
                                           checked=@(client.ConnectionMethod == BlobStorageConnectionMethod.Url)
                                           @onchange="@(_ => client.UseUrl(client.StorageAccountUrl ?? ""))">
                                    <label class="form-check-label fw-normal" for="connection_method_radio_url">
                                        URL
                                        <HxPopover Trigger="PopoverTrigger.Hover" Content="Use a URL containing a SAS token to authenticate against the Blob Storage account.">
                                            <SvgIcon Icon="LucideIcon.Info" />
                                        </HxPopover>
                                    </label>
                                </div>
                            </div>
                        </div>

                        @if (client.ConnectionMethod == BlobStorageConnectionMethod.AzureCredential)
                        {
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <label class="form-label">Azure credential</label>
                                    <InputSelect class="form-select" @bind-Value:get="client.AzureCredentialId" @bind-Value:set="AzureCredentialChanged">
                                        @foreach (var app in AzureCredentials ?? Enumerable.Empty<AzureCredential>())
                                        {
                                            <option value="@app.AzureCredentialId">@app.AzureCredentialName</option>
                                        }
                                    </InputSelect>
                                </div>
                            </div>
                        }
                        
                        @if (client.ConnectionMethod == BlobStorageConnectionMethod.AzureCredential || client.ConnectionMethod == BlobStorageConnectionMethod.Url)
                        {
                            <div class="row mt-3">
                                <div class="col-lg">
                                    <label class="form-label">Blob storage URL</label>
                                    <InputText class="form-control" @bind-Value:get="client.StorageAccountUrl" @bind-Value:set="UrlChanged"></InputText>
                                </div>
                            </div>
                        }
                        
                        @if (client.ConnectionMethod == BlobStorageConnectionMethod.ConnectionString)
                        {
                            <div class="row mt-3">
                                <div class="col-lg">
                                    <label class="form-label">Connection string</label>
                                    <InputText class="form-control" @bind-Value:get="client.ConnectionString" @bind-Value:set="ConnectionStringChanged"></InputText>
                                </div>
                            </div>
                        }

                        <div class="row my-3">
                            <div class="col">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="TestConnection" Enabled="!testingConnection">
                                    Test connection
                                </HxButton>
                                @switch (connectionTestSuccess)
                                {
                                    case true:
                                        <span class="badge bg-success ms-3">Success</span>
                                        break;
                                    case false:
                                        <span class="badge bg-danger ms-3">Failed</span>
                                        break;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit form="blob_client_edit_form" Color="ThemeColor.Success">@(client?.BlobStorageClientId == Guid.Empty ? "Add" : "Save")</HxSubmit>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter]
    public EventCallback<BlobStorageClient> OnBlobClientSubmit { get; set; }

    [Parameter]
    public List<AzureCredential>? AzureCredentials { get; set; }

    private BlobStorageClient? client;
    private HxModal? modal;
    private bool? connectionTestSuccess = null;
    private bool testingConnection = false;

    public async Task ShowAsync(Guid clientId)
    {
        client = null;
        connectionTestSuccess = null;
        await modal.LetAsync(x => x.ShowAsync());
        if (clientId != Guid.Empty)
        {
            await using var context = await DbContextFactory.CreateDbContextAsync();
            client = await context.BlobStorageClients
                .AsNoTrackingWithIdentityResolution()
                .Include(c => c.AzureCredential)
                .FirstAsync(c => c.BlobStorageClientId == clientId);
        }
        else
        {
            client = new();
        }
    }

    private async Task SubmitClientAsync()
    {
        await OnBlobClientSubmit.InvokeAsync(client);
        await modal.LetAsync(x => x.HideAsync());
    }

    private async Task TestConnection()
    {
        connectionTestSuccess = null;
        testingConnection = true;
        try
        {
            if (client is not null) await client.CreateExplorer(TokenService).GetContainersAsync(CancellationToken.None);
            connectionTestSuccess = true;
        }
        catch (Exception ex)
        {
            connectionTestSuccess = false;
            Toaster.AddError("Connection test failed", ex.Message);
        }
        testingConnection = false;
    }

    private void ConnectionStringChanged(string? connectionString)
    {
        client?.UseConnectionString(connectionString ?? "");
    }

    private void UrlChanged(string? url)
    {
        if (client is { ConnectionMethod: BlobStorageConnectionMethod.AzureCredential, AzureCredential: not null })
        {
            client.UseCredential(client.AzureCredential, url ?? "");
        }
        else
        {
            client?.UseUrl(url ?? "");    
        }
    }

    private void AzureCredentialChanged(Guid? id)
    {
        var azureCredential = AzureCredentials?.FirstOrDefault(a => a.AzureCredentialId == id);
        if (azureCredential is not null && client is not null)
        {
            client.UseCredential(azureCredential, client?.StorageAccountUrl ?? "");
        }
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await Js.InvokeAsync<bool>("confirm", "Discard unsaved changes?");
        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }
}
