@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ToasterService Toaster
@inject IMediator Mediator
@inject ThemeService ThemeService

<style>
    tr .hover-text-decoration-underline {
        text-decoration: none;
    }

    tr:hover .hover-text-decoration-underline {
        text-decoration: underline;
    }
</style>

<PageTitle>Credentials | Biflow</PageTitle>

<div class="row flex-row-reverse justify-content-between align-items-end g-3">
    <div class="col-auto">
        <HxAlert Color="ThemeService.CurrentTheme == Theme.Light ? ThemeColor.Light : ThemeColor.Dark"
                 CssClass="small py-2 mb-0"
                 style="max-width: 40rem;">
            <div class="row g-3">
                <div class="col-auto">
                    <SvgIcon Icon="LucideIcon.Info" />
                </div>
                <div class="col">
                    Store Windows credentials to be referenced in SQL Server connections and EXE steps for impersonation.
                    This can be useful when steps need to be executed impersonating a different local or Active Directory account than the one used to run the orchestration services.
                    Credentials are only supported when orchestration services are running on Windows.
                </div>
            </div>
        </HxAlert>
    </div>
    <div class="col-auto">
        <HxButton Color="ThemeColor.Success"
                  @onclick="() => ShowEditModal(null)"
                  Enabled="_credentials is not null">
            Add credential
        </HxButton>        
    </div>
</div>

<div class="card pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (_credentials is null)
            {
                <tr><td colspan="4" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
            }
            else if (_credentials.Count == 0)
            {
                <tr><td colspan="4">No credentials</td></tr>
            }
            else
            {
                @foreach (var cred in _credentials.OrderBy(c => c.Domain).ThenBy(c => c.Username))
                {
                    var steps = cred.ExeSteps.Count();
                    var connections = cred.MsSqlConnections.Count() + cred.AnalysisServicesConnections.Count();
                    <tr>
                        <td class="align-middle">
                            @cred.DisplayName
                        </td>
                        <td class="align-middle">
                            <span class="hover-text-decoration-underline cursor-pointer" @onclick="() => { _stepsCredential = cred; _stepsModal.LetAsync(x => x.ShowAsync()); }">
                                @(steps > 0 ? $"{steps} step(s)" : null)
                            </span>
                        </td>
                        <td class="align-middle">
                            <span class="hover-text-decoration-underline cursor-pointer" @onclick="() => { _connectionsCredential = cred; _connectionsModal.LetAsync(x => x.ShowAsync()); }">
                                @(connections > 0 ? $"{connections} connection(s)" : null)
                            </span>
                        </td>
                        <td class="align-middle">
                            <HxButtonGroup Size="ButtonGroupSize.Small">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="edit" @onclick="() => ShowEditModal(cred)">
                                    <SvgIcon Icon="LucideIcon.Pen" />
                                </HxButton>
                                <HxDropdownButtonGroup>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="delete">
                                        <SvgIcon Icon="LucideIcon.Trash2" />
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => DeleteCredentialAsync(cred)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdownButtonGroup>
                            </HxButtonGroup>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<CredentialEditModal @ref="_credentialEditModal" OnCredentialSubmit="OnCredentialSubmitAsync" />

<HxModal @ref="_stepsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Steps using {_stepsCredential?.DisplayName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Step</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var step in _stepsCredential?.ExeSteps
                            .OrderBy(s => s.Job.JobName)
                            .ThenBy(s => s.StepName)
                            .AsEnumerable() ?? [])
                        {
                            <tr>
                                <td>
                                    @step.Job.JobName
                                </td>
                                <td>
                                    <StepTypeIcon StepType="step.StepType" />
                                    &nbsp;
                                    @step.StepName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _stepsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_connectionsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Connections using {_connectionsCredential?.DisplayName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Connection</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var connection in _connectionsCredential?.MsSqlConnections.OrderBy(c => c.ConnectionName).AsEnumerable() ?? [])
                        {
                            <tr>
                                <td>
                                    @connection.ConnectionName
                                </td>
                                <td>
                                    MS SQL
                                </td>
                            </tr>
                        }
                        @foreach (var connection in _connectionsCredential?.AnalysisServicesConnections.OrderBy(c => c.ConnectionName).AsEnumerable() ?? [])
                        {
                            <tr>
                                <td>
                                    @connection.ConnectionName
                                </td>
                                <td>
                                    Analysis Services
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _connectionsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private List<Credential>? _credentials;
    private CredentialEditModal? _credentialEditModal;

    private Credential? _stepsCredential;
    private Credential? _connectionsCredential;
    private HxModal? _stepsModal;
    private HxModal? _connectionsModal;

    protected override void OnInitialized() => ThemeService.OnThemeChanged += OnThemeChanged;
    
    public void Dispose() => ThemeService.OnThemeChanged -= OnThemeChanged;

    private void OnThemeChanged(Theme theme, bool isAuto) => StateHasChanged();
    
    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        _credentials = await context.Credentials
            .AsNoTrackingWithIdentityResolution()
            .Include(c => c.ExeSteps).ThenInclude(s => s.Job)
            .Include(c => c.MsSqlConnections)
            .Include(c => c.AnalysisServicesConnections)
            .OrderBy(c => c.Domain)
            .ThenBy(c => c.Username)
            .ToListAsync();
    }

    private async Task DeleteCredentialAsync(Credential credential)
    {
        try
        {
            await Mediator.SendAsync(new DeleteCredentialCommand(credential.CredentialId));
            _credentials?.Remove(credential);
        }
        catch (Exception ex)
        {
            var message = ex.InnerException?.Message ?? ex.Message;
            Toaster.AddError("Error deleting credential", message);
        }
    }

    private async Task OnCredentialSubmitAsync(Credential credential)
    {
        if (credential.CredentialId == Guid.Empty)
        {
            await Mediator.SendAsync(new CreateCredentialCommand(credential));
        }
        else
        {
            await Mediator.SendAsync(new UpdateCredentialCommand(credential));
            _credentials?.RemoveAll(c => c.CredentialId == credential.CredentialId);
        }
        _credentials?.Add(credential);
        StateHasChanged();
    }

    private async Task ShowEditModal(Credential? credential) =>
        await _credentialEditModal.LetAsync(x => x.ShowAsync(credential?.CredentialId ?? Guid.Empty));
}
