@inject IDbContextFactory<AppDbContext> DbFactory
@inject ToasterService Toaster
@inject IMediator Mediator

<style>
    tr a {
        text-decoration: none;
    }

    tr:hover a {
        text-decoration: underline;
    }
</style>

<PageTitle>Data Factories | Biflow</PageTitle>

<HxButton Color="ThemeColor.Success" Enabled="dataFactories is not null" @onclick="() => editModal.LetAsync(x => x.ShowAsync(Guid.Empty))">
    Add Data Factory
</HxButton>

<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (dataFactories is null)
            {
                <tr><td colspan="4" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
            }
            else if (dataFactories.Count == 0)
            {
                <tr><td colspan="4">No Data Factories</td></tr>
            }
            else
            {
                @foreach (var dataFactory in dataFactories.OrderBy(p => p.PipelineClientName))
                {
                    var jobs = dataFactory.Steps.Select(s => s.Job).Distinct().Count();
                    var steps = dataFactory.Steps.Count();
                    <tr>
                        <td class="align-middle">
                            @dataFactory.PipelineClientName
                        </td>
                        <td class="align-middle">
                            <HxButtonGroup>
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="edit" @onclick="() => editModal.LetAsync(x => x.ShowAsync(dataFactory.PipelineClientId))">
                                    <SvgIcon Icon="FeatherIcon.Edit2" />
                                </HxButton>
                                <HxDropdownButtonGroup>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="delete">
                                        <SvgIcon Icon="FeatherIcon.Trash2" />
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => DeleteDataFactoryAsync(dataFactory)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdownButtonGroup>
                            </HxButtonGroup>
                        </td>
                        <td class="align-middle">
                            @(jobs > 0 ? $"{jobs} job(s)" : null)
                        </td>
                        <td class="align-middle">
                            <a class="text-body" href="javascript:void(0)"
                               @onclick="async () =>
                            {
                                stepsDataFactory = dataFactory;
                                await stepsModal.LetAsync(x => x.ShowAsync());
                            }">
                                @(steps > 0 ? $"{steps} step(s)" : null)
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<DataFactoryEditModal @ref="editModal"
                      AppRegistrations="appRegistrations"
                      OnDataFactorySubmit="OnDataFactorySubmit" />

<HxModal @ref="stepsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Steps using {stepsDataFactory?.PipelineClientName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Step</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var step in stepsDataFactory?.Steps
                        .OrderBy(s => s.Job.JobName)
                        .ThenBy(s => s.StepName) ?? Enumerable.Empty<Step>())
                        {
                            <tr>
                                <td>
                                    @step.Job.JobName
                                </td>
                                <td>
                                    <StepTypeIcon StepType="step.StepType" />
                                    &nbsp;
                                    @step.StepName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await stepsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private DataFactoryEditModal? editModal;
    private List<DataFactory>? dataFactories;
    private List<AppRegistration>? appRegistrations;
    private DataFactory? stepsDataFactory;
    private HxModal? stepsModal;

    protected override async Task OnParametersSetAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        dataFactories = await context.DataFactories
            .AsNoTrackingWithIdentityResolution()
            .Include(c => c.Steps)
            .ThenInclude(step => step.Job)
            .OrderBy(c => c.PipelineClientName)
            .ToListAsync();
        appRegistrations = await context.AppRegistrations
            .AsNoTracking()
            .OrderBy(ar => ar.AppRegistrationName)
            .ToListAsync();
    }

    private async Task DeleteDataFactoryAsync(DataFactory dataFactory)
    {
        try
        {
            await Mediator.SendAsync(new DeletePipelineClientCommand(dataFactory.PipelineClientId));
            dataFactories?.Remove(dataFactory);
        }
        catch (Exception ex)
        {
            var message = ex.InnerException?.Message ?? ex.Message;
            Toaster.AddError("Error deleting Data Factory", message);
        }
    }

    private async Task OnDataFactorySubmit(DataFactory dataFactory)
    {
        if (dataFactory.PipelineClientId == Guid.Empty)
        {
            await Mediator.SendAsync(new CreatePipelineClientCommand(dataFactory));
            dataFactories?.Add(dataFactory);
        }
        else
        {
            await Mediator.SendAsync(new UpdatePipelineClientCommand(dataFactory));
            dataFactories?.RemoveAll(df => df.PipelineClientId == dataFactory.PipelineClientId);
            dataFactories?.Add(dataFactory);
        }
        StateHasChanged();
    }
}
