@inject IDbContextFactory<BiflowContext> DbFactory
@inject IConfiguration configuration
@inject IHxMessengerService Messenger
@inject MarkupHelperService MarkupHelper
@inject IHttpClientFactory HttpClientFactory
@inject ITokenService TokenService

<HxModal @ref="Modal" Size="ModalSize.Large" OnClosed="() => ConnectionTestSuccess = null" Title="@(FunctionApp?.FunctionAppId == Guid.Empty ? "New Function App" : "Edit " + FunctionApp?.FunctionAppName)">
    
    <BodyTemplate>
        @if (FunctionApp is not null)
        {
            <EditForm Model="FunctionApp" id="function_app_edit_form" OnValidSubmit="SubmitFunctionApp">
                <div class="row">
                    <div class="col mx-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div>
                            <label class="form-label">Function App name</label>
                            <InputText class="form-control" @bind-Value="FunctionApp.FunctionAppName"></InputText>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <label class="form-label">App registration</label>
                                <InputSelect class="form-select" @bind-Value="FunctionApp.AppRegistrationId" @onchange="args => AppRegistrationChanged(args.Value)">
                                    @foreach (var app in AppRegistrations ?? Enumerable.Empty<AppRegistration>())
                                    {
                                        <option value="@app.AppRegistrationId">@app.AppRegistrationName</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg">
                                <label class="form-label">Subscription id</label>
                                <InputText class="form-control" @bind-Value="FunctionApp.SubscriptionId"></InputText>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg">
                                <label class="form-label">Resource group name</label>
                                <InputText class="form-control" @bind-Value="FunctionApp.ResourceGroupName"></InputText>
                            </div>
                            <div class="col-lg">
                                <label class="form-label">Resource name</label>
                                <InputText class="form-control" @bind-Value="FunctionApp.ResourceName"></InputText>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" @onclick="TestConnection" Enabled="!TestingConnection">
                                    Test connection
                                </HxButton>
                                @if (ConnectionTestSuccess == true)
                                {
                                    <span class="badge bg-success ms-3">Success</span>
                                }
                                else if (ConnectionTestSuccess == false)
                                {
                                    <span class="badge bg-danger ms-3">Failed</span>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg">
                                <label class="form-label">Function App key</label>
                                <InputText class="form-control" @bind-Value="FunctionApp.FunctionAppKey"></InputText>
                                <div class="form-text">Optionally set a Function App key to be used for all function invocations by default.</div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" @onclick="OpenKeySelectOffcanvasAsync">
                                    @MarkupHelper.FromFile("icons/feather/more-horizontal.svg")
                                    Browse function app keys
                                </HxButton>
                            </div>
                        </div>

                        <FunctionAppKeySelectOffcanvas @ref="KeySelectOffcanvas" FunctionApp="FunctionApp" OnKeySelected="OnKeySelected" />

                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    
    <FooterTemplate>
        <HxSubmit form="function_app_edit_form" Color="ThemeColor.Success">@(FunctionApp?.FunctionAppId == Guid.Empty ? "Add" : "Save")</HxSubmit>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await Modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter]
    public EventCallback<FunctionApp> OnFunctionAppSubmit { get; set; }

    [Parameter]
    public List<AppRegistration>? AppRegistrations { get; set; }

    private FunctionApp? FunctionApp { get; set; }

    private HxModal? Modal { get; set; }

    private bool? ConnectionTestSuccess { get; set; } = null;
    private bool TestingConnection { get; set; } = false;

    private FunctionAppKeySelectOffcanvas? KeySelectOffcanvas { get; set; }

    private void AppRegistrationChanged(object? value)
    {
        var idString = value?.ToString();
        if (idString is not null)
        {
            var id = Guid.Parse(idString);
            var appRegistration = AppRegistrations?.FirstOrDefault(a => a.AppRegistrationId == id);
            if (appRegistration is not null && FunctionApp is not null)
            {
                FunctionApp.AppRegistration = appRegistration;
            }
        }
    }

    private void OnKeySelected(string key)
    {
        if (FunctionApp is not null)
            FunctionApp.FunctionAppKey = key;
    }

    private async Task OpenKeySelectOffcanvasAsync()
    {
        await KeySelectOffcanvas.LetAsync(x => x.ShowAsync());
    }

    private async Task SubmitFunctionApp()
    {
        if (FunctionApp is not null) FunctionApp.AppRegistration = null!;
        await OnFunctionAppSubmit.InvokeAsync(FunctionApp);
        await Modal.LetAsync(x => x.HideAsync());
    }

    private async Task TestConnection()
    {
        ConnectionTestSuccess = null;
        TestingConnection = true;
        try
        {
            if (FunctionApp is not null) await FunctionApp.TestConnection(HttpClientFactory.CreateClient());
            ConnectionTestSuccess = true;
        }
        catch (Exception ex)
        {
            ConnectionTestSuccess = false;
            Messenger.AddError("Connection test failed", ex.Message);
        }
        TestingConnection = false;
    }

    public async Task ShowAsync(Guid functionAppId)
    {
        FunctionApp = null;
        ConnectionTestSuccess = null;
        await Modal.LetAsync(x => x.ShowAsync());
        if (functionAppId != Guid.Empty)
        {
            using var context = DbFactory.CreateDbContext();
            FunctionApp = await context.FunctionApps
                .AsNoTrackingWithIdentityResolution()
                .Include(f => f.Steps)
                .ThenInclude(step => step.Job)
                .Include(f => f.AppRegistration)
                .FirstAsync(f => f.FunctionAppId == functionAppId);
        }
        else
        {
            FunctionApp = new()
            {
                AppRegistrationId = AppRegistrations?.FirstOrDefault()?.AppRegistrationId,
                AppRegistration = AppRegistrations?.FirstOrDefault()!,
                Steps = new List<FunctionStep>()
            };
        }
    }

}
