@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbFactory
@inject IMediator Mediator
@inject ToasterService Toaster
@inject ThemeService ThemeService

<style>
    tr a {
    text-decoration: none;
    }

    tr:hover a {
    text-decoration: underline;
    }
</style>

<PageTitle>MS SQL | Biflow</PageTitle>

<div class="row flex-row-reverse justify-content-between align-items-end g-3">
    <div class="col-auto">
        <HxAlert Color="ThemeService.CurrentTheme == Theme.Light ? ThemeColor.Light : ThemeColor.Dark"
                 CssClass="small py-2 mb-0"
                 style="max-width: 35rem;">
            <div class="row g-3">
                <div class="col-auto">
                    <SvgIcon Icon="LucideIcon.Info" />
                </div>
                <div class="col">
                    MS SQL connections can be used in SQL steps to run arbitrary SQL statements on SQL Server, Azure SQL, Azure Synapse and Fabric Data Warehouse.
                    <br/>
                    MS SQL connections also allow you to add <a class="alert-link" href="datatables">data tables</a>.
                </div>
            </div>
        </HxAlert>
    </div>
    <div class="col-auto">
        <HxButton Color="ThemeColor.Success" Enabled="_connections is not null" OnClick="() => _editModal.LetAsync(x => x.ShowAsync(Guid.Empty))">
            Add connection
        </HxButton>
    </div>
</div>

<div class="card pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (_connections is null)
            {
                <tr><td colspan="5" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
            }
            else if (_connections.Count == 0)
            {
                <tr><td colspan="5">No MS SQL connections</td></tr>
            }
            else
            {
                @foreach (var connection in _connections.OrderBy(c => c.ConnectionName))
                {
                    var steps = connection.Steps.Count();
                    var jobs = connection.Steps.Select(s => s.JobId).Distinct().Count();
                    var tables = connection.DataTables.Count();
                    <tr>
                        <td class="align-middle">
                            @connection.ConnectionName
                        </td>
                        <td class="align-middle">
                            <HxButtonGroup>
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="edit" @onclick="async () => await _editModal.LetAsync(x => x.ShowAsync(connection.ConnectionId))">
                                    <SvgIcon Icon="LucideIcon.Pen" />
                                </HxButton>
                                <HxDropdownButtonGroup>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" aria-label="delete">
                                        <SvgIcon Icon="LucideIcon.Trash2" />
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => DeleteConnection(connection)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdownButtonGroup>
                            </HxButtonGroup>
                        </td>
                        <td class="align-middle">
                            @(jobs > 0 ? $"{jobs} job(s)" : null)
                        </td>
                        <td class="align-middle">
                            <a class="text-body" href="javascript:void(0)"
                            @onclick="async () =>
                                {
                                    _stepsConnection = connection;
                                    await _stepsModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(steps > 0 ? $"{steps} step(s)" : null)
                            </a>
                        </td>
                        <td class="align-middle">
                            
                            <a class="text-body" href="javascript:void(0)"
                            @onclick="async () =>
                                {
                                    _tablesConnection = connection;
                                    await _tablesModal.LetAsync(x => x.ShowAsync());
                                }">
                                @(tables > 0 ? $"{tables} data table(s)" : null)
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<MsSqlConnectionEditModal @ref="_editModal"
                          Credentials="_credentials"
                          OnConnectionSubmit="OnConnectionSubmit" />

<HxModal @ref="_stepsModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Steps using {_stepsConnection?.ConnectionName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Step</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var step in _stepsConnection?.Steps
                        .OrderBy(s => s.Job.JobName)
                        .ThenBy(s => s.StepName) ?? Enumerable.Empty<Step>())
                        {
                            <tr>
                                <td>
                                    @step.Job.JobName
                                </td>
                                <td>
                                    <StepTypeIcon StepType="step.StepType" />
                                    &nbsp;
                                    @step.StepName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _stepsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_tablesModal" Size="ModalSize.Large" Scrollable="true" Title="@($"Data tables using {_tablesConnection?.ConnectionName}")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Data table</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var table in _tablesConnection?.DataTables
                        .OrderBy(t => t.Category?.CategoryName)
                        .ThenBy(t => t.DataTableName) ?? Enumerable.Empty<MasterDataTable>())
                        {
                            <tr>
                                <td>
                                    @(table.Category?.CategoryName ?? "No category")
                                </td>
                                <td>
                                    @table.DataTableName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _tablesModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private MsSqlConnectionEditModal? _editModal;
    private List<Credential> _credentials = [];
    private List<MsSqlConnection>? _connections;
    private MsSqlConnection? _stepsConnection;
    private MsSqlConnection? _tablesConnection;
    private HxModal? _stepsModal;
    private HxModal? _tablesModal;
    
    protected override void OnInitialized() => ThemeService.OnThemeChanged += OnThemeChanged;

    public void Dispose() => ThemeService.OnThemeChanged -= OnThemeChanged;
    
    private void OnThemeChanged(Theme theme, bool isAuto) => StateHasChanged();

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        _credentials = await context.Credentials
            .AsNoTracking()
            .OrderBy(c => c.Domain)
            .ThenBy(c => c.Username)
            .ToListAsync();
        _connections = await context.MsSqlConnections
            .AsNoTrackingWithIdentityResolution()
            .Include(c => c.SqlSteps)
            .ThenInclude(step => step.Job)
            .Include(c => c.PackageSteps)
            .ThenInclude(step => step.Job)
            .Include(c => c.AgentJobSteps)
            .ThenInclude(step => step.Job)
            .Include(c => c.DataTables)
            .ThenInclude(t => t.Category)
            .OrderBy(c => c.ConnectionName)
            .ToListAsync();
    }

    private async Task DeleteConnection(MsSqlConnection connection)
    {
        try
        {
            await Mediator.SendAsync(new DeleteSqlConnectionCommand(connection.ConnectionId));
            _connections?.RemoveAll(c => c.ConnectionId == connection.ConnectionId);
        }
        catch (Exception ex)
        {
            var message = ex.InnerException?.Message ?? ex.Message;
            Toaster.AddError("Error deleting connection", message);
        }
    }

    private async Task OnConnectionSubmit(MsSqlConnection connection)
    {
        if (connection.ConnectionId == Guid.Empty)
        {
            var command = new CreateMsSqlConnectionCommand(
                ConnectionName: connection.ConnectionName,
                MaxConcurrentSqlSteps: connection.MaxConcurrentSqlSteps,
                MaxConcurrentPackageSteps: connection.MaxConcurrentPackageSteps,
                ExecutePackagesAsLogin: connection.ExecutePackagesAsLogin,
                CredentialId: connection.CredentialId,
                ScdDefaultTargetSchema: connection.ScdDefaultTargetSchema,
                ScdDefaultTargetTableSuffix: connection.ScdDefaultTargetTableSuffix,
                ScdDefaultStagingSchema: connection.ScdDefaultStagingSchema,
                ScdDefaultStagingTableSuffix: connection.ScdDefaultStagingTableSuffix,
                ConnectionString: connection.ConnectionString);
            var response = await Mediator.SendAsync(command);
            _connections?.Add(response);
        }
        else
        {
            var command = new UpdateMsSqlConnectionCommand(
                ConnectionId: connection.ConnectionId,
                ConnectionName: connection.ConnectionName,
                MaxConcurrentSqlSteps: connection.MaxConcurrentSqlSteps,
                MaxConcurrentPackageSteps: connection.MaxConcurrentPackageSteps,
                ExecutePackagesAsLogin: connection.ExecutePackagesAsLogin,
                CredentialId: connection.CredentialId,
                ScdDefaultTargetSchema: connection.ScdDefaultTargetSchema,
                ScdDefaultTargetTableSuffix: connection.ScdDefaultTargetTableSuffix,
                ScdDefaultStagingSchema: connection.ScdDefaultStagingSchema,
                ScdDefaultStagingTableSuffix: connection.ScdDefaultStagingTableSuffix,
                ConnectionString: connection.ConnectionString);
            _ = await Mediator.SendAsync(command);
            _connections?.RemoveAll(c => c.ConnectionId == connection.ConnectionId);
            _connections?.Add(connection);
        }
        _connections?.Sort();
        StateHasChanged();
    }
}
