@page
@model EtlManager.Pages.Settings.EncryptionModel
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@{
    ViewData["Title"] = "Encryption";
}

<h3>Settings</h3>
<hr />
<partial name="_SettingsNavigationPartial" />
<p></p>

<div class="row">
    <div class="col-md-8 col-lg-5">
        @if (!Model.IsEncryptionKeySet)
        {
            <div class="alert alert-danger show" role="alert">
                Encryption key is not set
            </div>
        }
        else
        {
            <div class="alert alert-success show" role="alert">
                Encryption key is set
            </div>
        }
        <section class="mt-4">
            <form method="post" asp-page-handler="ChangeEncryptionKey" role="form" class="form-horizontal">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.ValidationMessage("MatchError", "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.EncryptionKey, new { @class = "control-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/lock.svg")))
                            </div>
                        </div>
                        <input asp-for="EncryptionKey" class="form-control" />
                    </div>
                    @Html.ValidationMessageFor(m => m.EncryptionKey, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmEncryptionKey, new { @class = "control-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/key.svg")))
                            </div>
                        </div>
                        <input asp-for="ConfirmEncryptionKey" class="form-control" />
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmEncryptionKey, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/save.svg")))
                        Save
                    </button>
                </div>
            </form>
            @if (Model.Success)
            {
                <div class="alert alert-success" role="alert">Encryption key updated successfully</div>
            }
        </section>
    </div>
</div> 