@using Quartz

@inject ToasterService Toaster
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IMediator Mediator
@inject IJSRuntime Js

<HxOffcanvas @ref="_offcanvas"
             Size="OffcanvasSize.Regular"
             Title="@(_schedule.ScheduleId == Guid.Empty ? "New schedule" : "Edit schedule")"
             OnShown="() => _nameInput?.Element?.FocusAsync()">
    <BodyTemplate>
        <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
        <EditForm id="schedule_form" Model="_schedule" OnValidSubmit="SubmitSchedule">
            <div class="row">
                <div class="col">
                    <DataAnnotationsValidator />
                    <div>
                        <label class="form-label">Job</label>
                        <HxAutosuggest Enabled="@(_schedule.ScheduleId == Guid.Empty && Job is null)"
                                       TItem="Job"
                                       TValue="Guid"
                                       DataProvider="GetJobSuggestionsAsync"
                                       ItemFromValueResolver="jobId => Task.FromResult(Jobs.Append(Job).FirstOrDefault(j => j?.JobId == jobId)!)"
                                       ValueSelector="job => job.JobId"
                                       TextSelector="job => job.JobName"
                                       @bind-Value="_schedule.JobId"
                                       Context="job"
                                       MinimumLength="0"
                                       Placeholder="Select job"
                                       autocomplete="off">
                            <InputGroupStartTemplate>
                                <div class="input-group-text">
                                    <SvgIcon Icon="LucideIcon.ClipboardList"/>
                                </div>
                            </InputGroupStartTemplate>
                            <ItemTemplate>
                                <span class="small">@job.JobName</span>
                            </ItemTemplate>
                        </HxAutosuggest>
                    </div>
                    <div class="mt-3">
                        <label class="form-label">Name</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <SvgIcon Icon="LucideIcon.PenLine" />
                            </div>
                            <InputText @ref="_nameInput"
                                       DisplayName="Name"
                                       class="form-control"
                                       @bind-Value="_schedule.ScheduleName"></InputText>
                        </div>
                    </div>
                    <ValidationMessage For="() => _schedule.ScheduleName" />
                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label">Tags</label>
                            <TagInput TTag="ScheduleTag"
                            Items="_allScheduleTags"
                            AllowCustomValues
                            SelectedItems="_schedule.Tags"
                            NewItemFromText="text => new ScheduleTag(text) { Color = TagColor.DarkGray }" />
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label">
                            Cron expression
                            <HxPopover Trigger="PopoverTrigger.Hover" Content="Schedule cron expression cannot be edited once the schedule has been created. To change the expression, a new schedule needs to be created and the old one removed.">
                                <SvgIcon Icon="LucideIcon.Info" />
                            </HxPopover>
                        </label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <SvgIcon Icon="LucideIcon.Calendar" />
                            </div>
                            <OnInputText class="form-control" @bind-Value="_schedule.CronExpression" />
                        </div>
                    </div>
                    <ValidationMessage For="() => _schedule.CronExpression" />
                    @if (CronExpression.IsValidExpression(_schedule.CronExpression))
                    {
                        var nextFireTimes = _schedule.NextFireTimes().Take(10).ToList();
                        <small class="text-secondary">Description:</small>
                        <br />
                        <small class="text-secondary ms-3">@_schedule.GetScheduleDescription()</small>
                        <br />
                        <small class="text-secondary mt-2">Next execution(s) (showing first 10):</small>
                        <div class="row">
                            <div class="col">
                                @foreach (var fireTime in nextFireTimes.Take(5))
                                {
                                    <small class="row text-secondary ms-3">@fireTime</small>
                                }
                            </div>
                            <div class="col">
                                @foreach (var fireTime in nextFireTimes.Skip(5).Take(5))
                                {
                                    <small class="row text-secondary ms-3">@fireTime</small>
                                }
                            </div>
                        </div>
                    }
                    <div class="row mt-3">
                        <label class="form-label">Tag filters</label>
                        <TagInput TTag="StepTag"
                                  Items="_allStepTags"
                                  AllowCustomValues="false"
                                  SelectedItems="_schedule.TagFilter"
                                  NewItemFromText="text => new StepTag(text) { Color = TagColor.DarkGray }"/>
                        <div class="form-text">Use tag filters to only include steps with specific tags in scheduled executions.</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="schedule_concurrency_check"
                                checked=@_schedule.DisallowConcurrentExecution
                                @bind-value="_schedule.DisallowConcurrentExecution">
                                <label class="form-check-label fw-normal" for="schedule_concurrency_check">
                                    Disallow concurrent execution
                                    <HxPopover Trigger="PopoverTrigger.Hover" Content="Allow only one concurrent execution of this job and schedule. This option is useful in cases where the job's duration might overlap with the schedule's next fire time but concurrent execution should not be allowed.">
                                        <SvgIcon Icon="LucideIcon.Info" />
                                    </HxPopover>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit FormId="schedule_form" Color="ThemeColor.Success">Save</HxSubmit>
        <HxButton CssClass="ms-3" Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    // Optional - new schedules will be locked to this job if provided
    [Parameter] public Job? Job { get; set; }

    [Parameter] public IEnumerable<Job> Jobs { get; set; } = [];

    [Parameter] public EventCallback<Schedule> OnSubmit { get; set; }

    private Schedule _schedule = new(); // assign placeholder
    private InputText? _nameInput;
    private HxOffcanvas? _offcanvas;
    private List<StepTag> _allStepTags = [];
    private List<ScheduleTag> _allScheduleTags = [];

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        _allStepTags = await context.StepTags.ToListAsync();
        _allStepTags.Sort();
        _allScheduleTags = await context.ScheduleTags.ToListAsync();
        _allScheduleTags.Sort();
    }

    private async Task SubmitSchedule()
    {
        // New schedule
        if (_schedule.ScheduleId == Guid.Empty)
        {
            try
            {
                await HandleTagsAsync(_schedule);
                var command = new CreateScheduleCommand(
                    _schedule.JobId,
                    _schedule.ScheduleName,
                    _schedule.CronExpression,
                    _schedule.IsEnabled,
                    _schedule.DisallowConcurrentExecution,
                    _schedule.Tags.Select(t => t.TagId).ToArray(),
                    _schedule.TagFilter.Select(t => t.TagId).ToArray());
                var schedule = await Mediator.SendAsync(command);
                await OnSubmit.InvokeAsync(schedule);
                await _offcanvas.LetAsync(x => x.HideAsync());
            }
            catch (Exception ex)
            {
                Toaster.AddError("Error adding schedule", ex.Message);
            }
        }
        // Existing schedule
        else
        {
            try
            {
                await HandleTagsAsync(_schedule);
                var command = new UpdateScheduleCommand(
                    _schedule.ScheduleId,
                    _schedule.ScheduleName,
                    _schedule.CronExpression,
                    _schedule.IsEnabled,
                    _schedule.DisallowConcurrentExecution,
                    _schedule.Tags.Select(t => t.TagId).ToArray(),
                    _schedule.TagFilter.Select(t => t.TagId).ToArray());
                var schedule = await Mediator.SendAsync(command);
                await OnSubmit.InvokeAsync(schedule);
                await _offcanvas.LetAsync(x => x.HideAsync());
            }
            catch (Exception ex)
            {
                Toaster.AddError("Error editing schedule", ex.Message);
            }
        }
    }

    public async Task ShowAsync(Guid scheduleId)
    {
        if (scheduleId != Guid.Empty)
        {
            await using var context = await DbContextFactory.CreateDbContextAsync();
            _schedule = await context.Schedules
                .AsNoTracking()
                .Include(s => s.TagFilter)
                .Include(s => s.Tags)
                .FirstAsync(s => s.ScheduleId == scheduleId);
        }
        else if (scheduleId == Guid.Empty)
        {
            var jobId = Job?.JobId ?? Guid.Empty;
            _schedule = new()
            {
                JobId = jobId
            };
        }

        await _offcanvas.LetAsync(x => x.ShowAsync());
    }
    
    private async Task HandleTagsAsync(Schedule schedule)
    {
        var newTags = schedule.Tags.Where(t => t.TagId == Guid.Empty).ToArray();
        foreach (var tag in newTags)
        {
            var command = new CreateScheduleTagCommand(tag.TagName, tag.Color, tag.SortOrder);
            var createdTag = await Mediator.SendAsync(command);
            schedule.Tags.Remove(tag);
            schedule.Tags.Add(createdTag);
        }
    }

    private Task<AutosuggestDataProviderResult<Job>> GetJobSuggestionsAsync(AutosuggestDataProviderRequest request)
    {
        return Task.FromResult(new AutosuggestDataProviderResult<Job>
        {
            Data = Jobs
                .Where(j => j.JobName.ContainsIgnoreCase(request.UserInput))
                .OrderBy(j => j.JobName)
        });
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await Js.InvokeAsync<bool>("confirm", "Discard unsaved changes?");
        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }
}
