@page
@model EtlManager.Pages.Schedules.IndexModel
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@{
    ViewData["Title"] = "Schedules";
}

<h3>Schedules</h3>
<hr />
@if (Model.IsOperator)
{
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_create">
        New schedule
    </button>
}

<p />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Job</th>
            <th>Enabled</th>
            <th>Time</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.Jobs.OrderBy(job => job.JobName))
        {
            @foreach (var schedule in job.Schedules.OrderBy(s => s.TimeHours).ThenBy(s => s.TimeMinutes))
            {
                <tr>
                    <td>
                        <a class="text-dark" asp-page="../Jobs/JobDetails/Index" asp-route-id="@job.JobId">@job.JobName</a>
                    </td>
                    <td class="align-middle">
                        <form>
                            <div class="custom-control custom-switch">
                                @if (Model.IsOperator)
                                {
                                    <input type="checkbox" class="custom-control-input" id="@schedule.ScheduleId" asp-for="@schedule.IsEnabled" onchange="toggleEnabled(this)" data-schedule-id="@schedule.ScheduleId">
                                }
                                else
                                {
                                    <input type="checkbox" class="custom-control-input" disabled asp-for="@schedule.IsEnabled">
                                }

                                <label class="custom-control-label" style="cursor: pointer;" for="@schedule.ScheduleId"></label>
                            </div>
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => schedule.TimeHours):@schedule.GetMinutesText()
                    </td>
                    <td>
                        @if (schedule.Monday)
                        {
                            <span class="badge badge-primary">Monday</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Monday</span>
                        }
                    </td>
                    <td>
                        @if (schedule.Tuesday)
                        {
                            <span class="badge badge-primary">Tuesday</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Tuesday</span>
                        }
                    </td>
                    <td>
                        @if (schedule.Wednesday)
                        {
                            <span class="badge badge-primary">Wednesday</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Wednesday</span>
                        }
                    </td>
                    <td>
                        @if (schedule.Thursday)
                        {
                            <span class="badge badge-primary">Thursday</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Thursday</span>
                        }
                    </td>
                    <td>
                        @if (schedule.Friday)
                        {
                            <span class="badge badge-primary">Friday</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Friday</span>
                        }
                    </td>
                    <td>
                        @if (schedule.Saturday)
                        {
                            <span class="badge badge-primary">Saturday</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Saturday</span>
                        }
                    </td>
                    <td>
                        @if (schedule.Sunday)
                        {
                            <span class="badge badge-primary">Sunday</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Sunday</span>
                        }
                    </td>
                    <td align="center">
                        @if (Model.IsOperator)
                        {
                            <form method="post">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/delete.svg")))
                                    </button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" asp-page-handler="Delete" asp-route-id="@schedule.ScheduleId">Delete</button>
                                    </div>
                                </div>
                            </form>
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.IsOperator)
{
    <div class="modal fade" id="modal_create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group col">
                                    <label>Job</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/loader.svg")))
                                            </div>
                                        </div>
                                        <select asp-for="NewSchedule.JobId" class="form-control">
                                            @foreach (var job in Model.Jobs)
                                            {
                                                <option value="@job.JobId">@job.JobName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <input hidden asp-for="NewSchedule.IsEnabled" />
                                    <label asp-for="NewSchedule.TimeHours" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/clock.svg")))
                                            </div>
                                        </div>
                                        <input asp-for="NewSchedule.TimeHours" class="form-control" />
                                    </div>
                                    <span asp-validation-for="NewSchedule.TimeHours" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="NewSchedule.TimeMinutes" value="0">
                                        <label class="form-check-label">:00</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="NewSchedule.TimeMinutes" value="15">
                                        <label class="form-check-label">:15</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="NewSchedule.TimeMinutes" value="30">
                                        <label class="form-check-label">:30</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="NewSchedule.TimeMinutes" value="45">
                                        <label class="form-check-label">:45</label>
                                    </div>
                                </div>

                                <div id="weekdays" class="form-group">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="NewSchedule.Monday" /> @Html.DisplayNameFor(model => model.NewSchedule.Monday)
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="NewSchedule.Tuesday" /> @Html.DisplayNameFor(model => model.NewSchedule.Tuesday)
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="NewSchedule.Wednesday" /> @Html.DisplayNameFor(model => model.NewSchedule.Wednesday)
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="NewSchedule.Thursday" /> @Html.DisplayNameFor(model => model.NewSchedule.Thursday)
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="NewSchedule.Friday" /> @Html.DisplayNameFor(model => model.NewSchedule.Friday)
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="NewSchedule.Saturday" /> @Html.DisplayNameFor(model => model.NewSchedule.Saturday)
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="NewSchedule.Sunday" /> @Html.DisplayNameFor(model => model.NewSchedule.Sunday)
                                        </label>
                                    </div>
                                </div>
                                <text id="weekdaysError" class="text-danger" style="display: none;">Select at least one weekday</text>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="button_submit" type="submit" class="btn btn-success" value="Create" />
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $("#button_submit").click(function () {
                var checked_checkboxes = $("#weekdays input[type=checkbox]:checked");
                if (checked_checkboxes.length == 0) {
                    $("#weekdaysError").show();
                    return false;
                }
                return true;
            });
        });

        $(function () {
            $("#weekdays input[type=checkbox]").change(function () {
                $("#weekdaysError").hide();
            });
        });

        function toggleEnabled(elem) {
            var id_ = $(elem).data('schedule-id');
            //alert(id);

            $.ajax({
                url: "/Schedules/Index?handler=ToggleEnabled",
                method: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {
                    id: id_
                },
                success: function (response) {
                    if (!response.success) {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("AJAX error, try logging in again");
                }
            });
        }
    </script>
}