@inherits StepEditModal<DataflowStep>

<StepEditModalTemplate Modal="this" TStep="DataflowStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Timeout (min)</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.OctagonX" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 5rem;"></InputNumber>
                </div>
                <span class="form-text">0 = indefinite</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                <label class="form-label mb-lg-0">Azure credential</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Globe" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.AzureCredentialId">
                        @foreach (var credential in AzureCredentials)
                        {
                            <option value="@credential.AzureCredentialId">@credential.AzureCredentialName</option>
                        }
                    </InputSelect>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenDataflowSelectOffcanvas">
                        <SvgIcon Icon="LucideIcon.Ellipsis" />
                        Browse dataflows
                    </HxButton>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Workspace</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="d-flex align-items-center position-relative">
                    <div class="input-group input-group-sm">
                        <div class="input-group-text">
                            <SvgIcon Icon="LucideIcon.Folder"/>
                        </div>
                        <input class="form-control form-control-sm" value="@Step.WorkspaceName" disabled/>
                    </div>
                    @if (_loading)
                    {
                        <HxSpinner Color="ThemeColor.Secondary"
                                   Size="SpinnerSize.Small"
                                   CssClass="position-absolute end-0 py-1 mx-2" />
                    }
                </div>
                <div class="form-text">
                    @if (!string.IsNullOrEmpty(Step.WorkspaceId))
                    {
                        <text>
                            Id: @Step.WorkspaceId
                        </text>
                    }
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Dataflow</label>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center position-relative">
                    <div class="input-group input-group-sm">
                        <div class="input-group-text">
                            <SvgIcon Icon="LucideIcon.Workflow"/>
                        </div>
                        <input class="form-control form-control-sm" value="@Step.DataflowName" disabled/>
                    </div>
                    @if (_loading)
                    {
                        <HxSpinner Color="ThemeColor.Secondary"
                                   Size="SpinnerSize.Small"
                                   CssClass="position-absolute end-0 py-1 mx-2" />
                    }
                </div>
                <div class="form-text">
                    @if (!string.IsNullOrEmpty(Step.DataflowId))
                    {
                        <text>
                            Id: @Step.DataflowId
                        </text>
                    }
                </div>
            </div>
        </div>

        <DataflowSelectOffcanvas @ref="_dataflowSelectOffcanvas" OnDataflowSelected="OnDataflowSelected" />
    }
</StepEditModalTemplate>