@typeparam TStep where TStep : Step 

@inject IJSRuntime Js
@inject StepValidator StepValidator
@inject StepParametersValidator StepParametersValidator

@if (Modal is null)
{
    return;
}

@*Set pt-0 for modal body (BodyCssClass). The DependenciesEditComponent has a sticky-top element that should be placed at the top without any padding*@
<HxModal @ref="Modal.Modal"
         Size="ModalSize.ExtraLarge"
         Scrollable="true"
         BodyCssClass="pt-0"
         OnClosed="OnClosed"
         Fullscreen="ModalFullscreen.ExtraLargeDown"
         Title="@(Modal.Step?.StepId == Guid.Empty ? "New step" : "Edit " + Modal.Step?.StepName)">
    <BodyTemplate>
        @if (Modal.Step is not null)
        {
            <div class="row mt-3">
                <div class="col mx-3">
                    <EditForm @ref="_editForm" id="@Modal.FormId" Model="Modal.Step" OnValidSubmit="SubmitAsync">
                        <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-underline">
                                    <li class="nav-item">
                                        <span class="nav-link @(Modal.CurrentView == StepEditModalView.Settings ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Settings">
                                            <SvgIcon Icon="LucideIcon.Settings" />
                                            Settings
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link @(Modal.CurrentView == StepEditModalView.Targets ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Targets">
                                            <SvgIcon Icon="LucideIcon.Download" />
                                            Targets
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link @(Modal.CurrentView == StepEditModalView.Sources ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Sources">
                                            <SvgIcon Icon="LucideIcon.Share" />
                                            Sources
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link @(Modal.CurrentView == StepEditModalView.Dependencies ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Dependencies">
                                            <SvgIcon Icon="LucideIcon.Workflow" />
                                            Dependencies
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link @(Modal.CurrentView == StepEditModalView.Condition ? "active" : null)"
                                          @onclick="() => Modal.CurrentView = StepEditModalView.Condition">
                                            <SvgIcon Icon="LucideIcon.SquareCheck" />
                                            Condition
                                            @if (!string.IsNullOrWhiteSpace(Modal.Step.ExecutionConditionExpression.Expression))
                                            {
                                                <HxTooltip Trigger="TooltipTrigger.Hover" Text="Execution condition enabled">
                                                    <span style="color: var(--bs-warning);">
                                                        &nbsp;
                                                        <SvgIcon Icon="LucideIcon.Info" />
                                                    </span>
                                                </HxTooltip>
                                            }
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <ObjectGraphDataAnnotationsValidator />
                                <ValidationSummary />
                                <ValidationStateChangeListener OnValidationStateChanged="OnValidationStateChanged" />
                                <FluentValidationValidator @ref="_fluentStepValidator" Validator="StepValidator" />
                                @if (Modal.Step is IHasStepParameters)
                                {
                                    <FluentValidationValidator @ref="_fluentStepParametersValidator" Validator="StepParametersValidator" />
                                }
                            </div>
                        </div>

                        <CascadingValue Value="_fluentStepValidator" Name="StepValidator">
                            @if (Modal.CurrentView == StepEditModalView.Dependencies)
                            {
                                @if (Modal.Steps is not null && Modal.StepSlims is not null && Modal.JobSlims is not null)
                                {
                                    <div class="row">
                                        <div class="col">
                                            <DependenciesEditor Step="Modal.Step"
                                                                Steps="Modal.Steps"
                                                                JobSlims="Modal.JobSlims"
                                                                StepSlims="Modal.StepSlims" />
                                        </div>
                                    </div>
                                }
                            }
                            else if (Modal.CurrentView == StepEditModalView.Settings)
                            {
                                <div class="row">
                                    <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                                        <label class="form-label mb-lg-0">Step name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-text">
                                                <SvgIcon Icon="LucideIcon.PenLine" />
                                            </div>
                                            <InputText class="form-control form-control-sm" @bind-Value="Modal.Step.StepName"></InputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                                        <label class="form-label mb-lg-0">Tags</label>
                                    </div>
                                    <div class="col-md-6">
                                        <TagInput TTag="StepTag"
                                                  Items="Modal.AllTags"
                                                  AllowCustomValues
                                                  SelectedItems="Modal.Step.Tags"
                                                  NewItemFromText="text => new StepTag(text) { Color = TagColor.DarkGray }" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 d-md-flex justify-content-end">
                                        <label class="form-label mb-lg-0">Description</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-text">
                                                <SvgIcon Icon="LucideIcon.BookOpen" />
                                            </div>
                                            <InputTextArea class="form-control form-control-sm" @bind-Value="Modal.Step.StepDescription" rows="3"></InputTextArea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                                        <label class="form-label mb-lg-0">Execution phase</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-text">
                                                <SvgIcon Icon="LucideIcon.Layers3" />
                                            </div>
                                            <InputNumber class="form-control form-control-sm" @bind-Value="Modal.Step.ExecutionPhase" style="max-width: 6rem;"></InputNumber>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                                        <label class="form-label mb-lg-0">
                                            Duplicate execution behaviour
                                            <HxPopover Trigger="PopoverTrigger.Hover" Html Content="@DuplicateBehaviourPopoverContent">
                                                <SvgIcon Icon="LucideIcon.Info" />
                                            </HxPopover>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <InputSelect class="form-select form-select-sm" @bind-Value="Modal.Step.DuplicateExecutionBehaviour" style="max-width: 8rem;">
                                            @foreach (var type in Enum.GetValues<DuplicateExecutionBehaviour>())
                                            {
                                                <option>@type</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                                        <label class="form-label mb-lg-0">Retries</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-text">
                                                <SvgIcon Icon="LucideIcon.Repeat" />
                                                &nbsp;
                                                Attempts
                                            </div>
                                            <InputNumber class="form-control form-control-sm" @bind-Value="Modal.Step.RetryAttempts" style="max-width: 5rem;"></InputNumber>
                                            <div class="input-group-text">
                                                <SvgIcon Icon="LucideIcon.Clock" />
                                                &nbsp;
                                                Interval (min)
                                            </div>
                                            <InputNumber class="form-control form-control-sm" @bind-Value="Modal.Step.RetryIntervalMinutes" style="max-width: 5rem;"></InputNumber>
                                        </div>
                                    </div>
                                </div>

                                <CascadingValue Value="_fluentStepParametersValidator" Name="StepParametersValidator">
                                    <div class="row">
                                        <div class="col">
                                            @ChildContent
                                        </div>
                                    </div>
                                </CascadingValue>
                                
                            }
                            else if (Modal.CurrentView == StepEditModalView.Sources)
                            {
                                <div class="row">
                                    <div class="col">
                                        <DataObjectsEditor
                                            ReferenceType="DataObjectReferenceType.Source"
                                            Step="Modal.Step"
                                            Connection="Connection"
                                            SqlConnections="Modal.SqlConnections"
                                            AsConnections="Modal.AsConnections"
                                            AzureCredentials="Modal.AzureCredentials"
                                            QlikClients="Modal.QlikClients"
                                            LoadAllDataObjects="Modal.GetDataObjectsAsync" />
                                    </div>
                                </div>
                            
                            }
                            else if (Modal.CurrentView == StepEditModalView.Targets)
                            {
                                <div class="row">
                                    <div class="col">
                                        <DataObjectsEditor
                                            ReferenceType="DataObjectReferenceType.Target"
                                            Step="Modal.Step"
                                            Connection="Connection"
                                            SqlConnections="Modal.SqlConnections"
                                            AsConnections="Modal.AsConnections"
                                            AzureCredentials="Modal.AzureCredentials"
                                            QlikClients="Modal.QlikClients"
                                            LoadAllDataObjects="Modal.GetDataObjectsAsync" />
                                    </div>
                                </div>
                            }
                            else if (Modal.CurrentView == StepEditModalView.Condition)
                            {
                                <div class="row">
                                    <div class="col">
                                        <ExecutionConditionEditor Step="Modal.Step" OnExecutionConditionChanged="StateHasChanged" />
                                    </div>
                                </div>
                            }
                        </CascadingValue>
                    </EditForm>
                </div>
            </div>
            <SqlReferenceExplorerOffcanvas @ref="_sqlReferenceOffcanvas" Connections="Modal.MsSqlConnections" />
            <SqlDefinitionExplorerOffcanvas @ref="_sqlDefinitionOffcanvas" Connections="Modal.SqlConnections" />
        }
        else
        {
            <div class="row mt-5 mb-4">
                <div class="col text-center">
                    <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Regular" />
                </div>
            </div>
        }
    </BodyTemplate>

    <FooterTemplate>
        <HxButtonGroup Size="ButtonGroupSize.Small" CssClass="me-auto">
            <HxButton CssClass="btn-auto" Size="ButtonSize.Small" title="Explore database module definitions (e.g. stored procedures)"
                      @onclick="async () => await _sqlDefinitionOffcanvas.LetAsync(x => x.ShowAsync(Connection?.ConnectionId, SqlStatement))">
                <SvgIcon Icon="LucideIcon.Ellipsis" />
                SQL definition explorer
            </HxButton>
            <HxButton CssClass="btn-auto" Size="ButtonSize.Small" title="Explore references between database objects"
                      @onclick="async () => await _sqlReferenceOffcanvas.LetAsync(x => x.ShowAsync(Connection?.ConnectionId, SqlStatement))">
                <SvgIcon Icon="LucideIcon.Ellipsis" />
                SQL reference explorer
            </HxButton>
        </HxButtonGroup>

        @if (_validationErrors.Any())
        {
            var errors = string.Join("<br />", _validationErrors.Select(e => $"- {e}"));
            <div class="me-auto ms-3">
                <HxPopover Content="@errors" Html Trigger="PopoverTrigger.Hover" Placement="PopoverPlacement.Top">
                    <span class="border border-danger text-danger small rounded py-1 px-2">
                        <SvgIcon Icon="LucideIcon.OctagonAlert" />
                        Validation errors
                    </span>
                </HxPopover>
            </div>
        }

        <HxSubmit FormId="@Modal.FormId" Color="ThemeColor.Success" Spinner="Modal.Saving" Enabled="!Modal.Saving">
            Save
        </HxSubmit>
        
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await Modal.Modal.LetAsync(x => x.HideAsync())">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public StepEditModal<TStep>? Modal { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private FluentValidationValidator? _fluentStepValidator;
    private FluentValidationValidator? _fluentStepParametersValidator;
    private SqlReferenceExplorerOffcanvas? _sqlReferenceOffcanvas;
    private SqlDefinitionExplorerOffcanvas? _sqlDefinitionOffcanvas;
    private EditForm? _editForm;
    private IEnumerable<string> _validationErrors = [];

    private string? SqlStatement => Modal?.Step switch
    {
        SqlStep sql => sql.SqlStatement,
        _ => null
    };

    private SqlConnectionBase? Connection => Modal?.Step switch
    {
        IHasSqlConnection conn => Modal.SqlConnections.FirstOrDefault(c => c.ConnectionId == conn.ConnectionId),
        _ => null
    };

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await Js.InvokeAsync<bool>("confirm", "Discard unsaved changes?");
        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }

    private void OnValidationStateChanged(IEnumerable<string> errors)
    {
        _validationErrors = errors;
        StateHasChanged();
    }

    private void OnClosed()
    {
        ArgumentNullException.ThrowIfNull(Modal);
        _validationErrors = [];
        Modal.OnClosed();
    }

    private async Task SubmitAsync()
    {
        ArgumentNullException.ThrowIfNull(Modal);
        ArgumentNullException.ThrowIfNull(_fluentStepValidator);
        await StepValidator.WaitForValidateAsync();
        if (_editForm!.EditContext!.GetValidationMessages().Any())
        {
            return;
        }
        await Modal.SubmitStepAsync();
    }

    private const string DuplicateBehaviourPopoverContent =
        "<p>Behaviour when the same step is detected to be running under a different execution at the same time it is orchestrated to start</p>" +
        "<p><strong>Wait</strong> => Wait for the duplicate execution to complete before the step is started</p>" +
        "<p><strong>Allow</strong> => Allow duplicate executions and start the step regardless of duplicates</p>" +
        "<p><strong>Fail</strong> => Fail the step with 'Duplicate' status in case duplicates are detected</p>";
}