@typeparam TStep where TStep : Step 

@inject SqlServerHelperService SqlServerHelper
@inject IJSRuntime JS

@*Set pt-0 for modal body (BodyCssClass). The DependenciesEditComponent has a sticky-top element that should be placed at the top without any padding*@
<HxModal @ref="Modal.Modal"
         Size="ModalSize.Large"
         Scrollable="true"
         BodyCssClass="pt-0"
         OnClosed="Modal.OnClosed"
         Fullscreen="Fullscreen ? ModalFullscreen.Always : ModalFullscreen.LargeDown"
         Title="@(Modal.Step?.StepId == Guid.Empty ? "New step" : "Edit " + Modal.Step?.StepName)">
    <BodyTemplate>
        @if (Modal.Step is not null)
        {
            <div class="row mt-3">
                <div class="col mx-3">
                    <EditForm id="@Modal.FormId" Model="Modal.Step" OnValidSubmit="Modal.SubmitStep">
                        <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
                        <div class="row">
                            <div class="col">
                                <HxButtonGroup Size="ButtonGroupSize.Small">
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                              CssClass="@(Modal.CurrentView == StepEditModalView.Settings ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Settings">
                                        <CxIcon Icon="FeatherIcon.Settings" />
                                        Settings
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                              CssClass="@(Modal.CurrentView == StepEditModalView.Targets ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Targets">
                                        <CxIcon Icon="FeatherIcon.Download" />
                                        Targets
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                              CssClass="@(Modal.CurrentView == StepEditModalView.Sources ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Sources">
                                        <CxIcon Icon="FeatherIcon.Share" />
                                        Sources
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                              CssClass="@(Modal.CurrentView == StepEditModalView.Dependencies ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Dependencies">
                                        <CxIcon Icon="LucideIcon.Network" />
                                        Dependencies
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                              CssClass="@(Modal.CurrentView == StepEditModalView.Condition ? "active" : null)"
                                              @onclick="() => Modal.CurrentView = StepEditModalView.Condition">
                                        <CxIcon Icon="FeatherIcon.CheckSquare" />
                                        Condition
                                    </HxButton>
                                </HxButtonGroup>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                      @onclick="async () => await SqlDefinitionOffcanvas.LetAsync(x => x.ShowAsync(ConnectionId, SqlStatement))">
                                    <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                                    Definition explorer
                                </HxButton>
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                            @onclick="async () => await SqlReferenceOffcanvas.LetAsync(x => x.ShowAsync(ConnectionId, SqlStatement))">
                                    <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                                    Reference explorer
                                </HxButton>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <ObjectGraphDataAnnotationsValidator />
                                <ValidationSummary />
                                @if (!string.IsNullOrEmpty(Modal.StepError))
                                {
                                    <p class="text-danger">@Modal.StepError</p>
                                }
                            </div>
                        </div>

                        @if (Modal.CurrentView == StepEditModalView.Dependencies)
                        {
                            @if (Modal.Steps is not null)
                            {
                                <div class="row">
                                    <div class="@(Fullscreen ? "col-xl-6" : "col")">
                                        <DependenciesEditComponent Step="Modal.Step" Steps="Modal.Steps" Job="Modal.Job" />
                                    </div>
                                </div>
                            }
                        }
                        else if (Modal.CurrentView == StepEditModalView.Settings)
                        {
                            <div class="row">
                                <div class="@(Fullscreen ? "col-xl-6" : "col-12")">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Step name</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-text">
                                                    <CxIcon Icon="FeatherIcon.Edit3" />
                                                </div>
                                                <InputText class="form-control form-control-sm" @bind-Value="Modal.Step.StepName"></InputText>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label class="form-label">Description</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-text">
                                                    <CxIcon Icon="FeatherIcon.BookOpen" />
                                                </div>
                                                <InputTextArea class="form-control form-control-sm" @bind-Value="Modal.Step.StepDescription" rows="3"></InputTextArea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label class="form-label">Tags</label>
                                            <HxInputTags @bind-Value="Modal.Tags"
                                                         DataProvider="Modal.GetTagSuggestions"
                                                         SuggestMinimumLength="0"
                                                         SuggestDelay="0"
                                                         TagBadgeSettings="new BadgeSettings() { Color = ThemeColor.Secondary }" />
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <label class="form-label">Execution phase</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-text">
                                                    <CxIcon Icon="FeatherIcon.Layers" />
                                                </div>
                                                <InputNumber class="form-control form-control-sm" @bind-Value="Modal.Step.ExecutionPhase"></InputNumber>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Retry attempts</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-text">
                                                    <CxIcon Icon="FeatherIcon.Repeat" />
                                                </div>
                                                <InputNumber class="form-control form-control-sm" @bind-Value="Modal.Step.RetryAttempts"></InputNumber>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Retry interval (min)</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-text">
                                                    <CxIcon Icon="FeatherIcon.Clock" />
                                                </div>
                                                <InputNumber class="form-control form-control-sm" @bind-Value="Modal.Step.RetryIntervalMinutes"></InputNumber>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="@(Fullscreen ? "col-xl-6 mt-2 mt-xl-0" : "col-12 mt-2")">
                                    @ChildContent
                                </div>
                            </div>
                        }
                        else if (Modal.CurrentView == StepEditModalView.Sources)
                        {
                            <div class="row">
                                <div class="col">
                                    <DataObjectManagementComponent
                                    ListName="source"
                                    StepType="Modal.Step.StepType"
                                    DataObjects="Modal.Step.Sources"
                                    ComparisonObjects="Modal.Step.Targets"
                                    ConnectionId="ConnectionId"
                                    Connections="Modal.Connections"
                                    SqlStatement="@SqlStatement"
                                    GetMappingResult="dbObject => dbObject.SourceMappingResult"
                                    LoadDataObjectDependencies="SqlServerHelper.GetSourceObjectsAsync"
                                    LoadAllDataObjects="Modal.GetDataObjectsAsync"
                                    AddButtonText="Add source"
                                    NoDataObjectsText="No sources" />
                                </div>
                            </div>
                            
                        }
                        else if (Modal.CurrentView == StepEditModalView.Targets)
                        {
                            <div class="row">
                                <div class="col">
                                    <DataObjectManagementComponent
                                    ListName="target"
                                    StepType="Modal.Step.StepType"
                                    DataObjects="Modal.Step.Targets"
                                    ComparisonObjects="Modal.Step.Sources"
                                    ConnectionId="ConnectionId"
                                    Connections="Modal.Connections"
                                    SqlStatement="@SqlStatement"
                                    GetMappingResult="dbObject => dbObject.TargetMappingResult"
                                    LoadDataObjectDependencies="SqlServerHelper.GetTargetObjectsAsync"
                                    LoadAllDataObjects="Modal.GetDataObjectsAsync"
                                    AddButtonText="Add target"
                                    NoDataObjectsText="No targets" />
                                </div>
                            </div>
                        }
                        else if (Modal.CurrentView == StepEditModalView.Condition)
                        {
                            <div class="row">
                                <div class="col">
                                    <ExecutionConditionEditComponent Step="Modal.Step" JobParameters="Modal.Job?.JobParameters" />
                                </div>
                            </div>
                        }
                    </EditForm>
                </div>
            </div>
            <SqlReferenceExplorerOffcanvas @ref="SqlReferenceOffcanvas" Connections="Modal.Connections" />
            <SqlDefinitionExplorerOffcanvas @ref="SqlDefinitionOffcanvas" Connections="Modal.Connections" />
        }

    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" @onclick="ToggleFullscreen" CssClass="me-auto" title="@(Fullscreen ? "Windowed" : "Fullscreen")">
            @if (Fullscreen)
            {
                <CxIcon Icon="FeatherIcon.Minimize" />
            }
            else
            {
                <CxIcon Icon="FeatherIcon.Maximize" />
            }
        </HxButton>
        
        <HxSubmit FormId="@Modal.FormId" Color="ThemeColor.Success">
            @(Modal.Step?.StepId == Guid.Empty ? "Create" : "Save")
        </HxSubmit>
        
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await Modal.Modal.LetAsync(x => x.HideAsync())">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public StepEditModal<TStep> Modal { get; set; } = null!;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private SqlReferenceExplorerOffcanvas? SqlReferenceOffcanvas { get; set; }

    private SqlDefinitionExplorerOffcanvas? SqlDefinitionOffcanvas { get; set; }

    private bool Fullscreen { get; set; } = false;

    private void ToggleFullscreen() => Fullscreen = !Fullscreen;

    private string? SqlStatement => Modal?.Step switch
    {
        SqlStep sql => sql.SqlStatement,
        _ => null
    };

    private Guid? ConnectionId => Modal?.Step switch
    {
        SqlStep sql => sql.ConnectionId,
        AgentJobStep agent => agent.ConnectionId,
        PackageStep package => package.ConnectionId,
        _ => null
    };

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Discard unsaved changes?");
        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }
}