@page
@model EtlManager.Pages.PasswordModel
@{
    ViewData["Title"] = "Password";
}

<h3>Account</h3>
<hr />
<div class="row">
    <div class="col-md-5">
        <h4>@Model.Username</h4>

        <ul class="nav nav-tabs mt-3" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" asp-page="./Email">Email</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" asp-page="./Password">Password</a>
            </li>
        </ul>

        <section class="mt-4">
            <form method="post" asp-page-handler="ChangePassword" role="form" class="form-horizontal">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.ValidationMessage("MatchError", "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </form>
            @if (Model.Success)
            {
                <div class="alert alert-success" role="alert">Password updated successfully!</div>
            }
        </section>


    </div>
</div> 