@page
@model EtlManager.Pages.Account.SubscriptionsModel
@{
    ViewData["Title"] = "Subscriptions";
}


<h3>Account</h3>
<hr />
<div class="row">
    <div class="col-md-5">
        <h4>@Model.User_.Username</h4>

        <partial name="_AccountNavigationPartial" />

        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>
                        Job
                    </th>
                    <th>
                        Subscribed
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Model.Jobs)
                {
                    <tr>
                        <td>
                            @job.JobName
                        </td>
                        <td>
                            @{ bool toggled = Model.User_.Subscriptions.Select(s => s.JobId).Contains(job.JobId); }
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="@job.JobId" asp-for="@toggled" onchange="toggleSubscribed(this, '@job.JobId')">
                                <label class="custom-control-label" style="cursor: pointer;" for="@job.JobId"></label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function toggleSubscribed(elem, jobId) {
            $.ajax({
                url: "./Subscriptions?handler=ToggleSubscribed",
                method: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {
                    id: jobId
                },
                success: function (response) {
                    if (!response.success) {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("AJAX error, try logging in again");
                }
            });
        }

    </script>
}