@inject ToasterService Toaster
@inject IMediator Mediator

<div class="row">
    <div class="col">
        <HxButton Color="ThemeColor.Success" OnClick="() => selectJobTagOffcanvas.LetAsync(x => x.ShowAsync())">
            Add subscription
        </HxButton>
    </div>
</div>

<div class="card shadow-sm mt-3">
    <div class="card-body px-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Job
                    </th>
                    <th>
                        Tag
                    </th>
                    <th>
                        Alert
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (User is null || Jobs is null || Steps is null || Tags is null)
                {
                    <tr><td colspan="4" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
                }
                else
                {
                    var subscriptions = User.Subscriptions
                        .OfType<JobTagSubscription>()
                        .Select(sub =>
                        {
                            var tag = Tags.FirstOrDefault(s => s.TagId == sub.TagId);
                            var job = Jobs.FirstOrDefault(j => j.JobId == sub?.JobId);
                            return (sub, job, tag);
                        })
                        .OrderBy(s => s.job?.JobName)
                        .ThenBy(s => s.tag?.TagName);
                    @if (!subscriptions.Any())
                    {
                        <tr>
                            <td colspan="3">No job-tag subscriptions</td>
                        </tr>
                    }
                    foreach (var (sub, job, tag) in subscriptions)
                    {
                        <tr>
                            <td>
                                @job?.JobName
                            </td>
                            <td>
                                <TagBadge Tag="tag" />
                            </td>
                            <td>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_failure")"
                                               checked=@(sub.AlertType == AlertType.OnFailure)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnFailure)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_failure")">On failure</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_success")"
                                               checked=@(sub.AlertType == AlertType.OnSuccess)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnSuccess)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_success")">On success</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_completion")"
                                               checked=@(sub.AlertType == AlertType.OnCompletion)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnCompletion)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_completion")">On completion</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <HxButton Color="ThemeColor.None" Size="ButtonSize.Small" CssClass="btn-auto" title="Remove subscription" OnClick="() => RemoveSubscriptionAsync(sub)">
                                    <SvgIcon Icon="FeatherIcon.Delete" />
                                </HxButton>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<HxOffcanvas @ref="selectJobTagOffcanvas" Title="Select tags" Backdrop="OffcanvasBackdrop.False">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Search" />
                    </div>
                    <input type="search" class="form-control form-control-sm" placeholder="Search jobs" @bind-value="jobSearchTerm" @bind-value:event="oninput" />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="list-group">
                    @if (Tags is not null && Jobs is not null && Steps is not null)
                    {
                        var jobs = Jobs
                            .Where(j => string.IsNullOrEmpty(jobSearchTerm) || j.JobName.ContainsIgnoreCase(jobSearchTerm))
                            .OrderBy(j => j.JobName)
                            .Select(j =>
                            {
                                var expanded = jobExpandState.GetValueOrDefault(j.JobId);
                                var tags = Steps
                                    .Where(s => s.JobId == j.JobId)
                                    .SelectMany(s => s.Tags)
                                    .DistinctBy(t => t.TagId)
                                    .Where(t => !Subscriptions.Any(sub => t.TagId == sub.TagId && sub.JobId == j.JobId))
                                    .Order()
                                    .ToArray();
                                return (j, expanded, tags);
                            })
                            .Where(j => j.tags.Length > 0);
                        @foreach (var (job, expanded, tags) in jobs)
                        {
                            <div class="list-group-item" style="cursor: pointer;" @onclick="() => jobExpandState[job.JobId] = !expanded">
                                <h6>
                                    @if (expanded)
                                    {
                                        <SvgIcon Icon="FeatherIcon.ChevronDown" />
                                    }
                                    else
                                    {
                                        <SvgIcon Icon="FeatherIcon.ChevronRight" />
                                    }
                                    <HighlightableText Text="@job.JobName" PartToHighlight="@jobSearchTerm" />
                                </h6>
                            </div>
                            @if (expanded)
                            {
                                <div class="ps-5 list-group-item d-flex flex-wrap">
                                    @if (!tags.Any())
                                    {
                                        <span class="text-muted m-2">No tags available</span>
                                    }
                                    @foreach (var tag in tags)
                                    {
                                        <TagBadge Tag="tag" CssClass="m-2" OnClick="() => AddSubscriptionAsync(job.JobId, tag.TagId)" style="cursor: pointer;" />
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="() => selectJobTagOffcanvas.LetAsync(x => x.HideAsync())" Spinner="false">
            Close
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter]
    public User? User { get; set; }

    [Parameter]
    public IEnumerable<JobProjection>? Jobs { get; set; }

    [Parameter]
    public IEnumerable<StepProjection>? Steps { get; set; }

    [Parameter]
    public IEnumerable<StepTag>? Tags { get; set; }

    [Parameter]
    public EventCallback OnSubscriptionCountChanged { get; set; }

    private readonly Dictionary<Guid, bool> jobExpandState = [];
    
    private HxOffcanvas? selectJobTagOffcanvas;
    private string jobSearchTerm = "";

    private IEnumerable<JobTagSubscription> Subscriptions =>
        User?.Subscriptions.OfType<JobTagSubscription>() ?? Enumerable.Empty<JobTagSubscription>();

    private async Task AddSubscriptionAsync(Guid jobId, Guid tagId)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(User);
            var subscription = new JobTagSubscription(User.UserId, jobId, tagId);
            await Mediator.SendAsync(new CreateSubscriptionCommand(subscription));
            User.Subscriptions.Add(subscription);
            await OnSubscriptionCountChanged.InvokeAsync();
        }
        catch
        {
            Toaster.AddError("Error", "Error adding subscription");
        }
    }

    private async Task ToggleSubscription(JobTagSubscription subscription, AlertType alert)
    {
        try
        {
            subscription.AlertType = alert;
            await Mediator.SendAsync(new UpdateSubscriptionCommand(subscription));
        }
        catch (Exception)
        {
            Toaster.AddError("Error", "Error toggling subscription");
        }
    }

    private async Task RemoveSubscriptionAsync(Subscription subscription)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(User);
            await Mediator.SendAsync(new DeleteSubscriptionCommand(subscription.SubscriptionId));
            User.Subscriptions.Remove(subscription);
            await OnSubscriptionCountChanged.InvokeAsync();
        }
        catch (Exception)
        {
            Toaster.AddError("Error", "Error removing subscription");
        }
    }
}
