@inject IHxMessengerService Messenger
@inject IDbContextFactory<AppDbContext> DbContextFactory

<div class="row">
    <div class="col">
        <HxButton Color="ThemeColor.Success" OnClick="() => selectStepOffcanvas.LetAsync(x => x.ShowAsync())">
            Add subscription
        </HxButton>
    </div>
</div>

<div class="card shadow-sm mt-3">
    <div class="card-body px-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Job
                    </th>
                    <th>
                        Step
                    </th>
                    <th>
                        Alert
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (User is null || Jobs is null || Steps is null)
                {
                    <tr><td colspan="4" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
                }
                else
                {
                    var subscriptions = User.Subscriptions
                        .OfType<StepSubscription>()
                        .Select(sub =>
                        {
                            var step = Steps.FirstOrDefault(s => s.StepId == sub.StepId);
                            var job = Jobs.FirstOrDefault(j => j.JobId == step?.JobId);
                            return (sub, job, step);
                        })
                        .OrderBy(s => s.job?.JobName)
                        .ThenBy(s => s.step?.StepName);
                    @if (!subscriptions.Any())
                    {
                        <tr>
                            <td colspan="3">No step subscriptions</td>
                        </tr>
                    }
                    foreach (var (sub, job, step) in subscriptions)
                    {
                        <tr>
                            <td>
                                @job?.JobName
                            </td>
                            <td>
                                <StepTypeIconComponent StepType_="@step?.StepType" />
                                @step?.StepName
                            </td>
                            <td>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_failure")"
                                               checked=@(sub.AlertType == AlertType.OnFailure)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnFailure)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_failure")">On failure</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_success")"
                                               checked=@(sub.AlertType == AlertType.OnSuccess)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnSuccess)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_success")">On success</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_completion")"
                                               checked=@(sub.AlertType == AlertType.OnCompletion)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnCompletion)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_completion")">On completion</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <HxButton Color="ThemeColor.None" Size="ButtonSize.Small" CssClass="btn-auto" title="Remove subscription" OnClick="() => RemoveSubscriptionAsync(sub)">
                                    <CxIcon Icon="FeatherIcon.Delete" />
                                </HxButton>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<HxOffcanvas @ref="selectStepOffcanvas" Title="Select step" Backdrop="OffcanvasBackdrop.False">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Search" />
                    </div>
                    <input type="search" class="form-control form-control-sm" placeholder="Search steps" @bind-value="stepSearchTerm" @bind-value:event="oninput" />
                </div>
            </div>
            <div class="col-auto">
                <FilterDropdown FilterSet="stepTypeFilter" Items="Steps?.Select(s => s.StepType).Distinct()" OnChange="StateHasChanged">
                    <TitleTemplate>
                        <CxIcon Icon="FeatherIcon.Tool" />
                        Step type
                    </TitleTemplate>
                    <ItemTemplate Context="item">
                        <StepTypeIconComponent StepType_="item" />
                        @item.ToString()
                    </ItemTemplate>
                </FilterDropdown>
            </div>
        </div>
        <div class="row mt-3" style="height: calc(100vh - 210px); overflow-y: scroll;">
            <div class="col">
                <div class="list-group">
                    @if (Steps is not null && Jobs is not null)
                    {
                        @foreach (var job in Jobs.OrderBy(j => j.JobName))
                        {
                            var expanded = jobExpandState.GetValueOrDefault(job.JobId);
                            <div class="list-group-item" style="cursor: pointer;" @onclick="() => jobExpandState[job.JobId] = !expanded">
                                <h6>
                                    @if (expanded)
                                    {
                                        <CxIcon Icon="FeatherIcon.ChevronDown" />
                                    }
                                    else
                                    {
                                        <CxIcon Icon="FeatherIcon.ChevronRight" />
                                    }
                                    @job.JobName
                                </h6>
                            </div>
                            @if (expanded)
                            {
                                var steps = Steps
                                    .Where(s => s.JobId == job.JobId)
                                    .ToArray();
                                IComparer<StepProjection> comparer = job.UseDependencyMode switch
                                {
                                    true => new TopologicalStepProjectionComparer(steps),
                                    false => Comparer<StepProjection>.Default
                                };
                                var availableSteps = steps
                                    .Where(s => !Subscriptions.Any(sub => s.StepId == sub.StepId))
                                    .Where(s => string.IsNullOrEmpty(stepSearchTerm) || (s.StepName?.ContainsIgnoreCase(stepSearchTerm) ?? false))
                                    .Where(s => !stepTypeFilter.Any() || stepTypeFilter.Contains(s.StepType))
                                    .OrderBy(s => s, comparer)
                                    .ToArray();
                                @if (!availableSteps.Any())
                                {
                                    <div class="ps-5 list-group-item text-muted">
                                        No steps available
                                    </div>
                                }
                                @foreach (var step in availableSteps)
                                {
                                    <div class="ps-5 list-group-item list-group-item-action" @onclick="() => AddSubscriptionAsync(step.StepId)" style="cursor: pointer;">
                                        <StepTypeIconComponent StepType_="step.StepType" />
                                        <HighlightableText Text="@step.StepName" PartToHighlight="@stepSearchTerm" />
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="() => selectStepOffcanvas.LetAsync(x => x.HideAsync())" Spinner="false">
            Close
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter]
    public User? User { get; set; }

    [Parameter]
    public IEnumerable<StepProjection>? Steps { get; set; }

    [Parameter]
    public IEnumerable<JobProjection>? Jobs { get; set; }

    [Parameter]
    public EventCallback OnSubscriptionCountChanged { get; set; }

    private readonly HashSet<StepType> stepTypeFilter = [];
    private readonly Dictionary<Guid, bool> jobExpandState = [];

    private HxOffcanvas? selectStepOffcanvas;
    private string stepSearchTerm = "";

    private IEnumerable<StepSubscription> Subscriptions =>
        User?.Subscriptions.OfType<StepSubscription>() ?? Enumerable.Empty<StepSubscription>();

    private async Task AddSubscriptionAsync(Guid stepId)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(User);
            var subscription = new StepSubscription(User.UserId, stepId);
            await using var context = await DbContextFactory.CreateDbContextAsync();
            context.Subscriptions.Add(subscription);
            await context.SaveChangesAsync();
            User.Subscriptions.Add(subscription);
            await OnSubscriptionCountChanged.InvokeAsync();
        }
        catch
        {
            Messenger.AddError("Error", "Error adding subscription");
        }
    }

    private async Task ToggleSubscription(StepSubscription subscription, AlertType alert)
    {
        try
        {
            subscription.AlertType = alert;
            await using var context = await DbContextFactory.CreateDbContextAsync();
            await context.StepSubscriptions
                .Where(s => s.SubscriptionId == subscription.SubscriptionId)
                .ExecuteUpdateAsync(s => s.SetProperty(p => p.AlertType, alert));
        }
        catch (Exception)
        {
            Messenger.AddError("Error", "Error toggling subscription");
        }
    }

    private async Task RemoveSubscriptionAsync(Subscription subscription)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(User);
            await using var context = await DbContextFactory.CreateDbContextAsync();
            await context.Subscriptions
                .Where(s => s.SubscriptionId == subscription.SubscriptionId)
                .ExecuteDeleteAsync();
            User.Subscriptions.Remove(subscription);
            await OnSubscriptionCountChanged.InvokeAsync();
        }
        catch (Exception)
        {
            Messenger.AddError("Error", "Error removing subscription");
        }
    }
}
