@inject IHxMessengerService Messenger
@inject IDbContextFactory<AppDbContext> DbContextFactory

<div class="row">
    <div class="col">
        <HxButton Color="ThemeColor.Success" OnClick="() => selectTagOffcanvas.LetAsync(x => x.ShowAsync())">
            Add subscription
        </HxButton>
    </div>
</div>

<div class="card shadow-sm mt-3">
    <div class="card-body px-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Tag
                    </th>
                    <th>
                        Alert
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (User is null || Tags is null)
                {
                    <tr><td colspan="3" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
                }
                else
                {
                    var subscriptions = User.Subscriptions
                        .OfType<TagSubscription>()
                        .Select(s => (Subscription: s, Tag: Tags.FirstOrDefault(t => t.TagId == s.TagId)))
                        .OrderBy(s => s.Tag?.TagName);
                    @if (!subscriptions.Any())
                    {
                        <tr>
                            <td colspan="3">No tag subscriptions</td>
                        </tr>
                    }
                    foreach (var (sub, tag) in subscriptions)
                    {
                        <tr>
                            <td>
                                <TagBadge Tag="tag" />
                            </td>
                            <td>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_failure")"
                                               checked=@(sub.AlertType == AlertType.OnFailure)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnFailure)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_failure")">On failure</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_success")"
                                               checked=@(sub.AlertType == AlertType.OnSuccess)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnSuccess)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_success")">On success</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="@(sub.SubscriptionId.ToString() + "_completion")"
                                               checked=@(sub.AlertType == AlertType.OnCompletion)
                                        @onchange="() => ToggleSubscription(sub, AlertType.OnCompletion)">
                                        <label class="form-check-label" for="@(sub.SubscriptionId.ToString() + "_completion")">On completion</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <HxButton Color="ThemeColor.None" Size="ButtonSize.Small" CssClass="btn-auto" title="Remove subscription" OnClick="() => RemoveSubscriptionAsync(sub)">
                                    <CxIcon Icon="FeatherIcon.Delete" />
                                </HxButton>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<HxOffcanvas @ref="selectTagOffcanvas" Title="Select tag" Backdrop="OffcanvasBackdrop.False">
    <BodyTemplate>
        <div class="row">
            <div class="col d-flex flex-wrap">
                @{
                    var tags = Tags
                        ?.Where(t => !Subscriptions.Any(s => t.TagId == s.TagId))
                        .OrderBy(t => t.TagName)
                        .ToArray()
                        ?? Array.Empty<Tag>();
                }
                @if (!tags.Any())
                {
                    <span class="text-muted m-2">No tags available</span>
                }
                @foreach (var tag in tags)
                {
                    <TagBadge Tag="tag" CssClass="m-2" OnClick="() => AddSubscriptionAsync(tag.TagId)" style="cursor: pointer;" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="() => selectTagOffcanvas.LetAsync(x => x.HideAsync())" Spinner="false">
            Close
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter]
    public User? User { get; set; }

    [Parameter]
    public IEnumerable<Tag>? Tags { get; set; }

    [Parameter]
    public EventCallback OnSubscriptionCountChanged { get; set; }

    private HxOffcanvas? selectTagOffcanvas;

    private IEnumerable<TagSubscription> Subscriptions =>
        User?.Subscriptions.OfType<TagSubscription>() ?? Enumerable.Empty<TagSubscription>();

    private async Task AddSubscriptionAsync(Guid tagId)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(User);
            var subscription = new TagSubscription(User.UserId, tagId);
            await using var context = await DbContextFactory.CreateDbContextAsync();
            context.Subscriptions.Add(subscription);
            await context.SaveChangesAsync();
            User.Subscriptions.Add(subscription);
            await OnSubscriptionCountChanged.InvokeAsync();
        }
        catch
        {
            Messenger.AddError("Error", "Error adding subscription");
        }
    }

    private async Task ToggleSubscription(TagSubscription subscription, AlertType alert)
    {
        try
        {
            subscription.AlertType = alert;
            await using var context = await DbContextFactory.CreateDbContextAsync();
            await context.TagSubscriptions
                .Where(s => s.SubscriptionId == subscription.SubscriptionId)
                .ExecuteUpdateAsync(s => s.SetProperty(p => p.AlertType, alert));
        }
        catch (Exception)
        {
            Messenger.AddError("Error", "Error toggling subscription");
        }
    }

    private async Task RemoveSubscriptionAsync(Subscription subscription)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(User);
            await using var context = await DbContextFactory.CreateDbContextAsync();
            await context.Subscriptions
                .Where(s => s.SubscriptionId == subscription.SubscriptionId)
                .ExecuteDeleteAsync();
            User.Subscriptions.Remove(subscription);
            await OnSubscriptionCountChanged.InvokeAsync();
        }
        catch (Exception)
        {
            Messenger.AddError("Error", "Error removing subscription");
        }
    }
}
