@inject IDbContextFactory<AppDbContext> DbFactory

<div class="row mt-4">
    <div class="col">
        @if (User is not null && string.IsNullOrWhiteSpace(User.Email))
        {
            <HxAlert Color="ThemeColor.Warning" CssClass="mb-3">
                @if (MissingEmailAlertTemplate is not null)
                {
                    @MissingEmailAlertTemplate(User)    
                }
                else
                {
                    <span>
                        Email address for account <strong>@User.Username</strong> was not set. Go to the <a class="alert-link" href="account">Account page</a> to enter a valid email address.
                    </span>
                }
            </HxAlert>
        }
        @{
            var (jobSubs, jobTagSubs, tagSubs, stepSubs) = (
                User?.Subscriptions.OfType<JobSubscription>().Count(),
                User?.Subscriptions.OfType<JobTagSubscription>().Count(),
                User?.Subscriptions.OfType<TagSubscription>().Count(),
                User?.Subscriptions.OfType<StepSubscription>().Count());
            string subCountClass(int? count) => count > 0 ? "bg-primary" : "bg-secondary";
        }
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <span class="nav-link @(showType == SubscriptionType.Job ? "active" : null)"
                        @onclick="() => showType = SubscriptionType.Job">
                            Job subscriptions
                            <span class="badge rounded-pill ms-3 @subCountClass(jobSubs)">
                                @jobSubs
                            </span>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link @(showType == SubscriptionType.JobTag ? "active" : null)"
                        @onclick="() => showType = SubscriptionType.JobTag">
                            Job-tag subscriptions
                            <span class="badge rounded-pill ms-3 @subCountClass(jobTagSubs)">
                                @jobTagSubs
                            </span>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link @(showType == SubscriptionType.Tag ? "active" : null)"
                        @onclick="() => showType = SubscriptionType.Tag">
                            Tag subscriptions
                            <span class="badge rounded-pill ms-3 @subCountClass(tagSubs)">
                                @tagSubs
                            </span>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link @(showType == SubscriptionType.Step ? "active" : null)"
                        @onclick="() => showType = SubscriptionType.Step">
                            Step subscriptions
                            <span class="badge rounded-pill ms-3 @subCountClass(stepSubs)">
                                @stepSubs
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        @if (showType == SubscriptionType.Job)
        {
            <JobSubscriptions User="User" Jobs="Jobs" OnSubscriptionCountChanged="StateHasChanged" />
        }
        else if (showType == SubscriptionType.JobTag)
        {
            <JobTagSubscriptions User="User" Jobs="Jobs" Steps="Steps" Tags="Tags" OnSubscriptionCountChanged="StateHasChanged" />
        }
        else if (showType == SubscriptionType.Tag)
        {
            <TagSubscriptions User="User" Tags="Tags" OnSubscriptionCountChanged="StateHasChanged" />
        }
        else if (showType == SubscriptionType.Step)
        {
            <StepSubscriptions User="User" Jobs="Jobs" Steps="Steps" OnSubscriptionCountChanged="StateHasChanged" />
        }
    </div>
</div>

@code {
    [Parameter]
    public User? User { get; set; }

    [Parameter]
    public IEnumerable<JobProjection>? Jobs { get; set; }

    [Parameter]
    public IEnumerable<StepTag>? Tags { get; set; }

    [Parameter]
    public IEnumerable<StepProjection>? Steps { get; set; }

    [Parameter]
    public RenderFragment<User>? MissingEmailAlertTemplate { get; set; }

    private SubscriptionType showType = SubscriptionType.Job;
}
