@page "/dataobjects"
@using Biflow.Ui.Mediator.Commands.DataObject

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Editor}")]

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ToasterService Toaster
@inject IMediator Mediator
@inject IHxMessageBoxService Confirmer

<PageTitle>Data objects | Biflow</PageTitle>

<h4>Data objects</h4>

<div class="row mt-3">
    <div class="col">
        <button class="btn btn-secondary" @onclick="OpenConfirmDeleteModalAsync">
            <SvgIcon Icon="LucideIcon.Trash2" />
            Delete unused...
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="input-group input-group-sm">
            <div class="input-group-text">
                <SvgIcon Icon="LucideIcon.Search" />
            </div>
            <input type="search" class="form-control" @bind-value="_searchTerm" @bind-value:event="oninput" placeholder="Search" style="max-width: 30rem;" />
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <div class="card">
            <div class="card-body px-0">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr>
                            <th>Uri</th>
                            <th>Max conc. writes</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_objects is null)
                        {
                            <tr>
                                <td colspan="8" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td>
                            </tr>
                        }
                        else if (!_objects.Any())
                        {
                            <tr>
                                <td colspan="8" class="px-3">No data objects</td>
                            </tr>
                        }
                        else
                        {
                            <Virtualize TItem="DataObject" Context="obj" SpacerElement="tr" Items="FilteredObjects.ToList()">
                                @{
                                    var readers = obj.Steps.Count(s => s.ReferenceType == DataObjectReferenceType.Source);
                                    var writers = obj.Steps.Count(s => s.ReferenceType == DataObjectReferenceType.Target);
                                }
                                <ContextMenuToggle ContainerHtmlTag="tr">
                                    <ChildContent>
                                        <td class="align-middle font-monospace"><HighlightableText Text="@obj.ObjectUri" PartToHighlight="@_searchTerm"/></td>
                                        <td class="align-middle">@obj.MaxConcurrentWrites</td>
                                        <td>
                                            <div class="btn-group">
                                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => _editOffcanvas.LetAsync(x => x.ShowAsync(obj.ObjectId))">
                                                    <SvgIcon Icon="LucideIcon.Pen"/>
                                                </HxButton>
                                                <HxDropdownButtonGroup>
                                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                                        <SvgIcon Icon="LucideIcon.Trash2"/>
                                                    </HxDropdownToggleButton>
                                                    <HxDropdownMenu>
                                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                                        <HxDropdownItem @onclick="async () => await DeleteDataObject(obj)">Confirm</HxDropdownItem>
                                                    </HxDropdownMenu>
                                                </HxDropdownButtonGroup>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <a class="text-body" href="javascript:void(0)"
                                               @onclick="async () => { _referenceType = DataObjectReferenceType.Source; _stepsModalDataObject = obj; await _referencesModal.LetAsync(x => x.ShowAsync()); }">
                                                @(readers > 0 ? $"{readers} reader(s)" : null)
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <a class="text-body" href="javascript:void(0)"
                                               @onclick="async () => { _referenceType = DataObjectReferenceType.Target; _stepsModalDataObject = obj; await _referencesModal.LetAsync(x => x.ShowAsync()); }">
                                                @(writers > 0 ? $"{writers} writer(s)" : null)
                                            </a>
                                        </td>
                                    </ChildContent>
                                    <MenuContent>
                                        <DropdownMenuItem @onclick="() => _editOffcanvas.LetAsync(x => x.ShowAsync(obj.ObjectId))">
                                            <SvgIcon Icon="LucideIcon.Pen" />
                                            Edit
                                        </DropdownMenuItem>
                                        <DropdownMenuItem @onclick="() => ConfirmAndDeleteDataObject(obj)">
                                            <SvgIcon Icon="LucideIcon.Trash2" />
                                            Delete...
                                        </DropdownMenuItem>
                                    </MenuContent>
                                </ContextMenuToggle>
                            </Virtualize>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<DataObjectEditOffcanvas @ref="_editOffcanvas" OnDataObjectSubmitted="OnDataObjectSubmitted" />

<HxModal @ref="_confirmDeleteModal" Size="ModalSize.ExtraLarge" Title="Delete data objects">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                Delete these unused data objects?
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Uri</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in UnusedObjects)
                        {
                            <tr>
                                <td class="font-monospace">
                                    @obj.ObjectUri
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _confirmDeleteModal.LetAsync(x => x.HideAsync())">Cancel</button>
        <button class="btn btn-danger" @onclick="DeleteUnusedDataObjectsAsync">Delete</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_referencesModal" Size="ModalSize.Large" Scrollable="true">
    <BodyTemplate>
        @{
            var title = _referenceType switch { DataObjectReferenceType.Source => "reading from", _ => "writing to" };
        }
        <div class="row">
            <div class="col">
                Steps @title <span class="font-monospace">@_stepsModalDataObject?.ObjectUri</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Step</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_stepsModalDataObject is not null)
                        {
                            @foreach (var reader in _stepsModalDataObject.Steps.Where(s => s.ReferenceType == _referenceType)
                                .OrderBy(r => r.Step.Job.JobName)
                                .ThenBy(r => r.Step.StepName))
                            {
                                <tr>
                                    <td class="align-middle">
                                        @reader.Step.Job.JobName
                                    </td>
                                    <td class="align-middle">
                                        <DisplayStepTypeIcon StepType="reader.Step.DisplayStepType" />
                                        &nbsp;
                                        @reader.Step.StepName
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-auto" @onclick="async () => await DeleteReferenceAsync(reader)">
                                                <SvgIcon Icon="LucideIcon.Delete" />
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _referencesModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private List<DataObject>? _objects;
    private DataObjectEditOffcanvas? _editOffcanvas;
    private HxModal? _confirmDeleteModal;
    private HxModal? _referencesModal;
    private DataObjectReferenceType _referenceType;
    private DataObject? _stepsModalDataObject;
    private string _searchTerm = string.Empty;

    private IEnumerable<DataObject> FilteredObjects =>
        _objects?
        .Where(o => !_searchTerm.Any() || o.ObjectUri.ContainsIgnoreCase(_searchTerm))
        .OrderBy(o => o.ObjectUri)
        ?? Enumerable.Empty<DataObject>();

    private IEnumerable<DataObject> UnusedObjects => _objects?.Where(t => !t.Steps.Any()) ?? [];

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        _objects = await context.DataObjects
            .Include(o => o.Steps)
            .ThenInclude(s => s.Step)
            .ThenInclude(s => s.Job)
            .ToListAsync();
    }

    private async Task OpenConfirmDeleteModalAsync()
    {
        if (!UnusedObjects.Any())
        {
            Toaster.AddInformation("No unused source or target objects");
            return;
        }

        await _confirmDeleteModal.LetAsync(x => x.ShowAsync());
    }

    private async Task DeleteUnusedDataObjectsAsync()
    {
        var response = await Mediator.SendAsync(new DeleteUnusedDataObjectsCommand());
        _objects?.RemoveAll(o => response.DeletedDataObjects.Any(r => r.ObjectId == o.ObjectId));
        await _confirmDeleteModal.LetAsync(x => x.HideAsync());
    }

    private async Task ConfirmAndDeleteDataObject(DataObject obj)
    {
        if (!await Confirmer.ConfirmAsync("Delete data object", $"Are you sure you want to delete\n \"{obj.ObjectUri}\"?"))
        {
            return;
        }
        await DeleteDataObject(obj);
    }

    private async Task DeleteDataObject(DataObject obj)
    {
        await Mediator.SendAsync(new DeleteDataObjectCommand(obj.ObjectId));
        _objects?.Remove(obj);
    }

    private async Task DeleteReferenceAsync(StepDataObject reference)
    {
        var command = new DeleteStepDataObjectCommand(reference.StepId, reference.ObjectId, reference.ReferenceType);
        await Mediator.SendAsync(command);
        reference.DataObject.Steps.Remove(reference);
        reference.Step.DataObjects.Remove(reference);
    }

    private void OnDataObjectSubmitted(DataObject dataObject)
    {
        var toRemove = _objects?.First(o => o.ObjectId == dataObject.ObjectId);
        if (toRemove is null) return;
        _objects?.Remove(toRemove);
        _objects?.Add(dataObject);
    }
}
