@inject IHxMessengerService Messenger
@inject IHttpContextAccessor HttpContextAccessor
@inject IExecutionBuilderFactory<AppDbContext> BuilderFactory
@inject IExecutorService Executor

<HxModal @ref="Modal" Fullscreen="ModalFullscreen.Always" Scrollable="true" Title="Execute steps"
         BodyCssClass="pt-0"
         OnClosed="OnClosed">

    <BodyTemplate>
        @if (Builder is not null)
        {
            var (stepsCount, stepParamsCount, jobParamsCount) = (
                Builder.StepExecutions.Count(),
                Builder.StepExecutions.Sum(e => e.Parameters.Count()),
                Builder.Parameters.Count());
            string badgeClass(int? count) => count > 0 ? "bg-primary" : "bg-secondary";
            <ul class="nav nav-tabs mt-2" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link @(ActiveView == View.Steps ? "active" : null)" @onclick="() => ActiveView = View.Steps" style="cursor: pointer;">
                        Steps
                        <span class="badge rounded-pill ms-3 @badgeClass(stepsCount)">
                            @stepsCount
                        </span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link @(ActiveView == View.StepParameters ? "active" : null)" @onclick="() => ActiveView = View.StepParameters" style="cursor: pointer;">
                        Step parameters
                        <span class="badge rounded-pill ms-3 @badgeClass(stepParamsCount)">
                            @stepParamsCount
                        </span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link @(ActiveView == View.JobParameters ? "active" : null)" @onclick="() => ActiveView = View.JobParameters" style="cursor: pointer;">
                        Job parameters
                        <span class="badge rounded-pill ms-3 @badgeClass(jobParamsCount)">
                            @jobParamsCount
                        </span>
                    </a>
                </li>
            </ul>

            @if (ActiveView == View.Steps)
            {
                <div class="row mt-3">
                    <span class="col fst-italic text-secondary small">Disabled steps, if selected, will be included in manual executions.</span>
                </div>

                <div class="row py-3">
                    <div class="row">
                        <div class="col">
                            <CxIcon Icon="FeatherIcon.Tag" />
                            <span class="me-3">Tags</span>
                            @if (!Tags.Any())
                            {
                                <small class="text-secondary me-2">No tags</small>
                            }
                            @foreach (var tag in Tags)
                            {
                                <TagComponent Tag="tag"
                                              Selected="ExecuteTagsFilterSet.Contains(tag)"
                                              CssClass="mx-1"
                                              Style="cursor: pointer;"
                                              OnClick="() => { if (ExecuteTagsFilterSet.Contains(tag)) ExecuteTagsFilterSet.Remove(tag); else ExecuteTagsFilterSet.Add(tag); }" />
                            }
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row">
                                <div class="col input-group input-group-sm">
                                    <div class="input-group-text">
                                        <CxIcon Icon="FeatherIcon.Filter" />
                                    </div>
                                    <input type="search" class="form-control" @bind-value="ExecuteFilterText" @bind-value:event="oninput"
                                           placeholder="Filter by name" autocomplete="off" />
                                </div>
                                <div class="col-auto">
                                    <FilterDropdown TItem="StepType"
                                                    FilterSet="StepTypeFilter"
                                                    Items="Builder.Steps.Select(s => s.StepType).Distinct().OrderBy(t => t) ?? Enumerable.Empty<StepType>()"
                                                    OnChange="StateHasChanged">
                                        <TitleTemplate>
                                            <CxIcon Icon="FeatherIcon.Tool" />
                                            Step type
                                        </TitleTemplate>
                                        <ItemTemplate Context="item">
                                            <StepTypeIconComponent StepType_="item" />
                                            @item.ToString()
                                        </ItemTemplate>
                                    </FilterDropdown>
                                </div>
                                <div class="col-auto">
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto"
                                    @onclick="() => { ExecuteTagsFilterSet.Clear(); StepTypeFilter.Clear(); ExecuteFilterText = string.Empty; }">
                                        <CxIcon Icon="FeatherIcon.X" />
                                        Clear
                                    </HxButton>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <HxButtonGroup>
                                @*Add all available AND enabled steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                @onclick="() => Builder.AddAll(s => s.IsEnabled && StepsAvailableToExecute.Any(available => s.StepId == available.StepId))">
                                    <CxIcon Icon="FeatherIcon.ChevronRight" />
                                    Select enabled
                                </HxButton>
                                @*Add all available steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                @onclick="() => Builder.AddAll(step => StepsAvailableToExecute.Any(available => step.StepId == available.StepId))">
                                    <CxIcon Icon="FeatherIcon.ChevronsRight" />
                                    Select all
                                </HxButton>
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" @onclick="() => Builder.Clear()">
                                    <CxIcon Icon="FeatherIcon.ChevronsLeft" />
                                    Deselect all
                                </HxButton>
                            </HxButtonGroup>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col">
                        <h6>Available steps</h6>
                        <div style="overflow-y: scroll; height: calc(100vh - 375px);">
                            <table class="table table-hover table-sm">
                                <tbody>
                                    @foreach (var step in StepsAvailableToExecute)
                                    {
                                        <tr style="cursor: pointer;">
                                            <td class="@(step.IsEnabled ? null : "text-secondary") align-middle" @onclick="() => step.AddToExecution()">
                                                <StepTypeIconComponent StepType_="@step.StepType" />
                                                &nbsp;
                                                <HighlightableText Text="@step.StepName" PartToHighlight="@ExecuteFilterText" />
                                            </td>
                                            <td class="text-end @(Builder.DependencyMode == true ? "text-body-tertiary" : null)" @onclick="() => step.AddToExecution()">
                                                @step.ExecutionPhase
                                                &nbsp;
                                                <CxIcon Icon="FeatherIcon.Layers" />
                                            </td>
                                            @if (Builder.DependencyMode == true)
                                            {
                                                <td class="text-end">
                                                    @if (step.HasDependencies)
                                                    {
                                                        <HxDropdown>
                                                            <HxDropdownToggleElement title="Include dependencies">
                                                                <CxIcon Icon="LucideIcon.Network" />
                                                            </HxDropdownToggleElement>
                                                            <HxDropdownMenu>
                                                                <HxDropdownHeader>Include dependencies (only enabled steps)</HxDropdownHeader>
                                                                <HxDropdownItem OnClick="() => step.AddWithDependencies(true)">On-success dependencies</HxDropdownItem>
                                                                <HxDropdownItem OnClick="() => step.AddWithDependencies(false)">All dependencies</HxDropdownItem>
                                                            </HxDropdownMenu>
                                                        </HxDropdown>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <h6>Selected steps</h6>
                        <div style="overflow-y: scroll; height: calc(100vh - 375px);">
                            <table class="table table-hover table-sm">
                                <tbody>
                                    @foreach (var step in Builder.StepExecutions)
                                    {
                                        <tr style="cursor: pointer;" @onclick="() => step.RemoveFromExecution()">
                                            <td>
                                                <StepTypeIconComponent StepType_="@step.StepType" />
                                                &nbsp;
                                                @step.StepName
                                            </td>
                                            <td class="text-end @(Builder.DependencyMode == true ? "text-body-tertiary" : null)">
                                                @step.ExecutionPhase
                                                &nbsp;
                                                <CxIcon Icon="FeatherIcon.Layers" />
                                            </td>
                                            <td class="text-end">
                                                @if (step.SupportsParameters && step.Parameters.Any())
                                                {
                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" title="Edit parameters"
                                                    @onclick="() => { ParameterEditStep = step; ActiveView = View.StepParameters; }">
                                                        <CxIcon Icon="FeatherIcon.AtSign" />
                                                    </HxButton>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            }
            else if (ActiveView == View.StepParameters)
            {
                <div class="row mt-3">
                    <div class="col-5">
                        <h6>
                            Selected steps
                            &nbsp;
                            <HxPopover Content="Only steps that have parameters are listed" Trigger="PopoverTrigger.Hover">
                                <CxIcon Icon="FeatherIcon.Info" />
                            </HxPopover>
                        </h6>
                        <div style="overflow-y: scroll; height: calc(100vh - 250px);">
                            <table class="table table-hover table-sm">
                                <tbody>
                                    @foreach (var step in Builder.StepExecutions.Where(s => s.Parameters.Any()))
                                    {
                                        <tr style="cursor: pointer;" class="@(step.StepId == ParameterEditStep?.StepId ? "fw-bold" : null)" @onclick="() => ToggleParameterEditStep(step)">
                                            <td>
                                                <StepTypeIconComponent StepType_="@step.StepType" />
                                                &nbsp;
                                                @step.StepName
                                            </td>
                                            <td class="text-end @(Builder.DependencyMode == true ? "text-body-tertiary" : null)">
                                                @step.ExecutionPhase
                                                &nbsp;
                                                <CxIcon Icon="FeatherIcon.Layers" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-7">
                        <h6>Parameters</h6>
                        <div style="overflow-y: scroll; height: calc(100vh - 250px);">
                            <table class="table table-sm">
                                <tbody>
                                    @foreach (var parameter in ParameterEditStep?.Parameters.OrderBy(p => p.DisplayName) ?? Enumerable.Empty<StepExecutionParameterBase>())
                                    {
                                        <tr>
                                            <td class="align-middle">
                                                @parameter.DisplayName
                                            </td>
                                            @if (parameter.InheritFromExecutionParameter is not null)
                                            {
                                                <td colspan="2">
                                                    @parameter.DisplayValueType = @parameter.DisplayValue
                                                </td>
                                            }
                                            else
                                            {
                                                <DynamicParameterEditComponent Parameter="parameter"
                                                                               TParameter="StepExecutionParameterBase"
                                                                               OnParameterEdit="p => ExpressionEditOffcanvas.LetAsync(x => x.ShowAsync(p))">
                                                    <StaticEditTemplate>
                                                        <ParameterTypeValueEditComponent Parameter="parameter" />
                                                    </StaticEditTemplate>
                                                </DynamicParameterEditComponent>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else if (ActiveView == View.JobParameters)
            {
                <div class="row mt-3">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var parameter in Builder.Parameters.OrderBy(p => p.DisplayName))
                                {
                                    <tr>
                                        <td>
                                            @parameter.DisplayName
                                        </td>
                                        <DynamicParameterEditComponent Parameter="parameter"
                                                                       TParameter="DynamicParameter"
                                                                       OnParameterEdit="p => JobParameterExpressionEditOffcanvas.LetAsync(x => x.ShowAsync(p))">
                                            <StaticEditTemplate>
                                                <ParameterTypeValueEditComponent Parameter="parameter" />
                                            </StaticEditTemplate>
                                        </DynamicParameterEditComponent>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row mt-5 mb-4">
                <div class="col text-center">
                    <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Regular" />
                </div>
            </div>
        }
    </BodyTemplate>

    <FooterTemplate>
        <div class="col mr-auto">
            <HxDropdownButtonGroup AutoClose="DropdownAutoClose.Outside">
                <HxDropdownToggleButton Color="ThemeColor.Secondary" Enabled="Builder is not null">
                    <CxIcon Icon="FeatherIcon.Bell" />
                    Notifications
                </HxDropdownToggleButton>
                <HxDropdownContent>
                    @if (Builder is not null)
                    {
                        <div class="row p-3" style="min-width: 20rem;">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="execute_notify"
                                           checked=@Builder.Notify
                                           @bind-value="Builder.Notify">
                                    <label class="form-check-label" for="execute_notify">Notify based on subscriptions</label>
                                </div>
                                <h6 class="mt-3">Notify me</h6>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_none"
                                           checked=@(Builder.NotifyCaller is null)
                                            @onchange="() => Builder.NotifyCaller = null">
                                    <label class="form-check-label" for="radio_notify_me_none">None</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_completion"
                                           checked=@(Builder.NotifyCaller == AlertType.OnCompletion)
                                           @onchange="() => Builder.NotifyCaller = AlertType.OnCompletion">
                                    <label class="form-check-label" for="radio_notify_me_completion">On completion</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_failure"
                                           checked=@(Builder.NotifyCaller == AlertType.OnFailure)
                                           @onchange="() => Builder.NotifyCaller = AlertType.OnFailure">
                                    <label class="form-check-label" for="radio_notify_me_failure">On failure</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_success"
                                           checked=@(Builder.NotifyCaller == AlertType.OnSuccess)
                                           @onchange="() => Builder.NotifyCaller = AlertType.OnSuccess">
                                    <label class="form-check-label" for="radio_notify_me_success">On success</label>
                                </div>
                                <div class="form-check mt-3">
                                    <input type="checkbox" class="form-check-input" id="execute_notify_me_overtime"
                                           checked=@Builder.NotifyCallerOvertime
                                           @bind-value="Builder.NotifyCallerOvertime">
                                    <label class="form-check-label" for="execute_notify_me_overtime">On overtime</label>
                                </div>
                            </div>
                        </div>
                    }
                </HxDropdownContent>
            </HxDropdownButtonGroup>
        </div>
        <HxButton Color="ThemeColor.Primary" CssClass="ml-5" @onclick="Execute" Enabled="Builder?.StepExecutions.Any() ?? false">
            <CxIcon Icon="FeatherIcon.Play" />
            Execute
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await Modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

<ExpressionEditOffcanvas @ref="ExpressionEditOffcanvas" TParameter="StepExecutionParameterBase" OnExpressionChanged="StateHasChanged">
    <div class="row mt-3">
        <div class="col">
            <ExpressionParameterEditComponent StepParameter="context" />
        </div>
    </div>
    <StepExpressionParameterNotice />
</ExpressionEditOffcanvas>

<ExpressionEditOffcanvas @ref="JobParameterExpressionEditOffcanvas" TParameter="DynamicParameter" OnExpressionChanged="StateHasChanged">
    <div class="row mt-3">
        <div class="col text-secondary small">
            Job parameter expressions have the following built-in variables automatically available. They can be used to access the internal ids during execution.
            <ul>
                <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.ExecutionId</span> - The current execution id. An empty guid is passed when the expression is being tested.</li>
                <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.JobId</span> - The id of the current job.</li>
            </ul>
        </div>
    </div>
</ExpressionEditOffcanvas>

@code {
    [Parameter] public EventCallback<Guid> OnExecutionStarted { get; set; }

    private ExpressionEditOffcanvas<StepExecutionParameterBase>? ExpressionEditOffcanvas { get; set; }

    private ExpressionEditOffcanvas<DynamicParameter>? JobParameterExpressionEditOffcanvas { get; set; }

    private ExecutionBuilder? Builder { get; set; }

    private IEnumerable<ITag> Tags => Builder?.Steps
    .SelectMany(step => step.Tags)
    .DistinctBy(t => t.TagName)
    .OrderBy(t => t.TagName) ?? Enumerable.Empty<ITag>();

    private HxModal? Modal { get; set; }

    private string ExecuteFilterText { get; set; } = string.Empty;
    private HashSet<ITag> ExecuteTagsFilterSet { get; set; } = new();
    private HashSet<StepType> StepTypeFilter { get; } = new();

    private IEnumerable<ExecutionBuilderStep> StepsAvailableToExecute =>
    Builder?.Steps
    .Where(step => step.StepName?.ContainsIgnoreCase(ExecuteFilterText) == true) // Step name filter
    .Where(step => !StepTypeFilter.Any() || StepTypeFilter.Contains(step.StepType)) // Filter based on step type
    .Where(step => ExecuteTagsFilterSet.All(tag => step.Tags.Any(t => t.TagName == tag.TagName))) // Tag filter
    ?? Enumerable.Empty<ExecutionBuilderStep>();

    private enum View { Steps, StepParameters, JobParameters }

    private View ActiveView = View.Steps;

    private ExecutionBuilderStepExecution? ParameterEditStep { get; set; }

    private void ToggleParameterEditStep(ExecutionBuilderStepExecution step) =>
        ParameterEditStep = step.StepId == ParameterEditStep?.StepId ? null : step;

    private async Task Execute()
    {
        try
        {
            ArgumentNullException.ThrowIfNull(Builder);
            var execution = await Builder.SaveExecutionAsync();
            if (execution is not null)
            {
                await OnExecutionStarted.InvokeAsync(execution.ExecutionId);
                await Executor.StartExecutionAsync(execution.ExecutionId);
            }
            Builder = null;
            await Modal.LetAsync(x => x.HideAsync());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error starting execution", ex.Message);
        }
    }

    private void OnClosed()
    {
        Builder = null;
        ExecuteFilterText = string.Empty;
        ExecuteTagsFilterSet.Clear();
        StepTypeFilter.Clear();
        ParameterEditStep = null;
        ActiveView = View.Steps;
    }

    public async Task ShowAsync(Guid jobId, IEnumerable<Step>? initiallySelectedSteps = null)
    {
        ActiveView = View.Steps;
        Builder = null;
        await Modal.LetAsync(x => x.ShowAsync());
        string user = HttpContextAccessor.HttpContext?.User?.Identity?.Name
            ?? throw new ArgumentNullException(nameof(user), "User was null");
        Builder = await BuilderFactory.CreateAsync(jobId, user);
        if (Builder is null)
        {
            Messenger.AddWarning("Job with the given id could not be found");
            return;
        }
        foreach (var selected in initiallySelectedSteps ?? Enumerable.Empty<Step>())
        {
            var step = Builder.Steps.FirstOrDefault(s => s.StepId == selected.StepId);
            step?.AddToExecution();
        }
        StateHasChanged();
    }

}