@implements IDisposable

@inject MarkupHelperService MarkupHelper
@inject IDbContextFactory<BiflowContext> DbContextFactory
@inject IHxMessengerService Messenger

<HxModal @ref="Modal" Size="ModalSize.Large" OnClosed="OnClosed" Title="Edit job parameters">
    <BodyTemplate>
        <HxPopover Placement="PopoverPlacement.Bottom" Trigger="PopoverTrigger.Focus"
                   Content="@("<p>Job parameters can be passed to steps that support parameterization.</p><p>Use job parameters to define common parameters across all steps.</p><p>SQL steps can even edit job parameter values during execution.</p>")"
            Html>
            <HxButton Color="ThemeColor.Light" Size="ButtonSize.Small">
                @MarkupHelper.FromFile("icons/feather/help-circle.svg")
            </HxButton>
        </HxPopover>
        @if (Job is not null)
        {
            <EditForm id="job_parameter_form" Model="Job" OnValidSubmit="SubmitParameters">
                <table id="parameters_table" class="table table-sm mt-3">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th>Steps</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Job?.JobParameters?.Any() ?? true)
                        {
                            <tr><td colspan="5">No parameters</td></tr>
                        }
                        @foreach (var param in Job?.JobParameters ?? Enumerable.Empty<JobParameter>())
                        {
                            var count = Steps.Select(s => s as ParameterizedStep).Count(s => s?.StepParameters.Any(p => p.JobParameterId == param.ParameterId) ?? false);
                            <tr>
                                <td>
                                    <HxInputText InputSize="InputSize.Small" @bind-Value="param.ParameterName" placeholder="Name"></HxInputText>
                                </td>
                                <ParameterTypeValueEditComponent Parameter="param" />
                                <td>
                                    @if (count > 0)
                                    {
                                        <HxPopover Title="@($"Steps using {param.ParameterName}")"
                                                Content="@string.Join(", ", Steps.Where(s => s is ParameterizedStep ps && ps.StepParameters.Any(p => p.JobParameterId == param.ParameterId)).Select(s => s.StepName))"
                                                Trigger="PopoverTrigger.Focus">
                                            <ChildContent>
                                                <a href="javascript:void(0)">
                                                    @count
                                                    step(s)
                                                </a>
                                            </ChildContent>
                                        </HxPopover>
                                    }
                                    else
                                    {
                                        <span>0 steps</span>   
                                    }
                                </td>
                                <td>
                                    <HxButtonGroup Size="ButtonGroupSize.Small" CssClass="btn-row">
                                        <HxButton Color="ThemeColor.Light" Size="ButtonSize.Small" CssClass="btn-row" @onclick="() => Job?.JobParameters.Remove(param)">
                                            @MarkupHelper.FromFile("icons/feather/delete.svg")
                                        </HxButton>
                                    </HxButtonGroup>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{ var type = ParameterValueType.String; }
                <div class="row">
                    <div class="col">
                        <HxButton Color="ThemeColor.Light" Size="ButtonSize.Small" @onclick="() => Job?.JobParameters.Add(new JobParameter { ParameterValueType = type })">
                            @MarkupHelper.FromFile("icons/feather/plus.svg")
                            Add parameter
                        </HxButton>
                    </div>
                </div>
                <p class="text-danger">@ErrorMessage</p>
            </EditForm>
        }
    </BodyTemplate>

    <FooterTemplate>
        <HxSubmit form="job_parameter_form" Color="ThemeColor.Success">Save</HxSubmit>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await Modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {

    private HxModal? Modal { get; set; }

    [Parameter]
    [EditorRequired]
    public Job Job { get; set; } = null!;

    [Parameter, EditorRequired] public IEnumerable<Step> Steps { get; set; } = null!;

    private BiflowContext Context { get; set; } = null!;

    private string? ErrorMessage { get; set; }

    protected override void OnInitialized()
    {
        Context = DbContextFactory.CreateDbContext();
    }

    private async Task SubmitParameters()
    {
        var (paramResult, paramMessage) = ParametersCheck();
        if (!paramResult)
        {
            ErrorMessage = paramMessage;
            return;
        }

        foreach (var param in Job?.JobParameters ?? Enumerable.Empty<JobParameter>())
        {
            param.SetParameterValue();
        }

        try
        {
            await Context.SaveChangesAsync();
            await Modal.LetAsync(x => x.HideAsync());
            if (Job is not null)
            {
                Job.JobParameters = Job.JobParameters.OrderBy(p => p.ParameterName).ToList();    
            }
        }
        catch (DbUpdateConcurrencyException)
        {
            Messenger.AddError("Concurrency error",
                "The job has been modified outside of this session. Reload the page to view the most recent settings.");
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error saving parameters", $"{ex.Message}\n{ex.InnerException?.Message}");
        }

    }

    private (bool Result, string? Message) ParametersCheck()
    {
        var parameters = Job?.JobParameters
            .OrderBy(param => param.ParameterName)
            .ToList() ?? Enumerable.Empty<JobParameter>().ToList();
        foreach (var param in parameters)
        {
            if (string.IsNullOrEmpty(param.ParameterName))
            {
                return (false, "Parameter name cannot be empty");
            }
        }
        for (var i = 0; i < parameters.Count - 1; i++)
        {
            if (parameters[i + 1].ParameterName == parameters[i].ParameterName)
            {
                return (false, "Duplicate parameter names");
            }
        }

        return (true, null);
    }

    public void OnClosed()
    {
        // Reset added entities.
        foreach (var entity in Context.ChangeTracker.Entries().Where(e => e.Entity is not null && e.State == EntityState.Added).ToList())
        {
            if (entity.Entity is JobParameter param)
            {
                if (Job?.JobParameters.Contains(param) == true)
                    Job?.JobParameters.Remove(param);
            }

            entity.State = EntityState.Detached;
        }

        // Reset deleted entities.
        foreach (var entity in Context.ChangeTracker.Entries().Where(e => e.Entity is not null && e.State == EntityState.Deleted).ToList())
        {
            if (entity.Entity is JobParameter param)
            {
                if (Job?.JobParameters.Contains(param) == false)
                    Job?.JobParameters.Add(param);
            }

            entity.State = EntityState.Unchanged;
        }

        // Reset changed entities.
        Context.ChangeTracker
            .Entries()
            .Where(e => e.Entity is not null)
            .ToList()
            .ForEach(e => e.State = EntityState.Detached);
    }

    public async Task Show()
    {
        await Modal.LetAsync(x => x.ShowAsync());
        Context.Attach(Job);
    }


    public void Dispose() => Context?.Dispose();
}
