@inject IDbContextFactory<AppDbContext> DbFactory
@inject ToasterService Toaster
@inject IMediator Mediator

<style>
    .white-space-pre {
        white-space: pre;
    }
</style>

<PageTitle>@Job?.JobName | Schedules | Biflow</PageTitle>

<AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
    <HxButton Color="ThemeColor.Success" @onclick="async () => await editModal.LetAsync(x => x.ShowAsync(Guid.Empty))">
        Add schedule
    </HxButton>
</AuthorizeView>

<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    Schedule name
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    Cron expression
                </th>
                <th>
                    Next execution
                </th>
                <th>
                    Tag filters
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (schedules is null)
            {
                <tr><td colspan="6" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
            }
            else if (schedules.Count == 0)
            {
                <tr><td colspan="6">No schedules</td></tr>
            }
            else
            {
                @foreach (var item in schedules.OrderBy(s => s.ScheduleName))
                {
                    <tr class="schedule-row small @(item.IsEnabled ? null : "disabled")">
                        <td class="align-middle">
                            @item.ScheduleName
                        </td>
                        <td class="align-middle">
                            <div class="form-check form-switch">
                                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                    <input type="checkbox" class="form-check-input" id="@item.ScheduleId" checked=@item.IsEnabled @onchange="args => ToggleEnabled(args, item)">
                                    <label class="form-check-label" for="@item.ScheduleId"></label>
                                </AuthorizeView>
                                <AuthorizeView Roles="@(Roles.Viewer)">
                                    <input type="checkbox" class="form-check-input" disabled checked=@item.IsEnabled>
                                    <label class="form-check-label" for="@item.ScheduleId"></label>
                                </AuthorizeView>
                            </div>
                        </td>
                        <td class="align-middle">
                            <span>@item.CronExpression</span>
                            <br />
                            <span class="text-secondary small">@item.GetScheduleDescription()</span>
                        </td>
                        <td>
                            <div class="d-inline-flex @(!item.IsEnabled || (!Job?.IsEnabled ?? false) ? "text-body-tertiary" : null)">
                                @item.NextFireTimes().FirstOrDefault()
                                &nbsp;&nbsp;
                                <HxTooltip Placement="TooltipPlacement.Auto"
                                           Text="@("Next execution(s) (first 15):\n" + string.Join("\n", item.NextFireTimes().Take(15)))"
                                           CssClass="white-space-pre">
                                    <CxIcon Icon="FeatherIcon.Info" />
                                </HxTooltip>
                            </div>
                            <br />
                            <span class="text-body-tertiary small">
                                @(!item.IsEnabled ? "(Schedule disabled)" : null)
                                @(Job?.IsEnabled == false ? "(Job disabled)" : null)
                            </span>
                        </td>
                        <td class="align-middle">
                            @if (!item.Tags.Any())
                            {
                                <span class="text-secondary">No tag filters</span>
                            }
                            @foreach (var tag in item.Tags.OrderBy(t => t.TagName))
                            {
                                <TagBadge Tag="tag" CssClass="m-1" />
                            }
                        </td>
                        <td align="center">
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                <HxButtonGroup Size="ButtonGroupSize.Small">
                                    <HxButton Color="ThemeColor.None" Size="ButtonSize.Small" CssClass="btn-auto"
                                              @onclick="async () => await editModal.LetAsync(x => x.ShowAsync(item.ScheduleId))">
                                        <CxIcon Icon="FeatherIcon.Edit2" />
                                    </HxButton>
                                    <HxDropdownButtonGroup>
                                        <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                            <CxIcon Icon="FeatherIcon.Trash2" />
                                        </HxDropdownToggleButton>
                                        <HxDropdownMenu>
                                            <HxDropdownHeader>Delete?</HxDropdownHeader>
                                            <HxDropdownItem @onclick="() => DeleteSchedule(item)">Confirm</HxDropdownItem>
                                        </HxDropdownMenu>
                                    </HxDropdownButtonGroup>
                                </HxButtonGroup>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
    <ScheduleEditModal @ref="editModal" Job="Job" OnSubmit="OnScheduleSubmit" />
</AuthorizeView>

@code {
    [CascadingParameter] public Job? Job { get; set; }

    private List<Schedule>? schedules;
    private ScheduleEditModal? editModal;

    protected override async Task OnParametersSetAsync()
    {
        if (schedules is null && Job is not null)
        {
            using var context = DbFactory.CreateDbContext();
            schedules = await context.Schedules
                .AsNoTrackingWithIdentityResolution()
                .Include(schedule => schedule.Tags)
                .Where(schedule => schedule.JobId == Job.JobId)
                .OrderBy(schedule => schedule.ScheduleName)
                .ToListAsync();
        }
    }

    private async Task ToggleEnabled(ChangeEventArgs args, Schedule schedule)
    {
        bool value = (bool)args.Value!;
        try
        {
            await Mediator.SendAsync(new ToggleScheduleCommand(schedule.ScheduleId, value));
            schedule.IsEnabled = value;
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error toggling schedule", ex.Message);
        }
    }

    private void OnScheduleSubmit(Schedule schedule)
    {
        schedules?.RemoveAll(s => s.ScheduleId == schedule.ScheduleId);
        schedules?.Add(schedule);
    }

    private async Task DeleteSchedule(Schedule schedule)
    {
        try
        {
            await Mediator.SendAsync(new DeleteScheduleCommand(schedule.ScheduleId));
            schedules?.Remove(schedule);
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error deleting schedule", ex.Message);
        }
    }

}
