
<PageTitle>@Job?.JobName | Steps | Biflow</PageTitle>

<div class="sticky-sm-top pt-2 bg-body rounded-bottom-4" style="margin-left: -3px; margin-right: -3px; padding-left: 3px; padding-right: 3px; margin-top: -1px;">
    <div class="row justify-content-between gap-3">
        <div class="col-auto">
            <div class="btn-toolbar">
                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                    <HxDropdownButtonGroup CssClass="me-3">
                        <HxDropdownToggleButton Color="ThemeColor.Success" Enabled="Steps is not null && Job is not null && Jobs is not null">
                            Add step
                        </HxDropdownToggleButton>
                        <HxDropdownMenu>
                            <div class="px-3 g-3" style="min-width: 39rem;">
                                @{
                                    var stepTypes = Enum.GetValues<StepType>()
                                        .GroupBy(t => t.GetCategory())
                                        .OrderBy(c => c.Key?.Ordinal);
                                    var stepTypeGroupIndex = 0;
                                }
                                @foreach (var group in stepTypes)
                                {
                                    var stepTypeIndex = 0;
                                    <div class="row @(stepTypeGroupIndex > 0 ? "pt-2 mt-2" : null)">
                                        <div class="col-auto small fw-semibold">
                                            @group.Key?.Name
                                        </div>
                                        <div class="col d-flex">
                                            @foreach (var stepType in group)
                                            {
                                                var (isDisabled, disabledMessage) = IsStepTypeDisabled(stepType);
                                                var description = stepType.GetDescription();
                                                var popoverContent = isDisabled
                                                    ? $"<p>Step type is disabled - {disabledMessage}</p><span>{description}</span>"
                                                    : $"<span>{description}</span>";
                                                <button class="btn btn-step d-inline-flex align-items-center px-3 fw-normal border rounded-pill @(stepTypeIndex > 0 ? "ms-3" : null) @(isDisabled ? "disabled" : null)"
                                                      @onclick="() => ShowNewStepModal(stepType)">
                                                    <StepTypeIcon StepType="stepType" />
                                                    &nbsp;
                                                    @stepType                                                    
                                                </button>
                                                <HxPopover Trigger="PopoverTrigger.Hover" Content="@popoverContent" Html WrapperCssClass="d-inline-flex ms-1 mt-1 align-self-start feather-sm text-muted">
                                                    <SvgIcon Icon="FeatherIcon.Info" />
                                                </HxPopover>
                                                stepTypeIndex++;
                                            }
                                        </div>
                                    </div>
                                    stepTypeGroupIndex++;
                                }
                            </div>
                        </HxDropdownMenu>
                    </HxDropdownButtonGroup>
                </AuthorizeView>
                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                    <HxButton Color="ThemeColor.Primary"
                              Enabled="Steps is not null && Job is not null && Jobs is not null"
                              @onclick="() => Job.LetAsync(j => _executeModal.LetAsync(m => m.ShowAsync(j.JobId, _selectedSteps)))">
                        <SvgIcon Icon="FeatherIcon.Play" />
                        Execute...
                    </HxButton>
                </AuthorizeView>
            </div>
        </div>
        <div class="col-auto">
            @if (Job is not null)
            {
                <div class="alert alert-secondary mb-0 py-2" role="alert">
                    @if (Job.ExecutionMode == ExecutionMode.Dependency)
                    {
                        <span>
                            Execution mode:
                            &nbsp;
                            <SvgIcon Icon="LucideIcon.Workflow" />
                            Dependency mode
                        </span>
                    }
                    else if (Job.ExecutionMode == ExecutionMode.Hybrid)
                    {
                        <span>
                            Execution mode:
                            &nbsp;
                            <SvgIcon Icon="LucideIcon.Workflow" />
                            Hybrid mode
                        </span>
                    }
                    else if (Job.ExecutionMode == ExecutionMode.ExecutionPhase)
                    {
                        <span>
                            Execution mode:
                            &nbsp;
                            <SvgIcon Icon="LucideIcon.Layers3" />
                            Execution phase
                        </span>
                    }
                    &nbsp;
                    <a class="alert-link small" href="@($"jobs/{Job?.JobId}/settings/executionmode")">Change</a>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-auto mt-3">
            <div class="input-group input-group-sm">
                <div class="input-group-text">
                    <SvgIcon Icon="FeatherIcon.Search" />
                </div>
                <DebounceTextInput type="search" class="form-control" @bind-Value="_stepNameFilter" placeholder="Search by name" style="min-width: 18rem; max-width: 18rem;" />
            </div>
        </div>
        <div class="col-auto mt-3">
            <HxButtonGroup Size="ButtonGroupSize.Small">
                <FilterDropdown TItem="StepType"
                                FilterSet="_stepTypeFilter"
                                Items="Steps?.Select(s => s.StepType).Distinct().OrderBy(t => t) ?? Enumerable.Empty<StepType>()"
                                OnChange="StateHasChanged">
                    <TitleTemplate>
                        <SvgIcon Icon="FeatherIcon.Tool" />
                        Step type
                    </TitleTemplate>
                    <ItemTemplate Context="item">
                        <StepTypeIcon StepType="item" />
                        @item.ToString()
                    </ItemTemplate>
                </FilterDropdown>
                <FilterDropdown TItem="StepTag"
                                FilterSet="_tagsFilterSet"
                                Items="Tags"
                                IdSelector="tag => tag.TagId.ToString()"
                                TextSelector="tag => tag.TagName"
                                IsSearchable
                                @bind-Mode="_tagsFilterMode"
                                OnChange="StateHasChanged">
                    <TitleTemplate>
                        <SvgIcon Icon="FeatherIcon.Tag" />
                        Tags
                    </TitleTemplate>
                    <ItemTemplate Context="item">
                        <TagBadge Tag="item" />
                    </ItemTemplate>
                </FilterDropdown>
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="() => _advancedFiltersOffcanvas.LetAsync(x => x.ShowAsync())">
                    <SvgIcon Icon="FeatherIcon.MoreHorizontal" />
                    More filters
                </HxButton>
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="async () =>
                    {
                        _tagsFilterSet.Clear();
                        _stepTypeFilter.Clear();
                        _stepNameFilter = string.Empty;
                        await _advancedFiltersOffcanvas.LetAsync(x => x.ClearAsync());
                    }">
                    <SvgIcon Icon="FeatherIcon.X" />
                    Clear
                </HxButton>
            </HxButtonGroup>
        </div>
         <div class="col-auto mt-3">
             <div class="form-check form-check-inline">
                 <input type="radio" class="form-check-input" id="radio_all"
                        checked=@(_stateFilter == StateFilter.All)
                        @onchange="() => _stateFilter = StateFilter.All">
                 <label class="form-check-label" for="radio_all">All</label>
             </div>
             <div class="form-check form-check-inline">
                 <input type="radio" class="form-check-input" id="radio_enabled"
                        checked=@(_stateFilter == StateFilter.Enabled)
                        @onchange="() => _stateFilter = StateFilter.Enabled">
                 <label class="form-check-label" for="radio_enabled">Enabled</label>
             </div>
             <div class="form-check form-check-inline">
                 <input type="radio" class="form-check-input" id="radio_disabled"
                        checked=@(_stateFilter == StateFilter.Disabled)
                        @onchange="() => _stateFilter = StateFilter.Disabled">
                 <label class="form-check-label" for="radio_disabled">Disabled</label>
             </div>
         </div>
         <div class="col-auto mt-3">
             <div class="form-check">
                 <input type="checkbox" class="form-check-input" id="show_details"
                        checked=@_showDetails
                        @onchange="args => _showDetails = (bool)args.Value!">
                 <label class="form-check-label" for="show_details">Show details</label>
             </div>
         </div>
    </div>

    <div class="row mt-3 align-items-center">
        <div class="col">
            <ol class="list-group shadow-sm">
                @if (Steps is null || Jobs is null || Job is null)
                {
                    <li class="list-group-item list-group-header">
                        <div class="row">
                            <div class="col text-center">
                                <HxSpinner Color="ThemeColor.Secondary" />
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    var count = FilteredSteps.Count();
                    var disabledCount = FilteredSteps.Count(s => !s.IsEnabled);
                    var countText = Steps.Count switch
                    {
                        0 => "No steps",
                        1 => count == Steps.Count ? $"Showing {count} step" : $"Showing {count} of {Steps.Count} step",
                        > 1 => count == Steps.Count ? $"Showing all {Steps.Count} steps" : $"Showing {count} of {Steps.Count} steps",
                        _ => string.Empty
                    };
                    var disabledCountText = disabledCount switch { 0 => "No disabled steps", 1 => "1 disabled step", _ => $"{disabledCount} disabled steps" };
                    var selectedText = _selectedSteps.Count switch { 1 => $"{_selectedSteps.Count} selected step", > 1 => $"{_selectedSteps.Count} selected steps", _ => "" };
                    <li class="list-group-item list-group-header">
                        <div class="row align-items-center" style="min-height: 31px;">
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                <div class="col text-muted d-flex align-items-center">
                                    <TriStateCheckbox Checked="@(_selectedSteps.Count > 0 && Steps.Any() && count > 0)"
                                                      Indeterminate="@(_selectedSteps.Any() && _selectedSteps.Count != count)"
                                                      CheckedChanged="ToggleAllStepsSelected" />
                                    <div class="fw-bold small">@selectedText</div>
                                </div>
                            </AuthorizeView>
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                <div class="col">
                                    @if (_selectedSteps.Any())
                                    {
                                        <div class="btn-group">
                                            <HxButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small" title="Delete selected steps"
                                                      @onclick="DeleteSelectedSteps">
                                                <SvgIcon Icon="FeatherIcon.Trash2" />
                                                Delete...
                                            </HxButton>
                                            <HxButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small" title="Copy selected steps"
                                                      @onclick="() => _stepsCopyOffcanvas.LetAsync(x => x.ShowAsync(Job, _selectedSteps))">
                                                <SvgIcon Icon="FeatherIcon.Copy" />
                                                Copy...
                                            </HxButton>
                                            <HxDropdownButtonGroup>
                                                <HxDropdownToggleButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small">
                                                    <SvgIcon Icon="FeatherIcon.Edit2" />
                                                    Edit
                                                </HxDropdownToggleButton>
                                                <HxDropdownMenu Alignment="DropdownMenuAlignment.End">
                                                    <HxDropdownHeader>Batch edit</HxDropdownHeader>
                                                    <HxDropdownItem OnClick="() => _batchEditRenameModal.LetAsync(x => x.ShowAsync())">
                                                        <SvgIcon Icon="FeatherIcon.Edit3" />
                                                        Name
                                                    </HxDropdownItem>
                                                    <HxDropdownItem OnClick="() => _batchEditTagsModal.LetAsync(x => x.ShowAsync())">
                                                        <SvgIcon Icon="FeatherIcon.Tag" />
                                                        Tags
                                                    </HxDropdownItem>
                                                    <HxDropdownItem OnClick="() => _batchEditExecPhaseModal.LetAsync(x => x.ShowAsync())">
                                                        <SvgIcon Icon="LucideIcon.Layers3" />
                                                        Execution phase
                                                    </HxDropdownItem>
                                                    <HxDropdownItem OnClick="() => _batchEditRetriesModal.LetAsync(x => x.ShowAsync())">
                                                        <SvgIcon Icon="FeatherIcon.Repeat" />
                                                        Retry attempts
                                                    </HxDropdownItem>
                                                    <HxDropdownItem OnClick="() => _batchEditRetryIntervalModal.LetAsync(x => x.ShowAsync())">
                                                        <SvgIcon Icon="FeatherIcon.Clock" />
                                                        Retry interval
                                                    </HxDropdownItem>
                                                    <HxDropdownItem OnClick="() => ToggleSelectedStepsEnabledAsync(false)">
                                                        <SvgIcon Icon="FeatherIcon.ToggleLeft" />
                                                        Disable
                                                    </HxDropdownItem>
                                                    <HxDropdownItem OnClick="() => ToggleSelectedStepsEnabledAsync(true)">
                                                        <SvgIcon Icon="FeatherIcon.ToggleRight" />
                                                        Enable
                                                    </HxDropdownItem>
                                                </HxDropdownMenu>
                                            </HxDropdownButtonGroup>
                                        </div>
                                    }
                                </div>
                            </AuthorizeView>
                            <div class="col text-muted text-center fw-bold small">
                                 @countText
                            </div>
                            <div class="col text-muted text-end fw-bold small">
                                @if (_stateFilter == StateFilter.All)
                                {
                                    @disabledCountText
                                }
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>
    </div>
</div>


@if (Steps is not null && Jobs is not null && Job is not null)
{
    <div class="row mb-3 mt-3">
        <div class="col">
            <ol class="list-group shadow-sm steps-list">
                @foreach (var item in FilteredSteps)
                {
                    var containerCssClass = $"list-group-item list-group-item-action py-2 {(item.IsEnabled ? null : "step-item-disabled")}";
                    <ContextMenuToggle @key="item.StepId" ContainerHtmlTag="li" CssClass="@containerCssClass">
                        <ChildContent Context="menu">
                            <div class="row">
                                <div class="col-xl-5 col-sm-7 pl-2 d-flex align-items-center">
                                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                        <div class="form-check me-2">
                                            <input type="checkbox" class="form-check-input" id="select_step_@item.StepId"
                                                   checked=@_selectedSteps.Contains(item)
                                           @onchange="_ => { if (!_selectedSteps.Add(item)) _selectedSteps.Remove(item); }">
                                            <label class="form-check-label" for="select_step_@item.StepId"></label>
                                        </div>
                                    </AuthorizeView>
                                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                        <a class="text-body" href="javascript:void(0)" @onclick="() => ShowEditModal(item)">
                                            <StepTypeIcon StepType="@item.StepType" />
                                            &nbsp;
                                            <HighlightableText Text="@item.StepName" PartToHighlight="@_stepNameFilter" />
                                        </a>
                                    </AuthorizeView>
                                    <AuthorizeView Roles="@($"{Roles.Operator}, {Roles.Viewer}")">
                                        <span>
                                            <StepTypeIcon StepType="@item.StepType" />
                                            <HighlightableText Text="@item.StepName" PartToHighlight="@_stepNameFilter" />
                                        </span>
                                    </AuthorizeView>
                                </div>
                                <div class="col-xl-2 col-sm-4 col-6 d-inline-flex align-items-center justify-content-start">
                                    <div class="justify-content-end @(Job.ExecutionMode == ExecutionMode.Dependency ? "text-body-tertiary" : "text-body")">
                                        <SvgIcon Icon="LucideIcon.Layers3" />
                                        <sup>@item.ExecutionPhase</sup>
                                    </div>

                                    @if (item.RetryAttempts > 0)
                                    {
                                        <div title="Step has @item.RetryAttempts retry attempts" class="text-body ms-3">
                                            <SvgIcon Icon="FeatherIcon.Repeat" />
                                            <sup>@item.RetryAttempts</sup>
                                        </div>
                                    }

                                    @if (item.ExecutionConditionParameters.Any(p => p.JobParameterId is not null)
                                         || item is IHasStepParameters hasParams && hasParams.StepParameters.Any(p => p.InheritFromJobParameterId is not null || p.ExpressionParameters.Any(ep => ep.InheritFromJobParameter is not null))
                                         || item is SqlStep { ResultCaptureJobParameterId: not null })
                                    {
                                        <div title="Step uses job parameters" class="text-body ms-3">
                                            <SvgIcon Icon="FeatherIcon.AtSign" />
                                        </div>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(item.ExecutionConditionExpression.Expression))
                                    {
                                        <div title="Execution condition enabled" class="text-body ms-3">
                                            <SvgIcon Icon="FeatherIcon.CheckSquare" />
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-1 col-6 d-inline-flex align-items-center justify-content-end">
                                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                        <div class="form-check form-switch">
                                            <input type="checkbox" class="form-check-input" id="enabled_@item.StepId" checked="@(item.IsEnabled ? "checked" : null)" @onchange="args => ToggleEnabled(args, item)">
                                            <label class="form-check-label" for="enabled_@item.StepId" aria-label="enabled"></label>
                                        </div>
                                    </AuthorizeView>
                                    <AuthorizeView Roles="@($"{Roles.Operator}, {Roles.Viewer}")">
                                        <div class="form-check form-switch">
                                            <input type="checkbox" class="form-check-input" disabled id="enabled_@item.StepId" checked="@(item.IsEnabled ? "checked" : null)">
                                            <label class="form-check-label" for="enabled_@item.StepId" aria-label="enabled"></label>
                                        </div>
                                    </AuthorizeView>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" Spinner="false" CssClass="btn-auto" @onclick="e => menu.ShowContextMenuAsync(e)">
                                        <SvgIcon Icon="FeatherIcon.MoreHorizontal" />
                                    </HxButton>
                                </div>

                                <div class="col-xl-4 d-flex flex-wrap align-items-center justify-content-xl-end">
                                    @foreach (var tag in item.Tags.Order())
                                    {
                                        <TagBadge Tag="tag" CssClass="m-1" />
                                    }
                                </div>
                            </div>
                            @if (_showDetails || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.Description))
                            {
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary"><em><HighlightableText Text="@item.StepDescription" PartToHighlight="@_advancedFiltersOffcanvas?.Description" /></em></small>
                                    </div>
                                </div>
                            }
                            @if ((_showDetails || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.SqlStatement)) && item is SqlStep sqlStep)
                            {
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary font-monospace"><HighlightableText Text="@sqlStep.SqlStatement" PartToHighlight="@_advancedFiltersOffcanvas?.SqlStatement" /></small>
                                    </div>
                                </div>
                            }
                            @if ((_showDetails || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.PackageFolder)
                           || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.PackageProject)
                           || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.PackageName)) && item is PackageStep package)
                            {
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary">
                                            <HighlightableText Text="@package.PackageFolderName" PartToHighlight="@_advancedFiltersOffcanvas?.PackageFolder" />
                                            \
                                            <HighlightableText Text="@package.PackageProjectName" PartToHighlight="@_advancedFiltersOffcanvas?.PackageProject" />
                                            \
                                            <HighlightableText Text="@package.PackageName" PartToHighlight="@_advancedFiltersOffcanvas?.PackageName" />
                                        </small>
                                    </div>
                                </div>
                            }
                            @if ((_showDetails || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.PipelineName)) && item is PipelineStep pipeline)
                            {
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary">
                                            <HighlightableText Text="@pipeline.PipelineName" PartToHighlight="@_advancedFiltersOffcanvas?.PipelineName" />
                                        </small>
                                    </div>
                                </div>
                            }
                            @if (_showDetails && item is AgentJobStep agentJob)
                            {
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary">@agentJob.AgentJobName</small>
                                    </div>
                                </div>
                            }
                            @if ((_showDetails || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.ExeFilePath)
                           || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.ExeArguments)) && item is ExeStep exe)
                            {
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary">
                                            <HighlightableText Text="@exe.ExeFileName" PartToHighlight="@_advancedFiltersOffcanvas?.ExeFilePath" />
                                            <HighlightableText Text="@exe.ExeArguments" PartToHighlight="@_advancedFiltersOffcanvas?.ExeArguments" />
                                        </small>
                                    </div>
                                </div>
                            }
                            @if ((_showDetails || !string.IsNullOrEmpty(_advancedFiltersOffcanvas?.FunctionUrl)) && item is FunctionStep function)
                            {
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary">
                                            <HighlightableText Text="@function.FunctionUrl" PartToHighlight="@_advancedFiltersOffcanvas?.FunctionUrl" />
                                        </small>
                                    </div>
                                </div>
                            }
                            @if (_showDetails && item is TabularStep tabular)
                            {
                                var tableText = string.IsNullOrEmpty(tabular.TabularTableName) ? null : $" \\ {tabular.TabularTableName}";
                                var partitionText = string.IsNullOrEmpty(tabular.TabularPartitionName) ? null : $" \\ {tabular.TabularPartitionName}";
                                <div class="row">
                                    <div class="col text-truncate">
                                        <small class="text-secondary">@tabular.TabularModelName@tableText@partitionText</small>
                                    </div>
                                </div>
                            }
                        </ChildContent>
                        <MenuContent>
                            <DropdownMenuHeader>
                                <StepTypeIcon StepType="item.StepType" />
                                @item.StepName
                            </DropdownMenuHeader>
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                <DropdownMenuItem @onclick="() => ShowEditModal(item)">
                                    <SvgIcon Icon="FeatherIcon.Edit2" />
                                    Edit
                                </DropdownMenuItem>
                                <DropdownMenuItem @onclick="() => _stepsCopyOffcanvas.LetAsync(x => x.ShowAsync(Job, [item]))">
                                    <SvgIcon Icon="FeatherIcon.Copy" />
                                    Copy...
                                </DropdownMenuItem>
                            </AuthorizeView>
                            <DropdownMenuItem @onclick="() => _stepHistoryOffcanvas.LetAsync(x => x.ShowAsync(item.StepId))">
                                <SvgIcon Icon="FeatherIcon.Activity" />
                                History
                            </DropdownMenuItem>
                            <DropdownMenuLink href="@($"jobs/{Job?.JobId}/graph/{item.StepId}")">
                                <SvgIcon Icon="LucideIcon.Workflow" />
                                Dependencies
                            </DropdownMenuLink>
                            <DropdownMenuItem @onclick="() => _stepDetailsModal.LetAsync(x => x.ShowAsync(item))">
                                <SvgIcon Icon="FeatherIcon.Info" />
                                Details
                            </DropdownMenuItem>
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                <DropdownMenuItem @onclick="() => DeleteStep(item)">
                                    <SvgIcon Icon="FeatherIcon.Trash2" />
                                    Delete...
                                </DropdownMenuItem>
                            </AuthorizeView>
                        </MenuContent>
                    </ContextMenuToggle>
                }
            </ol>
        </div>
    </div>
}

<AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
    <StepsCopyOffcanvas @ref="_stepsCopyOffcanvas"
                        Jobs="Jobs"
                        OnStepsCopied="OnStepsCopied" />

    <StepsBatchEditTagsModal @ref="_batchEditTagsModal"
                             SelectedSteps="_selectedSteps"
                             OnStepsSubmit="OnStepsSubmit" />

    <StepsBatchEditExecPhaseModal @ref="_batchEditExecPhaseModal"
                                  SelectedSteps="_selectedSteps"
                                  OnStepsSubmit="OnStepsSubmit" />

    <StepsBatchEditRenameModal @ref="_batchEditRenameModal"
                               SelectedSteps="_selectedSteps"
                               OnStepsSubmit="OnStepsSubmit" />

    <StepsBatchEditRetriesModal @ref="_batchEditRetriesModal"
                                SelectedSteps="_selectedSteps"
                                OnStepsSubmit="OnStepsSubmit" />

    <StepsBatchEditRetryIntervalModal @ref="_batchEditRetryIntervalModal"
                                      SelectedSteps="_selectedSteps"
                                      OnStepsSubmit="OnStepsSubmit" />

    <SqlStepEditModal @ref="_stepEditModals[StepType.Sql]"
                      SqlConnections="SqlConnections"
                      MsSqlConnections="MsSqlConnections"
                      AsConnections="AsConnections"
                      AppRegistrations="AppRegistrations"
                      QlikClients="QlikCloudClients"
                      Credentials="Credentials"
                      OnStepSubmit="OnStepSubmit" />
    <TabularStepEditModal @ref="_stepEditModals[StepType.Tabular]"
                          SqlConnections="SqlConnections"
                          MsSqlConnections="MsSqlConnections"
                          AsConnections="AsConnections"
                          AppRegistrations="AppRegistrations"
                          QlikClients="QlikCloudClients"
                          Credentials="Credentials"
                          OnStepSubmit="OnStepSubmit" />
    <EmailStepEditModal @ref="_stepEditModals[StepType.Email]"
                        SqlConnections="SqlConnections"
                        MsSqlConnections="MsSqlConnections"
                        AsConnections="AsConnections"
                        AppRegistrations="AppRegistrations"
                        QlikClients="QlikCloudClients"
                        Credentials="Credentials"
                        OnStepSubmit="OnStepSubmit" />
    <AgentJobStepEditModal @ref="_stepEditModals[StepType.AgentJob]"
                           SqlConnections="SqlConnections"
                           MsSqlConnections="MsSqlConnections"
                           AsConnections="AsConnections"
                           AppRegistrations="AppRegistrations"
                           QlikClients="QlikCloudClients"
                           Credentials="Credentials"
                           OnStepSubmit="OnStepSubmit" />
    <DatasetStepEditModal @ref="_stepEditModals[StepType.Dataset]"
                          SqlConnections="SqlConnections"
                          MsSqlConnections="MsSqlConnections"
                          AsConnections="AsConnections"
                          AppRegistrations="AppRegistrations"
                          QlikClients="QlikCloudClients"
                          Credentials="Credentials"
                          OnStepSubmit="OnStepSubmit" />
    <ExeStepEditModal @ref="_stepEditModals[StepType.Exe]"
                      SqlConnections="SqlConnections"
                      MsSqlConnections="MsSqlConnections"
                      AsConnections="AsConnections"
                      AppRegistrations="AppRegistrations"
                      QlikClients="QlikCloudClients"
                      Credentials="Credentials"
                      OnStepSubmit="OnStepSubmit" />
    <JobStepEditModal @ref="_stepEditModals[StepType.Job]"
                      SqlConnections="SqlConnections"
                      MsSqlConnections="MsSqlConnections"
                      AsConnections="AsConnections"
                      AppRegistrations="AppRegistrations"
                      QlikClients="QlikCloudClients"
                      Credentials="Credentials"
                      OnStepSubmit="OnStepSubmit" />
    <FunctionStepEditModal @ref="_stepEditModals[StepType.Function]"
                           SqlConnections="SqlConnections"
                           MsSqlConnections="MsSqlConnections"
                           AsConnections="AsConnections"
                           FunctionApps="FunctionApps"
                           AppRegistrations="AppRegistrations"
                           QlikClients="QlikCloudClients"
                           Credentials="Credentials"
                           OnStepSubmit="OnStepSubmit" />
    <PackageStepEditModal @ref="_stepEditModals[StepType.Package]"
                          SqlConnections="SqlConnections"
                          MsSqlConnections="MsSqlConnections"
                          AsConnections="AsConnections"
                          AppRegistrations="AppRegistrations"
                          QlikClients="QlikCloudClients"
                          Credentials="Credentials"
                          OnStepSubmit="OnStepSubmit" />
    <PipelineStepEditModal @ref="_stepEditModals[StepType.Pipeline]"
                           SqlConnections="SqlConnections"
                           MsSqlConnections="MsSqlConnections"
                           AsConnections="AsConnections"
                           AppRegistrations="AppRegistrations"
                           QlikClients="QlikCloudClients"
                           Credentials="Credentials"
                           PipelineClients="PipelineClients"
                           OnStepSubmit="OnStepSubmit" />
    <QlikStepEditModal @ref="_stepEditModals[StepType.Qlik]"
                       AppRegistrations="AppRegistrations"
                       SqlConnections="SqlConnections"
                       MsSqlConnections="MsSqlConnections"
                       AsConnections="AsConnections"
                       QlikClients="QlikCloudClients"
                       Credentials="Credentials"
                       OnStepSubmit="OnStepSubmit" />
    <DatabricksStepEditModal @ref="_stepEditModals[StepType.Databricks]"
                             SqlConnections="SqlConnections"
                             MsSqlConnections="MsSqlConnections"
                             AsConnections="AsConnections"
                             AppRegistrations="AppRegistrations"
                             QlikClients="QlikCloudClients"
                             DatabricksWorkspaces="DatabricksWorkspaces"
                             Credentials="Credentials"
                             OnStepSubmit="OnStepSubmit" />
    <DbtStepEditModal @ref="_stepEditModals[StepType.Dbt]"
                      SqlConnections="SqlConnections"
                      MsSqlConnections="MsSqlConnections"
                      AsConnections="AsConnections"
                      AppRegistrations="AppRegistrations"
                      QlikClients="QlikCloudClients"
                      DbtAccounts="DbtAccounts"
                      Credentials="Credentials"
                      OnStepSubmit="OnStepSubmit" />
</AuthorizeView>

@{
    var connections = SqlConnections
        ?.Concat(AsConnections ?? [])
        .Where(c => Steps?.OfType<IHasConnection>().Any(step => c.ConnectionId == step.ConnectionId) ?? false)
        .OrderBy(c => c.ConnectionName)
        .AsEnumerable() ?? [];
    var pipelineClients = PipelineClients
        ?.Where(c => Steps?.OfType<PipelineStep>().Any(step => c.PipelineClientId == step.PipelineClientId) ?? false)
        ?? [];
    var functionApps = FunctionApps
        ?.Where(fa => Steps?.OfType<FunctionStep>().Any(step => fa.FunctionAppId == step.FunctionAppId) ?? false)
        ?? [];
    var executionPhases = Steps?
        .Select(s => s.ExecutionPhase)
        .Distinct()
        .Order()
        .AsEnumerable() ?? [];
}

<AdvancedFiltersOffcanvas @ref="_advancedFiltersOffcanvas"
    OnFiltersChanged="StateHasChanged"
    Connections="connections"
    FunctionApps="functionApps"
    PipelineClients="pipelineClients"
    ExecutionPhases="executionPhases" />

<StepDetailsModal @ref="_stepDetailsModal" />

<StepHistoryOffcanvas @ref="_stepHistoryOffcanvas" />

<AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
    <ExecuteModal @ref="_executeModal" />
</AuthorizeView>
