@page "/jobs"

@inject IWebHostEnvironment WebHostEnvironment
@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject SchedulerService SchedulerService
@inject DbHelperService DbHelperService
@inject IJSRuntime JsRuntime
@inject IHttpContextAccessor HttpContextAccessor

<h4>Jobs</h4>

<div class="btn-toolbar mt-3">
    <AuthorizeView Roles="Admin, Editor">
        @*Dropdown to create new jobs*@
        <BSDropdown>
            <BSDropdownToggle Color="Color.Success">Add job</BSDropdownToggle>
            <BSDropdownMenu Class="p-4" style="min-width: 25rem;">
                <BSForm Model="NewJob" OnValidSubmit="AddJob" Context="_context">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <BSFormGroup>
                        <BSLabel>Job name</BSLabel>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/edit-3.svg")))
                                </div>
                            </div>
                            <InputText class="form-control" @bind-Value="NewJob.JobName" autocomplete="off"></InputText>
                        </div>
                    </BSFormGroup>
                    <BSButton Size="Size.Small" ButtonType="ButtonType.Submit" Color="Color.Success">Add</BSButton>
                </BSForm>
            </BSDropdownMenu>
        </BSDropdown>
        <BSButton Class="ml-3" Color="Color.Primary" @onclick="LoadData">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/refresh-cw.svg")))
            Refresh
        </BSButton>
    </AuthorizeView>
    <AuthorizeView Roles="Operator, Viewer">
        <BSButton Color="Color.Primary" @onclick="LoadData">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/refresh-cw.svg")))
            Refresh
        </BSButton>
    </AuthorizeView>
</div>


<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Job name
                </th>
                <th></th>
                <th>

                </th>
                <th>
                    Last execution
                    @if (IsLoading)
                    {
                        <div class="spinner-border spinner-border-sm text-secondary align-middle ml-3" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    }
                </th>
                <th>
                    Next execution
                </th>
            </tr>
        </thead>
        <tbody>
            @if (jobs is null)
            {
                <tr><td colspan="7">Loading...</td></tr>
            }
            else if (jobs.Count == 0)
            {
                <tr><td colspan="7">No jobs</td></tr>
            }
            else
            {
                @foreach (var item in jobs)
                {
                    var lastExecution = GetLastExecution(item);
                    <tr class="@(item.IsEnabled ? null : "disabled")">
                        <td class="align-middle">
                            <a class="text-dark" href="@("jobs/steps/" + item.JobId.ToString())">@item.JobName</a>
                        </td>
                        <td>
                            <div class="d-inline-flex align-items-center">
                                <AuthorizeView Roles="Admin, Editor">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="enabled_@item.JobId" checked="@(item.IsEnabled ? "checked" : null)" @onchange="args => ToggleEnabled(args, item)">
                                        <label class="custom-control-label" style="cursor: pointer;" for="enabled_@item.JobId" aria-label="enabled"></label>
                                    </div>
                                </AuthorizeView>
                                <AuthorizeView Roles="Operator, Viewer">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" disabled id="enabled_@item.JobId" checked="@(item.IsEnabled ? "checked" : null)">
                                        <label class="custom-control-label" for="enabled_@item.JobId" aria-label="enabled"></label>
                                    </div>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Editor">
                                    <BSButtonGroup Class="ml-2 btn-row" Size="Size.Small">

                                        @*Dropdown to edit the job's name*@
                                        <BSDropdown>
                                            <BSDropdownToggle Size="Size.Small" Color="BlazorStrap.Color.Light" @onclick="() => EditJob.JobName = item.JobName">
                                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/edit-2.svg")))
                                            </BSDropdownToggle>
                                            <BSDropdownMenu Class="p-4" style="min-width: 25rem;">
                                                <BSForm Model="EditJob" OnValidSubmit="() => UpdateJobName(item)" Context="_context">
                                                    <DataAnnotationsValidator />
                                                    <ValidationSummary />
                                                    <BSFormGroup>
                                                        <BSLabel>New name</BSLabel>
                                                        <InputText class="form-control" @bind-Value="EditJob.JobName" autocomplete="off"></InputText>
                                                    </BSFormGroup>
                                                    <BSButton Size="Size.Small" ButtonType="ButtonType.Submit" Color="Color.Success">Save</BSButton>
                                                </BSForm>
                                            </BSDropdownMenu>
                                        </BSDropdown>

                                        <BSDropdown IsGroup="true">
                                            <BSDropdownToggle Size="Size.Small" Color="BlazorStrap.Color.Light">
                                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/copy.svg")))
                                            </BSDropdownToggle>
                                            <BSDropdownMenu>
                                                <BSDropdownItem @onclick="() => CopyJob(item)">Copy</BSDropdownItem>
                                            </BSDropdownMenu>
                                        </BSDropdown>

                                        <BSDropdown IsGroup="true">
                                            <BSDropdownToggle Size="Size.Small" Color="BlazorStrap.Color.Light">
                                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/trash-2.svg")))
                                            </BSDropdownToggle>
                                            <BSDropdownMenu>
                                                <BSDropdownHeader>Delete?</BSDropdownHeader>
                                                <BSDropdownItem @onclick="() => DeleteJob(item)">Confirm</BSDropdownItem>
                                            </BSDropdownMenu>
                                        </BSDropdown>

                                    </BSButtonGroup>
                                </AuthorizeView>
                            </div>
                        </td>
                        <td class="align-middle" align="right">
                            @switch (lastExecution?.ExecutionStatus)
                            {
                                case ExecutionStatus.Running:
                                    <div class="status-icon running" title="Running" aria-label="running">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/play.svg")))
                                    </div>
                                    break;
                                case ExecutionStatus.Failed:
                                    <div class="status-icon failed" title="Failed" aria-label="failed">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/alert-octagon.svg")))
                                    </div>
                                    break;
                                case ExecutionStatus.Warning:
                                case ExecutionStatus.Stopped:
                                case ExecutionStatus.Suspended:
                                    <div class="status-icon warning" title="Warning" aria-label="warning">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/alert-triangle.svg")))
                                    </div>
                                    break;
                                default:
                                    break;
                            }
                        </td>
                        <td class="align-middle">
                            @if (lastExecution is not null)
                            {
                                <a class="text-dark" href="javascript:void(0)" @onclick="() => OpenJobExecutionModal(lastExecution.ExecutionId)">@lastExecution.StartDateTime?.LocalDateTime</a>
                            }
                        </td>
                        <td>
                            @GetNextStartTime(item)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<JobExecutionDetailsModal @ref="JobExecutionModal" ExecutionId_="@SelectedJobExecutionId.ToString()" />


@code {
    private IList<Job> jobs { get; set; } = null!;
    private Dictionary<Guid, Execution> LastExecutions { get; set; } = null!;
    private Job NewJob { get; set; } = new() { IsEnabled = true };
    private Job EditJob { get; set; } = new();

    private bool IsLoading { get; set; } = false;

    private JobExecutionDetailsModal JobExecutionModal { get; set; } = null!;
    private Guid SelectedJobExecutionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        IsLoading = true;
        using var context = DbFactory.CreateDbContext();
        jobs = await context.Jobs.Include(job => job.Schedules).OrderBy(job => job.JobName).ToListAsync();
        StateHasChanged(); // Render/publish results so far (jobs),
        await LoadLastExecutions(context); // Load last execution status for jobs (possibly heavy operation).
        IsLoading = false;
    }

    private async Task LoadLastExecutions(EtlManagerContext context)
    {
        // Get each job's last execution.
        var lastExecutions = await context.Executions
            .Where(execution => jobs.Select(job => job.JobId).Contains(execution.JobId ?? Guid.Empty) && execution.StartDateTime != null)
            .Select(execution => execution.JobId)
            .Distinct()
            .Select(key => new
            {
                Key = key,
                Execution = context.Executions.Where(execution => execution.JobId == key).OrderByDescending(e => e.CreatedDateTime).First()
            })
            .ToListAsync();

        LastExecutions = lastExecutions.ToDictionary(e => e.Key ?? Guid.Empty, e => e.Execution);
        StateHasChanged();
    }

    // Helper method for Dictionary TryGet access
    private Execution? GetLastExecution(Job job)
    {
        Execution? execution = null;
        LastExecutions?.TryGetValue(job.JobId, out execution);
        return execution;
    }

    private DateTime? GetNextStartTime(Job job)
    {
        var dateTimes = job.Schedules.Where(s => s.IsEnabled).Select(s => s.GetNextFireTime());
        return dateTimes.Any() ? dateTimes.Min() : null as DateTime?;
    }

    private async Task ToggleEnabled(ChangeEventArgs args, Job job)
    {
        bool value = (bool)args.Value!;
        try
        {
            await DbHelperService.ToggleJobEnabledAsync(job, value);
            job.IsEnabled = !job.IsEnabled;
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error enabling/disabling job: " + ex.Message);
        }
    }

    private async Task UpdateJobName(Job job)
    {
        try
        {
            using var context = DbFactory.CreateDbContext();
            job.JobName = EditJob.JobName;
            context.Attach(job).State = EntityState.Modified;
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Concurrency error: the job was modified outside of this session. Reload the page to view the most recent values.");
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error updating job: " + ex.Message);
        }
    }

    private async Task AddJob()
    {
        try
        {
            using var context = DbFactory.CreateDbContext();
            context.Jobs.Add(NewJob);
            await context.SaveChangesAsync();
            NewJob.Steps = new List<Step>();
            NewJob.Schedules = new List<Schedule>();
            jobs.Add(NewJob);
            NewJob = new() { IsEnabled = true };
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error adding job: " + ex.Message);
        }
    }

    private async Task CopyJob(Job job)
    {
        try
        {
            string user = HttpContextAccessor.HttpContext?.User?.Identity?.Name
                ?? throw new ArgumentNullException(nameof(user), "Error getting username from HttpContext");
            using var context = DbFactory.CreateDbContext();
            Guid createdJobId = await DbHelperService.JobCopyAsync(job.JobId, user);
            var createdJob = await context.Jobs.Include(job_ => job_.Steps).Include(job_ => job_.Schedules).FirstOrDefaultAsync(job_ => job_.JobId == createdJobId);
            jobs.Add(createdJob);
            jobs = jobs.OrderBy(job_ => job_.JobName).ToList();
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error copying job: " + ex.Message);
        }

    }

    private async Task DeleteJob(Job job)
    {
        try
        {
            using var context = DbFactory.CreateDbContext();
            context.Jobs.Remove(job);
            await context.SaveChangesAsync();
            await SchedulerService.DeleteJobAsync(job);
            jobs.Remove(job);
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error deleting job: " + ex.Message);
        }
    }

    private void OpenJobExecutionModal(Guid executionId)
    {
        SelectedJobExecutionId = executionId;
        JobExecutionModal.Show();
    }
}
