@page "/settings/{Page?}"

@attribute [Authorize(Roles = "Admin")]

@inject IConfiguration Configuration
@inject IWebHostEnvironment WebHostEnvironment

<h4>Settings</h4>

<ul class="nav nav-pills mt-3 mb-4" role="tablist">
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/users.svg")))
            Users
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/encryption">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/key.svg")))
            Encryption
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/connections">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/database.svg")))
            Connections
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/datafactories">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/factory.svg")))
            Data Factories
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/powerbiservices">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/bar-chart-2.svg")))
            Power BI Services
        </NavLink>
    </li>
</ul>

@if (Page is null)
{
    <UsersComponent />
}
else if (Page == "encryption")
{
    <EncryptionComponent />
}
else if (Page == "connections")
{
    <ConnectionsComponent EncryptionPassword="@EncryptionPassword" />
}
else if (Page == "datafactories")
{
    <DataFactoriesComponent EncryptionPassword="@EncryptionPassword" />
}
else if (Page == "powerbiservices")
{
    <PowerBIServicesComponent EncryptionPassword="@EncryptionPassword" />
}
else
{
    <p>Sorry, nothing at this address.</p>
}

@code {
    [Parameter]
    public string? Page { get; set; }

    private string? EncryptionPassword { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EncryptionPassword = await CommonUtility.GetEncryptionKeyAsync(Configuration);
    }
}
