@page "/settings/{Page?}"

@attribute [Authorize(Roles = "Admin")]

@inject IConfiguration Configuration
@inject MarkupHelperService MarkupHelper

<h4>Settings</h4>

<ul class="nav nav-pills mt-3 mb-4" role="tablist">
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
            @MarkupHelper.FromFile("icons/feather/users.svg")
            Users
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/connections">
            @MarkupHelper.FromFile("icons/feather/database.svg")
            Connections
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/appregistrations">
            @MarkupHelper.FromFile("icons/feather/globe.svg")
            App registrations
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/datafactories">
            @MarkupHelper.FromFile("icons/feather/factory.svg")
            Data Factories
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/functionapps">
            @MarkupHelper.FromFile("icons/feather/zap.svg")
            Function Apps
        </NavLink>
    </li>
</ul>

@if (Page is null)
{
    <UsersComponent />
}
else if (Page == "connections")
{
    <ConnectionsComponent />
}
else if (Page == "appregistrations")
{
    <AppRegistrationsComponent />
}
else if (Page == "datafactories")
{
    <DataFactoriesComponent />
}

else if (Page == "functionapps")
{
    <FunctionAppsComponent />
}
else
{
    <p>Sorry, nothing at this address.</p>
}

@code {
    [Parameter]
    public string? Page { get; set; }
}
