@inject IHxMessengerService Messenger
@inject SqlServerHelperService SqlServerHelperService

<HxOffcanvas @ref="offcanvas" Size="OffcanvasSize.Regular" OnClosed="OnClosed" Title="Select Analysis Services object">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                <CxIcon Icon="FeatherIcon.Box" />
                                Models
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (models is null)
                        {
                            <tr><td class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                        }
                        else if (!models.Any())
                        {
                            <tr><td class="text-secondary">No models</td></tr>
                        }
                        else
                        {
                            foreach (var model in models.OrderBy(m => m.ModelName))
                            {
                                <tr style="cursor: pointer;"
                                    class="@(model == selectedModel ? "bg-body-tertiary fw-bold" : null)"
                                    @onclick="() => SelectModel(model)">
                                    <td>@model.ModelName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                <CxIcon Icon="FeatherIcon.Table" />
                                Tables
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (models is null)
                        {
                            <tr><td class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                        }
                        else if (selectedModel is null)
                        {
                            <tr><td class="text-secondary">Select a model to view tables</td></tr>
                        }
                        else if (!selectedModel.Tables.Any())
                        {
                            <tr><td class="text-secondary">No tables</td></tr>
                        }
                        else
                        {
                            foreach (var table in selectedModel.Tables.OrderBy(t => t.TableName))
                            {
                                <tr style="cursor: pointer;"
                                    class="@(table == selectedTable ? "bg-body-tertiary fw-bold" : null)"
                                    @onclick="() => SelectTable(table)">
                                    <td>@table.TableName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                <CxIcon Icon="FeatherIcon.PieChart" />
                                Partitions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (models is null)
                        {
                            <tr><td class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                        }
                        else if (selectedTable is null)
                        {
                            <tr><td class="text-secondary">Select a table to view partitions</td></tr>
                        }
                        else if (!selectedTable.Partitions.Any())
                        {
                            <tr><td class="text-secondary">No partitions</td></tr>
                        }
                        else
                        {
                            foreach (var partition in selectedTable.Partitions.OrderBy(p => p.PartitionName))
                            {
                                <tr style="cursor: pointer;"
                                    class="@(partition == selectedPartition ? "bg-body-tertiary fw-bold" : null)"
                                    @onclick="() => SelectPartition(partition)">
                                    <td>@partition.PartitionName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectObjectAsync"
                  Enabled="selectedModel is not null || selectedTable is not null || selectedPartition is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {

    [Parameter]
    public Guid? ConnectionId { get; set; }

    [Parameter]
    public EventCallback<AnalysisServicesObjectSelectedResponse> OnObjectSelected { get; set; }

    private HxOffcanvas? offcanvas;
    private IEnumerable<AsModel>? models;
    private AsModel? selectedModel;
    private AsTable? selectedTable;
    private AsPartition? selectedPartition;

    private void OnClosed()
    {
        models = null;
        selectedModel = null;
        selectedTable = null;
        selectedPartition = null;
    }

    private void SelectModel(AsModel model)
    {
        selectedPartition = null;
        selectedTable = null;
        selectedModel = selectedModel == model ? null : model;
    }

    private void SelectTable(AsTable table)
    {
        selectedPartition = null;
        selectedTable = selectedTable == table ? null : table;
    }

    private void SelectPartition(AsPartition partition) => selectedPartition = selectedPartition == partition ? null : partition;

    private async Task SelectObjectAsync()
    {
        if (selectedPartition is not null)
        {
            var obj = new AnalysisServicesObjectSelectedResponse(
                selectedPartition.Table.Model.ModelName,
                selectedPartition.Table.TableName,
                selectedPartition.PartitionName);
            await OnObjectSelected.InvokeAsync(obj);
            await offcanvas.LetAsync(x => x.HideAsync());
        }
        else if (selectedTable is not null)
        {
            var obj = new AnalysisServicesObjectSelectedResponse(selectedTable.Model.ModelName, selectedTable.TableName);
            await OnObjectSelected.InvokeAsync(obj);
            await offcanvas.LetAsync(x => x.HideAsync());
        }
        else if (selectedModel is not null)
        {
            var obj = new AnalysisServicesObjectSelectedResponse(selectedModel.ModelName);
            await OnObjectSelected.InvokeAsync(obj);
            await offcanvas.LetAsync(x => x.HideAsync());
        }
    }

    public async Task ShowAsync()
    {
        await offcanvas.LetAsync(x => x.ShowAsync());
        if (ConnectionId is null || ConnectionId == Guid.Empty) return;
        try
        {
            models = await SqlServerHelperService.GetAnalysisServicesModelsAsync((Guid)ConnectionId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error reading Analysis Services objects", ex.Message);
        }
    }

}
