@inject IHxMessengerService Messenger
@inject IHttpClientFactory HttpClientFactory

<HxOffcanvas @ref="offcanvas" Size="OffcanvasSize.Regular" Title="Select app" OnClosed="OnClosed">
    <BodyTemplate>
        @if (AllowClientChange)
        {
            <div class="row mb-3 align-items-end">
                <div class="col">
                    <label class="form-label">App registration</label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-text">
                            <CxIcon Icon="FeatherIcon.Globe" />
                        </div>
                        <select class="form-select form-select-sm" @bind="clientId">
                            @foreach (var client in QlikClients ?? [])
                            {
                                <option value="@client.QlikCloudClientId">@client.QlikCloudClientName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <HxButton Color="ThemeColor.Primary" Size="ButtonSize.Small" OnClick="() => LoadAsync()">
                        <CxIcon Icon="FeatherIcon.RefreshCw" />
                        Refresh
                    </HxButton>
                </div>
            </div>
        }
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Search" />
                    </div>
                    <input type="search" class="form-control form-control-sm" placeholder="Search apps" @bind-value="appSearchTerm" @bind-value:event="oninput" />
                </div>
            </div>
        </div>
        @{
            var style = AllowClientChange
                ? "height: calc(100vh - 290px); overflow-y: scroll;"
                : "height: calc(100vh - 210px); overflow-y: scroll;";
        }
        <div class="row mt-3" style="height: calc(100vh - 210px); overflow-y: scroll;">
            <div class="col">
                <div class="list-group group">
                    @if (spaces is null)
                    {
                        <div class="list-group-item text-center">
                            <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                        </div>
                    }
                    else if (!spaces.Any())
                    {
                        <div class="list-group-item small">
                            No spaces with apps
                        </div>
                    }
                    else
                    {
                        var filteredSpaces = spaces
                            .Where(s => string.IsNullOrEmpty(appSearchTerm) || s.Apps.Any(a => a.Name.ContainsIgnoreCase(appSearchTerm)))
                            .OrderBy(s => s.Name)
                            .ToArray();
                        if (filteredSpaces.Length == 0)
                        {
                            <div class="list-group-item small">
                                No matching results
                            </div>
                        }
                        foreach (var space in filteredSpaces)
                        {
                            var apps = space.Apps
                                .Where(a => string.IsNullOrEmpty(appSearchTerm) || a.Name.ContainsIgnoreCase(appSearchTerm))
                                .OrderBy(a => a.Name)
                                .ToArray();
                            var expanded = !string.IsNullOrEmpty(appSearchTerm) || spaceExpandState.GetValueOrDefault(space);
                            <div class="list-group-item list-group-item-action" style="cursor: pointer;" @onclick="() => spaceExpandState[space] = !expanded">
                                <div class="row">
                                    <div class="col d-flex align-items-center small">
                                        @if (expanded)
                                        {
                                            <CxIcon Icon="FeatherIcon.ChevronDown" />
                                        }
                                        else
                                        {
                                            <CxIcon Icon="FeatherIcon.ChevronRight" />
                                        }
                                        &nbsp;
                                        <CxIcon Icon="FeatherIcon.Folder" />
                                        &nbsp;
                                        @space.Name
                                        <span class="ms-auto badge rounded-pill @(apps.Length > 0 ? "bg-primary" : "bg-secondary")">
                                            @apps.Length
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @if (expanded)
                            {
                                foreach (var app in apps)
                                {
                                    <div class="list-group-item list-group-item-action @(app == selectedApp ? "fw-bold bg-body" : null)" style="cursor: pointer;" @onclick="() => selectedApp = app">
                                        <div class="row">
                                            <div class="col d-flex align-items-center ps-5 small">
                                                <CxIcon Icon="LucideIcon.FilePieChart" />
                                                &nbsp;
                                                <HighlightableText Text="@app.Name" PartToHighlight="@appSearchTerm" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectAppAsync"
                  Enabled="selectedApp is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter]
    public IEnumerable<QlikCloudClient>? QlikClients { get; set; }

    [Parameter]
    public bool AllowClientChange { get; set; } = false;

    [Parameter] public EventCallback<QlikApp> OnAppSelected { get; set; }

    private readonly Dictionary<QlikSpace, bool> spaceExpandState = [];

    private Guid clientId;
    private HxOffcanvas? offcanvas;
    private IEnumerable<QlikSpace>? spaces;
    private QlikApp? selectedApp;    
    private string appSearchTerm = "";

    public async Task ShowAsync(Guid? clientId = null)
    {
        if (clientId is Guid id)
        {
            this.clientId = id;
        }
        else
        {
            this.clientId = QlikClients?.FirstOrDefault()?.QlikCloudClientId ?? Guid.Empty;
        }

        if (this.clientId == Guid.Empty)
        {
            Messenger.AddWarning("No Qlik clients found");
            return;
        }

        await offcanvas.LetAsync(x => x.ShowAsync());
        await LoadAsync();
    }

    private async Task SelectAppAsync()
    {
        ArgumentNullException.ThrowIfNull(selectedApp);
        await OnAppSelected.InvokeAsync(selectedApp);
        await offcanvas.LetAsync(x => x.HideAsync());
    }

    private async Task LoadAsync()
    {
        spaces = null;
        selectedApp = null;
        spaceExpandState.Clear();

        try
        {
            var client = QlikClients?.FirstOrDefault(c => c.QlikCloudClientId == clientId);
            ArgumentNullException.ThrowIfNull(client);
            using var connectedClient = client.CreateConnectedClient(HttpClientFactory);
            spaces = await connectedClient.GetAppsAsync();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error getting apps", ex.Message);
        }
    }

    private void OnClosed()
    {
        spaceExpandState.Clear();
        (selectedApp, spaces) = (null, null);
    }
    
}
