@inject IHxMessengerService Messenger
@inject SqlServerHelperService SqlServerHelper
@inject IDbContextFactory<AppDbContext> DbContextFactory

@if (Step is SqlStep sql && sql.SqlStatement is not null)
{
    <div class="row">
        <div class="col">
            <HxButton Size="ButtonSize.Small" Color="ThemeColor.Link" OnClick="() => GetDatabaseObjectsAsync(sql.SqlStatement)">
                Attempt to infer from stored procedure
            </HxButton>
            <HxPopover Trigger="PopoverTrigger.Hover" Content="@popoverContent">
                <CxIcon Icon="FeatherIcon.Info" />
            </HxPopover>
        </div>
    </div>
}

<table class="table mt-3">
    <thead>
        <tr>
            <th>Uri</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (references is null)
        {
            <tr>
                <td colspan="3">Loading...</td>
            </tr>
        }
        else if (!references.Any(r => r.ReferenceType == ReferenceType) && newObject is null)
        {
            <tr>
                <td colspan="3">@noDataObjects</td>
            </tr>
        }
        else
        {
            foreach (var reference in references.Where(d => d.ReferenceType == ReferenceType).OrderBy(x => x.DataObject.ObjectUri))
            {
                var mappingResult = GetMappingResult(reference.DataObject);
                var title = mappingResult switch
                {
                    { IsCandidateForRemoval: true } => "Object not found in latest mapping result",
                    { IsUnreliableMapping: true } => "Unreliable mapping",
                    { IsNewAddition: true } => "New object",
                    _ => null
                };
                <tr class="table-hover" title="@title">
                    <td class="align-middle">
                        <div class="row font-monospace small">
                            <span>@reference.DataObject.ObjectUri</span>
                        </div>
                        <div class="row mt-2">
                            <div class="col @(reference == editReference ? null : "d-flex") align-items-center">
                                @if (reference == editReference)
                                {
                                    <HxInputTags Delimiters="new()"
                                                InputSize="InputSize.Small"
                                                Placeholder="Add data attributes"
                                                SuggestDelay="0"
                                                SuggestMinimumLength="0"
                                                DataProvider="GetDataAttributeSuggestionsAsync"
                                                TagBadgeSettings="new BadgeSettings { Color = ThemeColor.Secondary }"
                                                @bind-Value="editReferenceAttributes" />
                                }
                                else
                                {
                                    <span class="small text-muted mx-1">Data attributes: </span>
                                    @if (reference.DataAttributes.Count == 0)
                                    {
                                        <span class="small text-muted mx-1">–</span>
                                    }
                                    @foreach (var value in reference.DataAttributes)
                                    {
                                        var tag = new DataAttribute(value);
                                        <TagBadge IsRemovable Tag="tag" CssClass="mx-1" OnRemoveClick="() => reference.DataAttributes.Remove(value)" />
                                    }
                                    <span class="data-attribute-edit bg-light-subtle border d-inline-flex align-items-center rounded small mx-1" title="Add data attributes"
                                          @onclick="() => { editReference = reference; editReferenceAttributes = reference.DataAttributes.ToList(); }">
                                        <CxIcon Icon="FeatherIcon.Plus" />
                                    </span>
                                }
                            </div>
                        </div>
                    </td>
                    @if (reference != editReference)
                    {
                        <td class="align-middle">
                            @if (mappingResult.IsCandidateForRemoval)
                            {
                                <span class="text-danger fw-bold fs-5 pb-1">–</span>
                            }
                            else if (mappingResult.IsUnreliableMapping)
                            {
                                <span class="text-warning fw-bold fs-5 pb-1">?</span>
                            }
                            else if (mappingResult.IsNewAddition)
                            {
                                <span class="text-success fw-bold fs-5 pb-1">+</span>
                            }
                        </td>
                    }
                    <td class="@(reference == editReference ? "align-bottom" : "align-middle")" colspan="@(reference == editReference ? "2" : "1")">
                        <HxButtonGroup Size="ButtonGroupSize.Small">
                            @if (reference == editReference)
                            {
                                <HxButton Size="ButtonSize.Small"
                                          Color="ThemeColor.None"
                                          CssClass="btn-auto text-success"
                                          OnClick="() => { reference.DataAttributes.Clear(); reference.DataAttributes.AddRange(editReferenceAttributes); editReferenceAttributes.Clear(); editReference = null; }"
                                          title="Done">
                                    <CxIcon Icon="FeatherIcon.Check" />
                                </HxButton>
                                <HxButton Size="ButtonSize.Small"
                                          Color="ThemeColor.None"
                                          CssClass="btn-auto text-danger"
                                          OnClick="() => { editReference = null; editReferenceAttributes.Clear(); }"
                                          title="Discard">
                                    <CxIcon Icon="FeatherIcon.X" />
                                </HxButton>
                            }
                            else
                            {
                                <HxButton Size="ButtonSize.Small"
                                          Color="ThemeColor.None"
                                          CssClass="btn-auto"
                                          OnClick="() => references.Remove(reference)">
                                    <CxIcon Icon="FeatherIcon.Delete" />
                                </HxButton>
                            }
                        </HxButtonGroup>
                    </td>
                </tr>
            }
        }
        @if (newObject is not null)
        {
            <tr>
                <td>
                    <input class="form-control form-control-sm font-monospace" type="text" autocomplete="off" placeholder="Uri"
                            @bind="newObject.ObjectUri"
                            @bind:event="oninput" />
                </td>
                <td colspan="2">
                    <HxButtonGroup Size="ButtonGroupSize.Small">
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto text-success" OnClick="SubmitNewObject" title="Add">
                            <CxIcon Icon="FeatherIcon.Check" />
                        </HxButton>
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto text-danger" OnClick="() => newObject = null" title="Discard">
                            <CxIcon Icon="FeatherIcon.X" />
                        </HxButton>
                    </HxButtonGroup>
                </td>
            </tr>
            var objects = allObjects?
                .Where(o => o.ObjectUri.ContainsIgnoreCase(newObject.ObjectUri))
                .OrderBy(o => o.ObjectUri)
                .Take(10) ?? Enumerable.Empty<DataObject>();
            <tr>
                <td class="px-5" colspan="3">
                    <table class="table table-sm small table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Suggestions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in objects)
                            {
                                <tr style="cursor: pointer;" @onclick="() => { newObject = obj; SubmitNewObject(); }">
                                    <td class="align-middle font-monospace">
                                        <HighlightableText Text="@obj.ObjectUri" PartToHighlight="@newObject.ObjectUri" />
                                    </td>
                                    <td>
                                        <HxButtonGroup Size="ButtonGroupSize.Small">
                                            <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => { newObject = obj; }" title="Edit before adding">
                                                <CxIcon Icon="FeatherIcon.Edit2" />
                                            </HxButton>
                                        </HxButtonGroup>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

<HxDropdownButtonGroup CssClass="mt-2">
    <HxDropdownToggleButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small">
        <CxIcon Icon="FeatherIcon.Plus" />
        @addButton
    </HxDropdownToggleButton>
    <HxDropdownMenu>
        @{
            var appRegistrationId = Step is DatasetStep ds ? ds.AppRegistrationId : null;
            var qlikClientId = Step is QlikStep qlik ? (Guid?)qlik.QlikCloudClientId : null;
            var tabularConnectionId = Step is TabularStep tabular ? tabular.ConnectionId : null;
        }
        <HxDropdownItem OnClick="() => appOffcanvas.LetAsync(x => x.ShowAsync(qlikClientId))">
            <CxIcon Icon="LucideIcon.FilePieChart" />
            Add app
        </HxDropdownItem>
        <HxDropdownItem OnClick="() => tabularOffcanvas.LetAsync(x => x.ShowAsync(tabularConnectionId))">
            <CxIcon Icon="FeatherIcon.Box" />
            Add tabular
        </HxDropdownItem>
        <HxDropdownItem OnClick="() => datasetOffcanvas.LetAsync(x => x.ShowAsync(appRegistrationId))">
            <CxIcon Icon="LucideIcon.FileBarChart2" />
            Add dataset
        </HxDropdownItem>
        <HxDropdownItem OnClick="() => blobOffcanvas.LetAsync(x => x.ShowAsync())">
            <CxIcon Icon="FeatherIcon.File" />
            Add blob
        </HxDropdownItem>
        <HxDropdownItem OnClick="() => dbObjectExplorerOffcanvas.LetAsync(x => x.ShowAsync(ConnectionId))">
            <CxIcon Icon="FeatherIcon.Table" />
            Add table
        </HxDropdownItem>
        <HxDropdownItem OnClick="AddNewObjectAsync">
            <CxIcon Icon="FeatherIcon.Edit3" />
            Add manually
        </HxDropdownItem>
    </HxDropdownMenu>
</HxDropdownButtonGroup>

<DbObjectExplorerOffcanvas @ref="dbObjectExplorerOffcanvas" Connections="SqlConnections" OnDbObjectSelected="OnDbObjectSelected" />

<DatasetSelectOffcanvas @ref="datasetOffcanvas" AppRegistrations="AppRegistrations" AllowAppRegistrationChange OnDatasetSelected="OnDatasetSelected" />

<AppSelectOffcanvas @ref="appOffcanvas" QlikClients="QlikClients" AllowClientChange OnAppSelected="OnAppSelected" />

<BlobSelectOffcanvas @ref="blobOffcanvas" OnBlobSelected="OnBlobSelected" />

<AnalysisServicesObjectSelectOffcanvas @ref="tabularOffcanvas" Connections="AsConnections" AllowAppRegistrationChange OnObjectSelected="OnTabularSelected" />

@code {
    [Parameter] public DataObjectReferenceType ReferenceType { get; set; }

    [Parameter] public Step? Step { get; set; }

    [Parameter] public Guid? ConnectionId { get; set; }

    [Parameter] public IEnumerable<SqlConnectionInfo>? SqlConnections { get; set; }

    [Parameter] public IEnumerable<AnalysisServicesConnectionInfo>? AsConnections { get; set; }

    [Parameter] public IEnumerable<AppRegistration>? AppRegistrations { get; set; }

    [Parameter] public IEnumerable<QlikCloudClient>? QlikClients { get; set; }

    [Parameter] public Func<Task<IEnumerable<DataObject>>> LoadAllDataObjects { get; set; } = null!;

    private Func<DataObject, DataObjectMappingResult> GetMappingResult => ReferenceType switch
    {
        DataObjectReferenceType.Source => (DataObject d) => d.SourceMappingResult,
        _ => (DataObject d) => d.TargetMappingResult
    };

    private IList<StepDataObject>? references;
    private string listName = "";
    private string noDataObjects = "";
    private string addButton = "";
    private string popoverContent = "";
    private IEnumerable<DataObject>? allObjects;
    private DataObject? newObject;
    private StepDataObject? editReference;
    private List<string> editReferenceAttributes = [];
    private DbObjectExplorerOffcanvas? dbObjectExplorerOffcanvas;
    private DatasetSelectOffcanvas? datasetOffcanvas;
    private AppSelectOffcanvas? appOffcanvas;
    private BlobSelectOffcanvas? blobOffcanvas;
    private AnalysisServicesObjectSelectOffcanvas? tabularOffcanvas;

    protected override void OnParametersSet()
    {
        references = Step?.DataObjects;
        listName = ReferenceType switch
        {
            DataObjectReferenceType.Source => "source",
            _ => "target"
        };
        noDataObjects = $"No {listName}s";
        popoverContent = $"Read {listName} objects from the database based on stored procedure definition. Mapping can be unreliable especially when temporary tables are used. Manually remove extra {listName}s after mapping.";
        addButton = $"Add {listName}";
    }

    private async Task AddNewObjectAsync()
    {
        allObjects ??= await LoadAllDataObjects();
        newObject = new();
    }

    private void SubmitNewObject()
    {
        ArgumentNullException.ThrowIfNull(newObject);
        ArgumentNullException.ThrowIfNull(references);

        if (references.Any(o => o.ReferenceType == ReferenceType && o.DataObject.UriEquals(newObject)))
        {
            Messenger.AddWarning($"Duplicate {listName} object");
            return;
        }

        if (!newObject.IsValid)
        {
            Messenger.AddWarning("Only ASCII characters allowed");
            return;
        }

        var existing = allObjects?.FirstOrDefault(o => o.UriEquals(newObject))
            ?? references.Select(d => d.DataObject).FirstOrDefault(o => o.UriEquals(newObject));
        if (existing is not null)
        {
            GetMappingResult(existing).IsNewAddition = true;
            AddReference(existing);
        }
        else
        {
            GetMappingResult(newObject).IsNewAddition = true;
            AddReference(newObject);
        }
        newObject = null;
    }

    private async Task GetDatabaseObjectsAsync(string sqlStatement)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(references);

            var proc = sqlStatement.ParseStoredProcedureFromSqlStatement();
            var schema = proc?.Schema;
            var name = proc?.ProcedureName;
            if (name is null)
            {
                return;
            }

            allObjects ??= await LoadAllDataObjects();

            Guid connectionId = ConnectionId ?? throw new ArgumentNullException(nameof(ConnectionId), "Connection id was null");
            var dependencies = ReferenceType switch
            {
                DataObjectReferenceType.Source => await SqlServerHelper.GetSourceObjectsAsync(connectionId, schema, name),
                _ => await SqlServerHelper.GetTargetObjectsAsync(connectionId, schema, name)
            };

            // Add new data objects for the step if they are not present.
            foreach (var dependency in dependencies)
            {
                // Check if the same object exists in the list already. Skip this object if it does.
                // This way we do not accidentally add objects that might be a target as sources,
                // thus creating a self reference.
                if (references.Any(d => d.DataObject.UriEquals(dependency)))
                {
                    return;
                }

                var dbObject = allObjects?.FirstOrDefault(o => o.UriEquals(dependency)) ??
                    new DataObject { ObjectUri = dependency.ObjectUri };

                if (!references.Any(d => d.DataObject.UriEquals(dbObject)))
                {
                    GetMappingResult(dbObject).IsNewAddition = true;
                    GetMappingResult(dbObject).IsUnreliableMapping = dependency.IsUnreliable;
                    AddReference(dbObject);
                }
            }

            foreach (var dbObject in references)
            {
                GetMappingResult(dbObject.DataObject).IsCandidateForRemoval = false;
            }

            // Check if there are objects in the list that are not mentioned in the dependencies.
            // Flag them as candidates for removal.
            var candidatesForRemoval = references.Where(o => !dependencies.Any(d => o.DataObject.UriEquals(d))).ToList();
            foreach (var candidate in candidatesForRemoval)
            {
                GetMappingResult(candidate.DataObject).IsCandidateForRemoval = true;
            }
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error getting object dependencies", ex.Message);
        }
    }

    private void AddReference(DataObject dataObject)
    {
        ArgumentNullException.ThrowIfNull(Step);
        var reference = new StepDataObject
        {
            Step = Step,
            DataObject = dataObject,
            ReferenceType = ReferenceType
        };
        references?.Add(reference);
    }

    private void OnDbObjectSelected((string Server, string Database, string Schema, string Object) tuple, bool commit)
    {
        newObject ??= new();
        newObject.ObjectUri = DataObject.CreateTableUri(tuple.Server, tuple.Database, tuple.Schema, tuple.Object);
        if (commit)
        {
            SubmitNewObject();
        }
        StateHasChanged();
    }

    private void OnDatasetSelected(Dataset dataset)
    {
        newObject ??= new();
        newObject.ObjectUri = DataObject.CreateDatasetUri(dataset.GroupName, dataset.DatasetName);
        StateHasChanged();
    }

    private void OnTabularSelected(AnalysisServicesObjectSelectedResponse tabular)
    {
        newObject ??= new();
        newObject.ObjectUri = DataObject.CreateTabularUri(tabular.ServerName, tabular.ModelName, tabular.TableName, tabular.PartitionName);
        StateHasChanged();
    }

    private void OnAppSelected(QlikApp app)
    {
        newObject ??= new();
        newObject.ObjectUri = DataObject.CreateQlikUri(app.Name);
        StateHasChanged();
    }

    private void OnBlobSelected(BlobSelectedResponse blob)
    {
        newObject ??= new();
        newObject.ObjectUri = DataObject.CreateBlobUri(blob.AccountName, blob.ContainerName, blob.Path);
        StateHasChanged();
    }

    private async Task<InputTagsDataProviderResult> GetDataAttributeSuggestionsAsync(InputTagsDataProviderRequest request)
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var fromDb = await context.StepDataObjects
            .Where(d => d.DataAttributes.Any(a => a.ToLower().Contains(request.UserInput.ToLower())))
            .Select(d => d.DataAttributes)
            .ToListAsync();
        var current = references
            ?.SelectMany(r => r.DataAttributes)
            .Where(a => a.ContainsIgnoreCase(request.UserInput))
            ?? [];
        return new InputTagsDataProviderResult
        {
            Data = fromDb
                .SelectMany(a => a)
                .Where(a => a.ContainsIgnoreCase(request.UserInput))
                .Concat(current)
                .Distinct()
                .ToArray()
        };
    }

    private struct DataAttribute(string attribute) : ITag
    {
        public Guid TagId { get; }

        public string TagName { get; } = attribute;

        public TagColor Color { get; } = TagColor.LightGray;
    }
}
