
<HxOffcanvas @ref="Offcanvas" Size="OffcanvasSize.Large" Backdrop="OffcanvasBackdrop.False" ScrollingEnabled="true" Title="Explore database objects">
    <BodyTemplate>
        <div class="row">
            <div class="col-sm-2">
                <label class="form-label">Connection</label>
            </div>
            <div class="col-sm-5">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Database" />
                    </div>
                    <select class="form-select form-select-sm" @bind="ConnectionId">
                        @foreach (var connection in Connections ?? Enumerable.Empty<SqlConnectionInfo>())
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-5 mt-3 mt-sm-0">
                <HxButton Color="ThemeColor.Primary" Size="ButtonSize.Small" OnClick="RunQueryAsync" Enabled="QueryTask?.IsCompleted ?? true">
                    <CxIcon Icon="FeatherIcon.RefreshCw" />
                    Get objects
                </HxButton>
                @if (!QueryTask?.IsCompleted ?? false)
                {
                    <HxButton CssClass="ms-3" Color="ThemeColor.Secondary" Size="ButtonSize.Small" OnClick="CancelQuery">
                        Cancel
                    </HxButton>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-2">
                <label class="form-label">Filter by</label>
            </div>
            <div class="col-sm-8">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Filter" />
                    </div>
                    <input type="search" class="form-control" @bind-value="SchemaFilter" @bind-value:event="oninput" placeholder="Schema" />
                    <input type="search" class="form-control" @bind-value="ObjectFilter" @bind-value:event="oninput" placeholder="Object" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr>
                            <th>Schema</th>
                            <th>Object</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dbObject in FilteredDatabaseObjects)
                        {
                            var tuple = (dbObject.Server, dbObject.Database, dbObject.Schema, dbObject.Object);
                            <tr>
                                <td class="align-middle"><HighlightableText Text="@dbObject.Schema" PartToHighlight="@SchemaFilter" /></td>
                                <td class="align-middle"><HighlightableText Text="@dbObject.Object" PartToHighlight="@ObjectFilter" /></td>
                                <td class="align-middle">@dbObject.Type</td>
                                <td>
                                    <HxButtonGroup Size="ButtonGroupSize.Small">
                                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => SelectDbObjectAsync(tuple, true)" title="Select & add">
                                            <CxIcon Icon="FeatherIcon.Check" />
                                        </HxButton>
                                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => SelectDbObjectAsync(tuple, false)" title="Select & edit">
                                            <CxIcon Icon="FeatherIcon.Edit2" />
                                        </HxButton>
                                    </HxButtonGroup>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" OnClick="async () => await Offcanvas.LetAsync(x => x.HideAsync())" CssClass="ms-3">Close</HxButton>
    </FooterTemplate>
</HxOffcanvas>