
<HxOffcanvas @ref="Offcanvas" Size="OffcanvasSize.Large" Backdrop="OffcanvasBackdrop.False" ScrollingEnabled="true" Title="Search database tables & views">
    <BodyTemplate>
        <div class="row">
            <div class="col-sm-2">
                <label class="form-label">Connection</label>
            </div>
            <div class="col-auto">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Database" />
                    </div>
                    <select class="form-select form-select-sm" @bind="ConnectionId">
                        @foreach (var connection in Connections ?? Enumerable.Empty<SqlConnectionInfo>())
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-2">
                <label class="form-label">Search</label>
            </div>
            <div class="col-sm-8">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Search" />
                    </div>
                    <DebounceTextInput @bind-Value="SchemaSearchTerm" @bind-Value:after="RunQueryAsync" class="form-control form-control-sm" type="search" placeholder="Schema" />
                    <DebounceTextInput @bind-Value="NameSearchTerm" @bind-Value:after="RunQueryAsync" class="form-control form-control-sm" type="search" placeholder="Name" />
                </div>
            </div>
            <div class="col-sm-2">
                @if (Loading)
                {
                    <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                }
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr>
                            <th>Schema</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (DatabaseObjects is null)
                        {
                            <tr>
                                <td colspan="3" class="text-center">
                                    Input search terms to query objects from the database
                                </td>
                            </tr>
                        }
                        else if (!DatabaseObjects.Any())
                        {
                            <tr>
                                <td colspan="3" class="text-center">
                                    No matching results
                                </td>
                            </tr>
                        }
                        @foreach (var dbObject in DatabaseObjects ?? Enumerable.Empty<DbObject>())
                        {
                            var tuple = (dbObject.Server, dbObject.Database, dbObject.Schema, dbObject.Object);
                            <tr style="cursor: pointer;" @onclick="() => SelectDbObjectAsync(tuple, true)">
                                <td class="align-middle"><HighlightableText Text="@dbObject.Schema" PartToHighlight="@SchemaSearchTerm" /></td>
                                <td class="align-middle"><HighlightableText Text="@dbObject.Object" PartToHighlight="@NameSearchTerm" /></td>
                                <td class="align-middle">@dbObject.Type</td>
                                <td>
                                    <HxButtonGroup Size="ButtonGroupSize.Small">
                                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => SelectDbObjectAsync(tuple, false)" title="Edit before adding">
                                            <CxIcon Icon="FeatherIcon.Edit2" />
                                        </HxButton>
                                    </HxButtonGroup>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" OnClick="CloseAsync">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>