@typeparam TParameter where TParameter : StepParameterBase

@if (Step is not null)
{
    <p />
    <h5>
        Parameters
        &nbsp;
        <HxPopover Placement="PopoverPlacement.Right" Trigger="PopoverTrigger.Hover" Html Sanitize="false"
                    Content="@("<div><p>Use parameters to dynamically pass values to the step during execution.</p><p>Parameters are matched using their names. Let's say you have defined a parameter named <code>@MyStringParam</code> with a value of <code>Hello World!</code>. Using the parameter's name in the step's supported properties will replace the name with the parameter value during execution. For example, a SQL statement like <code>exec MyProcedure @MyStringParam</code> will become <code>exec MyProcedure 'Hello World!'</code></p></div>")">
            <ChildContent>
                <span style="cursor: pointer;">
                    <CxIcon Icon="FeatherIcon.Info" />
                </span>
            </ChildContent>
        </HxPopover>
    </h5>
    <table id="parameters_table" class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Step.StepParameters.Any())
            {
                <tr><td colspan="5">No parameters</td></tr>
            }
            @{
                var count = 0;
            }
            @foreach (var param in Step.StepParameters)
            {
                <tr>
                    <td>
                        <HxInputText InputSize="InputSize.Small" @bind-Value="param.ParameterName" placeholder="Name"></HxInputText>
                    </td>
                    <td class="align-middle">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="inherit_param_@count"
                                   checked=@(param.InheritFromJobParameterId is not null)
                                   disabled=@(!JobParameters.Any())
                                   @onchange="args => SetJobParameter((bool)args.Value!, param)">
                            <label class="form-check-label fw-normal" for="inherit_param_@count">Inherit</label>
                        </div>
                    </td>
                    @if (param.InheritFromJobParameterId is not null)
                    {
                        <td colspan="2">
                            <InputSelect class="form-select form-select-sm" @bind-Value="param.InheritFromJobParameterId">
                                @foreach (var jobParam in JobParameters.OrderBy(p => p.ParameterName))
                                            {
                                    <option value="@jobParam.ParameterId">
                                        @jobParam.DisplaySummary
                                    </option>
                                            }
                            </InputSelect>
                        </td>
                    }
                    else
                    {
                        <DynamicParameterEditComponent Parameter="param"
                                                       OnParameterEdit="OnParameterEdit">
                            <StaticEditTemplate>
                                <ParameterTypeValueEditComponent Parameter="param" />
                            </StaticEditTemplate>
                        </DynamicParameterEditComponent>
                    }
                    <td>
                        <HxButtonGroup Size="ButtonGroupSize.Small">
                            <HxButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small" @onclick="() => Step.StepParameters.Remove(param)">
                                <CxIcon Icon="FeatherIcon.Delete" />
                            </HxButton>
                        </HxButtonGroup>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
    <HxButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small" @onclick="AddParameter">
        <CxIcon Icon="FeatherIcon.Plus" />
        Add parameter
    </HxButton>
}

<ExpressionEditOffcanvas @ref="ExpressionEditOffcanvas" OnExpressionChanged="StateHasChanged" OnClosed="() => ExpressionEditParameter = null">
    <div class="row mt-3">
        <div class="col">
            <ExpressionParameterEditComponent Parameter="ExpressionEditParameter" />
        </div>
    </div>
</ExpressionEditOffcanvas>

@code {
    [Parameter, EditorRequired] public IHasStepParameters<TParameter>? Step { get; set; }

    [Parameter, EditorRequired] public Func<TParameter>? NewParameterDelegate { get; set; }

    private IEnumerable<JobParameter> JobParameters => (Step as Step)?.Job.JobParameters ?? Enumerable.Empty<JobParameter>();

    private ExpressionEditOffcanvas? ExpressionEditOffcanvas { get; set; }

    private StepParameterBase? ExpressionEditParameter { get; set; }

    private void SetJobParameter(bool inheritFromJob, StepParameterBase param)
    {
        if (inheritFromJob)
        {
            param.InheritFromJobParameterId = JobParameters.FirstOrDefault()?.ParameterId;
            param.InheritFromJobParameter = JobParameters.FirstOrDefault();
        }
        else
        {
            param.InheritFromJobParameterId = null;
            param.InheritFromJobParameter = null;
        }
    }

    private async Task OnParameterEdit(DynamicParameter parameter)
    {
        ExpressionEditParameter = (StepParameterBase)parameter;
        await ExpressionEditOffcanvas.LetAsync(x => x.ShowAsync(ExpressionEditParameter));
    }

    private void AddParameter()
    {
        ArgumentNullException.ThrowIfNull(Step);
        ArgumentNullException.ThrowIfNull(NewParameterDelegate);
        Step.StepParameters.Add(NewParameterDelegate());
    }

}
