@inject MarkupHelperService MarkupHelper
@inject SqlServerHelperService SqlServerHelperService
@inject IHxMessengerService Messenger

<HxOffcanvas @ref="Offcanvas" Size="OffcanvasSize.Regular" OnClosed="OnClosed" Title="Select stored procedure">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">
                        @MarkupHelper.FromFile("icons/feather/filter.svg")
                    </span>
                    <input type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Schema"
                           @bind-value="FilterTextSchema" @bind-value:event="oninput" />
                    <input type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Name"
                           @bind-value="FilterTextName" @bind-value:event="oninput" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                Stored procedures
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Procedures is null)
                        {
                            <tr><td class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                        }
                        else if (Procedures.Count == 0)
                        {
                            <tr><td>No stored procedures</td></tr>
                        }
                        else
                        {
                            foreach (var proc in ProceduresFiltered)
                            {
                                <tr style="cursor: pointer;"
                                    @onclick="() => SelectedProcedure = proc"
                                    class="@(proc == SelectedProcedure ? "bg-light fw-bold" : null)">
                                    <td>
                                        <HighlightableText Text="@($"[{proc.SchemaName}]")" PartToHighlight="@FilterTextSchema" />.<HighlightableText Text="@($"[{proc.ProcedureName}]")" PartToHighlight="@FilterTextName" />
                                    </td>
                                </tr>
                                @if (proc == SelectedProcedure && proc.Parameters.Any())
                                {
                                    <tr class="no-hover">
                                        <td colspan="2" class="bg-light">
                                            <div class="row">
                                                <div class="col">
                                                    <h6 class="mx-2">Parameters</h6>
                                                    <dl class="row mx-3 small">
                                                        @foreach (var param in proc.Parameters)
                                                        {
                                                            <dt class="col-sm-6">@param.ParameterName</dt>
                                                            <dd class="col-sm-6">@param.ParameterType</dd>
                                                        }
                                                    </dl>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectProcedure"
                  Enabled="SelectedProcedure is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await Offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {

    private HxOffcanvas? Offcanvas { get; set; }

    [Parameter]
    public Guid? ConnectionId { get; set; }

    [Parameter]
    public EventCallback<string> OnProcedureSelected { get; set; }

    private List<StoredProcedure>? Procedures { get; set; }

    private IEnumerable<StoredProcedure> ProceduresFiltered => Procedures?
        .Where(proc => $"[{proc.SchemaName}]".ContainsIgnoreCase(FilterTextSchema))
        .Where(proc => $"[{proc.ProcedureName}]".ContainsIgnoreCase(FilterTextName))
        .OrderBy(proc => proc.SchemaName)
        .ThenBy(proc => proc.ProcedureName) ?? Enumerable.Empty<StoredProcedure>();

    private string FilterTextName { get; set; } = string.Empty;
    private string FilterTextSchema { get; set; } = string.Empty;

    private StoredProcedure? SelectedProcedure { get; set; }

    private async Task SelectProcedure()
    {
        if (SelectedProcedure is not null)
        {
            await OnProcedureSelected.InvokeAsync($"[{SelectedProcedure.SchemaName}].[{SelectedProcedure.ProcedureName}]");
            await Offcanvas.LetAsync(x => x.HideAsync());
        }
    }

    public void OnClosed()
    {
        Procedures = null;
        SelectedProcedure = null;
        FilterTextSchema = string.Empty;
        FilterTextName = string.Empty;
    }

    public async Task ShowAsync()
    {
        await Offcanvas.LetAsync(x => x.ShowAsync());
        if (ConnectionId is null || ConnectionId == Guid.Empty) return;
        try
        {
            Procedures = await SqlServerHelperService.GetStoredProcedures((Guid)ConnectionId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error reading procedures", ex.Message);
        }
    }

}
