@inject AuthenticationMethodResolver AuthenticationResolver
@inject NavigationManager NavigationManager

<nav class="sidebar @ClassString" style="z-index: 1040;">
    <ul class="nav flex-column pt-3">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="NavLinkClick">
                <SvgIcon Icon="FeatherIcon.Home" />
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="jobs" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <SvgIcon Icon="LucideIcon.ClipboardList" />
                Jobs
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="schedules" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <SvgIcon Icon="FeatherIcon.Calendar" />
                Schedules
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="executions" @onclick="NavLinkClick">
                <SvgIcon Icon="FeatherIcon.Activity" />
                Executions
            </NavLink>
        </li>
        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
            <li class="nav-item">
                <NavLink class="nav-link" href="tags" @onclick="NavLinkClick" Match="NavLinkMatch.Prefix">
                    <SvgIcon Icon="FeatherIcon.Tag" />
                    Tags
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="dataobjects" @onclick="NavLinkClick">
                    <SvgIcon Icon="FeatherIcon.Table" />
                    Data Objects
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item">
            <NavLink class="nav-link" href="datatables" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <SvgIcon Icon="LucideIcon.Table" />
                Data Tables
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="account" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <SvgIcon Icon="FeatherIcon.User" />
                Account
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="subscriptions" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <SvgIcon Icon="FeatherIcon.Mail" />
                Subscriptions
            </NavLink>
        </li>
        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.VersionManager}, {Roles.Editor}")">
            <li class="nav-item">
                <NavLink class="nav-link" href="versions" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                    <SvgIcon Icon="FeatherIcon.Tool" />
                    Versions
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.SettingsEditor}")">
            <li class="nav-item">
                <NavLink class="nav-link" href="settings" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                    <SvgIcon Icon="FeatherIcon.Settings" />
                    Settings
                </NavLink>
            </li>
        </AuthorizeView>
        @switch (AuthenticationResolver.AuthenticationMethod)
        {
            case AuthenticationMethod.BuiltIn or AuthenticationMethod.Ldap:
                <li class="nav-item mt-3">
                    <a class="nav-link" href="javascript:void(0)" @onclick="@(() => NavigationManager.NavigateTo("logout", forceLoad: true))">
                        <SvgIcon Icon="FeatherIcon.LogOut" />
                        Log out
                    </a>
                </li>
                break;
            case AuthenticationMethod.AzureAd:
                <li class="nav-item mt-3">
                    <a class="nav-link" href="javascript:void(0)" @onclick="@(() => NavigationManager.NavigateTo("MicrosoftIdentity/Account/SignOut", forceLoad: true))">
                        <SvgIcon Icon="FeatherIcon.LogOut" />
                        Log out
                    </a>
                </li>
                break;
        }
    </ul>
</nav>

@code {
    [Parameter]
    public string? ClassString { get; set; }

    [Parameter]
    public EventCallback OnNavLinkClick { get; set; }

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private async Task NavLinkClick()
    {
        await OnNavLinkClick.InvokeAsync();
    }
}
