@page
@model EtlManager.Pages.Jobs.JobDetails.StepDetails.StepHistoryModel
@{
    ViewData["Title"] = "StepHistory";
}

<h4>@Model.Job.JobName</h4>
<h5>@Model.Step.StepName</h5>
<p></p>
<a class="btn btn-sm btn-secondary" asp-page="../Index" asp-route-id="@Model.Job.JobId">Back to steps</a>
<p></p>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].EndDateTime)
            </th>
            <th>
                Duration
            </th>
            <th>
                Success percent
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].ExecutionStatus)
            </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><text>@Model.AverageDurationInSeconds.SecondsToReadableFormat()</text></th>
            <th>@Html.DisplayFor(modelItem => Model.AverageSuccessRate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Executions)
        {
            <tr style="cursor: pointer;" data-toggle="modal" data-target="#modal_@item.StepExecutionId">
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    <text>@item.GetDurationInReadableFormat()</text>
                </td>
                <td>
                </td>
                <td>
                    @{
                        switch (item.ExecutionStatus)
                        {
                            case "COMPLETED":
                                <span class="badge badge-success">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                            case "FAILED":
                                <span class="badge badge-danger">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                            case "SKIPPED":
                            case "AWAIT RETRY":
                                <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                            case "RUNNING":
                                <span class="badge badge-primary">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                            default:
                                <span class="badge badge-secondary">@Html.DisplayFor(modelItem => item.ExecutionStatus)</span>
                                break;
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<p class="text-secondary">Showing @Model.MaxExecutions latest executions</p>

@*Generate modal popup windows to display step execution details*@
@foreach (var item in Model.Executions)
{
    <div class="modal fade" id="modal_@item.StepExecutionId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@item.StepName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.ExecutionId)
                        </dt>
                        <dd class="col-sm-9">
                            <a asp-page="/Executions/JobDetails" asp-route-id="@item.ExecutionId">@Html.DisplayFor(model => item.ExecutionId)</a>
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.JobId)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.JobId)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.JobName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.JobName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.StepId)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.StepId)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.StepName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.StepName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.StepType)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.StepType)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.CreatedDateTime)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.CreatedDateTime)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.StartDateTime)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.StartDateTime)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.EndDateTime)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.EndDateTime)
                        </dd>
                        <dt class="col-sm-3">
                            <text>Duration</text>
                        </dt>
                        <dd class="col-sm-9">
                            <text>@item.GetDurationInReadableFormat()</text>
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.ExecutionStatus)
                        </dt>
                        <dd class="col-sm-9">
                            @{
                                switch (item.ExecutionStatus)
                                {
                                    case "COMPLETED":
                                        <span class="badge badge-success">@Html.DisplayFor(model => item.ExecutionStatus)</span>
                                        break;
                                    case "FAILED":
                                        <span class="badge badge-danger">@Html.DisplayFor(model => item.ExecutionStatus)</span>
                                        break;
                                    case "SKIPPED":
                                    case "AWAIT RETRY":
                                        <span class="badge badge-warning">@Html.DisplayFor(model => item.ExecutionStatus)</span>
                                        break;
                                    case "RUNNING":
                                        <span class="badge badge-primary">@Html.DisplayFor(model => item.ExecutionStatus)</span>
                                        break;
                                    default:
                                        <span class="badge badge-secondary">@Html.DisplayFor(model => item.ExecutionStatus)</span>
                                        break;
                                }
                            }
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => item.ErrorMessage)
                        </dt>
                        <dd class="col-sm-9">
                            <text class="text-danger" style="white-space: pre-wrap">@item.ErrorMessage</text>
                        </dd>
                        @if (item.StepType == "SQL")
                        {
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => item.SqlStatement)
                            </dt>
                            <dd class="col-sm-9">
                                <pre><code>@item.SqlStatement</code></pre>
                            </dd>
                        }
                        else if (item.StepType == "SSIS")
                        {
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => item.PackagePath)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => item.PackagePath)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => item.ExecuteIn32BitMode)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => item.ExecuteIn32BitMode)
                            </dd>
                        }
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}