@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IMediator Mediator
@inject ToasterService Toaster

<div class="row mt-3">
    <div class="col">
        <button class="btn btn-secondary" @onclick="OpenConfirmDeleteModalAsync">
            <SvgIcon Icon="FeatherIcon.Trash2" />
            Delete unused...
        </button>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body px-0">
                <EditForm id="tag_edit_form" Model="template" OnValidSubmit="UpdateTagAsync">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Sort order</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (tags is null)
                            {
                                <tr>
                                    <td colspan="4" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td>
                                </tr>
                            }
                            else if (!tags.Any())
                            {
                                <tr>
                                    <td colspan="4" class="px-3">No schedule tags</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var tag in tags.Order())
                                {
                                    var schedules = tag.Schedules.Count();
                                    <tr>
                                        @if (editTag?.TagId == tag.TagId)
                                        {
                                            <td class="align-middle">
                                                <InputText class="form-control form-control-sm" @bind-Value="template.TagName" />
                                            </td>
                                            <td class="align-middle">
                                                <InputNumber class="form-control form-control-sm" @bind-Value="template.SortOrder" style="max-width: 8rem;" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="align-middle">
                                                <TagBadge Tag="tag" />
                                            </td>
                                            <td class="align-middle">
                                                @tag.SortOrder
                                            </td>
                                        }
                                        <td>
                                            <div class="btn-group">
                                                @if (editTag?.TagId == tag.TagId)
                                                {
                                                    <HxSubmit FormId="tag_edit_form" Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto text-success" title="Submit">
                                                        <SvgIcon Icon="FeatherIcon.Check" />
                                                    </HxSubmit>
                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => editTag = null" title="Cancel">
                                                        <SvgIcon Icon="FeatherIcon.X" />
                                                    </HxButton>
                                                }
                                                else
                                                {
                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => SetEditTag(tag)">
                                                        <SvgIcon Icon="FeatherIcon.Edit3" />
                                                    </HxButton>
                                                }
                                                <HxDropdownButtonGroup>
                                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                                        <SvgIcon Icon="FeatherIcon.Trash2" />
                                                    </HxDropdownToggleButton>
                                                    <HxDropdownMenu>
                                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                                        <HxDropdownItem @onclick="async () => await DeleteTag(tag)">Confirm</HxDropdownItem>
                                                    </HxDropdownMenu>
                                                </HxDropdownButtonGroup>
                                                <HxDropdownButtonGroup>
                                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                                        @tag.Color
                                                    </HxDropdownToggleButton>
                                                    <HxDropdownMenu>
                                                        <HxDropdownHeader>Tag color</HxDropdownHeader>
                                                        @foreach (var color in Enum.GetValues<TagColor>())
                                                        {
                                                            <HxDropdownItem OnClick="async () => await SetTagColorAsync(tag, color)">@color</HxDropdownItem>
                                                        }
                                                    </HxDropdownMenu>
                                                </HxDropdownButtonGroup>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <a class="text-body" href="javascript:void(0)" @onclick="async () => await ShowEditModalAsync(tag)">
                                                @(schedules > 0 ? $"{schedules} schedule(s)" : null)
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<HxModal @ref="confirmDeleteModal" Size="ModalSize.Regular" Title="Delete tags">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                Delete these unused tags?
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                @foreach (var tag in UnusedTags)
                {
                    <TagBadge Tag="tag" CssClass="m-1" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await confirmDeleteModal.LetAsync(x => x.HideAsync())">Cancel</button>
        <button class="btn btn-danger" @onclick="DeleteUnusedTagsAsync">Delete</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="manageModal" Size="ModalSize.Large" Title="@($"Edit tag {manageTag?.TagName}")" Scrollable="true">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Schedule</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var schedule in manageTag?.Schedules.OrderBy(j => j.ScheduleName).AsEnumerable() ?? [])
                        {
                            <tr>
                                <td class="align-middle">
                                    @schedule.ScheduleName
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-auto" @onclick="async () => await DeleteScheduleTag(schedule)">
                                            <SvgIcon Icon="FeatherIcon.Delete" />
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await manageModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private List<ScheduleTag>? tags;
    private HxModal? confirmDeleteModal;
    private HxModal? manageModal;
    private ScheduleTag? manageTag;
    private ScheduleTag template = new("");
    private ScheduleTag? editTag;

    private IEnumerable<ScheduleTag> UnusedTags => tags?
        .Where(t => !t.Schedules.Any())
        .Order()
        .AsEnumerable()
        ?? [];

    protected override async Task OnInitializedAsync()
    {
        using var context = await Task.Run(DbContextFactory.CreateDbContext);
        tags = await context.ScheduleTags
            .AsNoTrackingWithIdentityResolution()
            .Include(t => t.Schedules)
            .ToListAsync();
    }

    private async Task OpenConfirmDeleteModalAsync()
    {
        if (!UnusedTags.Any())
        {
            Toaster.AddInformation("No unused schedule tags");
            return;
        }

        await confirmDeleteModal.LetAsync(x => x.ShowAsync());
    }

    private async Task DeleteUnusedTagsAsync()
    {
        var response = await Mediator.SendAsync(new DeleteUnusedScheduleTagsCommand());
        tags?.RemoveAll(t => response.DeletedTags.Any(d => d.TagId == t.TagId));
        await confirmDeleteModal.LetAsync(x => x.HideAsync());
    }

    private void SetEditTag(ScheduleTag tag)
    {
        template = new ScheduleTag(tag.TagName) { SortOrder = tag.SortOrder };
        editTag = tag;
    }

    private async Task UpdateTagAsync()
    {
        try
        {
            ArgumentNullException.ThrowIfNull(editTag);
            editTag.TagName = template.TagName;
            editTag.SortOrder = template.SortOrder;
            await Mediator.SendAsync(new UpdateTagCommand(editTag));
            editTag = null;
            template = new("");
        }
        catch (DbUpdateConcurrencyException)
        {
            Toaster.AddError("Concurrency error", "The tag was modified outside of this session. Reload the page to view the most recent values.");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error updating tag", ex.Message);
        }
    }

    private async Task DeleteTag(ScheduleTag tag)
    {
        await Mediator.SendAsync(new DeleteTagCommand(tag.TagId));
        tags?.Remove(tag);
    }

    private async Task DeleteScheduleTag(Schedule schedule)
    {
        if (manageTag is null)
        {
            return;
        }
        await Mediator.SendAsync(new DeleteScheduleTagCommand(schedule.ScheduleId, manageTag.TagId));
        manageTag.Schedules.Remove(schedule);
    }

    private async Task SetTagColorAsync(Tag tag, TagColor color)
    {
        tag.Color = color;
        await Mediator.SendAsync(new UpdateTagCommand(tag));
    }

    private async Task ShowEditModalAsync(ScheduleTag tag)
    {
        manageTag = tag;
        await manageModal.LetAsync(x => x.ShowAsync());
    }
}
