@page
@model EtlManager.Pages.DashboardModel
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h3>Dashboard</h3>
        </div>
        <div class="col-lg-9 d-flex justify-content-end">
            <form class="form-inline">
                <input type="hidden" asp-for="LoadReport" value="true" />
                <div id="spinner_loading" class="spinner-border text-primary align-middle" hidden role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="submit" class="btn btn-sm btn-primary ml-3" onclick="$('#spinner_loading').removeAttr('hidden');">
                    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/refresh-cw.svg")))
                    Load report
                </button>
                <label class="ml-5">Date until:</label>
                <input asp-for="DateTimeUntil" class="form-control form-control-sm ml-2" type="date">
                <label class="ml-5">Interval (d):</label>
                <input asp-for="IntervalDays" class="form-control form-control-sm col-1 ml-2">
            </form>
        </div>
    </div>
</div>
<hr />

@if (Model.LoadReport)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5>Average execution duration</h5>
                <canvas class="my-4 w-100" id="myChart1" width="900" height="380"></canvas>
            </div>
            <div class="col">
                <h5>Job success rate</h5>
                <canvas class="my-4 w-100" id="myChart2" width="900" height="380"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Number of executions</h5>
                <canvas class="my-4 w-100" id="myChart3" width="900" height="380"></canvas>
            </div>
            <div class="col">
                <h5>Top 5 failing steps</h5>
                <div class="row mt-4">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Step</th>
                                <th>Job</th>
                                <th>Success %</th>
                                <th># of executions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.TopFailedSteps.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>
                                        <a class="text-dark" asp-page="/Jobs/JobDetails/StepDetails/StepHistory" asp-route-id="@Model.TopFailedSteps[i].StepId">
                                            @Model.TopFailedSteps[i].StepName
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-dark" asp-page="/Jobs/JobDetails/History" asp-route-id="@Model.TopFailedSteps[i].JobId">
                                            @Model.TopFailedSteps[i].JobName
                                        </a>
                                    </td>
                                    <td>@Html.DisplayFor(item => Model.TopFailedSteps[i].SuccessPercent)</td>
                                    <td>@Model.TopFailedSteps[i].NoOfExecutions</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        <script src="~/lib/Chart.js/Chart.min.js"></script>
        <script src="~/lib/Chart.js/Chart.bundle.js"></script>
        <script type="text/javascript">

        $(function () {

            // Average execution duration in minutes by date
            var datasets1 = [
                    @Html.Raw(GetDurationDatasetString())
            ];

            var ctx1 = document.getElementById('myChart1')

            var myChart1 = new Chart(ctx1, {
                type: 'line',
                data: {
                    datasets: datasets1
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'min'
                            }
                        }],
                        xAxes: [{
                            type: 'time'
                        }]
                    }
                }
            })

            // Job success rates
            var ctx2 = document.getElementById('myChart2')
            var myChart2 = new Chart(ctx2, {
                type: 'horizontalBar',
                data: {
                    labels: [
                        @Html.Raw(string.Join(',', Model.Jobs.Select(job => "'" + job.JobName + "'")))
                    ],
                    datasets: [{
                        data: [
                            @string.Join(',', Model.Jobs.Select(job => decimal.Round(job.SuccessPercent, 2).ToString().Replace(',', '.')))
                        ],
                        lineTension: 0,
                        backgroundColor: [
                            @Html.Raw(string.Join(',', Model.Jobs.Select(job => "'" + Model.JobColors[job.JobName] + "'")))
                        ]
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                max: 100,
                                min: 0,
                                stepSize: 10,
                                callback: function (value, index, values) {
                                    return value + '%';
                                }
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            })


            // Number of job executions by date
            var datasets3 = [
                    @Html.Raw(GetNoOfExecutionsDatasetString())
            ];

            var ctx3 = document.getElementById('myChart3')

            var myChart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    datasets: datasets3
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1
                            }
                        }],
                        xAxes: [{
                            type: 'time'
                        }]
                    }
                }
            })

        })




        </script>
    }

}

@{
    string GetDurationDatasetString()
    {
        return string.Join(',',
            Model.TimeSeriesItems.Select((e, index) =>
                "{label: '" + e.Key + "', fill: false, backgroundColor: '" + Model.JobColors[e.Key] + "', borderColor: '" + Model.JobColors[e.Key] + "', data: [" +
                    string.Join(',', e.Value.Select(v => @"{t: new Date(""" + v.Date.ToString("yyyy-M-d")?.Replace('.', ':') + @"""), y: " + v.DurationInMinutes.ToString().Replace(',', '.') + @"}")) +
                "]}")
            );
    }

    string GetNoOfExecutionsDatasetString()
    {
        return string.Join(',',
            Model.TimeSeriesItems.Select((e, index) =>
                "{label: '" + e.Key + "', fill: false, backgroundColor: '" + Model.JobColors[e.Key] + "', borderColor: '" + Model.JobColors[e.Key] + "', data: [" +
                    string.Join(',', e.Value.Select(v => @"{t: new Date(""" + v.Date.ToString("yyyy-M-d")?.Replace('.', ':') + @"""), y: " + v.NumberOfExecutions + @"}")) +
                "]}")
            );
    }
}
