@implements IDisposable

@inject ToasterService Toaster
@inject IExecutionBuilderFactory<AppDbContext> BuilderFactory
@inject IExecutorService Executor

<HxModal @ref="_modal" Fullscreen="ModalFullscreen.Always" Scrollable="true" Title="Execute steps"
         BodyCssClass="pt-0"
         OnClosed="OnClosed">

    <BodyTemplate>
        @if (_builder is not null)
        {
            var (stepsCount, stepParamsCount, jobParamsCount) = (
                _builder.StepExecutions.Count(),
                _builder.StepExecutions.Sum(e => e.Parameters.Count()),
                _builder.Parameters.Count());
            string BadgeClass(int? count) => count > 0 ? "bg-primary" : "bg-secondary";
            <ul class="nav nav-underline mt-2" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link cursor-pointer @(_activeView == View.Steps ? "active" : null)" @onclick="() => _activeView = View.Steps">
                        Steps
                        <span class="badge rounded-pill ms-3 @BadgeClass(stepsCount)">
                            @stepsCount
                        </span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link cursor-pointer @(_activeView == View.StepParameters ? "active" : null)" @onclick="() => _activeView = View.StepParameters">
                        Step parameters
                        <span class="badge rounded-pill ms-3 @BadgeClass(stepParamsCount)">
                            @stepParamsCount
                        </span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link cursor-pointer @(_activeView == View.JobParameters ? "active" : null)" @onclick="() => _activeView = View.JobParameters">
                        Job parameters
                        <span class="badge rounded-pill ms-3 @BadgeClass(jobParamsCount)">
                            @jobParamsCount
                        </span>
                    </a>
                </li>
            </ul>

            @switch (_activeView)
            {
                case View.Steps:
                
                    <div class="row">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-auto mt-3">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-text">
                                                <SvgIcon Icon="LucideIcon.Filter" />
                                            </div>
                                            <input type="search" class="form-control" @bind-value="_executeFilterText" @bind-value:event="oninput"
                                                   placeholder="Filter by name" autocomplete="off" style="min-width: 15rem; max-width: 15rem;" />
                                        </div>
                                    </div>
                                    <div class="col-auto mt-3">
                                        <HxButtonGroup Size="ButtonGroupSize.Small">
                                            <FilterDropdown TItem="DisplayStepType"
                                                            FilterSet="_stepTypeFilter"
                                                            Items="_builder.Steps.Select(s => s.DisplayStepType).Distinct().OrderBy(t => t)"
                                                            OnChange="StateHasChanged">
                                                <TitleTemplate>
                                                    <SvgIcon Icon="LucideIcon.Wrench" />
                                                    Step type
                                                </TitleTemplate>
                                                <ItemTemplate Context="item">
                                                    <DisplayStepTypeIcon StepType="item" />
                                                    @item.ToString()
                                                </ItemTemplate>
                                            </FilterDropdown>
                                            <FilterDropdown TItem="ITag"
                                                            FilterSet="_executeTagsFilterSet"
                                                            Items="Tags"
                                                            IdSelector="tag => tag.TagId.ToString()"
                                                            TextSelector="tag => tag.TagName"
                                                            IsSearchable
                                                            OnChange="StateHasChanged">
                                                <TitleTemplate>
                                                    <SvgIcon Icon="LucideIcon.Tag" />
                                                    Tags
                                                </TitleTemplate>
                                                <ItemTemplate Context="item">
                                                    <TagBadge Tag="item" />
                                                </ItemTemplate>
                                            </FilterDropdown>
                                            <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto"
                                                      @onclick="() => { _executeTagsFilterSet.Clear(); _stepTypeFilter.Clear(); _executeFilterText = string.Empty; }">
                                                <SvgIcon Icon="LucideIcon.X" />
                                                Clear
                                            </HxButton>
                                        </HxButtonGroup>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto mt-2">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" id="execute_radio_all"
                                                   checked=@(_stateFilter == StateFilter.All)
                                                                                              @onchange="() => _stateFilter = StateFilter.All">
                                            <label class="form-check-label" for="execute_radio_all">All</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" id="execute_radio_enabled"
                                                   checked=@(_stateFilter == StateFilter.Enabled)
                                                                                              @onchange="() => _stateFilter = StateFilter.Enabled">
                                            <label class="form-check-label" for="execute_radio_enabled">Enabled</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" id="execute_radio_disabled"
                                                   checked=@(_stateFilter == StateFilter.Disabled)
                                                                                              @onchange="() => _stateFilter = StateFilter.Disabled">
                                            <label class="form-check-label" for="execute_radio_disabled">Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-3">
                                <HxButtonGroup>
                                    @*Add all available AND enabled steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                              @onclick="() => AddAvailable(_builder)">
                                        <SvgIcon Icon="LucideIcon.ChevronsRight" />
                                        Select all
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" @onclick="() => _builder.Clear()">
                                        <SvgIcon Icon="LucideIcon.ChevronsLeft" />
                                        Deselect all
                                    </HxButton>
                                </HxButtonGroup>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <h6>Available steps</h6>
                            <div style="overflow-y: scroll; height: calc(100vh - 325px);">
                                <table class="table table-hover table-sm">
                                    <tbody>
                                    @foreach (var step in StepsAvailableToExecute)
                                    {
                                        <tr class="cursor-pointer" title="@(step.IsEnabled ? null : "Step is disabled")">
                                            <td class="@(step.IsEnabled ? null : "text-secondary") align-middle"
                                                @onclick="() => Add(step)">
                                                <DisplayStepTypeIcon StepType="@step.DisplayStepType" />
                                                &nbsp;
                                                <HighlightableText Text="@step.StepName" PartToHighlight="@_executeFilterText" />
                                            </td>
                                            <td class="@(_builder.ExecutionMode == ExecutionMode.Dependency ? "text-body-tertiary" : null)"
                                                @onclick="() => Add(step)">
                                                <SvgIcon Icon="LucideIcon.Layers3" />
                                                <sup>@step.ExecutionPhase</sup>
                                            </td>
                                            @if (_builder.ExecutionMode is ExecutionMode.Dependency)
                                            {
                                                <td class="text-end pe-2">
                                                    @if (step.HasDependencies)
                                                    {
                                                        <HxDropdown>
                                                            <HxDropdownToggleElement title="Include dependencies">
                                                                <SvgIcon Icon="LucideIcon.Workflow" />
                                                            </HxDropdownToggleElement>
                                                            <HxDropdownMenu>
                                                                <HxDropdownHeader>Include dependencies (only enabled steps)</HxDropdownHeader>
                                                                <HxDropdownItem OnClick="() => step.AddWithDependencies(true)">
                                                                    On-success dependencies
                                                                </HxDropdownItem>
                                                                <HxDropdownItem OnClick="() => step.AddWithDependencies(false)">
                                                                    All dependencies
                                                                </HxDropdownItem>
                                                            </HxDropdownMenu>
                                                        </HxDropdown>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col">
                            <h6>Selected steps</h6>
                            <div style="overflow-y: scroll; height: calc(100vh - 325px);">
                                <table class="table table-hover table-sm">
                                    <tbody>
                                    @foreach (var step in _builder.StepExecutions)
                                    {
                                        <tr class="cursor-pointer" @onclick="() => step.RemoveFromExecution()">
                                            <td>
                                                <DisplayStepTypeIcon StepType="@step.DisplayStepType" />
                                                &nbsp;
                                                @step.StepName
                                            </td>
                                            <td class="@(_builder.ExecutionMode == ExecutionMode.Dependency ? "text-body-tertiary" : null)">
                                                <SvgIcon Icon="LucideIcon.Layers3" />
                                                <sup>@step.ExecutionPhase</sup>
                                            </td>
                                            <td class="text-end">
                                                @if (step.SupportsParameters && step.Parameters.Any())
                                                {
                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" title="Edit parameters"
                                                              @onclick="() => { _parameterEditStep = step; _activeView = View.StepParameters; }">
                                                        <SvgIcon Icon="LucideIcon.AtSign" />
                                                    </HxButton>
                                                }
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    break;
                
                case View.StepParameters:
                
                    <div class="row mt-3">
                        <div class="col-5">
                            <h6>
                                Selected steps
                                &nbsp;
                                <HxPopover Content="Only steps that have parameters are listed" Trigger="PopoverTrigger.Hover">
                                    <SvgIcon Icon="LucideIcon.Info" />
                                </HxPopover>
                            </h6>
                            <div style="overflow-y: scroll; height: calc(100vh - 250px);">
                                <table class="table table-hover table-sm">
                                    <tbody>
                                    @foreach (var step in _builder.StepExecutions.Where(s => s.Parameters.Any()))
                                    {
                                        <tr class="cursor-pointer @(step.StepId == _parameterEditStep?.StepId ? "fw-bold" : null)" @onclick="() => ToggleParameterEditStep(step)">
                                            <td>
                                                <DisplayStepTypeIcon StepType="@step.DisplayStepType" />
                                                &nbsp;
                                                @step.StepName
                                            </td>
                                            <td class="text-end @(_builder.ExecutionMode == ExecutionMode.Dependency ? "text-body-tertiary" : null)">
                                                @step.ExecutionPhase
                                                &nbsp;
                                                <SvgIcon Icon="LucideIcon.Layers3" />
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-7">
                            <h6>Parameters</h6>
                            <div style="overflow-y: scroll; height: calc(100vh - 250px);">
                                <table class="table table-sm">
                                    <tbody>
                                    @foreach (var parameter in _parameterEditStep?.Parameters.OrderBy(p => p.DisplayName) ?? Enumerable.Empty<StepExecutionParameterBase>())
                                    {
                                        <tr>
                                            <td class="align-middle">
                                                @parameter.DisplayName
                                            </td>
                                            @if (parameter.InheritFromExecutionParameter is not null)
                                            {
                                                <td colspan="2">
                                                    @parameter.DisplayValueType = @parameter.DisplayValue
                                                </td>
                                            }
                                            else
                                            {
                                                <DynamicParameterEditor Parameter="parameter"
                                                                        TParameter="StepExecutionParameterBase"
                                                                        OnParameterEdit="p => _expressionEditOffcanvas.LetAsync(x => x.ShowAsync(p))">
                                                    <StaticEditTemplate>
                                                        <ParameterTypeValueEditor Parameter="parameter" />
                                                    </StaticEditTemplate>
                                                </DynamicParameterEditor>
                                            }
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    break;
                
                case View.JobParameters:
                
                    <div class="row mt-3">
                        <div class="col">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var parameter in _builder.Parameters.OrderBy(p => p.DisplayName))
                                {
                                    <tr>
                                        <td>
                                            @parameter.DisplayName
                                        </td>
                                        <DynamicParameterEditor Parameter="parameter"
                                                                TParameter="DynamicParameter"
                                                                OnParameterEdit="p => _jobParameterExpressionEditOffcanvas.LetAsync(x => x.ShowAsync(p))">
                                            <StaticEditTemplate>
                                                <ParameterTypeValueEditor Parameter="parameter" />
                                            </StaticEditTemplate>
                                        </DynamicParameterEditor>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    break;

                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
        else
        {
            <div class="row mt-5 mb-4">
                <div class="col text-center">
                    <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Regular" />
                </div>
            </div>
        }
    </BodyTemplate>

    <FooterTemplate>
        <div class="col mr-auto">
            <HxDropdownButtonGroup AutoClose="DropdownAutoClose.Outside">
                <HxDropdownToggleButton Color="ThemeColor.Secondary" Enabled="_builder is not null">
                    <SvgIcon Icon="LucideIcon.Bell" />
                    Notifications
                </HxDropdownToggleButton>
                <HxDropdownContent>
                    @if (_builder is not null)
                    {
                        <div class="row p-3" style="min-width: 20rem;">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="execute_notify"
                                           checked=@_builder.Notify
                                           @bind-value="_builder.Notify">
                                    <label class="form-check-label" for="execute_notify">Notify based on subscriptions</label>
                                </div>
                                <h6 class="mt-3">Notify me</h6>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_none"
                                           checked=@(_builder.NotifyCaller is null)
                                            @onchange="() => _builder.NotifyCaller = null">
                                    <label class="form-check-label" for="radio_notify_me_none">None</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_completion"
                                           checked=@(_builder.NotifyCaller == AlertType.OnCompletion)
                                           @onchange="() => _builder.NotifyCaller = AlertType.OnCompletion">
                                    <label class="form-check-label" for="radio_notify_me_completion">On completion</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_failure"
                                           checked=@(_builder.NotifyCaller == AlertType.OnFailure)
                                           @onchange="() => _builder.NotifyCaller = AlertType.OnFailure">
                                    <label class="form-check-label" for="radio_notify_me_failure">On failure</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_success"
                                           checked=@(_builder.NotifyCaller == AlertType.OnSuccess)
                                           @onchange="() => _builder.NotifyCaller = AlertType.OnSuccess">
                                    <label class="form-check-label" for="radio_notify_me_success">On success</label>
                                </div>
                                <div class="form-check mt-3">
                                    <input type="checkbox" class="form-check-input" id="execute_notify_me_overtime"
                                           checked=@_builder.NotifyCallerOvertime
                                           @bind-value="_builder.NotifyCallerOvertime">
                                    <label class="form-check-label" for="execute_notify_me_overtime">On overtime</label>
                                </div>
                            </div>
                        </div>
                    }
                </HxDropdownContent>
            </HxDropdownButtonGroup>
        </div>
        <HxButton Color="ThemeColor.Primary" CssClass="ml-5" @onclick="Execute" Enabled="_builder?.StepExecutions.Any() ?? false">
            <SvgIcon Icon="LucideIcon.Play" />
            Execute
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

<ExpressionEditOffcanvas @ref="_expressionEditOffcanvas" TParameter="StepExecutionParameterBase" OnExpressionChanged="StateHasChanged">
    <div class="row mt-3">
        <div class="col">
            <ExpressionParameterEditor StepParameter="context" />
        </div>
    </div>
    <StepExpressionParameterNotice />
</ExpressionEditOffcanvas>

<ExpressionEditOffcanvas @ref="_jobParameterExpressionEditOffcanvas" TParameter="DynamicParameter" OnExpressionChanged="StateHasChanged">
    <div class="row mt-3">
        <div class="col text-secondary small">
            Job parameter expressions have the following built-in variables automatically available. They can be used to access the internal ids during execution.
            <ul>
                <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.ExecutionId</span> - The current execution id. An empty guid is passed when the expression is being tested.</li>
                <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.JobId</span> - The id of the current job.</li>
            </ul>
        </div>
    </div>
</ExpressionEditOffcanvas>

@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

    private readonly HashSet<DisplayStepType> _stepTypeFilter = [];
    private readonly HashSet<ITag> _executeTagsFilterSet = [];

    private ExpressionEditOffcanvas<StepExecutionParameterBase>? _expressionEditOffcanvas;
    private ExpressionEditOffcanvas<DynamicParameter>? _jobParameterExpressionEditOffcanvas;
    private ExecutionBuilder? _builder;
    private HxModal? _modal;
    private string _executeFilterText = string.Empty;
    private View _activeView = View.Steps;
    private ExecutionBuilderStepExecution? _parameterEditStep;
    private StateFilter _stateFilter = StateFilter.Enabled;

    private enum StateFilter { All, Enabled, Disabled }

    private enum View { Steps, StepParameters, JobParameters }

    private IEnumerable<ITag> Tags => _builder?.Steps
        .SelectMany(step => step.Tags)
        .DistinctBy(t => t.TagName)
        .Order()
        .AsEnumerable() ?? [];

    private IEnumerable<ExecutionBuilderStep> StepsAvailableToExecute => _builder?.Steps
        .Where(step => _stateFilter switch { StateFilter.Enabled => step.IsEnabled, StateFilter.Disabled => !step.IsEnabled, _ => true })
        .Where(step => step.StepName?.ContainsIgnoreCase(_executeFilterText) == true) // Step name filter
        .Where(step => !_stepTypeFilter.Any() || _stepTypeFilter.Contains(step.DisplayStepType)) // Filter based on step type
        .Where(step => _executeTagsFilterSet.All(tag => step.Tags.Any(t => t.TagName == tag.TagName))) // Tag filter
        ?? [];

    private void ToggleParameterEditStep(ExecutionBuilderStepExecution step) =>
        _parameterEditStep = step.StepId == _parameterEditStep?.StepId ? null : step;

    private async Task Execute()
    {
        try
        {
            ArgumentNullException.ThrowIfNull(_builder);
            var execution = await _builder.SaveExecutionAsync();
            if (execution is not null)
            {
                await Executor.StartExecutionAsync(execution.ExecutionId);
                var message = new ToastTemplateMessage
                {
                    Title = "Execution started successfully",
                    Color = ComponentColor.Success,
                    RenderFragment =
                    @<div class="row">
                        <div class="col">
                            <a href="@($"executions/{execution.ExecutionId}/list")">View execution</a>
                        </div>
                    </div>
                };
                Toaster.AddMessage(message);
            }
            _builder?.Dispose();
            _builder = null;
            await _modal.LetAsync(x => x.HideAsync());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error starting execution", ex.Message);
        }
    }

    private void OnClosed()
    {
        _builder?.Dispose();
        _builder = null;
        _executeFilterText = string.Empty;
        _executeTagsFilterSet.Clear();
        _stepTypeFilter.Clear();
        _parameterEditStep = null;
        _activeView = View.Steps;
    }

    private void Add(ExecutionBuilderStep step)
    {
        var autoIncludedSteps = step.AddToExecution(autoIncludeJobParameterDependencies: true);
        if (autoIncludedSteps.Count > 0)
        {
            Toaster.AddInformation(
                "Auto-included dependencies which update job parameter values referenced by selected step(s)");
        }
    }
    
    private void AddAvailable(ExecutionBuilder builder)
    {
        var autoIncludedSteps = builder.AddAll(
            autoIncludeJobParameterDependencies: true,
            predicate: s => StepsAvailableToExecute.Any(available => s.StepId == available.StepId));
        if (autoIncludedSteps.Count > 0)
        {
            Toaster.AddInformation(
                "Auto-included dependencies which update job parameter values referenced by selected step(s)");
        }
    }

    public async Task ShowAsync(Guid jobId, ICollection<Step>? initiallySelectedSteps = null)
    {
        _activeView = View.Steps;
        _builder?.Dispose();
        _builder = null;
        await _modal.LetAsync(x => x.ShowAsync());

        ArgumentNullException.ThrowIfNull(AuthenticationState);
        var authState = await AuthenticationState;
        var username = authState.User.Identity?.Name;

        _builder = await BuilderFactory.CreateAsync(jobId, username);
        if (_builder is null)
        {
            Toaster.AddWarning("Job with the given id could not be found");
            return;
        }

        initiallySelectedSteps ??= [];
        var autoIncludedSteps = initiallySelectedSteps
            .SelectMany(selected =>
                 _builder.Steps.FirstOrDefault(s => s.StepId == selected.StepId)
                     ?.AddToExecution(autoIncludeJobParameterDependencies: true)
                 ?? [])
            .Select(s => s.StepId)
            .ToArray();
        // Check if there were auto-included steps.
        if (autoIncludedSteps.Any(id => initiallySelectedSteps.All(s => s.StepId != id)))
        {
            Toaster.AddInformation(
                "Auto-included dependencies which update job parameter values referenced by selected step(s)");
        }
        StateHasChanged();
    }

    public void Dispose() => _builder?.Dispose();
}