<PageTitle>@Job?.JobName | Parameters | Biflow</PageTitle>

@if (_editJob is null || Steps is null)
{
    <div class="row mt-3">
        <div class="col text-center">
            <HxSpinner Color="ThemeColor.Secondary" />
        </div>
    </div>
}
else
{
    <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

    <div class="row">
        <div class="col">
            <HxButtonToolbar>
                <HxSubmit form="job_parameter_form" Color="ThemeColor.Success">
                    <SvgIcon Icon="LucideIcon.Save" />
                    Save
                </HxSubmit>
                <HxButton Color="ThemeColor.Secondary" CssClass="ms-3" @onclick="AddParameter">
                    <SvgIcon Icon="LucideIcon.Plus" />
                    Add parameter
                </HxButton>
            </HxButtonToolbar>
        </div>
        <div class="col text-end">
            <HxPopover Placement="PopoverPlacement.Bottom" Trigger="PopoverTrigger.Focus"
                        Content="@("<p>Job parameters can be passed to steps that support parameterization.</p><p>Use job parameters to define common parameters across all steps.</p><p>SQL steps can even edit job parameter values during execution.</p>")"
                Html>
                <HxButton Color="ThemeColor.None" Size="ButtonSize.Small" CssClass="btn-auto">
                    <SvgIcon Icon="LucideIcon.CircleHelp" />
                </HxButton>
            </HxPopover>
        </div>
    </div>
    
    <div class="row my-4">
        <div class="col">
            <div class="card">
                <EditForm EditContext="_editContext" id="job_parameter_form" OnValidSubmit="SubmitParameters">
                    <ObjectGraphDataAnnotationsValidator />
                    <ValidationSummary />
                    <FluentValidationValidator @ref="_fluentJobValidator" Validator="_jobValidator" />
                    <table id="parameters_table" class="table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    
                                </th>
                                <th>
                                    
                                </th>
                                <th>
                                    References
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!_editJob?.JobParameters.Any() ?? true)
                            {
                                <tr><td colspan="5">No parameters</td></tr>
                            }
                            @foreach (var param in _editJob?.JobParameters ?? Enumerable.Empty<JobParameter>())
                            {
                                var referenceCount = GetInheritingSteps(param)
                                    .Concat(GetCapturingSteps(param))
                                    .Concat(GetAssigningSteps(param))
                                    .Concat(GetExecutionConditionSteps(param))
                                    .Count();
                                <tr>
                                    <td>
                                        <InputText class="form-control form-control-sm"
                                                   @bind-Value="param.ParameterName"
                                                   placeholder="Name"
                                                   @bind-Value:after="() => _fluentJobValidator.LetAsync(x => x.ValidateAsync())" />
                                    </td>
                                    <DynamicParameterEditor Parameter="param"
                                                            TParameter="JobParameter"
                                                            OnParameterEdit="p => _expressionEditOffcanvas.LetAsync(x => x.ShowAsync(p))">
                                        <StaticEditTemplate>
                                            <ParameterTypeValueEditor Parameter="param" />
                                        </StaticEditTemplate>
                                    </DynamicParameterEditor>
                                    <td>
                                        @if (referenceCount > 0)
                                        {
                                            <a class="text-body" href="javascript:void(0)" @onclick="() => ShowReferencingStepsAsync(param)">
                                                @referenceCount step(s)
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        <HxButtonGroup Size="ButtonGroupSize.Small">
                                            <HxButton Color="ThemeColor.None" Size="ButtonSize.Small" CssClass="btn-auto" @onclick="() => RemoveParameter(param)">
                                                <SvgIcon Icon="LucideIcon.Delete" />
                                            </HxButton>
                                        </HxButtonGroup>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </EditForm>
            </div>
        </div>
    </div>
}

<ExpressionEditOffcanvas @ref="_expressionEditOffcanvas" TParameter="JobParameter" OnExpressionChanged="StateHasChanged">
    <div class="row mt-3">
        <div class="col text-secondary small">
            Job parameter expressions have the following built-in variables automatically available. They can be used to access the internal ids during execution.
            <ul>
                <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.ExecutionId</span> - The current execution id. An empty guid is passed when the expression is being tested.</li>
                <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.JobId</span> - The id of the current job.</li>
            </ul>
        </div>
    </div>
</ExpressionEditOffcanvas>

<HxOffcanvas @ref="_referencingStepsOffcanvas" Title="@($"Steps referencing {_referencingSteps.Parameter.ParameterName}")" Backdrop="OffcanvasBackdrop.False">
    <BodyTemplate>
        <h6>
            Inheriting steps
            <HxPopover Content="Steps in this job that have parameters whose value is inheriting the job parameter value"
                       Trigger="PopoverTrigger.Hover">
                <SvgIcon Icon="LucideIcon.Info" />
            </HxPopover>
        </h6>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Step
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (!_referencingSteps.InheritingSteps.Any())
                {
                    <tr><td class="text-muted">No inheriting steps</td></tr>
                }
                else
                {
                    foreach (var step in _referencingSteps.InheritingSteps)
                    {
                        <tr>
                            <td>
                                <DisplayStepTypeIcon StepType="step.DisplayStepType" />
                                @step.StepName
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <h6 class="mt-5">
            Capturing steps
            <HxPopover Content="Steps in this job that are capturing their return value and saving it to the job parameter"
                       Trigger="PopoverTrigger.Hover">
                <SvgIcon Icon="LucideIcon.Info" />
            </HxPopover>
        </h6>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Step
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (!_referencingSteps.CapturingSteps.Any())
                {
                    <tr><td class="text-muted">No capturing steps</td></tr>
                }
                else
                {
                    foreach (var step in _referencingSteps.CapturingSteps)
                    {
                        <tr>
                            <td>
                                <DisplayStepTypeIcon StepType="step.DisplayStepType" />
                                @step.StepName
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <h6 class="mt-5">
            Assigning steps
            <HxPopover Content="Steps in other jobs that are launching this job and assigning values to the job parameter"
                       Trigger="PopoverTrigger.Hover">
                <SvgIcon Icon="LucideIcon.Info" />
            </HxPopover>
        </h6>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Job
                    </th>
                    <th>
                        Step
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (!_referencingSteps.AssigningSteps.Any())
                {
                    <tr><td class="text-muted" colspan="2">No assigning steps</td></tr>
                }
                else
                {
                    foreach (var step in _referencingSteps.AssigningSteps)
                    {
                        <tr>
                            <td>
                                @step.Job.JobName
                            </td>
                            <td>
                                <DisplayStepTypeIcon StepType="step.DisplayStepType" />
                                @step.StepName
                            </td>
                        </tr>
                    }
                }
                
            </tbody>
        </table>

        <h6 class="mt-5">
            Execution conditions
            <HxPopover Content="Steps whose execution condition parameters are referencing this job parameter"
                       Trigger="PopoverTrigger.Hover">
                <SvgIcon Icon="LucideIcon.Info" />
            </HxPopover>
        </h6>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Step
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (!_referencingSteps.ExecutionConditionSteps.Any())
                {
                    <tr><td class="text-muted" colspan="2">No execution conditions</td></tr>
                }
                else
                {
                    foreach (var step in _referencingSteps.ExecutionConditionSteps)
                    {
                        <tr>
                            <td>
                                <DisplayStepTypeIcon StepType="step.DisplayStepType" />
                                @step.StepName
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="() => _referencingStepsOffcanvas.LetAsync(x => x.HideAsync())" Spinner="false">
            Close
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>