@inject NavigationManager NavigationManager

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                Job
            </th>
            <th>
                Created
            </th>
            <th>
                Started
            </th>
            <th>
                Ended
            </th>
            <th>
                Duration
            </th>
            <th>
                Number of steps
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Executions is null)
        {
            <tr><td colspan="8" class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
        }
        else if (!Executions.Any())
        {
            <tr><td colspan="7">No executions</td></tr>
        }
        else
        {
            <Virtualize TItem="ExecutionSlim" Context="item" OverscanCount="20" SpacerElement="tr" Items="Executions.ToList()">
                <tr style="cursor: pointer;" @onclick="() => GoToExecutionDetails(item.ExecutionId)">
                    <td>
                        @item.JobName
                    </td>
                    <td>
                        @item.CreatedDateTime.LocalDateTime
                    </td>
                    <td>
                        @item.StartDateTime?.LocalDateTime
                    </td>
                    <td>
                        @item.EndDateTime?.LocalDateTime
                    </td>
                    <td>
                        <text>@item.ExecutionInSeconds?.SecondsToReadableFormat()</text>
                    </td>
                    <td>
                        @item.StepExecutionCount
                    </td>
                    <td>
                        <JobExecutionStatusBadgeComponent ExecutionStatus_="@item.ExecutionStatus" />
                    </td>
                </tr>
            </Virtualize>
        }
    </tbody>
</table>

@code {
    [Parameter] public IEnumerable<ExecutionSlim>? Executions { get; set; }

    private void GoToExecutionDetails(Guid executionId)
    {
        NavigationManager.NavigateTo($"executions/{executionId}");
    }
}
