@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<HxOffcanvas @ref="_offcanvas" Size="OffcanvasSize.Large" Title="@JobName" OnClosed="OnClosed">
    <BodyTemplate>
        <div class="row">
            <div class="col-auto d-inline-flex align-items-center">
                <label>No of executions</label>
                <input @bind-value="_maxExecutions" class="form-control form-control-sm ms-3" type="number" style="max-width: 5rem;">
            </div>
            <div class="col">
                <HxButton Color="ThemeColor.Primary" Size="ButtonSize.Small" OnClick="ReloadAsync">
                    <SvgIcon Icon="FeatherIcon.RefreshCw" />
                    Refresh
                </HxButton>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <small class="text-muted">Actual no of executions: @_executions?.Count()</small>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <LineChart Dataset="_lineChartDataset" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr>
                            <th class="small">Created/started</th>
                            <th class="small">Ended</th>
                            <th class="small">Duration</th>
                            <th class="small">Steps</th>
                            <th class="small">Status</th>
                            <th class="small">Created by</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="small">@AverageDurationInSeconds.SecondsToReadableFormat()</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_executions is null)
                        {
                            <tr><td colspan="6" class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                        }
                        else if (!_executions.Any())
                        {
                            <tr><td colspan="6">No executions</td></tr>
                        }
                        else
                        {
                            @foreach (var execution in _executions)
                            {
                                var createdBy = execution switch
                                {
                                    { ScheduleName: { Length: > 0 } scheduleName } => scheduleName,
                                    { CreatedBy: { Length: > 0 } username } => username,
                                    _ => ""
                                };
                                <tr>
                                    <td class="align-middle small">
                                        <a class="text-body" href="@($"executions/{execution.ExecutionId}/list")">
                                            @(execution.StartedOn?.LocalDateTime ?? execution.CreatedOn.LocalDateTime)
                                        </a>
                                    </td>
                                    <td class="align-middle small">@execution.EndedOn?.LocalDateTime</td>
                                    <td class="align-middle small">@execution.ExecutionInSeconds?.SecondsToReadableFormat()</td>
                                    <td class="align-middle small">@execution.StepExecutionCount</td>
                                    <td><JobExecutionStatusBadge ExecutionStatus="execution.ExecutionStatus" /></td>
                                    <td class="align-middle small">@createdBy</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _offcanvas.LetAsync(x => x.HideAsync())">Close</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    private CancellationTokenSource _cts = new();
    private HxOffcanvas? _offcanvas;
    private LineChartDataset? _lineChartDataset;
    private IEnumerable<ExecutionProjection>? _executions;
    private int _maxExecutions = DefaultMaxExecutions;
    private Guid _jobId;

    private const int DefaultMaxExecutions = 50;

    private string JobName => _executions?.FirstOrDefault()?.JobName ?? "";

    private double AverageDurationInSeconds =>
        (int)(_executions
            ?.Where(e => e.ExecutionStatus == ExecutionStatus.Succeeded)
            .Average(e => e.ExecutionInSeconds)
            ?? 0);

    public async Task ShowAsync(Guid jobId)
    {
        _jobId = jobId;
        _executions = null;
        _maxExecutions = DefaultMaxExecutions;
        await _offcanvas.LetAsync(x => x.ShowAsync());
        await ReloadAsync();
        StateHasChanged();
    }

    private async Task ReloadAsync()
    {
        var context = await DbFactory.CreateDbContextAsync();
        try
        {
            _executions = await context.Executions
                .AsNoTracking()
                .IgnoreQueryFilters()
                .Where(e => e.JobId == _jobId)
                .OrderByDescending(execution => execution.CreatedOn)
                .ThenByDescending(execution => execution.StartedOn)
                .Take(_maxExecutions)
                .Select(e => new ExecutionProjection(
                    e.ExecutionId,
                    e.JobId,
                    e.JobName,
                    e.ScheduleId,
                    e.ScheduleName,
                    e.CreatedBy,
                    e.CreatedOn,
                    e.StartedOn,
                    e.EndedOn,
                    e.ExecutionStatus,
                    e.StepExecutions.Count(),
                    Array.Empty<TagProjection>()
                ))
                .ToArrayAsync(_cts.Token);
        }
        catch (OperationCanceledException)
        {
            return;
        }

        var datapoints = _executions
            .Where(e => e.StartedOn is not null)
            .GroupBy(group => ((DateTimeOffset)group.StartedOn!).Date)
            .Select(select => new TimeSeriesDataPoint(DateOnly.FromDateTime(select.Key.Date), select.Average(total => (decimal)(total.ExecutionInSeconds ?? 0) / 60))) // Calculate avg. duration in minutes per day
            .ToArray();
        var series = new LineChartSeries[]
        {
            new("Avg. duration", datapoints)
        };
        _lineChartDataset = new LineChartDataset(series, "min", 0);
    }

    private void OnClosed()
    {
        _cts.Cancel();
        _cts.Dispose();
        _cts = new();
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}
