@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager NavigationManager

@if (!string.IsNullOrEmpty(JobName))
{
    <PageTitle>@JobName | History | Biflow</PageTitle>
}

<div class="row">
    <div class="col-auto d-inline-flex align-items-center">
        <label>No of executions</label>
        <input @bind-value="MaxExecutions" class="form-control form-control-sm ms-3" type="number" style="max-width: 5rem;">
    </div>
    <div class="col-auto">
        <HxButton Color="ThemeColor.Primary" Size="ButtonSize.Small" OnClick="ReloadAsync">
            <CxIcon Icon="FeatherIcon.RefreshCw" />
            Refresh
        </HxButton>
    </div>
    <div class="col-auto">
        <HxButtonGroup Size="ButtonGroupSize.Small">
            <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" CssClass="@(ShowChart ? null : "active")" OnClick="() => ShowChart = false">
                <CxIcon Icon="FeatherIcon.List" />
                List
            </HxButton>
            <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" CssClass="@(ShowChart ? "active" : null)" OnClick="() => ShowChart = true">
                <CxIcon Icon="LucideIcon.LineChart" />
                Chart
            </HxButton>
        </HxButtonGroup>
    </div>
    <div class="col-auto align-items-center d-flex">
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="radio_scheduled"
                    checked=@(StartTypeFilter == StartType.Scheduled)
                    @onchange="() => SetStartTypeFilter(StartType.Scheduled)">
            <label class="form-check-label" for="radio_scheduled">Scheduled</label>
        </div>
        <div class="form-check form-check-inline ms-2">
            <input type="radio" class="form-check-input" id="radio_manual"
                    checked=@(StartTypeFilter == StartType.Manual)
                    @onchange="() => SetStartTypeFilter(StartType.Manual)">
            <label class="form-check-label" for="radio_manual">Manual</label>
        </div>
        <div class="form-check form-check-inline ms-2">
            <input type="radio" class="form-check-input" id="radio_all"
                   checked=@(StartTypeFilter == StartType.All)
                    @onchange="() => SetStartTypeFilter(StartType.All)">
            <label class="form-check-label" for="radio_all">All</label>
        </div>
    </div>
</div>

<div class="row mt-1">
    <div class="col">
        <small class="text-muted">Actual no of executions: @Executions?.Count()</small>
    </div>
</div>

<div class="card shadow-sm pt-2 mb-4 mt-3 table-responsive">
    @if (!ShowChart)
    {
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>
                        Started
                    </th>
                    <th>
                        Ended
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        Number of steps
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th><text>@AverageDurationInSeconds.SecondsToReadableFormat()</text></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var executions = FilteredExecutions.ToArray();
                }
                @if (Executions is null)
                {
                    <tr><td colspan="7" class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                }
                else if (!executions.Any())
                {
                    <tr>
                        <td colspan="6">
                            @{
                                RenderFragment renderFragment = StartTypeFilter switch
                                {
                                    StartType.All => @<span>No executions</span>,
                                    StartType.Scheduled => @<span>No <strong>scheduled</strong> executions</span>,
                                    StartType.Manual => @<span>No <strong>manual</strong> executions</span>,
                                    _ => @<span>No executions</span>
                                };
                            }
                            @renderFragment
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in FilteredExecutions)
                    {
                        <tr style="cursor: pointer;" @onclick="() => GoToExecutionDetails(item.ExecutionId)">
                            <td>
                                @item.StartedOn?.LocalDateTime
                            </td>
                            <td>
                                @item.EndedOn?.LocalDateTime
                            </td>
                            <td>
                                <text>@item.ExecutionInSeconds?.SecondsToReadableFormat()</text>
                            </td>
                            <td>
                                @item.StepExecutionCount
                            </td>
                            <td>
                                <JobExecutionStatusBadge ExecutionStatus="@item.ExecutionStatus" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="mx-3 mb-3">
            <LineChart Dataset="Dataset" />
        </div>
    }
    
</div>

@code {
    [Parameter] public Guid JobId { get; set; }

    [Parameter] public string? JobName { get; set; }

    private IEnumerable<ExecutionProjection>? Executions { get; set; }

    private const int DefaultMaxExecutions = 50;

    private int MaxExecutions { get; set; } = DefaultMaxExecutions;

    private StartType StartTypeFilter { get; set; } = StartType.All;

    private bool ShowChart { get; set; } = false;

    private LineChartDataset? Dataset { get; set; }

    private IEnumerable<ExecutionProjection> FilteredExecutions =>
        Executions?
        .Where(e => StartTypeFilter == StartType.All ||
                    StartTypeFilter == StartType.Scheduled && e.ScheduleId is not null ||
                    StartTypeFilter == StartType.Manual && e.ScheduleId is null)
        ?? Enumerable.Empty<ExecutionProjection>();

    public double AverageDurationInSeconds =>
        (int)(FilteredExecutions.Where(e => e.ExecutionStatus == ExecutionStatus.Succeeded).Average(e => e.ExecutionInSeconds) ?? 0);

    protected override async Task OnParametersSetAsync()
    {
        if (Executions is null && JobId != Guid.Empty)
        {
            await ReloadAsync();
        }
    }

    private void SetStartTypeFilter(StartType startType)
    {
        StartTypeFilter = startType;
        CalculateChartDataset();
    }

    private async Task ReloadAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Executions = await context.Executions
            .AsNoTracking()
            .AsSingleQuery()
            .Where(e => e.JobId == JobId)
            .OrderByDescending(e => e.CreatedOn)
            .Take(MaxExecutions)
            .Select(e => new ExecutionProjection(
                e.ExecutionId,
                e.JobId,
                e.JobName,
                e.ScheduleId,
                e.CreatedOn,
                e.StartedOn,
                e.EndedOn,
                e.ExecutionStatus,
                e.StepExecutions.Count()))
            .ToArrayAsync();
        CalculateChartDataset();
        StateHasChanged();
    }

    private void CalculateChartDataset()
    {
        var dataPoints = FilteredExecutions
            .Where(e => e.StartedOn is not null)
            .GroupBy(e => DateOnly.FromDateTime(e.CreatedOn.LocalDateTime))
            .Select(grouping => new TimeSeriesDataPoint(grouping.Key, grouping.Average(total => (decimal)(total.ExecutionInSeconds ?? 0) / 60)))
            .ToArray();
        var series = new LineChartSeries[]
        {
            new("Avg. duration", dataPoints)
        };
        Dataset = new LineChartDataset(series, "min", 0);
    }

    private void GoToExecutionDetails(Guid executionId)
    {
        NavigationManager.NavigateTo($"executions/{executionId}/list");
    }

}
