@using System.Linq.Expressions;
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IHxMessengerService Messenger
@inject IHttpContextAccessor HttpContextAccessor
@inject IExecutionBuilderFactory<AppDbContext> BuilderFactory
@inject IExecutorService Executor

@if (LastStartedExecutionId is not null)
{
    <div class="alert alert-success show alert-dismissible col-xl-6" role="alert">
        <CxIcon Icon="FeatherIcon.CheckCircle" />
        Execution started successfully – <a href="executions/@LastStartedExecutionId" class="alert-link">view execution</a>
        <button type="button" class="btn-close" @onclick="() => LastStartedExecutionId = null"></button>
    </div>
}

@if (Loading)
{
    <div class="row py-3">
        <div class="col text-center">
            <HxSpinner Color="ThemeColor.Secondary" />
        </div>
    </div>
    return;
}
else if (Builder is null)
{
    <div class="row py-3">
        <div class="col text-center">
            The job and its steps could not be found.
        </div>
    </div>
    return;
}

<div class="row">
    <div class="row">
        <div class="col-auto">
            <CxIcon Icon="FeatherIcon.Tag" />
            <span class="me-3">Tags</span>
            @if (!Tags.Any())
            {
                <small class="text-secondary me-2">No tags</small>
            }
            @foreach (var tag in Tags)
            {
                <TagComponent Tag="tag"
                          Selected="TagFilter.Contains(tag)"
                          CssClass="mx-1"
                          Style="cursor: pointer;"
                          OnClick="() => { if (TagFilter.Contains(tag)) TagFilter.Remove(tag); else TagFilter.Add(tag); }" />
            }
        </div>
        <div class="col-auto ms-auto">
            <HxDropdownButtonGroup AutoClose="DropdownAutoClose.Outside" CssClass="ms-auto">
                <HxDropdownToggleButton Color="ThemeColor.Secondary" Size="ButtonSize.Small" Enabled="Builder is not null">
                    <CxIcon Icon="FeatherIcon.Bell" />
                    Notifications
                </HxDropdownToggleButton>
                <HxDropdownContent>
                    @if (Builder is not null)
                    {
                        <div class="row p-3" style="min-width: 20rem;">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="execute_notify"
                                           checked=@Builder.Notify
                                           @bind-value="Builder.Notify">
                                    <label class="form-check-label" for="execute_notify">Notify based on subscriptions</label>
                                </div>
                                <h6 class="mt-3">Notify me</h6>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_none"
                                           checked=@(Builder.NotifyCaller is null)
                                           @onchange="() => Builder.NotifyCaller = null">
                                    <label class="form-check-label" for="radio_notify_me_none">None</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_completion"
                                           checked=@(Builder.NotifyCaller == AlertType.OnCompletion)
                                           @onchange="() => Builder.NotifyCaller = AlertType.OnCompletion">
                                    <label class="form-check-label" for="radio_notify_me_completion">On completion</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_failure"
                                           checked=@(Builder.NotifyCaller == AlertType.OnFailure)
                                           @onchange="() => Builder.NotifyCaller = AlertType.OnFailure">
                                    <label class="form-check-label" for="radio_notify_me_failure">On failure</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio_notify_me_success"
                                           checked=@(Builder.NotifyCaller == AlertType.OnSuccess)
                                           @onchange="() => Builder.NotifyCaller = AlertType.OnSuccess">
                                    <label class="form-check-label" for="radio_notify_me_success">On success</label>
                                </div>
                                <div class="form-check mt-3">
                                    <input type="checkbox" class="form-check-input" id="execute_notify_me_overtime"
                                           checked=@Builder.NotifyCallerOvertime
                                           @bind-value="Builder.NotifyCallerOvertime">
                                    <label class="form-check-label" for="execute_notify_me_overtime">On overtime</label>
                                </div>
                            </div>
                        </div>
                    }
                </HxDropdownContent>
            </HxDropdownButtonGroup>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-sm">
                        <div class="input-group-text">
                            <CxIcon Icon="FeatherIcon.Filter" />
                        </div>
                        <input type="search" class="form-control" @bind-value="StepNameFilter" @bind-value:event="oninput"
                               placeholder="Filter by name" autocomplete="off" style="max-width: 20rem;" />
                    </div>
                </div>
                <div class="col-xxl mt-xxl-0 mt-3">
                    <HxButtonGroup>
                        <FilterDropdown TItem="StepType"
                                        FilterSet="StepTypeFilter"
                                        Items="Builder?.Steps.Select(s => s.StepType).Distinct().OrderBy(t => t) ?? Enumerable.Empty<StepType>()"
                                        OnChange="StateHasChanged">
                            <TitleTemplate>
                                <CxIcon Icon="FeatherIcon.Tool" />
                                Step type
                            </TitleTemplate>
                            <ItemTemplate Context="item">
                                <StepTypeIconComponent StepType="item" />
                                @item.ToString()
                            </ItemTemplate>
                        </FilterDropdown>
                        <FilterDropdown TItem="StepExecutionStatus"
                                        FilterSet="StatusFilter"
                                        Items="Statuses"
                                        OnChange="StateHasChanged">
                            <TitleTemplate>
                                <CxIcon Icon="FeatherIcon.Info" />
                                Status
                            </TitleTemplate>
                            <ItemTemplate Context="item">
                                <StepExecutionStatusBadgeComponent ExecutionStatus="item" />
                            </ItemTemplate>
                        </FilterDropdown>
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto"
                                  @onclick="() => { TagFilter.Clear(); StepTypeFilter.Clear(); StatusFilter.Clear(); StepNameFilter = string.Empty; }">
                            <CxIcon Icon="FeatherIcon.X" />
                            Clear
                        </HxButton>
                    </HxButtonGroup>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-xxl-between justify-content-end">
                <div class="col-auto">
                    <HxButtonGroup>
                        @*Add all available AND enabled steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                  @onclick="() => Builder?.AddAll(s => s.IsEnabled)">
                            <CxIcon Icon="FeatherIcon.ChevronRight" />
                            Select enabled
                        </HxButton>
                        @*Add all available steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                  @onclick="() => Builder?.AddAll()">
                            <CxIcon Icon="FeatherIcon.ChevronsRight" />
                            Select all
                        </HxButton>
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" @onclick="() => Builder?.Clear()">
                            <CxIcon Icon="FeatherIcon.ChevronsLeft" />
                            Deselect all
                        </HxButton>
                    </HxButtonGroup>
                </div>
                <div class="col-xxl-auto mt-xxl-0 mt-3 text-end">
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Primary" @onclick="Execute"
                              Enabled="!StartingExecution" Spinner="StartingExecution">
                        <CxIcon Icon="FeatherIcon.Play" />
                        Execute
                    </HxButton>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm mt-3 pt-1">
    <div class="row g-0">
        <div class="col">
            <h6 class="mx-2">Available steps</h6>
            <div style="overflow-y: scroll; height: calc(100vh - 320px);">
                <table class="table table-hover table-sm">
                    <tbody>
                        @foreach (var step in StepsAvailableToExecute)
                        {
                            var status = GetStepExecutionStatus(step.StepId);
                            <tr style="cursor: pointer;" @onclick="() => step.AddToExecution()">
                                <td class="@(step.IsEnabled ? null : "text-secondary") align-middle">
                                    <StepTypeIconComponent StepType="@step.StepType" />
                                    &nbsp;
                                    <HighlightableText Text="@step.StepName" PartToHighlight="@StepNameFilter" />
                                </td>
                                <td>
                                    <StepExecutionStatusBadgeComponent ExecutionStatus="status" />
                                </td>
                                <td class="@(Builder?.DependencyMode == true ? "text-body-tertiary" : null)">
                                    <CxIcon Icon="FeatherIcon.Layers" />
                                    <sup>@step.ExecutionPhase</sup>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <h6 class="mx-2">Selected steps</h6>
            <div style="overflow-y: scroll; height: calc(100vh - 320px);">
                <table class="table table-hover table-sm">
                    <tbody>
                        @foreach (var step in Builder?.StepExecutions ?? Enumerable.Empty<ExecutionBuilderStepExecution>())
                        {
                            <tr style="cursor: pointer;" @onclick="() => step.RemoveFromExecution()">
                                <td>
                                    <StepTypeIconComponent StepType="@step.StepType" />
                                    &nbsp;
                                    @step.StepName
                                </td>
                                <td class="@(Builder?.DependencyMode == true ? "text-body-tertiary" : null)">
                                    <CxIcon Icon="FeatherIcon.Layers" />
                                    <sup>@step.ExecutionPhase</sup>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Execution? Execution { get; set; }

    private ExecutionBuilder? Builder { get; set; }

    private string StepNameFilter { get; set; } = string.Empty;

    private HashSet<ITag> TagFilter { get; set; } = new();

    private HashSet<StepType> StepTypeFilter { get; } = new();

    private HashSet<StepExecutionStatus> StatusFilter { get; } = new();

    private bool Loading { get; set; } = true;

    private bool BuilderConsumed { get; set; } = false;

    private bool StartingExecution { get; set; } = false;

    private Guid? LastStartedExecutionId { get; set; }

    private IEnumerable<StepExecutionStatus> Statuses => Execution?.StepExecutions
        .Select(e => e.StepExecutionAttempts)
        .Select(e => e.MaxBy(a => a.RetryAttemptIndex))
        .Where(e => e is not null)
        .Select(e => e!.ExecutionStatus)
        .Distinct()
        .Order() ?? Enumerable.Empty<StepExecutionStatus>();

    private IEnumerable<ITag> Tags => Builder?.Steps
        .SelectMany(step => step.Tags)
        .DistinctBy(t => t.TagName)
        .OrderBy(t => t.TagName)
        ?? Enumerable.Empty<ITag>();

    private IEnumerable<ExecutionBuilderStep> StepsAvailableToExecute => Builder?.Steps
        .Where(step => step.StepName?.ContainsIgnoreCase(StepNameFilter) == true) // Step name filter
        .Where(step => !StepTypeFilter.Any() || StepTypeFilter.Contains(step.StepType)) // Filter based on step type
        .Where(step => TagFilter.All(tag => step.Tags.Any(t => t.TagName == tag.TagName))) // Tag filter
        .Where(step =>
        {
            if (!StatusFilter.Any()) return true;
            var status = GetStepExecutionStatus(step.StepId);
            return status is not null ? StatusFilter.Contains((StepExecutionStatus)status) : false;
        }) // Status filter
        ?? Enumerable.Empty<ExecutionBuilderStep>();

    protected override async Task OnParametersSetAsync()
    {
        if (Execution is null || Builder is not null)
        {
            return;
        }
        try
        {
            ArgumentNullException.ThrowIfNull(Execution.JobId);
            string user = HttpContextAccessor.HttpContext?.User?.Identity?.Name
                ?? throw new ArgumentNullException(nameof(user), "User was null");
            var stepIds = Execution.StepExecutions
                .Select(e => e.StepId)
                .ToArray();
            Builder = await BuilderFactory.CreateAsync((Guid)Execution.JobId, user, context => step => stepIds.Contains(step.StepId));
        }
        catch (Exception ex)
        {
            Messenger.AddError(ex.Message);
        }
        Loading = false;
    }

    private StepExecutionStatus? GetStepExecutionStatus(Guid stepId)
    {
        var stepExecution = Execution?.StepExecutions.FirstOrDefault(e => e.StepId == stepId);
        var attempt = stepExecution?.StepExecutionAttempts.MaxBy(a => a.RetryAttemptIndex);
        return attempt?.ExecutionStatus;
    }

    private async Task Execute()
    {
        StartingExecution = true;
        StateHasChanged();
        try
        {
            ArgumentNullException.ThrowIfNull(Builder);
            var execution = await Builder.SaveExecutionAsync();
            if (execution is not null)
            {
                LastStartedExecutionId = execution.ExecutionId;
                await Executor.StartExecutionAsync(execution.ExecutionId);
            }
            Builder.Reset();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error starting execution", ex.Message);
        }
        StartingExecution = false;
    }
}
