@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ToasterService Toaster
@inject IExecutionBuilderFactory<AppDbContext> BuilderFactory
@inject IExecutorService Executor
@inject NavigationManager NavigationManager

@if (_loading)
{
    <div class="row py-3">
        <div class="col text-center">
            <HxSpinner Color="ThemeColor.Secondary" />
        </div>
    </div>
    return;
}
else if (_builder is null)
{
    <div class="row py-3">
        <div class="col text-center">
            The job and its steps could not be found.
        </div>
    </div>
    return;
}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto mt-3">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Filter" />
                    </div>
                    <input type="search" class="form-control" @bind-value="_stepNameFilter" @bind-value:event="oninput"
                            placeholder="Filter by name" autocomplete="off" style="min-width: 15rem; max-width: 15rem;" />
                </div>
            </div>
            <div class="col-auto mt-3">
                <HxButtonGroup>
                    <FilterDropdown TItem="StepType"
                                    FilterSet="stepTypeFilter"
                                    Items="_builder?.Steps.Select(s => s.StepType).Distinct().OrderBy(t => t) ?? Enumerable.Empty<StepType>()"
                                    OnChange="StateHasChanged">
                        <TitleTemplate>
                            <SvgIcon Icon="LucideIcon.Wrench" />
                            Step type
                        </TitleTemplate>
                        <ItemTemplate Context="item">
                            <StepTypeIcon StepType="item" />
                            @item.ToString()
                        </ItemTemplate>
                    </FilterDropdown>
                    <FilterDropdown TItem="ITag"
                                    FilterSet="_tagFilter"
                                    Items="Tags"
                                    IdSelector="tag => tag.TagId.ToString()"
                                    TextSelector="tag => tag.TagName"
                                    IsSearchable
                                    OnChange="StateHasChanged">
                            <TitleTemplate>
                                <SvgIcon Icon="LucideIcon.Tag" />
                                Tags
                            </TitleTemplate>
                            <ItemTemplate Context="item">
                                <TagBadge Tag="item" />
                            </ItemTemplate>
                        </FilterDropdown>
                    <FilterDropdown TItem="StepExecutionStatus"
                                    FilterSet="statusFilter"
                                    Items="Statuses"
                                    OnChange="StateHasChanged">
                        <TitleTemplate>
                            <SvgIcon Icon="LucideIcon.Info" />
                            Status
                        </TitleTemplate>
                        <ItemTemplate Context="item">
                            <StepExecutionStatusBadge ExecutionStatus="item" />
                        </ItemTemplate>
                    </FilterDropdown>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto"
                                @onclick="() => { _tagFilter.Clear(); stepTypeFilter.Clear(); statusFilter.Clear(); _stepNameFilter = string.Empty; }">
                        <SvgIcon Icon="LucideIcon.X" />
                        Clear
                    </HxButton>
                </HxButtonGroup>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mt-2">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="execute_radio_all"
                           checked=@(_stateFilter == StateFilter.All)
                           @onchange="() => _stateFilter = StateFilter.All">
                    <label class="form-check-label" for="execute_radio_all">All</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="execute_radio_enabled"
                           checked=@(_stateFilter == StateFilter.Enabled)
                           @onchange="() => _stateFilter = StateFilter.Enabled">
                    <label class="form-check-label" for="execute_radio_enabled">Enabled</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="execute_radio_disabled"
                           checked=@(_stateFilter == StateFilter.Disabled)
                           @onchange="() => _stateFilter = StateFilter.Disabled">
                    <label class="form-check-label" for="execute_radio_disabled">Disabled</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row justify-content-xxl-between justify-content-end">
            <div class="col-auto mt-3">
                <HxButtonGroup>
                    @*Add all available AND enabled steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary"
                                @onclick="() => _builder.AddAll(s => StepsAvailableToExecute.Any(available => s.StepId == available.StepId))">
                        <SvgIcon Icon="LucideIcon.ChevronsRight" />
                        Select all
                    </HxButton>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" @onclick="() => _builder?.Clear()">
                        <SvgIcon Icon="LucideIcon.ChevronsLeft" />
                        Deselect all
                    </HxButton>
                </HxButtonGroup>
            </div>
                <div class="col-auto ms-auto mt-3">
                    <HxDropdownButtonGroup AutoClose="DropdownAutoClose.Outside" CssClass="ms-auto">
                        <HxDropdownToggleButton Color="ThemeColor.Secondary" Size="ButtonSize.Small" Enabled="_builder is not null">
                            <SvgIcon Icon="LucideIcon.Bell" />
                            Notifications
                        </HxDropdownToggleButton>
                        <HxDropdownContent>
                            @if (_builder is not null)
                            {
                                <div class="row p-3" style="min-width: 20rem;">
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="execute_notify"
                                                    checked=@_builder.Notify
                                                    @bind-value="_builder.Notify">
                                            <label class="form-check-label" for="execute_notify">Notify based on subscriptions</label>
                                        </div>
                                        <h6 class="mt-3">Notify me</h6>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio_notify_me_none"
                                                    checked=@(_builder.NotifyCaller is null)
                                                    @onchange="() => _builder.NotifyCaller = null">
                                            <label class="form-check-label" for="radio_notify_me_none">None</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio_notify_me_completion"
                                                    checked=@(_builder.NotifyCaller == AlertType.OnCompletion)
                                                    @onchange="() => _builder.NotifyCaller = AlertType.OnCompletion">
                                            <label class="form-check-label" for="radio_notify_me_completion">On completion</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio_notify_me_failure"
                                                    checked=@(_builder.NotifyCaller == AlertType.OnFailure)
                                                    @onchange="() => _builder.NotifyCaller = AlertType.OnFailure">
                                            <label class="form-check-label" for="radio_notify_me_failure">On failure</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio_notify_me_success"
                                                    checked=@(_builder.NotifyCaller == AlertType.OnSuccess)
                                                    @onchange="() => _builder.NotifyCaller = AlertType.OnSuccess">
                                            <label class="form-check-label" for="radio_notify_me_success">On success</label>
                                        </div>
                                        <div class="form-check mt-3">
                                            <input type="checkbox" class="form-check-input" id="execute_notify_me_overtime"
                                                    checked=@_builder.NotifyCallerOvertime
                                                    @bind-value="_builder.NotifyCallerOvertime">
                                            <label class="form-check-label" for="execute_notify_me_overtime">On overtime</label>
                                        </div>
                                    </div>
                                </div>
                            }
                    </HxDropdownContent>
                </HxDropdownButtonGroup>
            </div>
            <div class="col-auto ms-auto mt-3">
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Primary" @onclick="Execute"
                            Enabled="(_builder?.StepExecutions.Any() ?? false) && !_startingExecution" Spinner="_startingExecution">
                    <SvgIcon Icon="LucideIcon.Play" />
                    Execute
                </HxButton>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3 pt-1 mb-3">
    <div class="row g-0">
        <div class="col">
            <h6 class="mx-2">Available steps</h6>
            <div style="overflow-y: scroll; height: calc(100vh - 340px);">
                <table class="table table-hover table-sm">
                    <tbody>
                        @foreach (var step in StepsAvailableToExecute)
                        {
                            var status = GetStepExecutionStatus(step.StepId);
                            <tr class="cursor-pointer" @onclick="() => step.AddToExecution()" title="@(step.IsEnabled ? null : "Step is disabled")">
                                <td class="@(step.IsEnabled ? null : "text-secondary") align-middle">
                                    <StepTypeIcon StepType="@step.StepType" />
                                    &nbsp;
                                    <HighlightableText Text="@step.StepName" PartToHighlight="@_stepNameFilter" />
                                </td>
                                <td>
                                    <StepExecutionStatusBadge ExecutionStatus="status" />
                                </td>
                                <td class="@(_builder?.ExecutionMode == ExecutionMode.Dependency ? "text-body-tertiary" : null)">
                                    <SvgIcon Icon="LucideIcon.Layers3" />
                                    <sup>@step.ExecutionPhase</sup>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <h6 class="mx-2">Selected steps</h6>
            <div style="overflow-y: scroll; height: calc(100vh - 340px);">
                <table class="table table-hover table-sm">
                    <tbody>
                        @foreach (var step in _builder?.StepExecutions ?? [])
                        {
                            <tr class="cursor-pointer" @onclick="() => step.RemoveFromExecution()">
                                <td>
                                    <StepTypeIcon StepType="@step.StepType" />
                                    &nbsp;
                                    @step.StepName
                                </td>
                                <td class="@(_builder?.ExecutionMode == ExecutionMode.Dependency ? "text-body-tertiary" : null)">
                                    <SvgIcon Icon="LucideIcon.Layers3" />
                                    <sup>@step.ExecutionPhase</sup>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

    [Parameter] public Execution? Execution { get; set; }

    private readonly HashSet<StepType> stepTypeFilter = [];
    private readonly HashSet<StepExecutionStatus> statusFilter = [];

    private ExecutionBuilder? _builder;
    private string _stepNameFilter = string.Empty;
    private HashSet<ITag> _tagFilter = [];
    private bool _loading = true;
    private bool _startingExecution = false;
    private StateFilter _stateFilter = StateFilter.Enabled;

    private enum StateFilter { All, Enabled, Disabled }

    private IEnumerable<StepExecutionStatus> Statuses => Execution?.StepExecutions
        .Select(e => e.StepExecutionAttempts)
        .Select(e => e.MaxBy(a => a.RetryAttemptIndex))
        .Where(e => e is not null)
        .Select(e => e!.ExecutionStatus)
        .Distinct()
        .Order()
        .AsEnumerable() ?? [];

    private IEnumerable<ITag> Tags => _builder?.Steps
        .SelectMany(step => step.Tags)
        .DistinctBy(t => t.TagName)
        .Order()
        .AsEnumerable() ?? [];

    private IEnumerable<ExecutionBuilderStep> StepsAvailableToExecute => _builder?.Steps
        .Where(step => _stateFilter switch { StateFilter.Enabled => step.IsEnabled, StateFilter.Disabled => !step.IsEnabled, _ => true })
        .Where(step => step.StepName?.ContainsIgnoreCase(_stepNameFilter) == true) // Step name filter
        .Where(step => !stepTypeFilter.Any() || stepTypeFilter.Contains(step.StepType)) // Filter based on step type
        .Where(step => _tagFilter.All(tag => step.Tags.Any(t => t.TagName == tag.TagName))) // Tag filter
        .Where(step =>
        {
            if (!statusFilter.Any()) return true;
            var status = GetStepExecutionStatus(step.StepId);
            return status is not null && statusFilter.Contains((StepExecutionStatus)status);
        }) // Status filter
        ?? [];

    protected override async Task OnParametersSetAsync()
    {
        if (Execution is null || _builder is not null)
        {
            return;
        }
        try
        {
            ArgumentNullException.ThrowIfNull(AuthenticationState);
            var authState = await AuthenticationState;
            var username = authState.User.Identity?.Name;

            var stepIds = Execution.StepExecutions
                .Select(e => e.StepId)
                .ToArray();
            _builder = await BuilderFactory.CreateAsync(
                Execution.JobId,
                username,
                [_ => step => stepIds.Contains(step.StepId)]);
        }
        catch (Exception ex)
        {
            Toaster.AddError(ex.Message);
        }
        _loading = false;
    }

    private StepExecutionStatus? GetStepExecutionStatus(Guid stepId)
    {
        var stepExecution = Execution?.StepExecutions.FirstOrDefault(e => e.StepId == stepId);
        var attempt = stepExecution?.StepExecutionAttempts.MaxBy(a => a.RetryAttemptIndex);
        return attempt?.ExecutionStatus;
    }

    private async Task Execute()
    {
        _startingExecution = true;
        StateHasChanged();
        try
        {
            ArgumentNullException.ThrowIfNull(_builder);
            var execution = await _builder.SaveExecutionAsync();
            if (execution is not null)
            {
                await Executor.StartExecutionAsync(execution.ExecutionId);
                var message = new ToastTemplateMessage
                {
                    Title = "Execution started successfully",
                    Color = ComponentColor.Success,
                    RenderFragment =
                    @<div class="row">
                        <div class="col">
                            <a href="@($"executions/{execution.ExecutionId}/list")">View execution</a>
                        </div>
                    </div>
                };
                Toaster.AddMessage(message);
            }
            _builder.Reset();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error starting execution", ex.Message);
        }
        _startingExecution = false;
    }

    public void Dispose() => _builder?.Dispose();
}
