@{
    switch (ExecutionStatus)
    {
        case StepExecutionStatus.Succeeded:
            <span class="badge bg-success">@ExecutionStatus</span>
            break;
        case StepExecutionStatus.Failed:
            <span class="badge bg-danger">@ExecutionStatus</span>
            break;
        case StepExecutionStatus.Stopped:
        case StepExecutionStatus.Duplicate:
        case StepExecutionStatus.AwaitRetry:
            <span class="badge bg-warning">@ExecutionStatus</span>
            break;
        case StepExecutionStatus.Running:
            <span class="badge bg-primary">@ExecutionStatus</span>
            break;
        case StepExecutionStatus.Skipped:
        case StepExecutionStatus.NotStarted:
        default:
            <span class="badge bg-secondary">@ExecutionStatus</span>
            break;
    }
}

@code {
    [Parameter]
    public StepExecutionStatus? ExecutionStatus { get; set; }
} 