@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbFactory

<HxOffcanvas @ref="offcanvas" Size="OffcanvasSize.Large" Title="@StepName" OnClosed="OnClosed">
    <BodyTemplate>
        <div class="row">
            <div class="col-auto d-inline-flex align-items-center">
                <label>No of executions</label>
                <input @bind-value="maxExecutions" class="form-control form-control-sm ms-3" type="number" style="max-width: 5rem;">
            </div>
            <div class="col">
                <HxButton Color="ThemeColor.Primary" Size="ButtonSize.Small" OnClick="ReloadAsync">
                    <SvgIcon Icon="FeatherIcon.RefreshCw" />
                    Refresh
                </HxButton>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <small class="text-muted">Actual no of executions: @executions?.Count()</small>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <LineChart Dataset="lineChartDataset" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Started</th>
                            <th>Ended</th>
                            <th>Duration</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>@AverageDurationInSeconds.SecondsToReadableFormat()</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (executions is null)
                        {
                            <tr><td colspan="4" class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                        }
                        else if (!executions.Any())
                        {
                            <tr><td colspan="4">No executions</td></tr>
                        }
                        else
                        {
                            @foreach (var execution in executions)
                            {
                                <tr class="@(selectedStepExecution == execution ? "bg-body-tertiary" : null)" style="cursor: pointer;" @onclick="() => ToggleSelectedStepExecution(execution)">
                                    <td>@execution.StartedOn?.LocalDateTime</td>
                                    <td>@execution.EndedOn?.LocalDateTime</td>
                                    <td>@execution.GetDurationInReadableFormat()</td>
                                    <td><StepExecutionStatusBadge ExecutionStatus="@execution.ExecutionStatus" /></td>
                                </tr>
                                @if (selectedStepExecution == execution)
                                {
                                    <tr class="table-borderless no-hover bg-body-tertiary">
                                        <td colspan="4">
                                            <StepExecutionDetails StepExecutionAttempt="execution" />
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await offcanvas.LetAsync(x => x.HideAsync())">Close</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    private CancellationTokenSource cts = new();
    private HxOffcanvas? offcanvas;
    private LineChartDataset? lineChartDataset;
    private IEnumerable<StepExecutionAttempt>? executions;
    private int maxExecutions = DefaultMaxExecutions;
    private StepExecutionAttempt? selectedStepExecution;
    private Guid stepId;

    private const int DefaultMaxExecutions = 50;

    private string StepName => executions?.FirstOrDefault()?.StepExecution?.StepName ?? "";

    private double AverageDurationInSeconds =>
        (int)(executions
            ?.Where(e => e.ExecutionStatus == StepExecutionStatus.Succeeded || e.ExecutionStatus == StepExecutionStatus.Warning)
            .Average(e => e.ExecutionInSeconds)
            ?? 0);

    private void ToggleSelectedStepExecution(StepExecutionAttempt execution)
    {
        selectedStepExecution = selectedStepExecution == execution ? null : execution;
        StateHasChanged();
    }

    public async Task ShowAsync(Guid stepId)
    {
        this.stepId = stepId;
        executions = null;
        maxExecutions = DefaultMaxExecutions;
        await offcanvas.LetAsync(x => x.ShowAsync());
        await ReloadAsync();
        StateHasChanged();
    }

    private async Task ReloadAsync()
    {
        var context = await DbFactory.CreateDbContextAsync();
        try
        {
            executions = await context.StepExecutionAttempts
                .AsNoTrackingWithIdentityResolution()
                .IgnoreQueryFilters()
                .Include($"{nameof(StepExecutionAttempt.StepExecution)}.{nameof(IHasStepExecutionParameters.StepExecutionParameters)}.{nameof(StepExecutionParameterBase.InheritFromExecutionParameter)}")
                .Include($"{nameof(StepExecutionAttempt.StepExecution)}.{nameof(IHasStepExecutionParameters.StepExecutionParameters)}.{nameof(StepExecutionParameterBase.ExpressionParameters)}")
                .Include(attempt => attempt.StepExecution)
                .ThenInclude(step => step.Execution)
                .ThenInclude(e => e.ExecutionParameters)
                .Include(e => e.StepExecution)
                .ThenInclude(e => e.ExecutionConditionParameters)
                .ThenInclude(p => p.ExecutionParameter)
                .Where(e => e.StepId == stepId)
                .OrderByDescending(execution => execution.StepExecution.Execution.CreatedOn)
                .ThenByDescending(Execution => Execution.StartedOn)
                .Take(maxExecutions)
                .ToArrayAsync(cts.Token);
        }
        catch (OperationCanceledException)
        {
            return;
        }

        var datapoints = executions
            .Where(e => e.StartedOn is not null)
            .GroupBy(group => ((DateTimeOffset)group.StartedOn!).Date)
            .Select(select => new TimeSeriesDataPoint(DateOnly.FromDateTime(select.Key.Date), select.Average(total => (decimal)(total.ExecutionInSeconds ?? 0) / 60))) // Calculate avg. duration in minutes per day
            .ToArray();
        var series = new LineChartSeries[]
        {
            new LineChartSeries("Avg. duration", datapoints)
        };
        lineChartDataset = new LineChartDataset(series, "min", 0);
    }

    private void OnClosed()
    {
        cts.Cancel();
        cts.Dispose();
        cts = new();
    }

    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
