@if (StepExecutionAttempt is not null)
{
    <div class="row">
        <div class="col">
            <table class="table table-sm table-step-execution-details">
                <tbody>
                    <tr class="border-top">
                        <td>Execution id</td>
                        <td>
                            <a href="executions/@StepExecutionAttempt.ExecutionId/list">
                                @StepExecutionAttempt.ExecutionId
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Step id</td>
                        <td>
                            @if (StepExecutionAttempt.StepExecution.Step is not null)
                            {
                                <a href="jobs/@StepExecutionAttempt.StepExecution.Execution.JobId/steps/@StepExecutionAttempt.StepExecution.Step.StepId">
                                    @StepExecutionAttempt.StepExecution.Step.StepId
                                </a>
                            }
                            else
                            {
                                @StepExecutionAttempt.StepId
                            }
                        </td>
                    </tr>
                    @if (ShowExtraDetails)
                    {
                        <tr>
                            <td>Started</td>
                            <td>@StepExecutionAttempt.StartDateTime?.LocalDateTime</td>
                        </tr>
                        <tr>
                            <td>Ended</td>
                            <td>@StepExecutionAttempt.EndDateTime?.LocalDateTime</td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>@StepExecutionAttempt.GetDurationInReadableFormat()</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <StepExecutionStatusBadgeComponent ExecutionStatus="@StepExecutionAttempt.ExecutionStatus" />
                            </td>
                        </tr>
                    }
                    @if (StepExecutionAttempt.ExecutionStatus == StepExecutionStatus.Stopped)
                    {
                        <tr>
                            <td>Stopped by</td>
                            <td>@StepExecutionAttempt.StoppedBy</td>
                        </tr>
                    }
                    <tr>
                        <td>Retry attempts</td>
                        <td>@StepExecutionAttempt.StepExecution.RetryAttempts</td>
                    </tr>
                    <tr>
                        <td>Retry interval (min)</td>
                        <td>@StepExecutionAttempt.StepExecution.RetryIntervalMinutes</td>
                    </tr>
                    <tr>
                        <td>Retry attempt index</td>
                        <td>@StepExecutionAttempt.RetryAttemptIndex</td>
                    </tr>
                    <tr>
                        <td>Duplicate execution behaviour</td>
                        <td>@StepExecutionAttempt.StepExecution.DuplicateExecutionBehaviour</td>
                    </tr>
                    <tr>
                        <td>Execution condition</td>
                        <td><pre class="my-0"><code>@StepExecutionAttempt.StepExecution.ExecutionConditionExpression.Expression</code></pre></td>
                    </tr>
                    @if (StepExecutionAttempt.StepExecution is IHasTimeout timeout)
                    {
                        <tr>
                            <td>Timeout (min)</td>
                            <td>@timeout.TimeoutMinutes</td>
                        </tr>
                    }
                    @if (StepExecutionAttempt.StepExecution is SqlStepExecution sql)
                    {
                        <tr>
                            <td>SQL statement</td>
                            <td><pre class="my-0"><code>@sql.SqlStatement</code></pre></td>
                        </tr>
                        <tr>
                            <td>Scalar result capture job parameter</td>
                            <td>
                                @{
                                    var jobParam = sql.Execution.ExecutionParameters
                                    .FirstOrDefault(p => p?.ParameterId == sql.ResultCaptureJobParameterId);
                                }
                                @(jobParam is not null ? $"{jobParam.ParameterName} ({jobParam.ParameterValueType})" : null)
                            </td>
                        </tr>
                        <tr>
                            <td>Capture value</td>
                            <td>
                                <pre class="my-0"><code style="white-space: pre-wrap;">@sql.ResultCaptureJobParameterValue</code></pre>
                            </td>
                        </tr>
                    }
                    else if (StepExecutionAttempt.StepExecution is PackageStepExecution package)
                    {
                        <tr>
                            <td>Package path</td>
                            <td>@package.PackagePath</td>
                        </tr>
                        <tr>
                            <td>32 bit mode</td>
                            <td>@package.ExecuteIn32BitMode</td>
                        </tr>
                        <tr>
                            <td>Execute as login</td>
                            <td>@package.ExecuteAsLogin</td>
                        </tr>
                        <tr>
                            <td>Operation id</td>
                            <td>
                                @if (StepExecutionAttempt is PackageStepExecutionAttempt package__)
                                {
                                    @package__.PackageOperationId
                                }
                            </td>
                        </tr>
                    }
                    else if (StepExecutionAttempt.StepExecution is PipelineStepExecution pipeline)
                    {
                        <tr>
                            <td>Pipeline name</td>
                            <td>@pipeline.PipelineName</td>
                        </tr>
                        <tr>
                            <td>Pipeline run id</td>
                            <td>
                                @if (StepExecutionAttempt is PipelineStepExecutionAttempt pipeline__)
                                {
                                    @pipeline__.PipelineRunId
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Pipeline client id</td>
                            <td>@pipeline.PipelineClientId</td>
                        </tr>
                    }
                    else if (StepExecutionAttempt.StepExecution is ExeStepExecution exe)
                    {
                        <tr>
                            <td>File path</td>
                            <td>@exe.ExeFileName</td>
                        </tr>
                        <tr>
                            <td>Arguments</td>
                            <td>@exe.ExeArguments</td>
                        </tr>
                        <tr>
                            <td>Working directory</td>
                            <td>@exe.ExeWorkingDirectory</td>
                        </tr>
                        <tr>
                            <td>Success exit code</td>
                            <td>@exe.ExeSuccessExitCode</td>
                        </tr>
                        @if (StepExecutionAttempt is ExeStepExecutionAttempt exe_)
                        {
                            <tr>
                                <td>Process id</td>
                                <td>@exe_.ExeProcessId</td>
                            </tr>
                        }
                    }
                    else if (StepExecutionAttempt.StepExecution is DatasetStepExecution dataset)
                    {
                        <tr>
                            <td>Group id</td>
                            <td>@dataset.DatasetGroupId</td>
                        </tr>
                        <tr>
                            <td>Dataset id</td>
                            <td>@dataset.DatasetId</td>
                        </tr>
                        <tr>
                            <td>Power BI Service id</td>
                            <td>@dataset.AppRegistrationId</td>
                        </tr>
                    }
                    else if (StepExecutionAttempt.StepExecution is FunctionStepExecution function)
                    {
                        <tr>
                            <td>Function url</td>
                            <td>@function.FunctionUrl</td>
                        </tr>
                        <tr>
                            <td>Function input</td>
                            <td><pre class="my-0"><code>@function.FunctionInput</code></pre></td>
                        </tr>
                        <tr>
                            <td>Is durable</td>
                            <td>@function.FunctionIsDurable</td>
                        </tr>
                        <tr>
                            <td>Function App id</td>
                            <td>@function.FunctionAppId</td>
                        </tr>
                        @if (StepExecutionAttempt is FunctionStepExecutionAttempt function_)
                        {
                            <tr>
                                <td>Instance id</td>
                                <td>@function_.FunctionInstanceId</td>
                            </tr>
                        }
                    }
                    else if (StepExecutionAttempt.StepExecution is AgentJobStepExecution agent)
                    {
                        <tr>
                            <td>Agent job name</td>
                            <td>@agent.AgentJobName</td>
                        </tr>
                    }
                    else if (StepExecutionAttempt.StepExecution is TabularStepExecution tabular)
                    {
                        <tr>
                            <td>Model name</td>
                            <td>@tabular.TabularModelName</td>
                        </tr>
                        <tr>
                            <td>Table name</td>
                            <td>@tabular.TabularTableName</td>
                        </tr>
                        <tr>
                            <td>Partition name</td>
                            <td>@tabular.TabularPartitionName</td>
                        </tr>
                    }
                    else if (StepExecutionAttempt.StepExecution is EmailStepExecution email)
                    {
                        <tr>
                            <td>Recipients</td>
                            <td>@email.Recipients</td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td>@email.Subject</td>
                        </tr>
                        <tr>
                            <td>Body</td>
                            <td>@email.Body</td>
                        </tr>
                    }
                    else if (StepExecutionAttempt.StepExecution is JobStepExecution job)
                    {
                        <tr>
                            <td>Synchronized</td>
                            <td>@job.JobExecuteSynchronized</td>
                        </tr>
                        @if (StepExecutionAttempt is JobStepExecutionAttempt job_)
                        {
                            <tr>
                                <td>Child execution id</td>
                                <td>
                                    <a href="executions/@job_.ChildJobExecutionId/list">
                                        @job_.ChildJobExecutionId
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else if (StepExecutionAttempt.StepExecution is QlikStepExecution qlik)
                    {
                        <tr>
                            <td>App id</td>
                            <td>@qlik.AppId</td>
                        </tr>
                        <tr>
                            <td>Qlik Cloud Client id</td>
                            <td>@qlik.QlikCloudClientId</td>
                        </tr>
                        @if (StepExecutionAttempt is QlikStepExecutionAttempt qlik_)
                        {
                            <tr>
                                <td>Reload id</td>
                                <td>@qlik_.ReloadId</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>Info messages / outputs</td>
                        <td>
                            @foreach (var info in StepExecutionAttempt.InfoMessages)
                            {
                                <code class="text-body" style="white-space: pre-wrap; display: block;">
                                    @info.Message
                                </code>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Error messages</td>
                        <td>
                            @foreach (var error in StepExecutionAttempt.ErrorMessages)
                            {
                                <code class="text-danger" style="white-space: pre-wrap; display: block;">
                                    @error.Message
                                </code>
                                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                    @if (showErrorStackTrace && !string.IsNullOrWhiteSpace(error.Exception))
                                    {
                                        <br />
                                        <code class="text-body" style="white-space: pre-wrap; display: block;">@error.Exception</code>
                                    }
                                </AuthorizeView>
                            }
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                @if (!showErrorStackTrace && StepExecutionAttempt.ErrorMessages.Any(e => !string.IsNullOrEmpty(e.Exception)))
                                {
                                    <div class="mt-2">
                                        <small>
                                            <a class="text-secondary" href="javascript:void(0);" @onclick="() => showErrorStackTrace = true">
                                                Stack trace available
                                            </a>
                                        </small>
                                    </div>
                                }
                            </AuthorizeView>
                        </td>
                    </tr>
                    <tr>
                        <td>Warning messages</td>
                        <td>
                            @foreach (var warning in StepExecutionAttempt.WarningMessages)
                            {
                                <code class="text-danger" style="white-space: pre-wrap; display: block;">
                                    @warning.Message
                                </code>
                                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                    @if (showWarningStackTrace && !string.IsNullOrWhiteSpace(warning.Exception))
                                    {
                                        <br />
                                        <code class="text-body" style="white-space: pre-wrap; display: block;">@warning.Exception</code>
                                    }
                                </AuthorizeView>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h6>Execution condition parameters</h6>
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <tbody class="border-top">
                    @{
                        var executionConditionParameters = StepExecutionAttempt.StepExecution.ExecutionConditionParameters
                            ?? Enumerable.Empty<StepExecutionConditionParameter>();
                    }
                    @if (!executionConditionParameters.Any())
                    {
                        <tr><td class="small">No execution condition parameters</td></tr>
                    }
                    @foreach (var param in StepExecutionAttempt.StepExecution.ExecutionConditionParameters ?? Enumerable.Empty<StepExecutionConditionParameter>())
                    {
                        <tr>
                            <td class="fw-bold w-25">@param.DisplayName</td>
                            <td>@param.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
    @if (StepExecutionAttempt.StepExecution is IHasStepExecutionParameters hasParams)
    {
        <h6>Parameters</h6>
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <tbody class="border-top">
                        @{
                            var parameters = hasParams.StepExecutionParameters ?? Enumerable.Empty<StepExecutionParameterBase>();
                        }
                        @if (!parameters.Any())
                        {
                            <tr><td class="small">No parameters</td></tr>
                        }
                        @foreach (var param in hasParams.StepExecutionParameters ?? Enumerable.Empty<StepExecutionParameterBase>())
                        {
                            <tr>
                                <td class="fw-bold w-25">
                                    @param.DisplayName
                                </td>
                                <td>
                                    @param.DisplayValue
                                    @if (param.UseExpression && param.ExpressionParameters.Any())
                                    {
                                        var expressionParameters = param.ExpressionParameters.Select(p => $"<p><small>{p.ParameterName} = {p.InheritFromExecutionParameter.DisplayValue}</small></p>");
                                        var content = string.Join("\n", expressionParameters);
                                        <HxPopover Trigger="PopoverTrigger.Hover" Content="@content" Html>
                                            <small class="text-decoration-underline ms-2">Expression parameters</small>
                                        </HxPopover>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}


@code {
    [Parameter]
    public StepExecutionAttempt? StepExecutionAttempt { get; set; }

    [Parameter]
    public bool ShowExtraDetails { get; set; } = false;

    private bool showErrorStackTrace = false;
    private bool showWarningStackTrace = false;
}
