@if (StepExecutionAttempt is not null)
{
    <dl class="row">
        <dt class="col-sm-3">
            Execution id
        </dt>
        <dd class="col-sm-9">
            <a href="executions/@StepExecutionAttempt.ExecutionId">
                @StepExecutionAttempt.ExecutionId
            </a>
        </dd>
        <dt class="col-sm-3">
            Step id
        </dt>
        <dd class="col-sm-9">
            @StepExecutionAttempt.StepId
        </dd>

        @if (ShowExtraDetails)
        {
            <dt class="col-sm-3">
                Started
            </dt>
            <dd class="col-sm-9">
                @StepExecutionAttempt.StartDateTime?.LocalDateTime
            </dd>
            <dt class="col-sm-3">
                Ended
            </dt>
            <dd class="col-sm-9">
                @StepExecutionAttempt.EndDateTime?.LocalDateTime
            </dd>
            <dt class="col-sm-3">
                <text>Duration</text>
            </dt>
            <dd class="col-sm-9">
                <text>@StepExecutionAttempt.GetDurationInReadableFormat()</text>
            </dd>
            <dt class="col-sm-3">
                Status
            </dt>
            <dd class="col-sm-9">
                <StepExecutionStatusBadgeComponent ExecutionStatus="@StepExecutionAttempt.ExecutionStatus" />
            </dd>
        }

        @if (StepExecutionAttempt.ExecutionStatus == StepExecutionStatus.Stopped)
        {
            <dt class="col-sm-3">
                Stopped by
            </dt>
            <dd class="col-sm-9">
                @StepExecutionAttempt.StoppedBy
            </dd>
        }

        <dt class="col-sm-3">
            Retry attempts
        </dt>
        <dd class="col-sm-9">
            @StepExecutionAttempt.StepExecution.RetryAttempts
        </dd>
        <dt class="col-sm-3">
            Retry interval (min)
        </dt>
        <dd class="col-sm-9">
            @StepExecutionAttempt.StepExecution.RetryIntervalMinutes
        </dd>
        <dt class="col-sm-3">
            Retry attempt index
        </dt>
        <dd class="col-sm-9">
            @StepExecutionAttempt.RetryAttemptIndex
        </dd>
        <dt class="col-sm-3">
            Execution condition
        </dt>
        <dd class="col-sm-9">
            @StepExecutionAttempt.StepExecution.ExecutionConditionExpression
        </dd>

        @if (StepExecutionAttempt.StepExecution is SqlStepExecution sql)
        {
            <dt class="col-sm-3">
                Timeout (min)
            </dt>
            <dd class="col-sm-9">
                @sql.TimeoutMinutes
            </dd>
            <dt class="col-sm-3">
                SQL statement
            </dt>
            <dd class="col-sm-9">
                <pre><code>@sql.SqlStatement</code></pre>
            </dd>
            <dt class="col-sm-3">
                Scalar result capture job parameter
            </dt>
            <dd class="col-sm-9">
                @{ var jobParam = sql.Execution.ExecutionParameters
                          .FirstOrDefault(p => p?.ParameterId == sql.ResultCaptureJobParameterId); }
                @(jobParam is not null ? $"{jobParam.ParameterName} ({jobParam.ParameterValueType})" : null)
            </dd>
            <dt class="col-sm-3">
                Capture value
            </dt>
            <dd class="col-sm-9">
                <pre><code style="white-space: pre-wrap;">@sql.ResultCaptureJobParameterValue</code></pre>
            </dd>
        }
        else if (StepExecutionAttempt.StepExecution is PackageStepExecution package)
        {
            <dt class="col-sm-3">
                Timeout (min)
            </dt>
            <dd class="col-sm-9">
                @package.TimeoutMinutes
            </dd>
            <dt class="col-sm-3">
                Package path
            </dt>
            <dd class="col-sm-9">
                @package.PackagePath
            </dd>
            <dt class="col-sm-3">
                32 bit mode
            </dt>
            <dd class="col-sm-9">
                @package.ExecuteIn32BitMode
            </dd>
            <dt class="col-sm-3">
                Execute as login
            </dt>
            <dd class="col-sm-9">
                @package.ExecuteAsLogin
            </dd>
            <dt class="col-sm-3">
                Operation id
            </dt>
            <dd class="col-sm-9">
                @if (StepExecutionAttempt is PackageStepExecutionAttempt package__)
                {
                    @package__.PackageOperationId
                }
            </dd>
        }
        else if (StepExecutionAttempt.StepExecution is PipelineStepExecution pipeline)
        {
            <dt class="col-sm-3">
                Timeout (min)
            </dt>
            <dd class="col-sm-9">
                @pipeline.TimeoutMinutes
            </dd>
            <dt class="col-sm-3">
                Pipeline name
            </dt>
            <dd class="col-sm-9">
                @pipeline.PipelineName
            </dd>
            <dt class="col-sm-3">
                Pipeline run id
            </dt>
            <dd class="col-sm-9">
                @if (StepExecutionAttempt is PipelineStepExecutionAttempt pipeline__)
                {
                    @pipeline__.PipelineRunId
                }
            </dd>
            <dt class="col-sm-3">
                Pipeline client id
            </dt>
            <dd class="col-sm-9">
                @pipeline.PipelineClientId
            </dd>
        }
        else if (StepExecutionAttempt.StepExecution is ExeStepExecution exe)
        {
            <dt class="col-sm-3">
                Timeout (min)
            </dt>
            <dd class="col-sm-9">
                @exe.TimeoutMinutes
            </dd>
            <dt class="col-sm-3">
                File path
            </dt>
            <dd class="col-sm-9">
                @exe.ExeFileName
            </dd>
            <dt class="col-sm-3">
                Arguments
            </dt>
            <dd class="col-sm-9">
                @exe.ExeArguments
            </dd>
            <dt class="col-sm-3">
                Working directory
            </dt>
            <dd class="col-sm-9">
                @exe.ExeWorkingDirectory
            </dd>
            <dt class="col-sm-3">
                Success exit code
            </dt>
            <dd class="col-sm-9">
                @exe.ExeSuccessExitCode
            </dd>
            @if (StepExecutionAttempt is ExeStepExecutionAttempt exe_)
            {
                <dt class="col-sm-3">
                    Process id
                </dt>
                <dd class="col-sm-9">
                    @exe_.ExeProcessId
                </dd>
            }
        }
        else if (StepExecutionAttempt.StepExecution is DatasetStepExecution dataset)
        {
            <dt class="col-sm-3">
                Group id
            </dt>
            <dd class="col-sm-9">
                @dataset.DatasetGroupId
            </dd>
            <dt class="col-sm-3">
                Dataset id
            </dt>
            <dd class="col-sm-9">
                @dataset.DatasetId
            </dd>
            <dt class="col-sm-3">
                Power BI Service id
            </dt>
            <dd class="col-sm-9">
                @dataset.AppRegistrationId
            </dd>
        }
        else if (StepExecutionAttempt.StepExecution is FunctionStepExecution function)
        {
            <dt class="col-sm-3">
                Timeout (min)
            </dt>
            <dd class="col-sm-9">
                @function.TimeoutMinutes
            </dd>
            <dt class="col-sm-3">
                Function url
            </dt>
            <dd class="col-sm-9">
                @function.FunctionUrl
            </dd>
            <dt class="col-sm-3">
                Function input
            </dt>
            <dd class="col-sm-9">
                <pre><code>@function.FunctionInput</code></pre>
            </dd>
            <dt class="col-sm-3">
                Is durable
            </dt>
            <dd class="col-sm-9">
                @function.FunctionIsDurable
            </dd>
            <dt class="col-sm-3">
                Function App id
            </dt>
            <dd class="col-sm-9">
                @function.FunctionAppId
            </dd>
            @if (StepExecutionAttempt is FunctionStepExecutionAttempt function_)
            {
                <dt class="col-sm-3">
                    Instance id
                </dt>
                <dd class="col-sm-9">
                    @function_.FunctionInstanceId
                </dd>
            }
        }
        else if (StepExecutionAttempt.StepExecution is AgentJobStepExecution agent)
        {
            <dt class="col-sm-3">
                Timeout (min)
            </dt>
            <dd class="col-sm-9">
                @agent.TimeoutMinutes
            </dd>
            <dt class="col-sm-3">
                Agent job name
            </dt>
            <dd class="col-sm-9">
                @agent.AgentJobName
            </dd>
        }
        else if (StepExecutionAttempt.StepExecution is TabularStepExecution tabular)
        {
            <dt class="col-sm-3">
                Timeout (min)
            </dt>
            <dd class="col-sm-9">
                @tabular.TimeoutMinutes
            </dd>
            <dt class="col-sm-3">
                Model name
            </dt>
            <dd class="col-sm-9">
                @tabular.TabularModelName
            </dd>
            <dt class="col-sm-3">
                Table name
            </dt>
            <dd class="col-sm-9">
                @tabular.TabularTableName
            </dd>
            <dt class="col-sm-3">
                Partition name
            </dt>
            <dd class="col-sm-9">
                @tabular.TabularPartitionName
            </dd>
        }
        else if (StepExecutionAttempt.StepExecution is EmailStepExecution email)
        {
            <dt class="col-sm-3">
                Recipients
            </dt>
            <dd class="col-sm-9">
                @email.Recipients
            </dd>
            <dt class="col-sm-3">
                Subject
            </dt>
            <dd class="col-sm-9">
                @email.Subject
            </dd>
            <dt class="col-sm-3">
                Body
            </dt>
            <dd class="col-sm-9">
                @email.Body
            </dd>
        }
        else if (StepExecutionAttempt.StepExecution is JobStepExecution job)
        {
            <dt class="col-sm-3">
                Synchronized
            </dt>
            <dd class="col-sm-9">
                @job.JobExecuteSynchronized
            </dd>
            @if (StepExecutionAttempt is JobStepExecutionAttempt job_)
            {
                <dt class="col-sm-3">
                    Child execution id
                </dt>
                <dd class="col-sm-9">
                    <a href="executions/@job_.ChildJobExecutionId">
                        @job_.ChildJobExecutionId
                    </a>
                </dd>
            }
        }
        <dt class="col-sm-3">
            Info message / output
        </dt>
        <dd class="col-sm-9">
            <pre><code>@StepExecutionAttempt.InfoMessage</code></pre>
        </dd>
        <dt class="col-sm-3">
            Error message
        </dt>
        <dd class="col-sm-9">
            <code class="text-danger" style="white-space: pre-wrap;">@StepExecutionAttempt.ErrorMessage</code>
            <AuthorizeView Roles="Admin">
                @if (!string.IsNullOrWhiteSpace(StepExecutionAttempt.ErrorStackTrace))
                {
                    if (!ShowErrorStackTrace)
                    {
                        <div class="mt-2">
                            <small>
                                <a class="text-secondary" href="javascript:void(0);" @onclick="() => ShowErrorStackTrace = true">
                                    Stack trace available
                                </a>
                            </small>
                        </div>
                    }
                    else
                    {
                        <br />
                        <code class="text-body" style="white-space: pre-wrap;">@StepExecutionAttempt.ErrorStackTrace</code>
                    }
                }
            </AuthorizeView>
        </dd>
        <dt class="col-sm-3">
            Warning message
        </dt>
        <dd class="col-sm-9">
            <pre><code>@StepExecutionAttempt.WarningMessage</code></pre>
        </dd>
    </dl>
    <h6>Execution condition parameters</h6>
    <dl class="row">
        @foreach (var param in StepExecutionAttempt.StepExecution.ExecutionConditionParameters ?? Enumerable.Empty<StepExecutionConditionParameter>())
        {
            // Append parameter level for package step executions to separate package and project level parameters.
            <dt class="col-sm-3">
                @param.ParameterName
            </dt>
            <dd class="col-sm-9">
                @($"{param.ParameterValue} ({param.ParameterValueType})")
                @(param.ExecutionParameterValue is not null ? $"(Inherited from job param {param.ExecutionParameter?.ParameterName})" : null)
            </dd>
        }
    </dl>
    @if (StepExecutionAttempt.StepExecution is ParameterizedStepExecution parameterized)
    {
        <h6>Parameters</h6>
        <dl class="row">
            @foreach (var param in parameterized.StepExecutionParameters ?? Enumerable.Empty<StepExecutionParameterBase>())
            {
                // Append parameter level for package step executions to separate package and project level parameters.
                <dt class="col-sm-3">
                    @(param is PackageStepExecutionParameter p ? $"${p.ParameterLevel}::{p.ParameterName}" : param.ParameterName)
                </dt>
                <dd class="col-sm-9">
                    @($"{param.ParameterValue} ({param.ParameterValueType})")
                    @(param.ExecutionParameterValue is not null ? $"(Inherited from job param {param.ExecutionParameter?.ParameterName})" : null)
                </dd>
            }
        </dl>
    }
}


@code {
    [Parameter]
    public StepExecutionAttempt? StepExecutionAttempt { get; set; }

    [Parameter]
    public bool ShowExtraDetails { get; set; } = false;

    private bool ShowErrorStackTrace { get; set; } = false;
}
