@inject IHxMessengerService Messenger
@inject IHttpContextAccessor HttpContextAccessor
@inject IExecutorService ExecutorService

<table class="table table-sm table-hover">
    <thead>
        <tr>
            @if (ShowDetailed)
            {
                <th>
                    Job
                </th>
            }
            <th>
                Step
            </th>
            <th>
                Execution phase
            </th>
            <th>
                Started
            </th>
            <th>
                Ended
            </th>
            <th>
                Duration
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Executions is null)
        {
            <tr><td colspan="@(ShowDetailed ? 7 : 6)" class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
        }
        else if (!Executions.Any())
        {
            <tr><td colspan="@(ShowDetailed ? 7 : 6)">No executions</td></tr>
        }
        else
        {
            <Virtualize TItem="StepExecutionAttempt" Context="item" SpacerElement="tr" Items="Executions.ToList()" OverscanCount="20">
                <tr class="@(SelectedStepExecution == item ? "bg-body-tertiary" : null)" style="cursor: pointer;" @onclick="() => ToggleSelectedStepExecution(item)">
                    @if (ShowDetailed)
                    {
                        <td>
                            @item.StepExecution.Execution.JobName
                        </td>
                    }
                    <td>
                        <StepTypeIconComponent StepType_="item.StepType" />
                        &nbsp;
                        @item.StepExecution.StepName
                    </td>
                    <td class="@(item.StepExecution.Execution.DependencyMode ? "text-body-tertiary" : "text-body")" style="">
                        @item.StepExecution.ExecutionPhase
                        &nbsp;
                        <CxIcon Icon="FeatherIcon.Layers" />
                    </td>
                    <td>
                        @item.StartDateTime?.LocalDateTime
                    </td>
                    <td>
                        @item.EndDateTime?.LocalDateTime
                    </td>
                    <td>
                        <text>@item.GetDurationInReadableFormat()</text>
                    </td>
                    <td>
                        <StepExecutionStatusBadgeComponent ExecutionStatus="@item.ExecutionStatus" />
                    </td>
                </tr>
                @if (SelectedStepExecution == item)
                {
                    <tr class="table-borderless no-hover bg-body-tertiary">
                        <td colspan="7">
                            <HxButtonToolbar CssClass="mb-3 mt-1 ms-2">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="async () => await ShowStepHistoryOffcanvasAsync(item.StepId.ToString())">
                                    <CxIcon Icon="FeatherIcon.Activity" />
                                    History
                                </HxButton>
                                <AuthorizeView Roles="Admin, Editor, Operator">
                                    @if (item.CanBeStopped)
                                    {
                                        <HxDropdownButtonGroup CssClass="ms-3">
                                            <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.Danger">
                                                <CxIcon Icon="FeatherIcon.XOctagon" />
                                                Stop
                                            </HxDropdownToggleButton>
                                            <HxDropdownMenu>
                                                <HxDropdownItem @onclick="async () => await StopStepExecutionAsync(item)">Confirm</HxDropdownItem>
                                            </HxDropdownMenu>
                                        </HxDropdownButtonGroup>
                                    }
                                </AuthorizeView>
                            </HxButtonToolbar>

                            <StepExecutionDetailsComponent StepExecutionAttempt="item" />
                        </td>
                    </tr>
                }
            </Virtualize>
        }
    </tbody>
</table>

<StepHistoryOffcanvas @ref="StepHistoryOffcanvas" StepId_="@HistoryModalStepId" />

@code {
    [Parameter]
    public IEnumerable<StepExecutionAttempt>? Executions { get; set; }

    [Parameter]
    public bool ShowDetailed { get; set; } = true;

    private StepExecutionAttempt? SelectedStepExecution { get; set; }

    private StepHistoryOffcanvas? StepHistoryOffcanvas { get; set; }
    private string? HistoryModalStepId { get; set; }

    private void ToggleSelectedStepExecution(StepExecutionAttempt execution)
    {
        // If the selected execution is the same that was previously selected, set to null
        // => hides step execution details component.
        SelectedStepExecution = SelectedStepExecution == execution ? null : execution;
        StateHasChanged();
    }

    private async Task ShowStepHistoryOffcanvasAsync(string stepId)
    {
        HistoryModalStepId = stepId;
        await StepHistoryOffcanvas.LetAsync(x => x.ShowAsync());
    }

    private async Task StopStepExecutionAsync(StepExecutionAttempt stepExecution)
    {
        try
        {
            string username = HttpContextAccessor.HttpContext?.User?.Identity?.Name
                ?? throw new ArgumentNullException(nameof(username), "Error getting username from HttpContext");
            await ExecutorService.StopExecutionAsync(stepExecution, username);
            if (stepExecution.ExecutionStatus == StepExecutionStatus.NotStarted)
            {
                Messenger.AddInformation("Stop request sent successfully to the executor service. The step will be stopped once it reaches the 'Queued' status.");
            }
            else
            {
                Messenger.AddInformation("Stop request sent successfully to the executor service");
            }
        }
        catch (TimeoutException)
        {
            Messenger.AddError("Operation timed out", "The executor process may no longer be running");
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error stopping execution", ex.Message);
        }
    }
}
