@page
@model EtlManager.Pages.Jobs.JobDetails.HistoryModel
@{
    ViewData["Title"] = "History";
}

<h3>Jobs</h3>
<hr />

<partial name="_JobNavigationPartial"
         model="@(new EtlManager.Pages.Shared._JobNavigationPartialModel { Job = Model.Job, Jobs = Model.Jobs, RedirectPage = "./History" })" />
<p></p>

<partial name="_JobDetailsNavigationPartial" model="@(new KeyValuePair<Guid, string>(Model.Job.JobId, "History"))" />

<p></p>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].EndDateTime)
            </th>
            <th>
                Duration
            </th>
            <th>
                Number of steps
            </th>
            <th>
                Success percent
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executions[0].ExecutionStatus)
            </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><text>@Model.AverageDurationInSeconds.SecondsToReadableFormat()</text></th>
            <th></th>
            <th style="text-align: right;">@Html.DisplayFor(modelItem => Model.AverageSuccessRate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Executions)
        {
            <tr style="cursor: pointer;" onclick="window.open('@("/Executions/JobDetails?id=" + item.ExecutionId)')">
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    <text>@item.GetDurationInReadableFormat()</text>
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.NumberOfSteps)
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.SuccessPercent)
                </td>
                <td>
                    <partial name="_JobExecutionStatusBadgePartial" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<p class="text-secondary">Showing @Model.MaxExecutions latest executions</p>