@{
    switch (ExecutionStatus_)
    {
        case ExecutionStatus.Succeeded:
            <span class="badge bg-success">@ExecutionStatus_</span>
            break;
        case ExecutionStatus.Failed:
            <span class="badge bg-danger">@ExecutionStatus_</span>
            break;
        case ExecutionStatus.Warning:
        case ExecutionStatus.Stopped:
        case ExecutionStatus.Suspended:
            <span class="badge bg-warning">@ExecutionStatus_</span>
            break;
        case ExecutionStatus.Running:
            <span class="badge bg-primary">@ExecutionStatus_</span>
            break;
        default:
            <span class="badge bg-secondary">@ExecutionStatus_</span>
            break;
    }
}

@code {
    [Parameter]
    public ExecutionStatus? ExecutionStatus_ { get; set; }
}