@{
    switch (ExecutionStatus)
    {
        case "SUCCEEDED":
            <span class="badge badge-success">@ExecutionStatus</span>
            break;
        case "FAILED":
            <span class="badge badge-danger">@ExecutionStatus</span>
            break;
        case "WARNING":
        case "STOPPED":
        case "SUSPENDED":
            <span class="badge badge-warning">@ExecutionStatus</span>
            break;
        case "RUNNING":
            <span class="badge badge-primary">@ExecutionStatus</span>
            break;
        default:
            <span class="badge badge-secondary">@ExecutionStatus</span>
            break;
    }
}

@code {
    [Parameter]
    public string ExecutionStatus { get; set; }
}