@if (StepExecution is not null)
{
<dl class="row">
    <dt class="col-sm-3">
        Execution id
    </dt>
    <dd class="col-sm-9">
        @StepExecution.ExecutionId
    </dd>
    <dt class="col-sm-3">
        Executor PID
    </dt>
    <dd class="col-sm-9">
        @StepExecution.ExecutorProcessId
    </dd>
    <dt class="col-sm-3">
        Job
    </dt>
    <dd class="col-sm-9">
        @StepExecution.JobName
    </dd>
    <dt class="col-sm-3">
        Created by
    </dt>
    <dd class="col-sm-9">
        @StepExecution.CreatedBy
    </dd>
    <dt class="col-sm-3">
        Created
    </dt>
    <dd class="col-sm-9">
        @StepExecution.CreatedDateTime
    </dd>

    @if (ShowExtraDetails)
    {
        <dt class="col-sm-3">
            Started
        </dt>
        <dd class="col-sm-9">
            @StepExecution.StartDateTime
        </dd>
        <dt class="col-sm-3">
            Ended
        </dt>
        <dd class="col-sm-9">
            @StepExecution.EndDateTime
        </dd>
        <dt class="col-sm-3">
            <text>Duration</text>
        </dt>
        <dd class="col-sm-9">
            <text>@StepExecution.GetDurationInReadableFormat()</text>
        </dd>
        <dt class="col-sm-3">
            Status
        </dt>
        <dd class="col-sm-9">
            <StepExecutionStatusBadgeComponent ExecutionStatus="@StepExecution.ExecutionStatus" />
        </dd>
    }

    @if (StepExecution.ExecutionStatus == "STOPPED")
    {
        <dt class="col-sm-3">
            Stopped by
        </dt>
        <dd class="col-sm-9">
            @StepExecution.StoppedBy
        </dd>
    }

    @if (StepExecution.StepType == "SQL")
    {
        <dt class="col-sm-3">
            SQL statement
        </dt>
        <dd class="col-sm-9">
            <pre><code>@StepExecution.SqlStatement</code></pre>
        </dd>
        <dt class="col-sm-3">
            Info message
        </dt>
        <dd class="col-sm-9">
            <pre><code>@StepExecution.InfoMessage</code></pre>
        </dd>
    }
    else if (StepExecution.StepType == "SSIS")
    {
        <dt class="col-sm-3">
            Package path
        </dt>
        <dd class="col-sm-9">
            @StepExecution.PackagePath
        </dd>
        <dt class="col-sm-3">
            32 bit mode
        </dt>
        <dd class="col-sm-9">
            @StepExecution.ExecuteIn32BitMode
        </dd>
        <dt class="col-sm-3">
            Operation id
        </dt>
        <dd class="col-sm-9">
            @StepExecution.PackageOperationId
        </dd>
    }
    else if (StepExecution.StepType == "PIPELINE")
    {
        <dt class="col-sm-3">
            Pipeline name
        </dt>
        <dd class="col-sm-9">
            @StepExecution.PipelineName
        </dd>
        <dt class="col-sm-3">
            Pipeline run id
        </dt>
        <dd class="col-sm-9">
            @StepExecution.PipelineRunId
        </dd>
        <dt class="col-sm-3">
            Data Factory id
        </dt>
        <dd class="col-sm-9">
            @StepExecution.DataFactoryId
        </dd>
    }
    else if (StepExecution.StepType == "EXE")
    {
        <dt class="col-sm-3">
            File path
        </dt>
        <dd class="col-sm-9">
            @StepExecution.ExeFileName
        </dd>
        <dt class="col-sm-3">
            Arguments
        </dt>
        <dd class="col-sm-9">
            @StepExecution.ExeArguments
        </dd>
        <dt class="col-sm-3">
            Working directory
        </dt>
        <dd class="col-sm-9">
            @StepExecution.ExeWorkingDirectory
        </dd>
        <dt class="col-sm-3">
            Success exit code
        </dt>
        <dd class="col-sm-9">
            @StepExecution.ExeSuccessExitCode
        </dd>
    }

    <dt class="col-sm-3">
        Error message
    </dt>
    <dd class="col-sm-9">
        <text class="text-danger" style="font-family: monospace; white-space: pre-wrap;">@StepExecution.ErrorMessage</text>
    </dd>
</dl>
    @if (StepExecution.StepType == "SSIS" || StepExecution.StepType == "PIPELINE")
    {
        <h6>Parameters</h6>
        <dl class="row">
            @foreach (var param in StepExecution.StepExecutionParameters ?? Enumerable.Empty<StepExecutionParameter>())
            {
                <dt class="col-sm-3">@param.ParameterName</dt>
                <dd class="col-sm-9">@param.ParameterValue</dd>
            }
        </dl>
    }
}


@code {
    [Parameter]
    public StepExecution StepExecution { get; set; }

    [Parameter]
    public bool ShowExtraDetails { get; set; } = false;
}
