@{
    switch (ExecutionStatus)
    {
        case StepExecutionStatus.Succeeded:
            <span class="badge badge-success">@ExecutionStatus</span>
            break;
        case StepExecutionStatus.Failed:
            <span class="badge badge-danger">@ExecutionStatus</span>
            break;
        case StepExecutionStatus.Skipped:
        case StepExecutionStatus.Stopped:
        case StepExecutionStatus.Duplicate:
        case StepExecutionStatus.AwaitRetry:
            <span class="badge badge-warning">@ExecutionStatus</span>
            break;
        case StepExecutionStatus.Running:
            <span class="badge badge-primary">@ExecutionStatus</span>
            break;
        default:
            <span class="badge badge-secondary">@ExecutionStatus</span>
            break;
    }
}

@code {
    [Parameter]
    public StepExecutionStatus? ExecutionStatus { get; set; }
} 