@inject MarkupHelperService MarkupHelper
@inject IHxMessengerService Messenger
@inject IHttpContextAccessor HttpContextAccessor

<div class="row mx-1 my-2">
    <div class="col">
        <div class="row" style="height: 40px;">
            <div class="col-xl-3 col-lg-4 col-5 py-1 d-flex align-items-center justify-content-end">
            </div>
            <div class="col-xl-9 col-lg-8 col-7 d-flex align-items-center" style="position: relative;">
                @for (int i = 0; i <= 100; i += 10)
                {
                    @*With screen sizes < xl only show every other line*@
                    <div class="@(i / 10 % 2 != 0 ? "d-none d-xl-flex" : "d-flex") align-items-center"
                         style="height: 100%; border-left: 1px dashed #ccc; position: absolute; left: @($"{i}%");">
                        @if (i < 100)
                        {
                            <small>@GetDateFromPercentage(i)<br />@GetTimeFromPercentage(i)</small>
                        }
                    </div>
                }
            </div>
        </div>
        @foreach (var item in Executions.Where(e => e.StartDateTime is not null))
        {
            (var offset, var width) = item.GetGanttGraphDimensions(Executions);
            <div class="row border-top gantt-row" style="cursor: pointer;" @onclick="() => ToggleSelectedStepExecution(item)">
                <div class="col-xl-3 col-lg-4 col-5 text-end py-1" >
                    <HxTooltip Text="@($"{item.ExecutionStatus}, {item.GetDurationInReadableFormat()}")">
                        <small>
                            @item.StepExecution.StepName
                            &nbsp;
                            <StepTypeIconComponent StepType_="item.StepType" />
                        </small>
                    </HxTooltip>
                </div>
                <div class="col-xl-9 col-lg-8 col-7 d-flex align-items-center" style="position: relative;">
                    @for (int i = 0; i <= 100; i += 10)
                    {
                        <div class="d-flex align-items-center" style="height: 100%; border-left: 1px dashed #ccc; position: absolute; left: @($"{i}%");"></div>
                    }
                    <div class="progress" style="position: absolute; width: @($"{width}%"); left: @($"{offset}%");">
                        <div class="progress-bar @item.ExecutionStatus.ToString().ToLower()" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            if (SelectedStepExecution == item)
            {
                <div class="row bg-light">
                    <div class="col">
                        <HxButtonToolbar CssClass="mb-3 mt-1 ms-2">
                            <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" @onclick="async () => await ShowStepHistoryOffcanvasAsync(item.StepId.ToString())">
                                @MarkupHelper.FromFile("icons/feather/activity.svg")
                                History
                            </HxButton>
                            <AuthorizeView Roles="Admin, Editor, Operator">
                                @if (item.ExecutionStatus == StepExecutionStatus.Running || item.ExecutionStatus == StepExecutionStatus.AwaitRetry // Step is running or it is awaiting retry...
                         && !Executions.Any(e => e.StepId == item.StepId && e.RetryAttemptIndex > item.RetryAttemptIndex)) // ...and is the latest attempt.
                                {
                                    <HxDropdown CssClass="ms-3">
                                        <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.Danger">
                                            @MarkupHelper.FromFile("icons/feather/x-octagon.svg")
                                            Stop
                                        </HxDropdownToggleButton>
                                        <HxDropdownMenu>
                                            <HxDropdownItem @onclick="() => StopStepExecutionAsync(item)">Confirm</HxDropdownItem>
                                        </HxDropdownMenu>
                                    </HxDropdown>
                                }
                            </AuthorizeView>
                        </HxButtonToolbar>
                        <StepExecutionDetailsComponent StepExecutionAttempt="item" ShowExtraDetails />
                    </div>
                </div>
            }
        }
    </div>
</div>

<StepHistoryOffcanvas @ref="StepHistoryOffcanvas" StepId_="@HistoryModalStepId" />

@code {

    [Parameter]
    public IEnumerable<StepExecutionAttempt> Executions { get; set; } = Enumerable.Empty<StepExecutionAttempt>();

    private StepExecutionAttempt? SelectedStepExecution { get; set; }

    private StepHistoryOffcanvas StepHistoryOffcanvas { get; set; } = null!;
    private string? HistoryModalStepId { get; set; }

    private void ToggleSelectedStepExecution(StepExecutionAttempt execution)
    {
        SelectedStepExecution = SelectedStepExecution == execution ? null : execution;
        StateHasChanged();
    }

    private async Task ShowStepHistoryOffcanvasAsync(string stepId)
    {
        HistoryModalStepId = stepId;
        await StepHistoryOffcanvas.ShowAsync();
    }

    private async Task StopStepExecutionAsync(StepExecutionAttempt stepExecution)
    {
        try
        {
            string username = HttpContextAccessor.HttpContext?.User?.Identity?.Name
                ?? throw new ArgumentNullException(nameof(username), "Username cannot be null");
            await stepExecution.StopExecutionAsync(username);
        }
        catch (TimeoutException)
        {
            Messenger.AddError("Operation timed out", "The executor process may no longer be running");
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error stopping execution", ex.Message);
        }
    }

    private DateTime MinTime => Executions.Any() ? Executions.Min(e => e.StartDateTime?.LocalDateTime) ?? DateTime.Now : DateTime.Now;
    private DateTime MaxTime => Executions.Any() ? Executions.Max(e => e.EndDateTime?.LocalDateTime ?? DateTime.Now) : DateTime.Now;
    private long MinTicks => MinTime.Ticks;
    private long MaxTicks => MaxTime.Ticks;

    private string GetTimeFromPercentage(int percentage)
    {
        if (MinTicks == MaxTicks)
            return DateTime.Now.ToString("T");

        var ticks = MinTicks + (MaxTicks - MinTicks) * percentage / 100;
        var time = new DateTime(ticks);
        return time.ToString("T");
    }

    private string GetDateFromPercentage(int percentage)
    {
        if (MinTicks == MaxTicks)
            return DateTime.Now.ToString("d");

        var ticks = MinTicks + (MaxTicks - MinTicks) * percentage / 100;
        var time = new DateTime(ticks);
        return time.ToString("d");
    }

}
