@inject IDbContextFactory<EtlManagerContext> DbFactory

<BSModal @ref="Modal" Size="Size.Large" IsScrollable="true">
    <BSModalHeader @onclick="() => Modal.Hide()">@StepName</BSModalHeader>
    <BSModalBody>
        <p class="text-secondary">Showing @MaxExecutions latest executions</p>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Started</th>
                    <th>Ended</th>
                    <th>Duration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Executions is null)
                {
                    <tr><td colspan="4">Loading...</td></tr>
                }
                else if (Executions.Count == 0)
                {
                    <tr><td colspan="4">No executions</td></tr>
                }
                else
                {
                    @foreach (var execution in Executions)
                    {
                        <tr class="@(SelectedStepExecution == execution ? "bg-light" : null)" style="cursor: pointer;" @onclick="() => ToggleSelectedStepExecution(execution)">
                            <td>@execution.StartDateTime</td>
                            <td>@execution.EndDateTime</td>
                            <td>@execution.GetDurationInReadableFormat()</td>
                            <td><StepExecutionStatusBadgeComponent ExecutionStatus="@execution.ExecutionStatus" /></td>
                        </tr>
                        @if (SelectedStepExecution == execution)
                        {
                            <tr class="table-borderless">
                                <td colspan="4" class="bg-light">
                                    <StepExecutionDetailsComponent StepExecutionAttempt="execution" />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Secondary" @onclick="() => Modal.Hide()">Close</BSButton>
    </BSModalFooter>
</BSModal>

@code {

    [Parameter]
    public string? StepId_ { get; set; }

    private string StepName => Executions?.FirstOrDefault()?.StepExecution?.StepName ?? "";

    private Guid StepId => StepId_ switch { not null => Guid.Parse(StepId_), _ => Guid.Empty };

    private BSModal Modal { get; set; } = null!;

    private List<StepExecutionAttempt>? Executions { get; set; }

    public const int MaxExecutions = 50;

    private StepExecutionAttempt? SelectedStepExecution { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (StepId_ is not null)
        {
            Executions = null; // Set to null to reset the modal layout.

            var context = DbFactory.CreateDbContext();
            Executions = await context.StepExecutionAttempts
                .Include(attempt => attempt.StepExecution)
                .ThenInclude(step => (step as ParameterizedStepExecution)!.StepExecutionParameters)
                .Include(attempt => attempt.StepExecution)
                .ThenInclude(step => step.Execution)
                .Where(e => e.StepId == StepId)
                .OrderByDescending(execution => execution.StepExecution.Execution.CreatedDateTime)
                .ThenByDescending(Execution => Execution.StartDateTime)
                .Take(MaxExecutions)
                .ToListAsync();
        }
    }

    private void ToggleSelectedStepExecution(StepExecutionAttempt execution)
    {
        SelectedStepExecution = SelectedStepExecution == execution ? null : execution;
        StateHasChanged();
    }

    public void Show() => Modal.Show();

}
