@implements IDisposable
@implements IStepEditModal
@inject IWebHostEnvironment WebHostEnvironment
@inject IDbContextFactory<EtlManagerContext> DbFactory

<ParameterizedStepEditModal @ref="Modal"
                   Job="Job"
                   Steps="Steps"
                   Step="Step"
                   Context="Context"
                   OnStepSubmit="OnStepSubmit"
                   FormId="pipeline_step_edit_modal">
    <BSFormRow>
        <BSFormGroup Class="col-lg-6">
            <BSLabel>Timeout (min) (0 = indefinite)</BSLabel>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/x-octagon.svg")))
                    </div>
                </div>
                <InputNumber class="form-control" @bind-Value="Step.TimeoutMinutes"></InputNumber>
            </div>
        </BSFormGroup>

    </BSFormRow>
    <BSFormRow>
        <BSFormGroup Class="col">
            <BSLabel>Data Factory</BSLabel>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/factory.svg")))
                    </div>
                </div>
                <InputSelect class="form-control" @bind-Value="Step.DataFactoryId">
                    @foreach (var dataFactory in DataFactories ?? Enumerable.Empty<DataFactory>())
                    {
                        <option value="@dataFactory.DataFactoryId">@dataFactory.DataFactoryName</option>
                    }
                </InputSelect>
            </div>
        </BSFormGroup>
        <BSFormGroup Class="col-lg">
            <BSLabel>Pipeline name</BSLabel>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/pipeline.svg")))
                    </div>
                </div>
                <InputText class="form-control" @bind-Value="Step.PipelineName" @oninput="Modal.ResetStepError"></InputText>
            </div>
        </BSFormGroup>
    </BSFormRow>
    <div class="row mb-3">
        <div class="col">
            <BSButton Size="Size.Small" Color="Color.Light" @onclick="OpenPipelineSelectModal">
                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/more-horizontal.svg")))
                Browse pipelines
            </BSButton>
        </div>
    </div>
    <PipelineSelectModal @ref="PipelineSelectModal" DataFactoryId="Step.DataFactoryId" OnPipelineSelected="OnPipelineSelected" />
</ParameterizedStepEditModal>


@code {

    [Parameter]
    public Guid StepId { get; set; } // empty Guid => new step

    [Parameter]
    public Job? Job { get; set; }

    [Parameter]
    public IList<Step>? Steps { get; set; }

    [Parameter]
    public IList<DataFactory>? DataFactories { get; set; }

    [Parameter]
    public EventCallback<Step> OnStepSubmit { get; set; }

    // Use the same context to read and write to enable change tracking for all step child properties (e.g. parameters and dependencies).
    private EtlManagerContext Context { get; set; } = null!;

    private Guid PrevStepId { get; set; }

    private PipelineStep Step { get; set; } = null!;

    private ParameterizedStepEditModal Modal { get; set; } = null!;

    private PipelineSelectModal PipelineSelectModal { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private async Task ResetContext()
    {
        if (Context is not null)
            await Context.DisposeAsync();

        Context = DbFactory.CreateDbContext();
    }

    private async Task LoadData()
    {
        if (StepId != Guid.Empty && StepId != PrevStepId)
        {
            await ResetContext();
            Step = await Context.PipelineSteps
                .Include(step => step.StepParameters)
                .ThenInclude(p => p.JobParameter)
                .Include(step => step.Tags)
                .Include(step => step.Dependencies)
                .FirstOrDefaultAsync(step => step.StepId == StepId);
            PrevStepId = StepId;
        }
        else if (StepId == Guid.Empty && Job is not null)
        {
            await ResetContext();
            Step = new()
            {
                JobId = Job.JobId,
                RetryAttempts = 0,
                RetryIntervalMinutes = 0,
                IsEnabled = true,
                DataFactoryId = DataFactories?.FirstOrDefault()?.DataFactoryId,
                StepParameters = new List<StepParameterBase>(),
                Dependencies = new List<Dependency>(),
                Tags = new List<Tag>()
            };
        }
        StateHasChanged();
    }

    private void OpenPipelineSelectModal() => PipelineSelectModal.Show();

    private void OnPipelineSelected(string pipelineName) => Step.PipelineName = pipelineName;

    public void Show(bool showDependencies) => Modal.Show(showDependencies);

    public void Dispose() => Context?.Dispose();

}
