@implements IDisposable
@implements IStepEditModal
@inject IWebHostEnvironment WebHostEnvironment
@inject IDbContextFactory<EtlManagerContext> DbFactory

<StepEditModalBase @ref="Modal"
                   Job="Job"
                   Steps="Steps"
                   Step="Step"
                   Context="Context"
                   StepValidityCheck="StepValidityCheck"
                   ResetDeletedEntities="ResetDeletedEntities"
                   ResetAddedEntities="ResetAddedEntities"
                   OnStepSubmit="OnStepSubmit"
                   FormId="pipeline_step_edit_modal">
    <BSFormRow>
        <BSFormGroup Class="col-lg-6">
            <BSLabel>Timeout (min) (0 = indefinite)</BSLabel>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/x-octagon.svg")))
                    </div>
                </div>
                <InputNumber class="form-control" @bind-Value="Step.TimeoutMinutes"></InputNumber>
            </div>
        </BSFormGroup>

    </BSFormRow>
    <BSFormRow>
        <BSFormGroup Class="col">
            <BSLabel>Data Factory</BSLabel>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/factory.svg")))
                    </div>
                </div>
                <InputSelect class="form-control" @bind-Value="Step.DataFactoryId">
                    @foreach (var dataFactory in DataFactories ?? Enumerable.Empty<DataFactory>())
                    {
                        <option value="@dataFactory.DataFactoryId">@dataFactory.DataFactoryName</option>
                    }
                </InputSelect>
            </div>
        </BSFormGroup>
        <BSFormGroup Class="col-lg">
            <BSLabel>Pipeline name</BSLabel>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/pipeline.svg")))
                    </div>
                </div>
                <InputText class="form-control" @bind-Value="Step.PipelineName" @oninput="Modal.ResetStepError"></InputText>
            </div>
        </BSFormGroup>
    </BSFormRow>
    <div class="row mb-3">
        <div class="col">
            <BSButton Size="Size.Small" Color="Color.Light" @onclick="OpenPipelineSelectModal">
                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/more-horizontal.svg")))
                Browse pipelines
            </BSButton>
        </div>
    </div>
    <PipelineSelectModal @ref="PipelineSelectModal" DataFactoryId="Step.DataFactoryId" OnPipelineSelected="OnPipelineSelected" />
    <ParameterEditComponent Step="Step" />
</StepEditModalBase>


@code {

    [Parameter]
    public Guid StepId { get; set; } // empty Guid => new step

    [Parameter]
    public Job? Job { get; set; }

    [Parameter]
    public IList<Step>? Steps { get; set; }

    [Parameter]
    public IList<DataFactory>? DataFactories { get; set; }

    [Parameter]
    public EventCallback<Step> OnStepSubmit { get; set; }

    // Use the same context to read and write to enable change tracking for all step child properties (e.g. parameters and dependencies).
    private EtlManagerContext Context { get; set; } = null!;

    private Guid PrevStepId { get; set; }

    private PipelineStep Step { get; set; } = null!;

    private StepEditModalBase Modal { get; set; } = null!;

    private PipelineSelectModal PipelineSelectModal { get; set; } = null!;

    protected override void OnInitialized()
    {
        Context = DbFactory.CreateDbContext();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        if (StepId != Guid.Empty && StepId != PrevStepId)
        {
            Step = await Context.PipelineSteps
                .Include(step => step.PipelineParameters)
                .Include(step => step.Tags)
                .Include(step => step.Dependencies)
                .FirstOrDefaultAsync(step => step.StepId == StepId);
            PrevStepId = StepId;
        }
        else if (StepId == Guid.Empty && Job is not null)
        {
            Step = new()
            {
                JobId = Job.JobId,
                RetryAttempts = 0,
                RetryIntervalMinutes = 0,
                StepType = StepType.Pipeline,
                IsEnabled = true,
                DataFactoryId = DataFactories?.FirstOrDefault()?.DataFactoryId,
                PipelineParameters = new List<PipelineParameter>(),
                Dependencies = new List<Dependency>(),
                Tags = new List<Tag>()
            };
        }
        StateHasChanged();
    }

    private void ResetDeletedEntities(EntityEntry entity)
    {
        if (entity.Entity is PipelineParameter pipelineParam)
        {
            if (!Step.PipelineParameters.Contains(pipelineParam))
                Step.PipelineParameters.Add(pipelineParam);
        }
    }

    private void ResetAddedEntities(EntityEntry entity)
    {
        if (entity.Entity is PipelineParameter pipelineParam)
        {
            if (Step.PipelineParameters.Contains(pipelineParam))
                Step.PipelineParameters.Remove(pipelineParam);
        }
    }

    private (bool Result, string? ErrorMessage) StepValidityCheck(Step step)
    {
        if (step is PipelineStep pipeline)
        {
            (var paramResult, var paramMessage) = ParametersCheck();
            if (!paramResult)
            {
                return (false, paramMessage);
            }
            else
            {
                foreach (var param in pipeline.PipelineParameters)
                {
                    param.SetParameterValue();
                }
                return (true, null);
            }
        }
        else
        {
            return (false, "Not PipelineStep");
        }
    }

    private (bool Result, string? Message) ParametersCheck()
    {
        var parameters = Step.PipelineParameters.OrderBy(param => param.ParameterName).ToList();
        foreach (var param in parameters)
        {
            if (string.IsNullOrEmpty(param.ParameterName))
            {
                return (false, "Parameter name cannot be empty");
            }
        }
        for (var i = 0; i < parameters.Count - 1; i++)
        {
            if (parameters[i + 1].ParameterName == parameters[i].ParameterName)
            {
                return (false, "Duplicate parameter names");
            }
        }

        return (true, null);
    }

    private void OpenPipelineSelectModal() => PipelineSelectModal.Show();

    private void OnPipelineSelected(string pipelineName) => Step.PipelineName = pipelineName;

    public void Show() => Modal.Show();

    public void Dispose() => Context?.Dispose();

}
