@implements IDisposable
@implements IStepEditModal
@inject MarkupHelperService MarkupHelper
@inject IDbContextFactory<EtlManagerContext> DbFactory

<ParameterizedStepEditModal @ref="Modal"
                            Job="Job"
                            Steps="Steps"
                            Step="Step"
                            Context="Context"
                            OnStepSubmit="OnStepSubmit"
                            FormId="sql_step_edit_modal">
    <div class="row mt-3">
        <div class="col-lg-6">
            <label class="form-label">Timeout (min) (0 = indefinite)</label>
            <div class="input-group">
                <div class="input-group-text">
                    @MarkupHelper.FromFile("icons/feather/x-octagon.svg")
                </div>
                <InputNumber class="form-control" @bind-Value="Step.TimeoutMinutes"></InputNumber>
            </div>
        </div>
        <div class="col-lg-6">
            <label class="form-label">Connection</label>
            <div class="input-group">
                <div class="input-group-text">
                    @MarkupHelper.FromFile("icons/feather/database.svg")
                </div>
                <InputSelect class="form-select" @bind-Value="Step.ConnectionId">
                    @foreach (var connection in Connections ?? Enumerable.Empty<SqlConnectionInfo>())
                    {
                        <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <label class="form-label">SQL statement</label>
        <div class="input-group">
            <div class="input-group-text">
                @MarkupHelper.FromFile("icons/feather/code.svg")
            </div>
            <InputTextArea class="form-control" @bind-Value="Step.SqlStatement" style="font-family: monospace;" rows="3" @oninput="Modal.ResetStepError"></InputTextArea>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" @onclick="OpenStoredProcedureSelectModal">
                @MarkupHelper.FromFile("icons/feather/more-horizontal.svg")
                Browse stored procedures
            </HxButton>
        </div>
    </div>
    <StoredProcedureSelectOffcanvas @ref="StoredProcedureSelectModal" ConnectionId="Step.ConnectionId" OnProcedureSelected="OnStoredProcedureSelected" />

    <div class="row">
        <div class="col">
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="capture_result"
                       checked=@(Step.ResultCaptureJobParameterId is not null)
                       disabled=@(Job?.JobParameters.Any() == false)
                       @onchange="args => SetCaptureResultJobParameter((bool)args.Value!)">
                <label class="form-check-label" for="capture_result">Capture scalar result</label>
            </div>
        </div>
        <div class="col d-flex align-items-center">
            @if (Step.ResultCaptureJobParameterId is not null)
            {
                <label class="form-label mb-0 me-3">To:</label>
                <InputSelect class="form-select form-select-sm" @bind-Value="Step.ResultCaptureJobParameterId">
                    @foreach (var jobParam in Job?.JobParameters ?? Enumerable.Empty<JobParameter>())
                        {
                        <option value="@jobParam.ParameterId">
                            @jobParam.ParameterName (@jobParam.ParameterValueType = @jobParam.ParameterValue)
                        </option>
                        }
                </InputSelect>
            }
        </div>
        @if (!Job?.JobParameters.Any() ?? false)
        {
            <div class="form-text">No job parameters to store result value</div>
        }
    </div>
</ParameterizedStepEditModal>


@code {
    [Parameter]
    public Guid StepId { get; set; } // empty Guid => new step

    [Parameter]
    public Job? Job { get; set; }

    [Parameter]
    public IList<Step>? Steps { get; set; }

    [Parameter]
    public IList<SqlConnectionInfo>? Connections { get; set; }

    [Parameter]
    public EventCallback<Step> OnStepSubmit { get; set; }

    // Use the same context to read and write to enable change tracking for all step child properties (e.g. parameters and dependencies).
    private EtlManagerContext Context { get; set; } = null!;

    private Guid PrevStepId { get; set; }

    private SqlStep Step { get; set; } = null!;

    private ParameterizedStepEditModal Modal { get; set; } = null!;

    private StoredProcedureSelectOffcanvas StoredProcedureSelectModal { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private void SetCaptureResultJobParameter(bool enabled)
    {
        if (enabled)
        {
            Step.ResultCaptureJobParameterId = Job?.JobParameters.FirstOrDefault()?.ParameterId;
        }
        else
        {
            Step.ResultCaptureJobParameterId = null;
        }
    }

    private async Task ResetContext()
    {
        if (Context is not null)
            await Context.DisposeAsync();

        Context = DbFactory.CreateDbContext();
    }

    private async Task LoadData()
    {
        if (StepId != Guid.Empty && StepId != PrevStepId)
        {
            await ResetContext();
            Step = await Context.SqlSteps
                .Include(step => step.StepParameters)
                .ThenInclude(p => p.JobParameter)
                .Include(step => step.Tags)
                .Include(step => step.Dependencies)
                .FirstOrDefaultAsync(step => step.StepId == StepId);
            PrevStepId = StepId;
        }
        else if (StepId == Guid.Empty && Job is not null)
        {
            await ResetContext();
            Step = new()
            {
                JobId = Job.JobId,
                RetryAttempts = 0,
                RetryIntervalMinutes = 0,
                IsEnabled = true,
                ConnectionId = Connections?.FirstOrDefault()?.ConnectionId,
                Dependencies = new List<Dependency>(),
                Tags = new List<Tag>(),
                StepParameters = new List<StepParameterBase>()
            };
        }
        StateHasChanged();
    }

    private async Task OpenStoredProcedureSelectModal() => await StoredProcedureSelectModal.ShowAsync();

    private void OnStoredProcedureSelected(string procedure) => Step.SqlStatement = $"EXEC {procedure}";

    public async Task ShowAsync(bool showDependencies) => await Modal.ShowAsync(showDependencies);

    public void Dispose() => Context?.Dispose();

}
