@inject ToasterService Toaster

<HxOffcanvas @ref="_offcanvas" Title="Select table" Size="OffcanvasSize.Large" OnClosed="OnClosed" ScrollingEnabled="true">
    <BodyTemplate>
        <div class="row">
            <div class="col-2">
                <label class="form-label">Filter by</label>
            </div>
            <div class="col-10">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Filter" />
                    </div>
                    <input type="search" class="form-control" @bind-value="_schemaFilter" @bind-value:event="oninput" placeholder="Schema" />
                    <input type="search" class="form-control" @bind-value="_tableFilter" @bind-value:event="oninput" placeholder="Table" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr>
                            <th>Schema</th>
                            <th>Table</th>
                            <th>Has PK</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_tables is null)
                        {
                            <tr>
                                <td colspan="3" class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td>
                            </tr>
                        }
                        else if (!_tables.Any())
                        {
                            <tr>
                                <td colspan="3">No tables</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var table in FilteredTables)
                            {
                                var className = _selectedTable?.Equals(table) ?? false ? "bg-body-tertiary fw-bold" : null;
                                <tr class="@className" style="cursor: pointer;" @onclick="() => _selectedTable = table">
                                    <td><HighlightableText Text="@table.Schema" PartToHighlight="@_schemaFilter" /></td>
                                    <td><HighlightableText Text="@table.Table" PartToHighlight="@_tableFilter" /></td>
                                    <td class="@(table.HasPrimaryKey ? null : "text-danger")">@table.HasPrimaryKey</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectTableAsync" Enabled="_selectedTable is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _offcanvas.LetAsync(x => x.HideAsync())">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter] public EventCallback<DatabaseTableSelectedResult> OnTableSelected { get; set; }

    private HxOffcanvas? _offcanvas;
    private MsSqlConnection? _connection;
    private IEnumerable<DbTable>? _tables;
    private DbTable? _selectedTable;
    private string _schemaFilter = string.Empty;
    private string _tableFilter = string.Empty;

    private IEnumerable<DbTable> FilteredTables =>
        _tables?
        .Where(o => o.Schema.ContainsIgnoreCase(_schemaFilter))
        .Where(o => o.Table.ContainsIgnoreCase(_tableFilter))
        ?? [];

    private async Task SelectTableAsync()
    {
        if (_selectedTable is null)
        {
            return;
        }
        await OnTableSelected.InvokeAsync(new (_selectedTable.Schema, _selectedTable.Table));
        await _offcanvas.LetAsync(x => x.HideAsync());
    }

    private void OnClosed()
    {
        _selectedTable = null;
        _schemaFilter = "";
        _tableFilter = "";
    }

    public async Task ShowAsync(MsSqlConnection connection)
    {
        if (_connection != connection)
        {
            _tables = null;
            _connection = connection;
            try
            {
                _tables = await connection.GetDatabaseTablesAsync();
            }
            catch (Exception ex)
            {
                Toaster.AddError("Error loading tables", ex.Message);
            }
        }
        await _offcanvas.LetAsync(x => x.ShowAsync());
    }
}
