 @implements IDisposable
 
 @inject MarkupHelperService MarkupHelper
 @inject IDbContextFactory<BiflowContext> DbContextFactory
 @inject IHxMessengerService Messenger

 <HxButton Color="ThemeColor.Success" Enabled="Connections?.Any() ?? false" OnClick="async () => await SetEditContextAsync()">
     Add table
 </HxButton>

<div class="row my-4">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body px-0">
                <EditForm Model="EditTable" OnValidSubmit="SubmitEditTableAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Data table name</th>
                                <th>Connection</th>
                                <th>Target schema</th>
                                <th>Target table</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Tables is null)
                            {
                                <tr>
                                    <td colspan="5" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td>
                                </tr>
                            }
                            else
                            {
                                @if (EditTable.DataTableId == Guid.Empty && EditTable.ConnectionId != Guid.Empty)
                                {
                                    <tr>
                                        <td colspan="5">
                                            <div class="row my-3">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <HxButtonToolbar>
                                                                <HxSubmit Size="ButtonSize.Small" Color="ThemeColor.Success">
                                                                    @MarkupHelper.FromFile("icons/feather/save.svg")
                                                                    Save
                                                                </HxSubmit>
                                                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" CssClass="ms-3" OnClick="EndEditContext">
                                                                    @MarkupHelper.FromFile("icons/feather/x.svg")
                                                                    Cancel
                                                                </HxButton>
                                                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" CssClass="ms-3"
                                                                        OnClick="async () => await Offcanvas.LetAsync(x => x.ShowAsync(EditTable.ConnectionId))">
                                                                    @MarkupHelper.FromFile("icons/feather/more-horizontal.svg")
                                                                    Browse tables
                                                                </HxButton>
                                                            </HxButtonToolbar>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label class="form-label">Data table name</label>
                                                                    <InputText form="" class="form-control form-control-sm" autocomplete="off" @bind-Value="EditTable.DataTableName" />
                                                                </div>
                                                            </div>
                                                            <div class="row mt-3">
                                                                <div class="col">
                                                                    <label class="form-label">Connection</label>
                                                                    <InputSelect class="form-select form-select-sm" @bind-Value="EditTable.ConnectionId">
                                                                        @foreach (var connection in Connections ?? Enumerable.Empty<SqlConnectionInfo>())
                                                                        {
                                                                            <option value="@connection.ConnectionId">
                                                                                @connection.ConnectionName
                                                                            </option>
                                                                        }
                                                                    </InputSelect>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-3">
                                                                <div class="col">
                                                                    <label class="form-label">Target schema and table</label>
                                                                    <div class="input-group input-group-sm">
                                                                        <InputText class="form-control form-control-sm" placeholder="Schema" autocomplete="off" @bind-Value="EditTable.TargetSchemaName" />
                                                                        <InputText class="form-control form-control-sm" placeholder="Table" autocomplete="off" @bind-Value="EditTable.TargetTableName" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label class="form-label">Description</label>
                                                                    <InputTextArea class="form-control form-control-sm" rows="8" @bind-Value="EditTable.DataTableDescription" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @foreach (var table in Tables)
                                {
                                    <tr>
                                        @if (EditTable?.DataTableId == table.DataTableId)
                                        {
                                            <td colspan="5">
                                                <div class="row my-3">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <HxButtonToolbar>
                                                                    <HxSubmit Size="ButtonSize.Small" Color="ThemeColor.Success">
                                                                        @MarkupHelper.FromFile("icons/feather/save.svg")
                                                                        Save
                                                                    </HxSubmit>
                                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Secondary" CssClass="ms-3" OnClick="EndEditContext">
                                                                        @MarkupHelper.FromFile("icons/feather/x.svg")
                                                                        Cancel
                                                                    </HxButton>
                                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" CssClass="ms-3"
                                                                            OnClick="async () => await Offcanvas.LetAsync(x => x.ShowAsync(EditTable.ConnectionId))">
                                                                        @MarkupHelper.FromFile("icons/feather/more-horizontal.svg")
                                                                        Browse tables
                                                                    </HxButton>
                                                                </HxButtonToolbar>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label class="form-label">Data table name</label>
                                                                        <InputText form="" class="form-control form-control-sm" autocomplete="off" @bind-Value="EditTable.DataTableName" />
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-3">
                                                                    <div class="col">
                                                                        <label class="form-label">Connection</label>
                                                                        <InputSelect class="form-select form-select-sm" @bind-Value="EditTable.ConnectionId">
                                                                            @foreach (var connection in Connections ?? Enumerable.Empty<SqlConnectionInfo>())
                                                                            {
                                                                                <option value="@connection.ConnectionId">
                                                                                    @connection.ConnectionName
                                                                                </option>
                                                                            }
                                                                        </InputSelect>
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-3">
                                                                    <div class="col">
                                                                        <label class="form-label">Target schema and table</label>
                                                                        <div class="input-group input-group-sm">
                                                                            <InputText class="form-control form-control-sm" placeholder="Schema" autocomplete="off" @bind-Value="EditTable.TargetSchemaName" />
                                                                            <InputText class="form-control form-control-sm" placeholder="Table" autocomplete="off" @bind-Value="EditTable.TargetTableName" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label class="form-label">Description</label>
                                                                        <InputTextArea class="form-control form-control-sm" rows="8" @bind-Value="EditTable.DataTableDescription" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="align-middle">
                                                @table.DataTableName
                                            </td>
                                            <td class="align-middle">
                                                @table.Connection.ConnectionName
                                            </td>
                                            <td class="align-middle">
                                                @table.TargetSchemaName
                                            </td>
                                            <td class="align-middle">
                                                @table.TargetTableName
                                            </td>
                                            <td>
                                                <div class="btn-group btn-row">
                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" OnClick="async () => await SetEditContextAsync(table)">
                                                        @MarkupHelper.FromFile("icons/feather/edit-3.svg")
                                                    </HxButton>
                                                    <HxDropdownButtonGroup>
                                                        <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.Light">
                                                            @MarkupHelper.FromFile("icons/feather/trash-2.svg")
                                                        </HxDropdownToggleButton>
                                                        <HxDropdownMenu>
                                                            <HxDropdownHeader>Delete?</HxDropdownHeader>
                                                            <HxDropdownItem @onclick="async () => await DeleteTableAsync(table)">Confirm</HxDropdownItem>
                                                        </HxDropdownMenu>
                                                    </HxDropdownButtonGroup>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<DatabaseTableSelectOffcanvas @ref="Offcanvas" OnTableSelected="OnTableSelected" />

@code {
    [Parameter] public List<DataTable>? Tables { get; set; }

    [Parameter] public List<SqlConnectionInfo> Connections { get; set; } = new();

    private DataTable EditTable { get; set; } = new();

    private BiflowContext? EditContext { get; set; }

    private DatabaseTableSelectOffcanvas? Offcanvas { get; set; }

    private async Task DeleteTableAsync(DataTable table)
    {
        using var context = DbContextFactory.CreateDbContext();
        context.DataTables.Remove(table);
        await context.SaveChangesAsync();
        Tables?.Remove(table);
    }

    private async Task SetEditContextAsync(DataTable? table = null)
    {
        EditContext?.Dispose();
        EditContext = DbContextFactory.CreateDbContext();
        Connections = await EditContext.SqlConnections.OrderBy(c => c.ConnectionName).ToListAsync();
        if (table is null)
        {
            // New table
            EditTable.ConnectionId = Connections!.First().ConnectionId;
        }
        else
        {
            EditTable = await EditContext.DataTables
                .Include(t => t.Connection)
                .FirstAsync(t => t.DataTableId == table.DataTableId);
        }
        StateHasChanged();
    }

    private void EndEditContext()
    {
        EditContext?.Dispose();
        EditTable = new();
        StateHasChanged();
    }

    private void OnTableSelected((string Schema, string Table) table)
    {
        EditTable.TargetSchemaName = table.Schema;
        EditTable.TargetTableName = table.Table;
    }

    private async Task SubmitEditTableAsync()
    {
        if (EditContext is null)
        {
            return;
        }

        try
        {
            if (EditTable.DataTableId == Guid.Empty)
            {
                EditContext.DataTables.Add(EditTable);
            }
            await EditContext.SaveChangesAsync();
            EditContext.Dispose();

            var toRemove = Tables?.FirstOrDefault(t => t.DataTableId == EditTable.DataTableId);
            if (toRemove is not null)
            {
                Tables?.Remove(toRemove);
            }
            Tables?.Add(EditTable);

            EditTable = new();
        }
        catch (DbUpdateConcurrencyException)
        {
            Messenger.AddError("Concurrency error", "The data table was modified outside of this session. Reload the page to view the most recent values.");
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error updating data table", ex.Message);
        }
    }

    public void Dispose() => EditContext?.Dispose();
}
