@inject MarkupHelperService MarkupHelper

<HxOffcanvas @ref="Offcanvas" Backdrop="OffcanvasBackdrop.False" ScrollingEnabled="true" Title="Filters">
    <BodyTemplate>
        @if (Filters is not null)
        {
            @foreach (var (column, datatype) in Filters.Columns)
            {
                RenderFragment? value1Input = null;
                RenderFragment? operator1Input = null;
                RenderFragment? value2Input = null;
                RenderFragment? operator2Input = null;
                if (datatype == typeof(byte))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.ByteIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.ByteIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.ByteIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.ByteIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.ByteIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.ByteIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.ByteIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.ByteIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(short))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.ShortIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.ShortIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.ShortIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.ShortIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.ShortIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.ShortIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.ShortIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.ShortIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(int))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.IntIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.IntIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.IntIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.IntIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.IntIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.IntIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.IntIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.IntIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(long))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.LongIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.LongIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.LongIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.LongIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.LongIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.LongIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.LongIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.LongIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(decimal))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.DecimalIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.DecimalIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.DecimalIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.DecimalIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.DecimalIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.DecimalIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.DecimalIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.DecimalIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(double))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.DoubleIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.DoubleIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.DoubleIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.DoubleIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.DoubleIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.DoubleIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.DoubleIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.DoubleIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(float))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.FloatIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.FloatIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.FloatIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.FloatIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.FloatIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.FloatIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.FloatIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="number" @bind-value="Filters.FloatIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(string))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.StringIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.StringIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.StringIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="text" @bind-value="Filters.StringIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.StringIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.StringIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.StringIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="text" @bind-value="Filters.StringIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                else if (datatype == typeof(bool))
                {
                    var id1 = Guid.NewGuid();
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.BooleanIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.BooleanIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.BooleanIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<div class="form-check">
                        <input type="checkbox" class="form-check-input" id="@id1"
                                checked=@Filters.BooleanIndexer[column].TypedFilterValue1 @bind-value="Filters.BooleanIndexer[column].TypedFilterValue1">
                        <label class="form-check-label" for="@id1">@Filters.BooleanIndexer[column].TypedFilterValue1</label>
                    </div>
                    ;
                    var id2 = Guid.NewGuid();
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.BooleanIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.BooleanIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.BooleanIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<div class="form-check">
                        <input type="checkbox" class="form-check-input" id="@id2"
                                checked=@Filters.BooleanIndexer[column].TypedFilterValue2 @bind-value="Filters.BooleanIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)">
                        <label class="form-check-label" for="@id2">@Filters.BooleanIndexer[column].TypedFilterValue2</label>
                    </div>
                    ;
                }
                else if (datatype == typeof(DateTime))
                {
                    operator1Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.DateTimeIndexer[column].TypedOperator1">
                        @foreach (var filterOperator in Enum.GetValues(Filters.DateTimeIndexer[column].TypedOperator1.GetType()))
                        {
                            <option selected=@((object)Filters.DateTimeIndexer[column].TypedOperator1 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value1Input =
                    @<input class="form-control form-control-sm" type="datetime-local" @bind-value="Filters.DateTimeIndexer[column].TypedFilterValue1" />
                    ;
                    operator2Input = 
                    @<select class="form-select form-select-sm" @bind="Filters.DateTimeIndexer[column].TypedOperator2" disabled="@(!Filters.Filters[column].Enabled2)">
                        @foreach (var filterOperator in Enum.GetValues(Filters.DateTimeIndexer[column].TypedOperator2.GetType()))
                        {
                            <option selected=@((object)Filters.DateTimeIndexer[column].TypedOperator2 == filterOperator)>@filterOperator</option>
                        }
                    </select>
                    ;
                    value2Input =
                    @<input class="form-control form-control-sm" type="datetime-local" @bind-value="Filters.DateTimeIndexer[column].TypedFilterValue2" disabled="@(!Filters.Filters[column].Enabled2)" />
                    ;
                }
                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="value_1_enabled_@column"
                                        checked=@Filters.Filters[column].Enabled1 @bind-value="Filters.Filters[column].Enabled1">
                                    <label class="form-check-label" for="value_1_enabled_@column"></label>
                                </div>
                            </div>
                            <div class="col">
                                <h6>@column</h6>
                            </div>
                        </div>
                        @if (Filters.Filters[column].Enabled1)
                        {
                            <div class="row mt-1">
                                <div class="col-5">
                                    @operator1Input
                                </div>
                                <div class="col-7">
                                    @value1Input
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="logical_disable_@column"
                                               checked="@(!Filters.Filters[column].Enabled2)"
                                               @onchange="() => Filters.Filters[column].Enabled2 = false">
                                        <label class="form-check-label" for="logical_disable_@column">Disabled</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="logical_and_@column"
                                               checked="@(Filters.Filters[column].Enabled2 && Filters.Filters[column].AndOr)"
                                               @onchange="() => { Filters.Filters[column].Enabled2 = true; Filters.Filters[column].AndOr = true; }">
                                        <label class="form-check-label" for="logical_and_@column">And</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="logical_or_@column"
                                               checked="@(Filters.Filters[column].Enabled2 && !Filters.Filters[column].AndOr)"
                                               @onchange="() => { Filters.Filters[column].Enabled2 = true; Filters.Filters[column].AndOr = false; }">
                                        <label class="form-check-label" for="logical_or_@column">Or</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    @operator2Input
                                </div>
                                <div class="col-7">
                                    @value2Input
                                </div>
                            </div>
                        } 
                    </div>
                </div>
            }
        }
        else
        {
            <p>Data model for filters not yet initialized</p>
        }
    </BodyTemplate>
</HxOffcanvas>

@code {
    [Parameter] public FilterSet? Filters { get; set; }

    private HxOffcanvas? Offcanvas { get; set; }

    public Task ShowAsync() => Offcanvas.LetAsync(x => x.ShowAsync());
}
