@page "/dashboard"

<PageTitle>Dashboard | Biflow</PageTitle>

<h4>Dashboard</h4>

<div class="btn-toolbar mt-3">
    <HxButton Size="ButtonSize.Small" Color="ThemeColor.Primary" OnClick="LoadData" Enabled="!Loading">
        <CxIcon Icon="FeatherIcon.RefreshCw" />
        Load report
    </HxButton>
</div>

<div class="row mt-3">
    <div class="col-auto d-inline-flex align-items-center">
        <label>From:</label>
        <input @bind-value="FromDate" class="form-control form-control-sm ms-2" type="date">
        <label class="ms-4">To:</label>
        <input @bind-value="ToDate" class="form-control form-control-sm ms-2" type="date">
    </div> 
</div>

<div class="row mt-3">
    <div class="col-auto">
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="only_schedule"
                   @bind-value="OnlyScheduled"
                   checked=@OnlyScheduled>
            <label class="form-check-label" for="only_schedule">Only scheduled executions</label>
        </div>
        <div class="form-check form-check-inline ms-3">
            <input type="checkbox" class="form-check-input" id="include_deleted"
                   @bind-value="IncludeDeleted"
                   checked=@IncludeDeleted>
            <label class="form-check-label" for="include_deleted">Include deleted jobs/steps</label>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-xl">
        <div class="card shadow-sm">
            <h6 class="card-header">
                <CxIcon Icon="FeatherIcon.Clock" />
                &nbsp;
                Average execution duration
            </h6>
            <div class="card-body">
                @if (!ReportLoaded)
                {
                    <p class="@ReportNotLoadedClass">@ReportNotLoadedMessage</p>
                }
                <LineChart Dataset="DurationDataset" />
            </div>
        </div>
    </div>
    <div class="col-xl mt-4 mt-xl-0">
        <div class="card shadow-sm">
            <h6 class="card-header">
                <CxIcon Icon="FeatherIcon.Percent" />
                &nbsp;
                Job success rate
            </h6>
            <div class="card-body">
                @if (!ReportLoaded)
                {
                    <p class="@ReportNotLoadedClass">@ReportNotLoadedMessage</p>
                }
                <canvas class="w-100" id="myChart2" width="900" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="col-xl">
        <div class="card shadow-sm">
            <h6 class="card-header">
                <CxIcon Icon="FeatherIcon.Activity" />
                &nbsp;
                Number of executions
            </h6>
            <div class="card-body">
                @if (!ReportLoaded)
                {
                    <p class="@ReportNotLoadedClass">@ReportNotLoadedMessage</p>
                }
                <LineChart Dataset="NoOfExecutionsDataset" />
            </div>
        </div>
    </div>
    <div class="col-xl mt-4 mt-xl-0 d-flex align-items-stretch">
        <div class="card shadow-sm flex-fill">
            <h6 class="card-header">
                <CxIcon Icon="FeatherIcon.AlertOctagon" />
                &nbsp;
                Top 5 failing steps
            </h6>
            <div class="card-body @(ReportLoaded ? "px-0" : null)">
                @if (!ReportLoaded)
                {
                    <p class="@ReportNotLoadedClass">@ReportNotLoadedMessage</p>
                }
                else
                {
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Step</th>
                                <th>Job</th>
                                <th>Success %</th>
                                <th># of executions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (TopFailedSteps is not null)
                            {
                                @for (int i = 0; i < TopFailedSteps.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td class="align-middle">
                                            <StepTypeIconComponent StepType_="TopFailedSteps[i].StepType" />
                                            @TopFailedSteps[i].StepName
                                        </td>
                                        <td>
                                            @TopFailedSteps[i].JobName
                                        </td>
                                        <td>@TopFailedSteps[i].SuccessPercent.FormatPercentage(2)</td>
                                        <td>@TopFailedSteps[i].NoOfExecutions</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
