@page "/dataobjects"

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Editor}")]

@inject IDbContextFactory<BiflowContext> DbContextFactory
@inject IHxMessengerService Messenger

<PageTitle>Data Objects | Biflow</PageTitle>

<h4>Data Objects</h4>

<div class="row mt-3">
    <div class="col">
        <button class="btn btn-secondary" @onclick="OpenConfirmDeleteModalAsync">
            <CxIcon Icon="FeatherIcon.Trash2" />
            Delete unused
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col col-xl-9">
        <div class="input-group input-group-sm me-3">
            <div class="input-group-text">
                <CxIcon Icon="FeatherIcon.Filter" />
                &nbsp;
                Filter by
            </div>
            <input type="search" class="form-control" @bind-value="ServerFilter" @bind-value:event="oninput" placeholder="Server" />
            <input type="search" class="form-control" @bind-value="DatabaseFilter" @bind-value:event="oninput" placeholder="Database" />
            <input type="search" class="form-control" @bind-value="SchemaFilter" @bind-value:event="oninput" placeholder="Schema" />
            <input type="search" class="form-control" @bind-value="ObjectFilter" @bind-value:event="oninput" placeholder="Object" />
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body px-0">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Database</th>
                            <th>Schema</th>
                            <th>Object</th>
                            <th>Max conc. writes</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Objects is null)
                        {
                            <tr>
                                <td colspan="8" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td>
                            </tr>
                        }
                        else if (!Objects.Any())
                        {
                            <tr>
                                <td colspan="8" class="px-3">No data objects</td>
                            </tr>
                        }
                        else
                        {
                            <Virtualize TItem="DataObject" Context="obj" SpacerElement="tr" Items="FilteredObjects.ToList()">
                                @{
                                    var readers = obj.Readers.Count;
                                    var writers = obj.Writers.Count;
                                }
                                <tr>
                                    
                                    <td class="align-middle"><HighlightableText Text="@obj.ServerName" PartToHighlight="@ServerFilter" /></td>
                                    <td class="align-middle"><HighlightableText Text="@obj.DatabaseName" PartToHighlight="@DatabaseFilter" /></td>
                                    <td class="align-middle"><HighlightableText Text="@obj.SchemaName" PartToHighlight="@SchemaFilter" /></td>
                                    <td class="align-middle"><HighlightableText Text="@obj.ObjectName" PartToHighlight="@ObjectFilter" /></td>
                                    <td class="align-middle">@obj.MaxConcurrentWrites</td>
                                    <td>
                                        <div class="btn-group">
                                            <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => EditOffcanvas.LetAsync(x => x.ShowAsync(obj.ObjectId))">
                                                <CxIcon Icon="FeatherIcon.Edit2" />
                                            </HxButton>
                                            <HxDropdownButtonGroup>
                                                <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                                    <CxIcon Icon="FeatherIcon.Trash2" />
                                                </HxDropdownToggleButton>
                                                <HxDropdownMenu>
                                                    <HxDropdownHeader>Delete?</HxDropdownHeader>
                                                    <HxDropdownItem @onclick="async () => await DeleteDatabaseObject(obj)">Confirm</HxDropdownItem>
                                                </HxDropdownMenu>
                                            </HxDropdownButtonGroup>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        @{
                                            var readersTitle = $"Steps reading from '{obj.ObjectName}'";
                                        }
                                        <a class="text-body" href="javascript:void(0)"
                                            @onclick="async () =>
                                            {
                                                StepssModalDataObject = obj;
                                                StepsModalGetSteps = o => o.Readers;
                                                StepsModalGetStepsExpression = o => o.Readers;
                                                StepsModalTitle = readersTitle;
                                                await StepsModal.LetAsync(x => x.ShowAsync());
                                            }">
                                            @(readers > 0 ? $"{readers} reader(s)" : null)
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        @{
                                            var writersTitle = $"Steps writing to '{obj.ObjectName}'";
                                        }
                                        <a class="text-body" href="javascript:void(0)"
                                            @onclick="async () =>
                                            {
                                                StepssModalDataObject = obj;
                                                StepsModalGetSteps = o => o.Writers;
                                                StepsModalGetStepsExpression = o => o.Writers;
                                                StepsModalTitle = writersTitle;
                                                await StepsModal.LetAsync(x => x.ShowAsync());
                                            }">
                                            @(writers > 0 ? $"{writers} writer(s)" : null)
                                        </a>
                                    </td>
                                </tr>
                            </Virtualize>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<DataObjectEditOffcanvas @ref="EditOffcanvas" OnDataObjectSubmitted="OnDataObjectSubmitted" />

<HxModal @ref="ConfirmDeleteModal" Size="ModalSize.ExtraLarge" Title="Delete data objects">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                Delete these unused data objects?
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Database</th>
                            <th>Schema</th>
                            <th>Object</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in UnusedObjects)
                        {
                            <tr>
                                <td>@obj.ServerName</td>
                                <td>@obj.DatabaseName</td>
                                <td>@obj.SchemaName</td>
                                <td>@obj.ObjectName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await ConfirmDeleteModal.LetAsync(x => x.HideAsync())">Cancel</button>
        <button class="btn btn-danger" @onclick="DeleteUnusedDatabaseObjectsAsync">Delete</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="StepsModal" Size="ModalSize.Large" Title="@StepsModalTitle" Scrollable="true">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Step</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (StepssModalDataObject is not null)
                        {
                            @foreach (var step in StepsModalGetSteps?.Invoke(StepssModalDataObject)
                                .OrderBy(s => s.Job.JobName)
                                .ThenBy(s => s.StepName) ?? Enumerable.Empty<Step>())
                            {
                                <tr>
                                    <td class="align-middle">
                                        @step.Job.JobName
                                    </td>
                                    <td class="align-middle">
                                        <StepTypeIconComponent StepType_="step.StepType" />
                                        &nbsp;
                                        @step.StepName
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-auto" @onclick="async () => await DeleteStepDatabaseObjectLinkAsync(step)">
                                                <CxIcon Icon="FeatherIcon.Delete" />
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await StepsModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private IList<DataObject>? Objects { get; set; }

    private IEnumerable<DataObject> FilteredObjects =>
        Objects?
        .Where(o => !ServerFilter.Any() || o.ServerName.ContainsIgnoreCase(ServerFilter))
        .Where(o => !DatabaseFilter.Any() || o.DatabaseName.ContainsIgnoreCase(DatabaseFilter))
        .Where(o => !SchemaFilter.Any() || o.SchemaName.ContainsIgnoreCase(SchemaFilter))
        .Where(o => !ObjectFilter.Any() || o.ObjectName.ContainsIgnoreCase(ObjectFilter))
        .OrderBy(o => o.ServerName)
        .ThenBy(o => o.DatabaseName)
        .ThenBy(o => o.SchemaName)
        .ThenBy(o => o.ObjectName)
        ?? Enumerable.Empty<DataObject>();

    private IEnumerable<DataObject> UnusedObjects =>
        Objects?
        .Where(t => !t.Readers.Any() && !t.Writers.Any())
        ?? Enumerable.Empty<DataObject>();

    private DataObjectEditOffcanvas? EditOffcanvas { get; set; }

    private HxModal? ConfirmDeleteModal { get; set; }

    private HxModal? StepsModal { get; set; }
    private string StepsModalTitle { get; set; } = string.Empty;
    private DataObject? StepssModalDataObject { get; set; }
    private Func<DataObject, IList<Step>>? StepsModalGetSteps { get; set; }
    System.Linq.Expressions.Expression<Func<DataObject, IList<Step>>>? StepsModalGetStepsExpression { get; set; }

    private string ServerFilter { get; set; } = string.Empty;
    private string DatabaseFilter { get; set; } = string.Empty;
    private string SchemaFilter { get; set; } = string.Empty;
    private string ObjectFilter { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        using var context = await Task.Run(DbContextFactory.CreateDbContext);
        Objects = await context.DataObjects
            .Include(o => o.Readers)
            .ThenInclude(s => s.Job)
            .Include(o => o.Writers)
            .ThenInclude(s => s.Job)
            .ToListAsync();
    }

    private async Task OpenConfirmDeleteModalAsync()
    {
        if (!UnusedObjects.Any())
        {
            Messenger.AddInformation("No unused source or target objects");
            return;
        }

        await ConfirmDeleteModal.LetAsync(x => x.ShowAsync());
    }

    private async Task DeleteUnusedDatabaseObjectsAsync()
    {
        using var context = DbContextFactory.CreateDbContext();
        foreach (var obj in UnusedObjects.ToList())
        {
            context.DataObjects.Remove(obj);
            Objects?.Remove(obj);
        }
        await context.SaveChangesAsync();
        await ConfirmDeleteModal.LetAsync(x => x.HideAsync());
    }

    private async Task DeleteDatabaseObject(DataObject obj)
    {
        using var context = DbContextFactory.CreateDbContext();
        context.DataObjects.Remove(obj);
        await context.SaveChangesAsync();
        Objects?.Remove(obj);
    }

    private async Task DeleteStepDatabaseObjectLinkAsync(Step step)
    {
        if (StepssModalDataObject is null
            || StepsModalGetSteps is null
            || StepsModalGetStepsExpression is null) return;

        using var context = DbContextFactory.CreateDbContext();
        var obj = await context.DataObjects
            .Include(StepsModalGetStepsExpression)
            .FirstOrDefaultAsync(o => o.ObjectId == StepssModalDataObject.ObjectId);

        if (obj is null) return;

        var steps = StepsModalGetSteps(obj);
        var stepToRemove = steps.FirstOrDefault(s => s.StepId == step.StepId);
        if (stepToRemove is not null)
        {
            steps.Remove(stepToRemove);
            await context.SaveChangesAsync();
        }

        StepsModalGetSteps(StepssModalDataObject).Remove(step);
    }

    private void OnDataObjectSubmitted(DataObject dataObject)
    {
        var toRemove = Objects?.First(o => o.ObjectId == dataObject.ObjectId);
        if (toRemove is not null)
        {
            Objects?.Remove(toRemove);
            Objects?.Add(dataObject);
        }
    }

}
