@page "/settings/{Page?}"

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.SettingsEditor}")]

@inject IConfiguration Configuration
@inject IHttpContextAccessor Context
@inject NavigationManager NavigationManager

<h4>Settings</h4>

<ul class="nav nav-tabs mt-3 mb-4" role="tablist">
    <AuthorizeView Roles="@(Roles.Admin)">
        <li class="nav-item" role="presentation">
            <NavLink class="nav-link" href="settings/users" Match="NavLinkMatch.All">
                <CxIcon Icon="FeatherIcon.Users" />
                Users
            </NavLink>
        </li>
        <li class="nav-item" role="presentation">
            <NavLink class="nav-link" href="settings/subscriptions">
                <CxIcon Icon="FeatherIcon.Mail" />
                Subscriptions
            </NavLink>
        </li>
    </AuthorizeView>
    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.SettingsEditor}")">
        <li class="nav-item" role="presentation">
            <NavLink class="nav-link" href="settings/connections">
                <CxIcon Icon="FeatherIcon.Database" />
                Connections
            </NavLink>
        </li>
        <li class="nav-item" role="presentation">
            <NavLink class="nav-link" href="settings/appregistrations">
                <CxIcon Icon="FeatherIcon.Globe" />
                App registrations
            </NavLink>
        </li>
        <li class="nav-item" role="presentation">
            <NavLink class="nav-link" href="settings/pipelineclients">
                <CxIcon Icon="FeatherIcon.Pipeline" />
                Pipeline clients
            </NavLink>
        </li>
        <li class="nav-item" role="presentation">
            <NavLink class="nav-link" href="settings/functionapps">
                <CxIcon Icon="FeatherIcon.Zap" />
                Function Apps
            </NavLink>
        </li>
        <li class="nav-item" role="presentation">
            <NavLink class="nav-link" href="settings/qlikcloudclients">
                <CxIcon Icon="LucideIcon.ScatterChart" />
                Qlik Cloud Clients
            </NavLink>
        </li>
    </AuthorizeView>
</ul>

@if (Page == "users")
{
    <AuthorizeView Roles="@(Roles.Admin)">
        <Authorized>
            <UsersComponent />
        </Authorized>
        <NotAuthorized>
            <Unauthorized />
        </NotAuthorized>
    </AuthorizeView>
}
else if (Page == "subscriptions")
{
    <AuthorizeView Roles="@(Roles.Admin)">
        <Authorized>
            <AllSubscriptions />
        </Authorized>
        <NotAuthorized>
            <Unauthorized />
        </NotAuthorized>
    </AuthorizeView>
}
else if (Page == "connections")
{
    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.SettingsEditor}")">

        <ConnectionsComponent />
    </AuthorizeView>
}
else if (Page == "appregistrations")
{
    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.SettingsEditor}")">
        <AppRegistrationsComponent />
    </AuthorizeView>
}
else if (Page == "pipelineclients")
{
    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.SettingsEditor}")">
        <PipelineClientsComponent />
    </AuthorizeView>
}
else if (Page == "functionapps")
{
    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.SettingsEditor}")">
        <FunctionAppsComponent />
    </AuthorizeView>
}
else if (Page == "qlikcloudclients")
{
    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.SettingsEditor}")">
        <QlikCloudClientsComponent />
    </AuthorizeView>
}
else
{
    <p>Sorry, nothing at this address.</p>
}

@code {
    [Parameter] public string? Page { get; set; }

    protected override void OnInitialized()
    {
        if (Page is not null)
        {
            return;
        }

        if (Context.HttpContext?.User.IsInRole(Roles.Admin) ?? false)
        {
            NavigationManager.NavigateTo("settings/users");
            return;
        }

        NavigationManager.NavigateTo("settings/connections");
    }
}
