@inject IDbContextFactory<AppDbContext> DbContextFactory

<HxOffcanvas @ref="_offcanvas" Backdrop="OffcanvasBackdrop.False" Title="@($"{_lineageParameter?.ParameterName} lineage")">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                @if (_lineageParameter is not null && _lineageItems is not null)
                {
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col h6">
                                    Default value
                                </div>
                            </div>
                            <div class="row">
                                <div class="col font-monospace">
                                    @_lineageParameter.DefaultValue.Value
                                </div>
                            </div>
                        </li>
                        @foreach (var item in _lineageItems)
                        {
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col h6">
                                        <StepTypeIcon StepType="item.Step.StepType"/>
                                        @item.Step.StepName
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        @item.Timestamp?.LocalDateTime
                                    </div>
                                    <div class="col-auto">
                                        @if (item.Capture)
                                        {
                                            <span class="badge rounded-pill text-bg-primary text-white">Capture</span>
                                        }
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col">
                                        @{
                                            var itemValue = item.Value?.ToString() ?? string.Empty;
                                            var showFullParameterValue = _showFullParameterValues
                                                .GetValueOrDefault(item.Step.StepId);
                                        }
                                        <pre>
                                            <code style="white-space: pre-wrap;">
                                                @if (showFullParameterValue || itemValue.Length <= TruncatedParameterValueLength)
                                                {
                                                    @itemValue
                                                }
                                                else
                                                {
                                                    @itemValue[..TruncatedParameterValueLength]
                                                    <text>...</text>
                                                }
                                            </code>
                                        </pre>
                                        @if (!showFullParameterValue && itemValue.Length > TruncatedParameterValueLength)
                                        {
                                            <div class="mt-2">
                                                <small>
                                                    <span class="text-secondary text-decoration-underline cursor-pointer"
                                                          @onclick="() => _showFullParameterValues[item.Step.StepId] = true">
                                                        Show full-length value
                                                    </span>
                                                </small>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col h6">
                                    End value
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @{
                                        var endValueText = _lineageParameter.ParameterValue.Value?.ToString() ?? string.Empty;
                                    }
                                    <pre>
                                        <code style="white-space: pre-wrap;">
                                            @if (_showFullEndValue || endValueText.Length <= TruncatedParameterValueLength)
                                            {
                                                @endValueText
                                            }
                                            else
                                            {
                                                @endValueText[..TruncatedParameterValueLength]
                                                <text>...</text>
                                            }
                                        </code>
                                    </pre>
                                    @if (!_showFullEndValue && endValueText.Length > TruncatedParameterValueLength)
                                    {
                                        <div class="mt-2">
                                            <small>
                                                <span class="text-secondary text-decoration-underline cursor-pointer"
                                                      @onclick="() => _showFullEndValue = true">
                                                    Show full-length value
                                                </span>
                                            </small>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="list-group">
                        <li class="list-group-item text-center">
                            <HxSpinner Color="ThemeColor.Secondary" />
                        </li>
                    </ul>
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="() => _offcanvas.LetAsync(x => x.HideAsync())">
            Close
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    private readonly Dictionary<Guid, bool> _showFullParameterValues = [];
    
    private HxOffcanvas? _offcanvas;
    private ExecutionParameter? _lineageParameter;
    private IEnumerable<LineageItem>? _lineageItems;
    private bool _showFullEndValue;
    
    private const int TruncatedParameterValueLength = 1_000;

    public async Task ShowAsync(ExecutionParameter parameter)
    {
        _lineageItems = null;
        _lineageParameter = parameter;
        
        if (_offcanvas is not null)
        {
            await _offcanvas.ShowAsync();
        }
        
        // Fetch all step executions.
        // This is actually a more efficient way to gather the step execution parameters
        // versus starting from the execution parameter because of indexes.
        // Discard step executions which do not include parameters.
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        var stepExecutions = await dbContext.StepExecutions
            .AsNoTrackingWithIdentityResolution()
            .Where(e => e.ExecutionId == parameter.ExecutionId)
            .Include($"{nameof(IHasStepExecutionParameters.StepExecutionParameters)}.{nameof(StepExecutionParameterBase.InheritFromExecutionParameter)}")
            .Include($"{nameof(IHasStepExecutionParameters.StepExecutionParameters)}.{nameof(StepExecutionParameterBase.ExpressionParameters)}")
            .Include(e => ((SqlStepExecution)e).ResultCaptureJobParameter)
            .Include(e => e.StepExecutionAttempts)
            .ToArrayWithNoLockAsync();
        
        List<LineageItem> items = [];
        foreach (var step in stepExecutions)
        {
            if (step is IHasStepExecutionParameters hasParams)
            {
                var param = hasParams.StepExecutionParameters
                    .FirstOrDefault(p => p.InheritFromExecutionParameterId == _lineageParameter.ParameterId);
                if (param is not null)
                {
                    var time = step.StepExecutionAttempts.MinBy(a => a.RetryAttemptIndex)?.StartedOn;
                    items.Add(new LineageItem(step, time, param.ParameterValue.Value, false));
                }
            }
            if (step is SqlStepExecution sql && sql.ResultCaptureJobParameterId == _lineageParameter.ParameterId)
            {
                var time = step.StepExecutionAttempts.MaxBy(a => a.RetryAttemptIndex)?.EndedOn;
                items.Add(new LineageItem(step, time, sql.ResultCaptureJobParameterValue.Value, true));
            }
        }
        
        _lineageItems = items.OrderBy(i => i.Timestamp).ToArray();

        StateHasChanged();
    }

    private record LineageItem(StepExecution Step, DateTimeOffset? Timestamp, object? Value, bool Capture);
}
