@using System.Globalization

@inject ToasterService Toaster
@inject IExecutorService ExecutorService
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject NavigationManager NavigationManager
@inject IHxMessageBoxService Confirmer

<div class="row mx-1 my-2">

    <HxDropdownButtonGroup>
        <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto position-absolute border-0">
            <SvgIcon Icon="LucideIcon.SortDesc" />
            Sort by: <span class="fw-normal">@SortMode</span>
        </HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.CreatedDesc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.CreatedDesc)">
                Created<sup>desc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.StartedAsc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.StartedAsc)">
                Started<sup>asc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.StartedDesc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.StartedDesc)">
                Started<sup>desc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.EndedAsc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.EndedAsc)">
                Ended<sup>asc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.EndedDesc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.EndedDesc)">
                Ended<sup>desc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.DurationAsc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.DurationAsc)">
                Duration<sup>asc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.DurationDesc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.DurationDesc)">
                Duration<sup>desc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.StepAsc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.StepAsc)">
                Step<sup>asc</sup>
            </HxDropdownItem>
            <HxDropdownItem CssClass="@(SortMode == StepExecutionSortMode.StepDesc ? "active" : null)" OnClick="() => SetSortMode(StepExecutionSortMode.StepDesc)">
                Step<sup>desc</sup>
            </HxDropdownItem>
        </HxDropdownMenu>
    </HxDropdownButtonGroup>
    
    <div class="col">
        <div class="row" style="height: 40px;">
            <div class="col-xl-3 col-lg-4 col-5 py-1 d-flex align-items-center justify-content-end">
            </div>
            <div class="col-xl-9 col-lg-8 col-7 d-flex align-items-center" style="position: relative;">
                @for (int i = 0; i <= Columns; i++)
                {
                    var percentage = i * 100.0 / Columns;
                    @*With screen sizes < xl only show every other line*@
                    <div class="@(i % 2 != 0 ? "d-none d-xl-flex" : "d-flex") align-items-center text-body-secondary"
                     style="height: 100%; border-left: 1px dashed var(--bs-border-color); position: absolute; left: @(percentage.ToString("F10", CultureInfo.InvariantCulture))%;">
                        @if (i < Columns)
                        {
                            <small>@GetDateFromPercentage(percentage)<br />@GetTimeFromPercentage(percentage)</small>
                        }
                    </div>
                }
            </div>
        </div>
        @if (Executions is not null)
        {
            var executions = Executions
                .Where(e => e.StartedOn is not null)
                .GroupBy(e =>
                {
                    var overlapsWithSelf = Executions
                        .Where(other => other.StepId == e.StepId && e.ExecutionId != other.ExecutionId)
                        .Any(other => e.StartedOn >= other.StartedOn && e.StartedOn <= (other.EndedOn ?? DateTime.Now));
                    return new GraphStep
                    {
                        StepId = e.StepId, OverlapId = overlapsWithSelf ? e.ExecutionId : Guid.Empty,
                        StepName = e.StepName, DisplayStepType = e.DisplayStepType, StepTags = e.StepTags
                    };
                })
                .ToList();
            <Virtualize Context="group" Items="executions" ItemSize="32.5714f">
                <div class="row border-top gantt-row">
                    <div class="col-xl-3 col-lg-4 col-5 text-end py-1">
                        <div class="row">
                            <div class="col">
                                <small>
                                    @group.Key.StepName
                                    &nbsp;
                                    <DisplayStepTypeIcon StepType="group.Key.DisplayStepType"/>
                                </small>
                            </div>
                        </div>
                        @if (ShowStepTags)
                        {
                            <div class="row">
                                <div class="col px-2 d-flex flex-wrap align-items-center justify-content-end">
                                    @foreach (var tag in group.Key.StepTags.Order())
                                    {
                                        <TagBadge Tag="tag" CssClass="m-1" />
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-xl-9 col-lg-8 col-7 d-flex align-items-center" style="position: relative;">
                        @for (int i = 0; i <= Columns; i++)
                        {
                            var percentage = i * 100.0 / Columns;
                            <div class="d-flex align-items-center" style="height: 100%; border-left: 1px dashed var(--bs-border-color); position: absolute; left: @(percentage.ToString("F10", CultureInfo.InvariantCulture))%;"></div>
                        }
                        @foreach (var execution in group)
                        {
                            var (offset, width) = (execution.StartedOn, execution.EndedOn)
                                .GetGanttGraphDimensions(Executions.Select(e => (e.StartedOn, e.EndedOn)));
                            <ContextMenuToggle ContainerHtmlTag="div"
                                               CssClass="@($"progress hover cursor-pointer {(_selectedStepExecution?.IsSameAs(execution) == true ? "active" : null)} {execution.StepExecutionStatus.ToString().ToLower()}")"
                                               title="@($"{execution.StepExecutionStatus}, {execution.ExecutionInSeconds?.SecondsToReadableFormat()}")"
                                               style="@($"position: absolute; width: {width.ToString("F10", CultureInfo.InvariantCulture)}%; left: {offset.ToString("F10", CultureInfo.InvariantCulture)}%;")"
                                               @onclick="() => ToggleSelectedStepExecutionAsync(execution)">
                                <ChildContent>
                                    <div class="progress-bar" style="width: 100%;"></div>
                                </ChildContent>
                                <MenuContent>
                                    <DropdownMenuHeader>
                                        <DisplayStepTypeIcon StepType="execution.DisplayStepType" />
                                        @execution.StepName
                                    </DropdownMenuHeader>
                                    <DropdownMenuItem @onclick="async () => await StepExecutionMonitorsOffcanvas.LetAsync(x => x.ShowAsync(execution))">
                                        <SvgIcon Icon="LucideIcon.Monitor" />
                                        Monitors
                                    </DropdownMenuItem>
                                    <DropdownMenuItem @onclick="async () => await _stepHistoryOffcanvas.LetAsync(x => x.ShowAsync(execution.StepId))">
                                        <SvgIcon Icon="LucideIcon.Activity" />
                                        History
                                    </DropdownMenuItem>
                                    <DropdownMenuItem @onclick="@(() => NavigationManager.NavigateTo($"executions/{execution.ExecutionId}/graph/{execution.StepId}"))">
                                        <SvgIcon Icon="LucideIcon.Workflow" />
                                        Dependencies
                                    </DropdownMenuItem>
                                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                        @if (execution.CanBeStopped)
                                        {
                                            <DropdownMenuItem @onclick="async () => await StopStepExecutionAsync(execution.ExecutionId, execution.StepId, execution.StepName)">
                                                <SvgIcon Icon="LucideIcon.OctagonX" />
                                                Stop...
                                            </DropdownMenuItem>
                                        }
                                    </AuthorizeView>
                                </MenuContent>
                            </ContextMenuToggle>
                        }
                    </div>
                </div>
                @if (_selectedStepExecution is not null && group.Any(x => x.IsSameAs(_selectedStepExecution)))
                {
                    if (_detailStep is null)
                    {
                        <div class="row bg-body-tertiary">
                            <div class="col text-center">
                                <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row bg-body-tertiary">
                            <div class="col">
                                <HxButtonGroup CssClass="mb-3 mt-2 ms-2">
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="() => ToggleSelectedStepExecutionAsync(_selectedStepExecution)">
                                        <SvgIcon Icon="LucideIcon.X" />
                                        Close
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="async () => await StepExecutionMonitorsOffcanvas.LetAsync(x => x.ShowAsync(_selectedStepExecution))">
                                        <SvgIcon Icon="LucideIcon.Monitor" />
                                        Monitors
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="async () => await _stepHistoryOffcanvas.LetAsync(x => x.ShowAsync(_detailStep.StepId))">
                                        <SvgIcon Icon="LucideIcon.Activity" />
                                        History
                                    </HxButton>
                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="@(() => NavigationManager.NavigateTo($"executions/{_detailStep.ExecutionId}/graph/{_detailStep.StepId}"))">
                                        <SvgIcon Icon="LucideIcon.Workflow" />
                                        Dependencies
                                    </HxButton>
                                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                        @if (_detailStep.CanBeStopped)
                                        {
                                            <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto text-danger" @onclick="async () => await StopStepExecutionAsync(_detailStep.ExecutionId, _detailStep.StepId, _detailStep.StepExecution.StepName)">
                                                <SvgIcon Icon="LucideIcon.OctagonX" />
                                                Stop...
                                            </HxButton>
                                        }
                                    </AuthorizeView>
                                </HxButtonGroup>

                                <StepExecutionDetails StepExecutionAttempt="_detailStep"
                                                      Tags="_selectedStepExecution.StepTags"
                                                      ShowExtraDetails />
                        </div>
                    </div>
                    }
                }
            </Virtualize>
        }
    </div>
</div>

<StepHistoryOffcanvas @ref="_stepHistoryOffcanvas" />

@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

    [CascadingParameter] public StepExecutionMonitorsOffcanvas? StepExecutionMonitorsOffcanvas { get; set; }

    [Parameter] public IEnumerable<IStepExecutionProjection>? Executions { get; set; }

    [Parameter] public Func<IStepExecutionProjection, StepExecutionAttempt?>? DetailStepProvider { get; set; }

    [Parameter] public StepExecutionSortMode SortMode { get; set; }

    [Parameter] public EventCallback<StepExecutionSortMode> OnSortingChanged { get; set; }
    
    [Parameter] public bool ShowStepTags { get; set; }

    private const int Columns = 12;

    private IStepExecutionProjection? _selectedStepExecution;
    private StepHistoryOffcanvas? _stepHistoryOffcanvas;
    private StepExecutionAttempt? _detailStep;
    
    public Task RefreshSelectedStepExecutionAsync() =>
        _selectedStepExecution is not null ? LoadStepExecutionAsync(_selectedStepExecution) : Task.CompletedTask;

    private void SetSortMode(StepExecutionSortMode sort)
    {
        OnSortingChanged.InvokeAsync(sort);
    }

    private async Task ToggleSelectedStepExecutionAsync(IStepExecutionProjection execution)
    {
        // If the selected execution is the same that was previously selected, set it to null
        // => hides the step execution details component.
        // Use IsSameAs() to do comparison using ids instead of reference equality.
        // If data in the parent components was reloaded, references might have changed.
        if (_selectedStepExecution?.IsSameAs(execution) == true)
        {
            _selectedStepExecution = null;
            _detailStep = null;
        }
        else
        {
            _selectedStepExecution = execution;
            await LoadStepExecutionAsync(execution);
        }
        StateHasChanged();
    }

    private async Task LoadStepExecutionAsync(IStepExecutionProjection execution)
    {
        if (DetailStepProvider is not null)
        {
            _detailStep = DetailStepProvider(execution);
        }
        else
        {
            await using var context = await DbContextFactory.CreateDbContextAsync();
            _detailStep = await context.StepExecutionAttempts
                .Include(e => e.StepExecution)
                .ThenInclude(e => e.Execution) // Required for StepExecutionAttempt.CanBeStopped
                .FirstOrDefaultWithNoLockAsync(e => e.ExecutionId == execution.ExecutionId &&
                                          e.StepId == execution.StepId &&
                                          e.RetryAttemptIndex == execution.RetryAttemptIndex);
            // Request rendering for the data we already have.
            await InvokeAsync(StateHasChanged);
            // The rest of the data is loaded in the background, as it may take some time.
            // Use EF change tracking to populate the navigation properties of the previously loaded entity. 
            _ = await context.StepExecutions
                .Include($"{nameof(IHasStepExecutionParameters.StepExecutionParameters)}.{nameof(StepExecutionParameterBase.InheritFromExecutionParameter)}")
                .Include($"{nameof(IHasStepExecutionParameters.StepExecutionParameters)}.{nameof(StepExecutionParameterBase.ExpressionParameters)}")
                .Include(e => e.ExecutionConditionParameters)
                .ThenInclude(e => e.ExecutionParameter)
                .Include(e => ((SqlStepExecution)e).ResultCaptureJobParameter)
                .FirstOrDefaultWithNoLockAsync(e => e.ExecutionId == execution.ExecutionId && e.StepId == execution.StepId);
            await InvokeAsync(StateHasChanged);
            if (_detailStep is not null)
            {
                var step = await context.Steps.FirstOrDefaultAsync(s => s.StepId == _detailStep.StepId);
                _detailStep.StepExecution.SetStep(step);
            }
        }
    }

    private async Task StopStepExecutionAsync(Guid executionId, Guid stepId, string stepName)
    {
        if (!await Confirmer.ConfirmAsync("Stop step execution", $"Are you sure you want to stop \"{stepName}\"?"))
        {
            return;
        }
        try
        {
            ArgumentNullException.ThrowIfNull(AuthenticationState);
            var authState = await AuthenticationState;
            var username = authState.User.Identity?.Name;
            ArgumentNullException.ThrowIfNull(username);

            await ExecutorService.StopExecutionAsync(executionId, stepId, username);
            Toaster.AddSuccess("Stop request sent successfully to the executor service");
        }
        catch (TimeoutException)
        {
            Toaster.AddError("Operation timed out", "The executor process may no longer be running");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error stopping execution", ex.Message);
        }
    }

    private DateTime MinTime =>
        Executions?.Any() ?? false
            ? Executions.Min(e => e.StartedOn?.LocalDateTime) ?? DateTime.Now
            : DateTime.Now;
    private DateTime MaxTime =>
        Executions?.Any() ?? false
            ? Executions.Max(e => e.EndedOn?.LocalDateTime ?? DateTime.Now)
            : DateTime.Now;
    private long MinTicks => MinTime.Ticks;
    private long MaxTicks => MaxTime.Ticks;

    private string GetTimeFromPercentage(double percentage)
    {
        if (MinTicks == MaxTicks)
            return DateTime.Now.ToString("T");

        var ticks = MinTicks + (MaxTicks - MinTicks) * percentage / 100;
        var time = new DateTime(Convert.ToInt64(ticks));
        return time.ToString("T");
    }

    private string GetDateFromPercentage(double percentage)
    {
        if (MinTicks == MaxTicks)
            return DateTime.Now.ToString("d");

        var ticks = MinTicks + (MaxTicks - MinTicks) * percentage / 100;
        var time = new DateTime(Convert.ToInt64(ticks));
        return time.ToString("d");
    }

    // Use a custom record to be used as the grouping key for graph items.
    // StepId and OverlapId are defined in the primary constructor, so they are used for value equality.
    private class GraphStep
    {
        public required Guid StepId { get; init; }
        public required Guid OverlapId { get; init; }
        public required string StepName { get; init; }
        public required DisplayStepType DisplayStepType { get; init; }
        public required IReadOnlyCollection<ITag> StepTags { get; init; }

        public override bool Equals(object? obj) =>
            obj is GraphStep other && StepId.Equals(other.StepId) && OverlapId.Equals(other.OverlapId);

        public override int GetHashCode() => HashCode.Combine(StepId, OverlapId);
    }
}
