@inject IConfiguration Configuration
@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject MarkupHelperService MarkupHelper 

<HxDropdown>
    <HxDropdownToggleButton Color="ThemeColor.Success" Enabled="Connections is not null">
        Add connection
    </HxDropdownToggleButton>
    <HxDropdownMenu>
        <HxDropdownHeader>Connection type</HxDropdownHeader>
        @foreach (var connectionType in Enum.GetValues<ConnectionType>())
        {
            <HxDropdownItem @onclick="() => ShowNewConnectionModal(connectionType)">
                @connectionType.ToString()
            </HxDropdownItem>
        }
    </HxDropdownMenu>
</HxDropdown>


<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th></th>
                <th></th>
                <th>
                    Connection string
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Connections is null)
            {
                <tr><td colspan="5">Loading...</td></tr>
            }
            else if (Connections.Count == 0)
            {
                <tr><td colspan="5">No connections</td></tr>
            }
            else
            {
                @foreach (var connection in Connections)
                {
                    <tr>
                        <td class="align-middle">
                            @connection.ConnectionName
                        </td>
                        <td class="align-middle">
                            @connection.ConnectionType
                        </td>
                        <td class="align-middle">
                            <HxButtonGroup CssClass="btn-row">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" aria-label="edit" @onclick="() => ShowEditModal(connection)">
                                    @MarkupHelper.FromFile("icons/feather/edit-2.svg")
                                </HxButton>
                                <HxDropdown>
                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.Light" aria-label="delete">
                                        @MarkupHelper.FromFile("icons/feather/trash-2.svg")
                                    </HxDropdownToggleButton>
                                    <HxDropdownMenu>
                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                        <HxDropdownItem @onclick="() => DeleteConnection(connection)">Confirm</HxDropdownItem>
                                    </HxDropdownMenu>
                                </HxDropdown>
                            </HxButtonGroup>
                        </td>
                        <td>
                            <HxButtonGroup CssClass="btn-row">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light"
                                            @onclick="() => ShowConnectionString[connection.ConnectionId] = !ShowConnectionString[connection.ConnectionId]">
                                    @if (ShowConnectionString[connection.ConnectionId])
                                    {
                                        @MarkupHelper.FromFile("icons/feather/eye-off.svg")
                                    }
                                    else
                                    {
                                        @MarkupHelper.FromFile("icons/feather/eye.svg")
                                    }
                                </HxButton>
                            </HxButtonGroup>
                        </td>
                        <td class="align-middle font-monospace small">
                            @if (ShowConnectionString[connection.ConnectionId])
                            {
                                @connection.ConnectionString
                            }
                            else
                            {
                                <text>************************************************************</text>
                            }
                        </td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<AnalysisServicesConnectionEditModal @ref="ConnectionEditModals[ConnectionType.AnalysisServices]"
                                     ConnectionId="EditModalConnectionIds[ConnectionType.AnalysisServices]"
                                     OnConnectionSubmit="OnConnectionSubmit" />

<SqlConnectionEditModal @ref="ConnectionEditModals[ConnectionType.Sql]"
                        ConnectionId="EditModalConnectionIds[ConnectionType.Sql]"
                        OnConnectionSubmit="OnConnectionSubmit" />

@code {
    private List<ConnectionInfoBase>? Connections { get; set; }
    private Dictionary<Guid, bool> ShowConnectionString { get; set; } = new();


    Dictionary<ConnectionType, IConnectionEditModal> ConnectionEditModals { get; } = new();
    private Dictionary<ConnectionType, Guid> EditModalConnectionIds { get; } =
        Enum.GetValues<ConnectionType>().ToDictionary(key => key, _ => new Guid());

    protected override async Task OnInitializedAsync()
    {
        using var context = await Task.Run<EtlManagerContext>(DbFactory.CreateDbContext);
        Connections = await context.Connections
            .AsNoTracking()
            .OrderBy(c => c.ConnectionName)
            .ToListAsync();
        ShowConnectionString = Connections.ToDictionary(key => key.ConnectionId, value => false);
    }

    private async Task DeleteConnection(ConnectionInfoBase connection)
    {
        using var context = DbFactory.CreateDbContext();
        var conn = await context.Connections.FirstAsync(c => c.ConnectionId == connection.ConnectionId);
        context.Connections.Remove(conn);
        await context.SaveChangesAsync();
        Connections?.RemoveAll(c => c.ConnectionId == connection.ConnectionId);
        ShowConnectionString.Remove(connection.ConnectionId);
    }

    private async void OnConnectionSubmit(ConnectionInfoBase connection)
    {
        using var context = DbFactory.CreateDbContext();
        if (connection.ConnectionId == Guid.Empty)
        {
            context.Add(connection);
            Connections?.Add(connection);
            ShowConnectionString[connection.ConnectionId] = false;
        }
        else
        {
            Connections?.RemoveAll(c => c.ConnectionId == connection.ConnectionId);
            Connections?.Add(connection);
            context.Attach(connection).State = EntityState.Modified;
        }
        await context.SaveChangesAsync();
        StateHasChanged();
    }

    private async Task ShowEditModal(ConnectionInfoBase connection)
    {
        EditModalConnectionIds[connection.ConnectionType] = connection.ConnectionId;
        await OpenConnectionEditModal(connection.ConnectionType);
    }

    private async Task ShowNewConnectionModal(ConnectionType connectionType)
    {
        EditModalConnectionIds[connectionType] = Guid.Empty;
        await OpenConnectionEditModal(connectionType);
    }

    private async Task OpenConnectionEditModal(ConnectionType connectionType)
    {
        await ConnectionEditModals[connectionType].ShowAsync();
    }
}
