@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment
@inject DbHelperService DbHelperService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
    .step-row:hover,
    .step-row:focus,
    .step-row.disabled:hover,
    .step-row.disabled:focus {
        background-color: #ececec;
    }

    .step-row.disabled {
        background-color: #f3f3f3;
    }
</style>

@if (Job is not null)
{
    <JobParametersModal @ref="JobParametersModal"
                        Job="Job" />
}


<div class="sticky-top pt-2 pb-3" style="background-color: rgba(248, 249, 250, 0.9);">
    @*Same as bg-light but with slight transparency*@
    <div class="btn-toolbar">
        <AuthorizeView Roles="Admin, Editor">
            <BSDropdown Class="mr-3">
                <BSDropdownToggle Color="Color.Success">
                    Add step
                </BSDropdownToggle>
                <BSDropdownMenu>
                    <BSDropdownHeader>Step type</BSDropdownHeader>
                    @foreach (var stepType in Enum.GetValues(typeof(StepType)))
                    {
                        var stepTypeEnum = Enum.Parse<StepType>(stepType.ToString()!);
                        <BSDropdownItem @onclick="() => ShowNewStepModal(stepTypeEnum)"
                                        IsDisabled="IsStepTypeDisabled(stepTypeEnum)">
                            <StepTypeIconComponent StepType_="stepTypeEnum" />
                            @stepType
                        </BSDropdownItem>
                    }
                </BSDropdownMenu>
            </BSDropdown>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Editor, Operator">
            <BSButton Class="mr-3" Color="Color.Secondary" @onclick="() => JobParametersModal?.Show()">
                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/at-sign.svg")))
                Parameters
            </BSButton>
            <BSButton @onclick="() => ExecuteModal.Show()" IsDisabled="@ExecuteButtonDisabled">
                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/play.svg")))
                Execute
            </BSButton>
            <div id="spinner_starting" class="spinner-border text-primary align-middle ml-3" hidden=@(!ExecuteButtonDisabled) role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </AuthorizeView>
    </div>

    @if (ExecuteAlertOpen)
    {
        <BSToast class="position-fixed bottom-0 right-0 mr-5 mb-5" style="z-index: 5; right: 0; bottom: 0;" IsVisible="ExecuteAlertOpen" OnDismiss="() => ExecuteAlertOpen = false">
            <BSToastHeader>
                @if (ExecuteSuccess)
                {
                    <strong class="status-icon running">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/check-circle.svg")))
                        Execution started successfully
                    </strong>
                }
                else
                {
                    <strong class="status-icon failed">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/alert-octagon.svg")))
                        Error starting execution
                    </strong>
                }
            </BSToastHeader>
            <BSToastBody>
                @if (ExecuteSuccess)
                {
                    <a href="javascript:void(0)" @onclick="OpenJobExecutionModal">Monitor execution</a>
                }
                else
                {
                    @ExecuteErrorMessage
                }
            </BSToastBody>
        </BSToast>
    }

    <div class="row mt-3">
        <div class="col">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/tag.svg")))
            <span class="mr-3">Tags</span>
            @if (!TagNames.Any())
            {
                <small class="text-secondary mr-2">No tags</small>
            }
            @foreach (var tag in TagNames)
            {
                <span class="mx-1 badge badge-pill @(TagsFilterSet.Contains(tag) ? "badge-primary" : "badge-secondary")"
                      style="cursor: pointer;"
                      @onclick="() => { if (TagsFilterSet.Contains(tag)) TagsFilterSet.Remove(tag); else TagsFilterSet.Add(tag); }">
                    @tag
                </span>
            }
        </div>
    </div>

    <div class="row mt-3">
        <div class="col input-group input-group-sm" style="max-width: 20rem;">
            <label class="sr-only">Filter</label>
            <div class="input-group-prepend">
                <div class="input-group-text rounded-left">
                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/filter.svg")))
                </div>
            </div>
            <input type="text" class="form-control" @bind-value="StepsFilterText" @bind-value:event="oninput" placeholder="Filter by name" />
        </div>

        <FilterDropdown TItem="StepType"
                        FilterSet="StepTypeFilter"
                        Items="Steps?.Select(s => s.StepType).Distinct().OrderBy(t => t) ?? Enumerable.Empty<StepType>()"
                        OnChange="StateHasChanged">
            <Title>
                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/tool.svg")))
                Step type
            </Title>
        </FilterDropdown>

        <BSButton Class="ml-3" Size="Size.Small" Color="Color.Light" @onclick="() => { TagsFilterSet.Clear(); StepTypeFilter.Clear(); StepsFilterText = string.Empty; }">
            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/x.svg")))
            Clear
        </BSButton>
    </div>
</div>

<div class="card col shadow-sm mb-4 mt-2">
    <div class="row">
        <div class="col">
            @if (Steps is null || Jobs is null || Job is null)
            {
                <div class="row py-2"><div class="col">Loading...</div></div>
            }
            else if (Steps.Count == 0)
            {
                <div class="row py-2"><div class="col">No steps</div></div>
            }
            else
            {
                var index = 0;
                @foreach (var item in Steps
                 .Where(step => step.StepName.ContainsIgnoreCase(StepsFilterText))
                 .Where(step => TagsFilterSet.All(tag => step.Tags.Any(t => t.TagName == tag)))
                 .Where(step => !StepTypeFilter.Any() || StepTypeFilter.Contains(step.StepType)))
                {
                    <div class="row step-row py-2 @(item.IsEnabled ? null : "disabled") @(index == 0 ? null : "border-top")">
                        <div class="col-xl-5 col-md-6 col-10 pl-2 d-flex align-items-center">
                            <AuthorizeView Roles="Admin, Editor">
                                <a class="text-dark" href="javascript:void(0)" @onclick="() => ShowEditModal(item)">
                                    <StepTypeIconComponent StepType_="@item.StepType" />
                                    &nbsp;
                                    @item.StepName
                                </a>
                            </AuthorizeView>
                            <AuthorizeView Roles="Operator, Viewer">
                                <span>
                                    <StepTypeIconComponent StepType_="@item.StepType" />
                                    @item.StepName
                                </span>
                            </AuthorizeView>
                        </div>
                        <div class="col-xl-1 col-2 d-inline-flex align-items-center justify-content-end"
                             style="@(Job.UseDependencyMode ? "color: #ccc;" : null)">
                            @item.ExecutionPhase
                            &nbsp;
                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/layers.svg")))
                        </div>
                        <div class="col-xl-3 col-md-4 d-inline-flex align-items-center justify-content-end">
                            <AuthorizeView Roles="Admin, Editor">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="enabled_@item.StepId" checked="@(item.IsEnabled ? "checked" : null)" @onchange="args => ToggleEnabled(args, item)">
                                    <label class="custom-control-label" style="cursor: pointer;" for="enabled_@item.StepId" aria-label="enabled"></label>
                                </div>
                            </AuthorizeView>
                            <AuthorizeView Roles="Operator, Viewer">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" disabled id="enabled_@item.StepId" checked="@(item.IsEnabled ? "checked" : null)">
                                    <label class="custom-control-label" for="enabled_@item.StepId" aria-label="enabled"></label>
                                </div>
                            </AuthorizeView>
                            <div class="btn-group btn-row ml-2">
                                <BSButton Size="Size.Small" Color="Color.Light" @onclick="() => ShowStepHistoryModal(item)">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/activity.svg")))
                                </BSButton>

                                <BSButton Size="Size.Small" Color="Color.Light" @onclick="() => ShowStepDetailsModal(item)">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/info.svg")))
                                </BSButton>

                                <AuthorizeView Roles="Admin, Editor">
                                    <BSDropdown IsGroup="true">
                                        @{ var prefix = "copy_menu"; }
                                        <BSDropdownToggle Size="Size.Small" Color="Color.Light" @onclick="() => ScrollIntoViewElementId = prefix + item.StepId">
                                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/copy.svg")))
                                        </BSDropdownToggle>
                                        <BSDropdownMenu id="@(prefix + item.StepId)" Class="dropdown-menu-right">
                                            <BSDropdownHeader>Copy to</BSDropdownHeader>
                                            <BSDropdownItem @onclick="() => CopyStep(item, Job)">here</BSDropdownItem>
                                            <BSDropdownItem IsDivider="true"></BSDropdownItem>
                                            @foreach (var job in Jobs.Where(job => job.JobId != Job.JobId))
                                            {
                                                <BSDropdownItem @onclick="() => CopyStep(item, job)">@job.JobName</BSDropdownItem>
                                            }
                                        </BSDropdownMenu>
                                    </BSDropdown>

                                    <BSDropdown IsGroup="true">
                                        @{ var prefix = "delete_menu"; }
                                        <BSDropdownToggle Size="Size.Small" Color="Color.Light" @onclick="() => ScrollIntoViewElementId = prefix + item.StepId">
                                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/trash-2.svg")))
                                        </BSDropdownToggle>
                                        <BSDropdownMenu id="@(prefix + item.StepId)" Class="dropdown-menu-right">
                                            <BSDropdownHeader>Delete?</BSDropdownHeader>
                                            <BSDropdownItem @onclick="() => DeleteStep(item)">Confirm</BSDropdownItem>
                                        </BSDropdownMenu>
                                    </BSDropdown>
                                </AuthorizeView>
                            </div>
                        </div>

                        <div class="col-xl-3 d-flex flex-wrap align-items-center justify-content-end">
                            @if (item.Tags.Any())
                            {
                                @foreach (var tag in item.Tags.OrderBy(t => t.TagName))
                                {
                                    <span class="badge badge-pill badge-secondary mx-1">
                                        @tag.TagName
                                        <AuthorizeView Roles="Admin, Editor">
                                            <span class="tag-remove" @onclick="() => RemoveTag(item, tag)">
                                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/x.svg")))
                                            </span>
                                        </AuthorizeView>
                                    </span>
                                }
                            }
                            else
                            {
                                <small class="text-secondary mr-2">No tags</small>
                            }
                            <AuthorizeView Roles="Admin, Editor">
                                <div class="btn-group btn-group-sm btn-row">
                                    <BSDropdown>
                                        @{ var prefix = "tag_menu"; }
                                        <BSDropdownToggle Color="Color.Light" Size="Size.Small" @onclick="() => { TagInputFocusStepId = item.StepId; ScrollIntoViewElementId = prefix + item.StepId; }">
                                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/tag.svg")))
                                        </BSDropdownToggle>
                                        <BSDropdownMenu id="@(prefix + item.StepId)" Class="dropdown-menu-right p-3" style="min-width: 20rem;">
                                            <BSForm Class="d-flex" IsInline="true" Model="NewTag" OnValidSubmit="() => SubmitTag(item)">
                                                <ChildContent Context="tag_context">
                                                    <DataAnnotationsValidator />
                                                    <ValidationSummary />
                                                    <div class="form-group flex-grow-1">
                                                        <input @ref="TagInputs[item.StepId]" @bind-value="NewTag.TagName" placeholder="Add tags" class="form-control form-control-sm flex-fill">
                                                    </div>
                                                    <button type="submit" class="btn btn-sm btn-success ml-2">Add</button>
                                                </ChildContent>
                                            </BSForm>
                                        </BSDropdownMenu>
                                    </BSDropdown>
                                </div>
                            </AuthorizeView>
                        </div>
                    </div>

                    index++;
                }
            }
        </div>
    </div>
</div>


<AuthorizeView Roles="Admin, Editor">
    <DatasetStepEditModal @ref="StepEditModals[StepType.Dataset]" Job="Job" Steps="Steps" AppRegistrations="AppRegistrations" StepId="EditModalStepIds[StepType.Dataset]" OnStepSubmit="OnStepSubmit" />
    <ExeStepEditModal @ref="StepEditModals[StepType.Exe]" Job="Job" Steps="Steps" StepId="EditModalStepIds[StepType.Exe]" OnStepSubmit="OnStepSubmit" />
    <JobStepEditModal @ref="StepEditModals[StepType.Job]" Job="Job" Steps="Steps" StepId="EditModalStepIds[StepType.Job]" Jobs="Jobs" OnStepSubmit="OnStepSubmit" />
    <PackageStepEditModal @ref="StepEditModals[StepType.Package]" Job="Job" Steps="Steps" Connections="Connections" StepId="EditModalStepIds[StepType.Package]" OnStepSubmit="OnStepSubmit" />
    <PipelineStepEditModal @ref="StepEditModals[StepType.Pipeline]" Job="Job" Steps="Steps" DataFactories="DataFactories" StepId="EditModalStepIds[StepType.Pipeline]" OnStepSubmit="OnStepSubmit" />
    <SqlStepEditModal @ref="StepEditModals[StepType.Sql]" Job="Job" Steps="Steps" Connections="Connections" StepId="EditModalStepIds[StepType.Sql]" OnStepSubmit="OnStepSubmit" />
    <FunctionStepEditModal @ref="StepEditModals[StepType.Function]" Job="Job" Steps="Steps" StepId="EditModalStepIds[StepType.Function]" FunctionApps="FunctionApps" OnStepSubmit="OnStepSubmit" />
</AuthorizeView>


<StepDetailsModal @ref="StepDetailsModal" Step="DetailsModalStep" />

<StepHistoryModal @ref="StepHistoryModal" StepId_="@HistoryModalStep?.StepId.ToString()" />



<AuthorizeView Roles="Admin, Editor, Operator">
    <BSModal @ref="ExecuteModal" Size="Size.ExtraLarge" IsScrollable="true"
             IsOpenChanged="isOpen => { StepsToExecute.Clear(); ExecuteFilterText = string.Empty; ExecuteTagsFilterSet.Clear(); }">
        <BSModalHeader OnClick="() => ExecuteModal.Hide()">Execute steps</BSModalHeader>
        @if (Steps is not null)
        {
            <BSModalBody>
                <div class="row">
                    <span class="col font-italic text-secondary small">Disabled steps, if selected, will be included in manual executions.</span>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/tag.svg")))
                        <span class="mr-3">Tags</span>
                        @if (!TagNames.Any())
                        {
                            <small class="text-secondary mr-2">No tags</small>
                        }
                        @foreach (var tag in TagNames)
                        {
                            <span class="mx-1 badge badge-pill @(ExecuteTagsFilterSet.Contains(tag) ? "badge-primary" : "badge-secondary")"
                                  style="cursor: pointer;"
                                  @onclick="() => { if (ExecuteTagsFilterSet.Contains(tag)) ExecuteTagsFilterSet.Remove(tag); else ExecuteTagsFilterSet.Add(tag); }">
                                @tag
                            </span>
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col input-group input-group-sm">
                                <label class="sr-only">Search</label>
                                <div class="input-group-prepend">
                                    <div class="input-group-text rounded-left">
                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/filter.svg")))
                                    </div>
                                </div>
                                <input type="text" class="form-control" @bind-value="ExecuteFilterText" @bind-value:event="oninput"
                                       placeholder="Filter by name" autocomplete="off" />
                            </div>

                            <div class="col-auto">
                                <BSButton Size="Size.Small" Color="Color.Light" @onclick="() => { ExecuteTagsFilterSet.Clear(); ExecuteFilterText = string.Empty; }">
                                    @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/x.svg")))
                                    Clear
                                </BSButton>
                            </div>
                        </div>

                        <table class="table table-hover table-sm mt-2">
                            <thead>
                                <tr>
                                    <th>Available steps</th>
                                    <th></th>
                                    @if (Job?.UseDependencyMode == true)
                                    {
                                        <th></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var step in StepsAvailableToExecute)
                                {
                                    <tr style="cursor: pointer;" @onclick="() => { if (!StepsToExecute.Any(s => s.StepId == step.StepId)) StepsToExecute.Add(step); }">
                                        <td class="@(step.IsEnabled ? null : "text-secondary") align-middle">
                                            <StepTypeIconComponent StepType_="@step.StepType" />
                                            &nbsp;
                                            @step.StepName
                                        </td>
                                        <td class="align-middle"
                                             style="@(Job?.UseDependencyMode == true ? "color: #ccc;" : null)">
                                            @step.ExecutionPhase
                                            &nbsp;
                                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/layers.svg")))
                                        </td>
                                        @if (Job?.UseDependencyMode == true)
                                        {
                                            <td class="align-middle">
                                                @if (step.Dependencies?.Count > 0)
                                                {
                                                    <div id="include_dependencies_@step.StepId" @onclick="() => SelectStepAndDependencies(step)">
                                                        @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/bootstrap/diagram-3-fill.svg")))
                                                    </div>
                                                    <BSTooltip Target="@($"include_dependencies_{step.StepId}")" Placement="Placement.Top">
                                                        Include dependencies
                                                    </BSTooltip>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg">
                        <BSButtonGroup>
                            @*Add all available AND enabled steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                            <BSButton Size="Size.Small" Color="Color.Secondary"
                                      @onclick="() => StepsToExecute.AddRange(StepsAvailableToExecute.Where(step => step.IsEnabled))">
                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/chevron-right.svg")))
                                Select enabled
                            </BSButton>
                            @*Add all available steps that have not yet been added to selected steps. Also filter based on current filter text.*@
                            <BSButton Size="Size.Small" Color="Color.Secondary"
                                      @onclick="() => StepsToExecute.AddRange(StepsAvailableToExecute)">
                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/chevrons-right.svg")))
                                Select all
                            </BSButton>
                            <BSButton Size="Size.Small" Color="Color.Secondary" @onclick="() => StepsToExecute.Clear()">
                                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/chevrons-left.svg")))
                                Deselect all
                            </BSButton>
                        </BSButtonGroup>

                        <table class="table table-hover table-sm mt-2">
                            <thead>
                                <tr>
                                    <th>Selected steps</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Job?.UseDependencyMode == true)
                                    {
                                        var comparer = new TopologicalStepComparer(StepsToExecute);
                                        StepsToExecute.Sort(comparer);
                                    }
                                    else
                                    {
                                        StepsToExecute.Sort();
                                    }
                                }
                                @foreach (var step in StepsToExecute)
                                {
                                    <tr style="cursor: pointer;" @onclick="() => StepsToExecute.Remove(step)">
                                        <td class="@(step.IsEnabled ? null : "text-secondary")">
                                            <StepTypeIconComponent StepType_="@step.StepType" />
                                            &nbsp;
                                            @step.StepName
                                        </td>
                                        <td class="align-middle"
                                             style="@(Job?.UseDependencyMode == true ? "color: #ccc;" : null)">
                                            @step.ExecutionPhase
                                            &nbsp;
                                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/layers.svg")))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </BSModalBody>
        }
        <BSModalFooter>
            <div class="col mr-auto">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="execute_notify"
                           checked=@ExecuteNotify
                           @bind-value="ExecuteNotify">
                    <label class="custom-control-label" for="execute_notify">Notify based on subscriptions</label>
                </div>
            </div>
            <BSButton Color="Color.Primary" Class="ml-5" @onclick="Execute">
                @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/play.svg")))
                Execute
            </BSButton>
            <BSButton Color="Color.Secondary" @onclick="() => ExecuteModal.Hide()">Cancel</BSButton>
        </BSModalFooter>
    </BSModal>
</AuthorizeView>


<JobExecutionDetailsModal @ref="JobExecutionModal" ExecutionId_="@SelectedJobExecutionId.ToString()" />

@code {
    [Parameter]
    public Job? Job { get; set; }

    [Parameter]
    public IList<Job>? Jobs { get; set; }

    [Parameter]
    public List<Step>? Steps { get; set; }

    [Parameter]
    public List<Connection>? Connections { get; set; }
    [Parameter]
    public List<DataFactory>? DataFactories { get; set; }
    [Parameter]
    public List<AppRegistration>? AppRegistrations { get; set; }
    [Parameter]
    public List<FunctionApp>? FunctionApps { get; set; }

    private IEnumerable<string> TagNames => Steps?
    .SelectMany(step => step.Tags)
    .Select(tag => tag.TagName)
    .Distinct()
    .OrderBy(str => str) ?? Enumerable.Empty<string>();

    private JobParametersModal JobParametersModal { get; set; } = null!;

    private Dictionary<StepType, IStepEditModal> StepEditModals = new();
    // Separate edit modal step ids so that changes to one do not trigger OnParametersSet() for all edit modal components.
    private Dictionary<StepType, Guid> EditModalStepIds { get; set; } = Enum.GetValues<StepType>().ToDictionary(key => key, _ => new Guid());

    private StepDetailsModal StepDetailsModal { get; set; } = null!;
    private Step? DetailsModalStep { get; set; }

    private StepHistoryModal StepHistoryModal { get; set; } = null!;
    private Step? HistoryModalStep { get; set; }

    private BSModal ExecuteModal { get; set; } = null!;
    private List<Step> StepsToExecute { get; set; } = new();
    private bool ExecuteButtonDisabled { get; set; } = false;
    private IEnumerable<Step> StepsAvailableToExecute =>
        Steps?.Where(step => !StepsToExecute.Any(e => e.StepId == step.StepId)) // Not yet added to list of steps to execute
        .Where(step => step.StepName?.ContainsIgnoreCase(ExecuteFilterText) == true) // Step name filter
        .Where(step => ExecuteTagsFilterSet.All(tag => step.Tags.Any(t => t.TagName == tag))) // Tag filter
        ?? Enumerable.Empty<Step>();
    private bool ExecuteNotify { get; set; } = false;

    private bool ExecuteSuccess { get; set; } = false;
    private bool ExecuteAlertOpen { get; set; } = false;
    private string ExecuteErrorMessage { get; set; } = string.Empty;

    private string StepsFilterText { get; set; } = string.Empty;
    private HashSet<string> TagsFilterSet { get; set; } = new();
    private HashSet<StepType> StepTypeFilter { get; } = new();
    private string ExecuteFilterText { get; set; } = string.Empty;
    private HashSet<string> ExecuteTagsFilterSet { get; set; } = new();

    private JobExecutionDetailsModal JobExecutionModal { get; set; } = null!;
    private Guid SelectedJobExecutionId { get; set; }

    private Dictionary<Guid, ElementReference> TagInputs { get; set; } = new();
    private Tag NewTag { get; set; } = new(string.Empty);
    private Guid? TagInputFocusStepId { get; set; } = null;

    private string? ScrollIntoViewElementId { get; set; } = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (TagInputFocusStepId is not null)
        {
            try
            {
                await TagInputs[(Guid)TagInputFocusStepId].FocusAsync();
            }
            catch (Exception)
            {
            }
            finally
            {
                TagInputFocusStepId = null;
            }
        }

        // Used for dropdown menus. If the dropdown menu is not in the viewport then scroll to show it completely.
        if (ScrollIntoViewElementId is not null)
        {
            await JsRuntime.InvokeVoidAsync("scrollIntoViewCompat", ScrollIntoViewElementId);
            ScrollIntoViewElementId = null;
        }
    }

    private bool IsStepTypeDisabled(StepType type)
    {
        switch (type)
        {
            case StepType.Sql:
            case StepType.Package:
                return Connections?.Any() == false;
            case StepType.Pipeline:
                return DataFactories?.Any() == false;
            case StepType.Function:
                return FunctionApps?.Any() == false;
            case StepType.Dataset:
                return AppRegistrations?.Any() == false;
            case StepType.Job:
                return Jobs is null || Jobs.Count == 1;
            default:
                return false;
        }
    }

    private void ShowEditModal(Step step)
    {
        EditModalStepIds[step.StepType] = step.StepId;
        OpenStepEditModal(step.StepType);
    }

    private void ShowNewStepModal(StepType stepType)
    {
        EditModalStepIds[stepType] = Guid.Empty;
        OpenStepEditModal(stepType);
    }

    private void OpenStepEditModal(StepType? stepType)
    {
        if (stepType is not null)
            StepEditModals[(StepType)stepType].Show();
    }

    private async Task ToggleEnabled(ChangeEventArgs args, Step step)
    {
        bool value = (bool)args.Value!;
        try
        {
            await DbHelperService.ToggleStepEnabledAsync(step, value);
            step.IsEnabled = !step.IsEnabled;
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error enabling/disabling step: " + ex.Message);
        }
    }

    private async Task DeleteStep(Step step)
    {
        try
        {
            using var context = DbFactory.CreateDbContext();
            context.Steps.Remove(step);
            await context.SaveChangesAsync();
            Steps?.Remove(step);
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error deleting step: " + ex.Message);
        }
    }

    private async Task CopyStep(Step step, Job job)
    {
        try
        {
            string user = HttpContextAccessor.HttpContext?.User?.Identity?.Name ?? throw new ArgumentNullException(nameof(user), "User was null");
            Guid createdStepId = await DbHelperService.StepCopyAsync(step.StepId, job.JobId, user);
            // If the steps was copied to this job, reload steps.
            if (Job?.JobId == job.JobId)
            {
                using var context = DbFactory.CreateDbContext();
                var createdStep = await context.Steps
                    .Include(step => step.Dependencies)
                    .Include(step => step.Tags)
                    .FirstOrDefaultAsync(step_ => step_.StepId == createdStepId);
                Steps?.Add(createdStep);
                await SortStepsAsync();
            }
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error copying step: " + ex.Message);
        }
    }

    private async Task RemoveTag(Step step, Tag tag)
    {
        try
        {
            await DbHelperService.RemoveTagAsync(step, tag);
            step.Tags.Remove(tag);
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error removing tag: " + ex.Message);
        }
    }

    public async Task SubmitTag(Step step)
    {
        var tags = NewTag?.TagName?.Split(" ").ToList() ?? new();
        tags = tags.Select(tag => tag.Trim()).ToList();
        tags.RemoveAll(tag => string.IsNullOrWhiteSpace(tag));
        try
        {
            foreach (var tagText in tags)
            {
                if (!step.Tags.Any(t => t.TagName == tagText))
                {
                    var tag = new Tag(tagText);
                    step.Tags.Add(tag);
                    await DbHelperService.AddTagAsync(step, tag);
                }
            }
            NewTag = new(string.Empty);
            TagInputFocusStepId = step.StepId;
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error adding tag: " + ex.Message);
        }
    }

    private async Task OnStepSubmit(Step step)
    {
        var existingStep = Steps?.FirstOrDefault(s => s.StepId == step.StepId);
        if (existingStep is not null)
        {
            Steps?.Remove(existingStep);
        }
        Steps?.Add(step);
        await SortStepsAsync();
    }

    private async Task SortStepsAsync()
    {
        if (Job is null || Steps is null) return;
        try
        {
            if (Job.UseDependencyMode)
            {
                var comparer = new TopologicalStepComparer(Steps);
                Steps.Sort(comparer);
            }
            else
            {
                Steps.Sort();
            }
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", $"Error sorting steps: {ex.Message}");
        }
    }

    private void ShowStepDetailsModal(Step step)
    {
        DetailsModalStep = step;
        StepDetailsModal.Modal.Show();
    }

    private void ShowStepHistoryModal(Step step)
    {
        // Do not unnecessarily set the component parameter and start its data load.
        if (step != HistoryModalStep)
            HistoryModalStep = step;

        StepHistoryModal.Show();
    }

    private void SelectStepAndDependencies(Step step)
    {
        RecurseDependencies(step, new());
    }

    private void RecurseDependencies(Step step, List<Step> processedSteps)
    {
        // Add the step to the list of steps to execute if it is not there yet.
        if (!StepsToExecute.Any(s => s.StepId == step.StepId))
        {
            StepsToExecute.Add(step);
        }

        // Get dependency ids.
        List<Guid> dependencyStepIds = step.Dependencies.Select(d => d.DependantOnStepId).ToList();

        // If there are no dependencies, return true.
        if (dependencyStepIds.Count == 0)
        {
            return;
        }
        // This step was already handled.
        else if (processedSteps.Any(s => s.StepId == step.StepId))
        {
            return;
        }

        processedSteps.Add(step);

        // Get dependency steps based on ids.
        List<Step> dependencySteps = Steps?.Where(s => dependencyStepIds.Any(id => s.StepId == id))?.ToList() ?? new();

        // Loop through the dependencies and handle them recursively.
        foreach (var depencyStep in dependencySteps)
        {
            RecurseDependencies(depencyStep, processedSteps);
        }

    }

    private async Task Execute()
    {
        if (StepsToExecute.Count == 0)
        {
            return;
        }

        ExecuteButtonDisabled = true;
        string user = HttpContextAccessor.HttpContext?.User?.Identity?.Name ?? throw new ArgumentNullException(nameof(user), "User was null");
        try
        {
            var stepIds = StepsToExecute.Select(step => step.StepId.ToString()).ToList();
            SelectedJobExecutionId = await DbHelperService.StartExecutionAsync(Job ?? throw new ArgumentNullException(nameof(Job), "Job was null"),
                user, stepIds, ExecuteNotify);
            ExecuteSuccess = true;
        }
        catch (Exception ex)
        {
            ExecuteSuccess = false;
            ExecuteErrorMessage = ex.Message;
        }

        StepsToExecute.Clear();
        ExecuteModal.Hide();
        ExecuteAlertOpen = true;
        ExecuteButtonDisabled = false;
        ExecuteNotify = false;
        StateHasChanged();
    }

    private void OpenJobExecutionModal()
    {
        JobExecutionModal.Show();
    }

}
