<BSModal @ref="Modal" Size="Size.Large">
    @if (Step is not null)
    {
        <BSModalHeader OnClick="() => Modal.Hide()">@Step.StepName</BSModalHeader>
        <BSModalBody>
            <dl class="row">
                <dt class="col-sm-3">
                    Step name
                </dt>
                <dd class="col-sm-9">
                    @Step.StepName
                </dd>
                <dt class="col-sm-3">
                    Description
                </dt>
                <dd class="col-sm-9">
                    @Step.StepDescription
                </dd>
                <dt class="col-sm-3">
                    Execution phase
                </dt>
                <dd class="col-sm-9">
                    @Step.ExecutionPhase
                </dd>
                <dt class="col-sm-3">
                    Step type
                </dt>
                <dd class="col-sm-9">
                    @Step.StepType
                </dd>
                <dt class="col-sm-3">
                    Retry attempts
                </dt>
                <dd class="col-sm-9">
                    @Step.RetryAttempts
                </dd>
                <dt class="col-sm-3">
                    Retry interval (min)
                </dt>
                <dd class="col-sm-9">
                    @Step.RetryIntervalMinutes
                </dd>
                <dt class="col-sm-3">
                    Timeout (min)
                </dt>
                <dd class="col-sm-9">
                    @Step.TimeoutMinutes
                </dd>
                @if (Step is SqlStep sql)
                {
                    <dt class="col-sm-3">
                        SQL statement
                    </dt>
                    <dd class="col-sm-9">
                        <pre><code>@sql.SqlStatement</code></pre>
                    </dd>
                }
                else if (Step is PipelineStep pipeline)
                {
                    <dt class="col-sm-3">
                        Pipeline name
                    </dt>
                    <dd class="col-sm-9">
                        @pipeline.PipelineName
                    </dd>
                    <dt class="col-sm-3">
                        Data Factory name
                    </dt>
                    <dd class="col-sm-9">
                        @pipeline.DataFactory?.DataFactoryName
                    </dd>
                }
                else if (Step is JobStep job)
                {
                    <dt class="col-sm-3">
                        Job to execute
                    </dt>
                    <dd class="col-sm-9">
                        @job.JobToExecuteId
                    </dd>
                    <dt class="col-sm-3">
                        Synchronized
                    </dt>
                    <dd class="col-sm-9">
                        @job.JobExecuteSynchronized
                    </dd>
                }
                else if (Step is ExeStep exe)
                {
                    <dt class="col-sm-3">
                        File path
                    </dt>
                    <dd class="col-sm-9">
                        @exe.ExeFileName
                    </dd>
                    <dt class="col-sm-3">
                        Arguments
                    </dt>
                    <dd class="col-sm-9">
                        @exe.ExeArguments
                    </dd>
                    <dt class="col-sm-3">
                        Working directory
                    </dt>
                    <dd class="col-sm-9">
                        @exe.ExeWorkingDirectory
                    </dd>
                    <dt class="col-sm-3">
                        Success exit code
                    </dt>
                    <dd class="col-sm-9">
                        @exe.ExeSuccessExitCode
                    </dd>
                }
                else if (Step is DatasetStep dataset)
                {
                    <dt class="col-sm-3">
                        Group id
                    </dt>
                    <dd class="col-sm-9">
                        @dataset.DatasetGroupId
                    </dd>
                    <dt class="col-sm-3">
                        Dataset id
                    </dt>
                    <dd class="col-sm-9">
                        @dataset.DatasetId
                    </dd>
                    <dt class="col-sm-3">
                        Power BI Service name
                    </dt>
                    <dd class="col-sm-9">
                        @dataset.AppRegistration?.AppRegistrationName
                    </dd>
                }
                else if (Step is PackageStep package)
                {
                    <dt class="col-sm-3">
                        Package folder
                    </dt>
                    <dd class="col-sm-9">
                        @package.PackageFolderName
                    </dd>
                    <dt class="col-sm-3">
                        Package project
                    </dt>
                    <dd class="col-sm-9">
                        @package.PackageProjectName
                    </dd>
                    <dt class="col-sm-3">
                        Package name
                    </dt>
                    <dd class="col-sm-9">
                        @package.PackageName
                    </dd>
                    <dt class="col-sm-3">
                        32 bit mode
                    </dt>
                    <dd class="col-sm-9">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" disabled checked="@(package.ExecuteIn32BitMode ? "checked" : null)">
                            <label class="custom-control-label"></label>
                        </div>
                    </dd>
                    <dt class="col-sm-3">
                        Execute as login
                    </dt>
                    <dd class="col-sm-9">
                        @package.ExecuteAsLogin
                    </dd>
                }
                else if (Step is FunctionStep function)
                {
                    <dt class="col-sm-3">
                        Function url
                    </dt>
                    <dd class="col-sm-9">
                        @function.FunctionUrl
                    </dd>
                    <dt class="col-sm-3">
                        Function input
                    </dt>
                    <dd class="col-sm-9">
                        @function.FunctionInput
                    </dd>
                    <dt class="col-sm-3">
                        Function App id
                    </dt>
                    <dd class="col-sm-9">
                        @function.FunctionAppId
                    </dd>
                    <dt class="col-sm-3">
                        Function App name
                    </dt>
                    <dd class="col-sm-9">
                        @function.FunctionApp?.FunctionAppName
                    </dd>
                }
            </dl>
            @if (Step is PackageStep package_)
            {
                <h6>Parameters</h6>
                @if (package_.PackageParameters is not null)
                {
                    <dl class="row">
                        @foreach (var param in package_.PackageParameters)
                        {
                            <dt class="col-sm-3">@($"${param.ParameterLevel}::{param.ParameterName}")</dt>
                            <dd class="col-sm-9">@($"{param.ParameterValue} ({param.ParameterType})")</dd>
                        }
                    </dl>
                }
            }
            else if (Step is PipelineStep pipeline)
            {
                <h6>Parameters</h6>
                @if (pipeline.PipelineParameters is not null)
                {
                    <dl class="row">
                        @foreach (var param in pipeline.PipelineParameters)
                        {
                            <dt class="col-sm-3">@param.ParameterName</dt>
                            <dd class="col-sm-9">@param.ParameterValue</dd>
                        }
                    </dl>
                }
            }
        </BSModalBody>
    }
    <BSModalFooter>
        <BSButton Color="Color.Secondary" @onclick="() => Modal.Hide()">Close</BSButton>
    </BSModalFooter>
</BSModal>


@code {
    public BSModal Modal { get; set; } = null!;

    [Parameter]
    public Step? Step { get; set; }
}
