@page
@model EtlManager.Pages.LogInModel
@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post" role="form" class="form-horizontal">
                @Html.AntiForgeryToken()

                <h4>Log in</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Login.Username, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Login.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Login.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Login.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Login.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Login.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button asp-page-handler="LogIn" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div> 