@inherits StepEditModal<FunctionStep>

<StepEditModalTemplate Modal="this" TStep="FunctionStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Timeout (min)</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.OctagonX" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 5rem;"></InputNumber>
                </div>
                <span class="form-text">0 = indefinite</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                <label class="form-label mb-lg-0">Function app</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Zap" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.FunctionAppId">
                        <option value="">No function app</option>
                        @foreach (var app in Integrations.FunctionApps)
                        {
                            <option value="@app.FunctionAppId">@app.FunctionAppName</option>
                        }
                    </InputSelect>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto"
                              Enabled="Step.FunctionAppId is not null"
                              @onclick="OpenFunctionSelectOffcanvas">
                        <SvgIcon Icon="LucideIcon.Ellipsis"/>
                        Browse functions
                    </HxButton>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Function url</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Code" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.FunctionUrl"></InputText>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Function key</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Key" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.FunctionKey"></InputText>
                </div>
                @{
                    var functionAppKey = Integrations.FunctionApps
                        .FirstOrDefault(app => app.FunctionAppId == Step.FunctionAppId)
                        ?.FunctionAppKey;
                }
                @if (Step.FunctionAppId is null)
                {
                    <div class="form-text">No function app was selected. A function key must be set.</div>
                }
                else if (functionAppKey is null)
                {
                    <div class="form-text">No key was configured for the Function App in settings. A function key must be set.</div>
                }
                else
                {
                    <div class="form-text">Optionally set a function key to override the Function App key configured in settings.</div>
                }
            </div>
        </div>

        <FunctionSelectOffcanvas @ref="_functionSelectOffcanvas" OnFunctionSelected="OnFunctionSelected" />

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-check-label mb-lg-0"
                       for="disable_async_pattern">
                    Disable async pattern
                    <HxPopover Trigger="PopoverTrigger.Hover" Html Content="@DisableAsyncPatternInfoContent">
                        <SvgIcon Icon="LucideIcon.Info" />
                    </HxPopover>
                </label>
            </div>
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="disable_async_pattern"
                           checked=@Step.DisableAsyncPattern
                           @bind-value="Step.DisableAsyncPattern">
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-10">
                <label class="form-label">Function input</label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <CodeEditor @ref="_editor"
                            Language="@(Step.FunctionInputFormat == FunctionInputFormat.Json ? "json" : "")"
                            MinimapEnabled="false"
                            InitialValueExpression="() => Step.FunctionInput"
                            OnValueChanged="value => Step.FunctionInput = value"
                            Resize="CodeEditor.CodeEditorResize.Both" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-check-label mb-lg-0">Input format</label>
            </div>
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_function_input_raw"
                           checked=@(Step.FunctionInputFormat == FunctionInputFormat.PlainText)
                           @onchange="() => SetLanguageAsync(FunctionInputFormat.PlainText)">
                    <label class="form-check-label fw-normal" for="radio_function_input_raw">Plain text</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_function_input_json"
                           checked=@(Step.FunctionInputFormat == FunctionInputFormat.Json)
                           @onchange="() => SetLanguageAsync(FunctionInputFormat.Json)">
                    <label class="form-check-label fw-normal" for="radio_function_input_json">JSON</label>
                </div>
            </div>
        </div>
        
        <StepParametersEditor Step="Step" 
                              NewParameterDelegate="() => new() { Step = Step }"
                              Title="Request body parameters"
                              InfoContent="@ParametersInfoContent" />
    }
</StepEditModalTemplate>