
@inject MarkupHelperService MarkupHelper


@if (StepType == StepType.Sql)
{
    <div class="row">
        <div class="col">
            <HxButton Size="ButtonSize.Small" Color="ThemeColor.Link" OnClick="GetDatabaseObjectsAsync">
                Attempt to infer from stored procedure
            </HxButton>
            @{
                var content = $"Read {ListName} objects from the database based on stored procedure definition. Mapping can be unreliable especially when temporary tables are used. Manually remove extra {ListName}s after mapping.";
            }
            <HxPopover Trigger="PopoverTrigger.Focus" Content="@content">
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.Link">@MarkupHelper.FromFile("icons/feather/info.svg")</HxButton>
            </HxPopover>
        </div>
    </div>
}
<div class="row mt-3">
    <div class="col-auto">
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="only_schedule"
                    @bind-value="ShowServer"
                    checked=@ShowServer>
            <label class="form-check-label" for="only_schedule">Show server name</label>
        </div>
        <div class="form-check form-check-inline ms-3">
            <input type="checkbox" class="form-check-input" id="include_deleted"
                    @bind-value="ShowDatabase"
                    checked=@ShowDatabase>
            <label class="form-check-label" for="include_deleted">Show database name</label>
        </div>
    </div>
</div>
<table class="table table-sm table-hover small">
    <thead>
        <tr>
            @if (ShowServer || NewObject is not null)
            {
                <th>Server</th>
            }
            @if (ShowDatabase || NewObject is not null)
            {
                <th>Database</th>
            }
            <th>Schema</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var source in DatabaseObjects
        .OrderBy(x => x.ServerName)
        .ThenBy(x => x.DatabaseName)
        .ThenBy(x => x.SchemaName)
        .ThenBy(x => x.ObjectName))
        {
            <tr>
                @if (ShowServer || NewObject is not null)
                {
                    <td class="align-middle">
                        @source.ServerName
                    </td>
                }
                @if (ShowDatabase || NewObject is not null)
                {
                    <td class="align-middle">
                        @source.DatabaseName
                    </td>
                }
                <td class="align-middle">
                    @source.SchemaName
                </td>
                <td class="align-middle">
                    @source.ObjectName
                </td>
                <td>
                    <HxButtonGroup Size="ButtonGroupSize.Small" CssClass="btn-row">
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" CssClass="btn-row" OnClick="() => DatabaseObjects.Remove(source)">
                            @MarkupHelper.FromFile("icons/feather/delete.svg")
                        </HxButton>
                    </HxButtonGroup>
                </td>
            </tr>
        }
        @if (NewObject is not null)
        {
            <tr>
                <td>
                    <input class="form-control form-control-sm" type="text" autocomplete="off"
                            @bind="NewObject.ServerName"
                            @bind:event="oninput"
                            @onfocusin="() => SuggestType = DatabaseObjectType.Server" />
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" autocomplete="off"
                            @bind="NewObject.DatabaseName"
                            @bind:event="oninput"
                            @onfocusin="() => SuggestType = DatabaseObjectType.Database" />
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" autocomplete="off"
                            @bind="NewObject.SchemaName"
                            @bind:event="oninput"
                            @onfocusin="() => SuggestType = DatabaseObjectType.Schema" />
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" autocomplete="off"
                            @bind="NewObject.ObjectName"
                            @bind:event="oninput"
                            @onfocusin="() => SuggestType = DatabaseObjectType.Object" />
                </td>
                <td>
                    <HxButtonGroup Size="ButtonGroupSize.Small" CssClass="btn-row">
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" CssClass="btn-row text-success" OnClick="() => { DatabaseObjects.Add(NewObject); NewObject = null; }">
                            @MarkupHelper.FromFile("icons/feather/check.svg")
                        </HxButton>
                        <HxButton Size="ButtonSize.Small" Color="ThemeColor.Light" CssClass="btn-row text-danger" OnClick="() => NewObject = null">
                            @MarkupHelper.FromFile("icons/feather/x.svg")
                        </HxButton>
                    </HxButtonGroup>
                </td>
            </tr>
            @if (SuggestType == DatabaseObjectType.Server)
            {
                var servers = AllDatabaseObjects?
                    .Select(o => o.ServerName)
                    .Distinct()
                    .OrderBy(o => o)
                    .Take(10) ?? Enumerable.Empty<string>();
                @foreach (var server in servers)
                {
                    <tr style="cursor: pointer;" @onclick="() => NewObject.ServerName = server">
                        <td colspan="5"><HighlightableText Text="@server" PartToHighlight="@NewObject.ServerName" /></td>
                    </tr>
                }
            }
            else if (SuggestType == DatabaseObjectType.Database)
            {
                var databases = AllDatabaseObjects?
                    .Where(o => string.IsNullOrEmpty(NewObject.ServerName) || o.ServerName == NewObject.ServerName)
                    .Where(o => o.DatabaseName.ContainsIgnoreCase(NewObject.DatabaseName))
                    .Select(o => (o.ServerName, o.DatabaseName))
                    .Distinct()
                    .OrderBy(o => o.ServerName).ThenBy(o => o.DatabaseName)
                    .Take(10) ?? Enumerable.Empty<(string, string)>();
                @foreach (var database in databases)
                {
                    <tr style="cursor: pointer;" @onclick="() => { NewObject.ServerName = database.ServerName; NewObject.DatabaseName = database.DatabaseName; }">
                        <td colspan="1">@database.ServerName</td>
                        <td colspan="4"><HighlightableText Text="@database.DatabaseName" PartToHighlight="@NewObject.DatabaseName" /></td>
                    </tr>
                }
            }
            else if (SuggestType == DatabaseObjectType.Schema)
            {
                var schemas = AllDatabaseObjects?
                    .Where(o => string.IsNullOrEmpty(NewObject.ServerName) || o.ServerName == NewObject.ServerName)
                    .Where(o => string.IsNullOrEmpty(NewObject.DatabaseName) || o.DatabaseName == NewObject.DatabaseName)
                    .Where(o => o.SchemaName.ContainsIgnoreCase(NewObject.SchemaName))
                    .Select(o => (o.ServerName, o.DatabaseName, o.SchemaName))
                    .Distinct()
                    .OrderBy(o => o.ServerName).ThenBy(o => o.DatabaseName).ThenBy(o => o.SchemaName)
                    .Take(10) ?? Enumerable.Empty<(string, string, string)>();
                @foreach (var schema in schemas)
                {
                    <tr style="cursor: pointer;" @onclick="() => { NewObject.ServerName = schema.ServerName; NewObject.DatabaseName = schema.DatabaseName; NewObject.SchemaName = schema.SchemaName; }">
                        <td colspan="1">@schema.ServerName</td>
                        <td colspan="1">@schema.DatabaseName</td>
                        <td colspan="3"><HighlightableText Text="@schema.SchemaName" PartToHighlight="@NewObject.SchemaName" /></td>
                    </tr>
                }
            }
            else if (SuggestType == DatabaseObjectType.Object)
            {
                var objects = AllDatabaseObjects?
                    .Where(o => string.IsNullOrEmpty(NewObject.ServerName) || o.ServerName == NewObject.ServerName)
                    .Where(o => string.IsNullOrEmpty(NewObject.DatabaseName) || o.DatabaseName == NewObject.DatabaseName)
                    .Where(o => string.IsNullOrEmpty(NewObject.SchemaName) || o.SchemaName == NewObject.SchemaName)
                    .Where(o => o.ObjectName.ContainsIgnoreCase(NewObject.ObjectName))
                    .OrderBy(o => o.ServerName).ThenBy(o => o.DatabaseName).ThenBy(o => o.SchemaName).ThenBy(o => o.ObjectName)
                    .Take(10) ?? Enumerable.Empty<DatabaseObject>();
                @foreach (var dbObject in objects)
                {
                    <tr style="cursor: pointer;" @onclick="() => NewObject = dbObject">
                        <td>@dbObject.ServerName</td>
                        <td>@dbObject.DatabaseName</td>
                        <td>@dbObject.SchemaName</td>
                        <td colspan="2"><HighlightableText Text="@dbObject.ObjectName" PartToHighlight="@NewObject.ObjectName" /></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<HxButton Color="ThemeColor.Light" Size="ButtonSize.Small" OnClick="AddNewObject">
    @MarkupHelper.FromFile("icons/feather/plus.svg")
</HxButton>


@code {
    [Parameter] public string ListName { get; set; } = string.Empty;

    [Parameter] public StepType StepType { get; set; }

    [Parameter] public IList<DatabaseObject> DatabaseObjects { get; set; } = null!;

    [Parameter] public IList<DatabaseObject> ComparisonObjects { get; set; } = null!;

    [Parameter] public Guid? ConnectionId { get; set; }

    [Parameter] public string? SqlStatement { get; set; }

    [Parameter] public Func<Guid, string?, string, Task<IEnumerable<(string ServerName, string DatabaseName, string SchemaName, string ObjectName)>>> LoadDatabaseObjects { get; set; } = null!;

    [Parameter] public Func<Task<IEnumerable<DatabaseObject>>> LoadAllDatabaseObjects { get; set; } = null!;

    private IEnumerable<DatabaseObject>? AllDatabaseObjects { get; set; }

    private bool ShowServer { get; set; } = false;

    private bool ShowDatabase { get; set; } = false;

    private DatabaseObject? NewObject { get; set; }

    private DatabaseObjectType? SuggestType { get; set; }

    private enum DatabaseObjectType
    {
        Server, Database, Schema, Object
    }

    private async Task AddNewObject()
    {
        AllDatabaseObjects ??= await LoadAllDatabaseObjects();
        NewObject = new();
    }

    private async Task GetDatabaseObjectsAsync()
    {
        var proc = SqlStatement?.ParseStoredProcedureFromSqlStatement();
        var schema = proc?.Schema;
        var name = proc?.ProcedureName;
        if (name is null) return;

        AllDatabaseObjects ??= await LoadAllDatabaseObjects();

        Guid connectionId = ConnectionId ?? throw new ArgumentNullException(nameof(ConnectionId), "Connection id was null");
        var sources = await LoadDatabaseObjects(connectionId, schema, name);
        foreach (var source in sources)
        {
            var dbObject = AllDatabaseObjects?.FirstOrDefault(o => o.Equals(source)) ??
                ComparisonObjects.FirstOrDefault(o => o.Equals(source)) ??
                new DatabaseObject
                {
                    ServerName = source.ServerName,
                    DatabaseName = source.DatabaseName,
                    SchemaName = source.SchemaName,
                    ObjectName = source.ObjectName
                };

            if (!DatabaseObjects.Any(s => s.Equals(dbObject)))
            {
                DatabaseObjects.Add(dbObject);    
            }
        }
    }
}
