@page
@model EtlManager.Pages.Jobs.Steps.DependencyModel
@{
    ViewData["Title"] = "Job Dependencies";
}

<h4>@Model.JobName dependencies</h4>
<p />

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Step
            </th>
            <th>
                Dependant on
            </th>
            <th>
                Strict dependency*
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dependencies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Step.StepName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DependantOnStep.StepName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrictDependency)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StepId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr/>
<p class="text-secondary"><small>*Strict dependency means that the step will be skipped if any one of the strict dependencies has failed or has been skipped.</small></p>

<div>
    <a asp-page="./Index" asp-route-id="@Model.JobId">Back to steps</a>
</div>