@page
@model EtlManager.Pages.Jobs.Steps.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit</h4>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-8">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Step.StepId" value="@Model.Step.StepId" />
            <input type="hidden" asp-for="Step.JobId" value="@Model.Step.JobId" />
            <div class="form-group">
                <label asp-for="Step.Job.JobName" class="control-label"></label>
                <input asp-for="Step.Job.JobName" class="form-control" readonly />
                <span asp-validation-for="Step.Job.JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.StepName" class="control-label"></label>
                <input asp-for="Step.StepName" class="form-control" />
                <span asp-validation-for="Step.StepName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Step.CreatedDateTime" class="control-label"></label>
                    <input asp-for="Step.CreatedDateTime" class="form-control" readonly />
                    <span asp-validation-for="Step.CreatedDateTime" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Step.LastModifiedDateTime" class="control-label"></label>
                    <input asp-for="Step.LastModifiedDateTime" class="form-control" readonly />
                    <span asp-validation-for="Step.LastModifiedDateTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Step.ExecutionPhase" class="control-label"></label>
                    <input asp-for="Step.ExecutionPhase" class="form-control" />
                    <span asp-validation-for="Step.ExecutionPhase" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Step.StepType" class="control-label"></label>
                    <select asp-for="Step.StepType" class="form-control" id="step_type" onchange="stepTypeSelected()">
                        <option>SQL</option>
                        <option>SSIS</option>
                    </select>
                    <span asp-validation-for="Step.StepType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" id="sql_statement_div">
                <label asp-for="Step.SqlStatement" class="control-label"></label>
                <textarea asp-for="Step.SqlStatement" id="sql_input" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Step.SqlStatement" class="text-danger"></span>
            </div>
            <div class="form-group" id="folder_div">
                <label asp-for="Step.FolderName" class="control-label"></label>
                <input asp-for="Step.FolderName" id="folder_input" class="form-control" />
                <span asp-validation-for="Step.FolderName" class="text-danger"></span>
            </div>
            <div class="form-group" id="project_div">
                <label asp-for="Step.ProjectName" class="control-label"></label>
                <input asp-for="Step.ProjectName" id="project_input" class="form-control" />
                <span asp-validation-for="Step.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group" id="package_div">
                <label asp-for="Step.PackageName" class="control-label"></label>
                <input asp-for="Step.PackageName" id="package_input" class="form-control" />
                <span asp-validation-for="Step.PackageName" class="text-danger"></span>
            </div>

            <text id="sql_error" class="text-danger" style="display: none;">SQL statement cannot be empty</text>
            <text id="ssis_error" class="text-danger" style="display: none;">Folder, project and package names cannot be empty</text>
            
            <div class="form-group form-check" id="32_bit_mode_div">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Step.ExecuteIn32BitMode" /> @Html.DisplayNameFor(model => model.Step.ExecuteIn32BitMode)
                </label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1" asp-for="Step.IsEnabled">
                <label class="custom-control-label" for="switch1">@Html.DisplayNameFor(model => model.Step.IsEnabled)</label>
            </div>
            <p></p>
            <div class="form-group">
                <input id="button_submit" type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>

    <div>
        <a asp-page="./Index" asp-route-id="@Model.Step.JobId">Back to list</a>
    </div>

    <hr />

    <h4>Dependencies</h4>
    <p />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Dependant on
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    Strict dependency*
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.DependencyEdits.Count; index++)
            {
            <tr>
                @Html.HiddenFor(modelItem => Model.DependencyEdits[index].DependencyId)
                @Html.HiddenFor(modelItem => Model.DependencyEdits[index].StepId)
                @Html.HiddenFor(modelItem => Model.DependencyEdits[index].DependantOnStepId)
                <td>
                    @Html.DisplayFor(modelItem => Model.DependencyEdits[index].DependantOnStep.StepName)
                </td>
                <td>
                    <input class="form-check-input" onchange="toggleVisibility(this)" data-id="@Model.DependencyEdits[index].DependantOnStepId" asp-for="DependencyEdits[index].Enabled" />
                </td>
                <td>
                    <input class="form-check-input @(Model.DependencyEdits[index].Enabled?"":"d-none")" id="@Model.DependencyEdits[index].DependantOnStepId" asp-for="DependencyEdits[index].StrictDependency" />
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>

<hr/>

<p class="text-secondary">*Strict dependency means that the step will be skipped if any one of the strict dependencies has failed or has been skipped.</p>

@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () { stepTypeSelected(); });

        function stepTypeSelected() {
            var stepType = document.getElementById('step_type').value;
            if (stepType == "SQL") {
                $('#sql_statement_div').show();
                $('#folder_div').hide();
                $('#project_div').hide();
                $('#package_div').hide();
                $('#32_bit_mode_div').hide();
            } else if (stepType == "SSIS") {
                $('#sql_statement_div').hide();
                $('#folder_div').show();
                $('#project_div').show();
                $('#package_div').show();
                $('#32_bit_mode_div').show();
            }
        }

        function toggleVisibility(elem) {
            var id = $(elem).data('id');
            $('#' + id).toggleClass('d-none');
        }

    </script>

    <script type="text/javascript">
        $(function () {
            $("#button_submit").click(function () {
                var stepType = document.getElementById('step_type').value;
                var sql = document.getElementById('sql_input').value;
                var folder = document.getElementById('folder_input').value;
                var project = document.getElementById('project_input').value;
                var package = document.getElementById('package_input').value;
                if (stepType == "SQL" && sql.length == 0) {
                    $('#sql_error').show();
                    return false;
                } else if (stepType == "SSIS" && (folder.length == 0 || project.length == 0 || package.length == 0)) {
                    $('#ssis_error').show();
                    return false;
                }
                return true;
            });
        });

        $(function () {
            $('#step_type').change(function () { hideErrors(); });
            $('#sql_input').on('input', function () { hideErrors(); });
            $('#folder_input').on('input', function () { hideErrors(); });
            $('#project_input').on('input', function () { hideErrors(); });
            $('#package_input').on('input', function () { hideErrors(); });
        });

        function hideErrors() {
            $('#ssis_error').hide();
            $('#sql_error').hide();
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
