@page
@model EtlManager.Pages.Jobs.Steps.EditModel

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit</h1>

<h4>Step</h4>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-8">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Step.StepId" value="@Model.Step.StepId" />
            <input type="hidden" asp-for="Step.JobId" value="@Model.Step.JobId" />
            <div class="form-group">
                <label asp-for="Step.Job.JobName" class="control-label"></label>
                <input asp-for="Step.Job.JobName" class="form-control" readonly />
                <span asp-validation-for="Step.Job.JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.StepName" class="control-label"></label>
                <input asp-for="Step.StepName" class="form-control" />
                <span asp-validation-for="Step.StepName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Step.CreatedDateTime" class="control-label"></label>
                    <input asp-for="Step.CreatedDateTime" class="form-control" readonly />
                    <span asp-validation-for="Step.CreatedDateTime" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Step.LastModifiedDateTime" class="control-label"></label>
                    <input asp-for="Step.LastModifiedDateTime" class="form-control" readonly />
                    <span asp-validation-for="Step.LastModifiedDateTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Step.ExecutionPhase" class="control-label"></label>
                    <input asp-for="Step.ExecutionPhase" class="form-control" />
                    <span asp-validation-for="Step.ExecutionPhase" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Step.StepType" class="control-label"></label>
                    <select asp-for="Step.StepType" class="form-control" id="step_type" onchange="stepTypeSelected()">
                        <option>SQL</option>
                        <option>SSIS</option>
                    </select>
                    <span asp-validation-for="Step.StepType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" id="sql_statement_div">
                <label asp-for="Step.SqlStatement" class="control-label"></label>
                <textarea asp-for="Step.SqlStatement" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Step.SqlStatement" class="text-danger"></span>
            </div>
            <div class="form-group" id="folder_div">
                <label asp-for="Step.FolderName" class="control-label"></label>
                <input asp-for="Step.FolderName" class="form-control" />
                <span asp-validation-for="Step.FolderName" class="text-danger"></span>
            </div>
            <div class="form-group" id="project_div">
                <label asp-for="Step.ProjectName" class="control-label"></label>
                <input asp-for="Step.ProjectName" class="form-control" />
                <span asp-validation-for="Step.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group" id="package_div">
                <label asp-for="Step.PackageName" class="control-label"></label>
                <input asp-for="Step.PackageName" class="form-control" />
                <span asp-validation-for="Step.PackageName" class="text-danger"></span>
            </div>
            <div class="form-group form-check" id="32_bit_mode_div">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Step.ExecuteIn32BitMode" /> @Html.DisplayNameFor(model => model.Step.ExecuteIn32BitMode)
                </label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1" asp-for="Step.IsEnabled">
                <label class="custom-control-label" for="switch1">@Html.DisplayNameFor(model => model.Step.IsEnabled)</label>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>

    <div>
        <a asp-page="./Index" asp-route-id="@Model.Step.JobId">Back to List</a>
    </div>

    <hr />

    <h4>Dependencies</h4>
    <p />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Dependant On
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    Strict Dependency
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.DependencyEdits.Count; index++)
            {
            <tr>
                @Html.HiddenFor(modelItem => Model.DependencyEdits[index].DependencyId)
                @Html.HiddenFor(modelItem => Model.DependencyEdits[index].StepId)
                @Html.HiddenFor(modelItem => Model.DependencyEdits[index].DependantOnStepId)
                <td>
                    @Html.DisplayFor(modelItem => Model.DependencyEdits[index].DependantOnStep.StepName)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => Model.DependencyEdits[index].Enabled)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => Model.DependencyEdits[index].StrictDependency)
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () { stepTypeSelected(); });

        function stepTypeSelected() {
            var stepType = document.getElementById('step_type').value;
            if (stepType == "SQL") {
                $('#sql_statement_div').show();
                $('#folder_div').hide();
                $('#project_div').hide();
                $('#package_div').hide();
                $('#32_bit_mode_div').hide();
            } else if (stepType == "SSIS") {
                $('#sql_statement_div').hide();
                $('#folder_div').show();
                $('#project_div').show();
                $('#package_div').show();
                $('#32_bit_mode_div').show();
            }
        }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
