@using Quartz

@inject IHxMessengerService Messenger
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IMediator Mediator
@inject IJSRuntime JS

<HxOffcanvas @ref="offcanvas" Size="OffcanvasSize.Regular" Title="@(schedule.ScheduleId == Guid.Empty ? "New schedule" : "Edit schedule")">
    <BodyTemplate>
        <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
        <EditForm id="schedule_form" Model="schedule" OnValidSubmit="SubmitSchedule" Context="_context">
            <div class="row">
                <div class="col">
                    <DataAnnotationsValidator />
                    <div>
                        <label class="form-label">Job</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <CxIcon Icon="LucideIcon.ClipboardList" />
                            </div>
                            <InputSelect DisplayName="Job" class="form-select" @bind-Value="schedule.JobId" disabled=@(schedule.ScheduleId != Guid.Empty || Job is not null)>
                                @if (Job is not null)
                                {
                                    <option value="@Job.JobId">@Job.JobName</option>
                                }
                                else
                                {
                                    <option value="">Select job</option>
                                    foreach (var category in JobCategories)
                                    {
                                        <optgroup label="@(category?.CategoryName ?? "No category")">
                                            @foreach (var job in Jobs.Where(j => j.CategoryId == category?.CategoryId).OrderBy(j => j.JobName))
                                            {
                                                <option value="@job.JobId">
                                                    @job.JobName
                                                </option>
                                            }
                                        </optgroup>
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <ValidationMessage For="() => schedule.JobId" />
                    <div class="mt-3">
                        <label class="form-label">Name</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <CxIcon Icon="FeatherIcon.Edit3" />
                            </div>
                            <InputText DisplayName="Name" class="form-control" @bind-Value="schedule.ScheduleName"></InputText>
                        </div>
                    </div>
                    <ValidationMessage For="() => schedule.ScheduleName" />
                    <div class="mt-3">
                        <label class="form-label">
                            Cron expression
                            <HxPopover Trigger="PopoverTrigger.Hover" Content="Schedule cron expression cannot be edited once the schedule has been created. To change the expression, a new schedule needs to be created and the old one removed.">
                                <CxIcon Icon="FeatherIcon.Info" />
                            </HxPopover>
                        </label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <CxIcon Icon="FeatherIcon.Calendar" />
                            </div>
                            <OnInputText class="form-control" @bind-Value="schedule.CronExpression" />
                        </div>
                    </div>
                    <ValidationMessage For="() => schedule.CronExpression" />
                    @if (CronExpression.IsValidExpression(schedule.CronExpression))
                    {
                        var nextFireTimes = schedule.NextFireTimes().Take(10).ToList();
                        <small class="text-secondary">Description:</small>
                        <br />
                        <small class="text-secondary ms-3">@schedule.GetScheduleDescription()</small>
                        <br />
                        <small class="text-secondary mt-2">Next execution(s) (showing first 10):</small>
                        <div class="row">
                            <div class="col">
                                @foreach (var fireTime in nextFireTimes.Take(5))
                                {
                                    <small class="row text-secondary ms-3">@fireTime</small>
                                }
                            </div>
                            <div class="col">
                                @foreach (var fireTime in nextFireTimes.Skip(5).Take(5))
                                {
                                    <small class="row text-secondary ms-3">@fireTime</small>
                                }
                            </div>
                        </div>
                    }
                    <div class="row mt-3">
                        <label class="form-label">Tag filters</label>
                        <HxInputTags @bind-Value="tags"
                                     DataProvider="GetTagSuggestions"
                                     AllowCustomTags="false"
                                     SuggestMinimumLength="0"
                                     SuggestDelay="0"
                                     TagBadgeSettings="new BadgeSettings() { Color = ThemeColor.Secondary }" />
                        <div class="form-text">Use tag filters to only include steps with specific tags in scheduled executions.</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="schedule_concurrency_check"
                                       checked=@schedule.DisallowConcurrentExecution
                                       @bind-value="schedule.DisallowConcurrentExecution">
                                <label class="form-check-label fw-normal" for="schedule_concurrency_check">
                                    Disallow concurrent execution
                                    <HxPopover Trigger="PopoverTrigger.Hover" Content="Allow only one concurrent execution of this job and schedule. This option is useful in cases where the job's duration might overlap with the schedule's next fire time but concurrent execution should not be allowed.">
                                        <CxIcon Icon="FeatherIcon.Info" />
                                    </HxPopover>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit FormId="schedule_form" Color="ThemeColor.Success">Save</HxSubmit>
        <HxButton CssClass="ms-3" Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    // Optional - new schedules will be locked to this job if provided
    [Parameter] public Job? Job { get; set; }

    [Parameter] public IEnumerable<Job> Jobs { get; set; } = Enumerable.Empty<Job>();

    [Parameter] public EventCallback<Schedule> OnSubmit { get; set; }

    private Schedule schedule = new(); // assign placeholder
    private HxOffcanvas? offcanvas;
    private List<string> tags = new();
    private IEnumerable<Tag> allTags = Enumerable.Empty<Tag>();

    private IEnumerable<JobCategory?> JobCategories => Jobs
        .Select(j => j.Category)
        .Distinct()
        .OrderBy(c => c is null)
        .ThenBy(c => c?.CategoryName);

    private Task<InputTagsDataProviderResult> GetTagSuggestions(InputTagsDataProviderRequest request)
    {
        return Task.FromResult(new InputTagsDataProviderResult
        {
             Data = allTags
             .Select(t => t.TagName)
             .Where(t => t.ContainsIgnoreCase(request.UserInput))
             .Where(t => !tags.Any(tag => t == tag))
             .OrderBy(t => t)
        });
    }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbContextFactory.CreateDbContext();
        allTags = await context.Tags.ToListAsync();
    }

    private async Task SubmitSchedule()
    {
        // New schedule
        if (schedule.ScheduleId == Guid.Empty)
        {
            try
            {
                await Mediator.SendAsync(new CreateScheduleCommand(schedule, this.tags));

                schedule.Job = Job is not null ? Job : Jobs?.FirstOrDefault(job => job.JobId == schedule.JobId)
                    ?? throw new InvalidOperationException("Job cannot be null");

                await OnSubmit.InvokeAsync(schedule);
                await offcanvas.LetAsync(x => x.HideAsync());
                this.tags.Clear();
            }
            catch (Exception ex)
            {
                Messenger.AddError("Error adding schedule", ex.Message);
            }
        }
        // Existing schedule
        else
        {
            try
            {
                await Mediator.SendAsync(new UpdateScheduleCommand(schedule, this.tags));
                await OnSubmit.InvokeAsync(schedule);
                await offcanvas.LetAsync(x => x.HideAsync());
                this.tags.Clear();
            }
            catch (Exception ex)
            {
                Messenger.AddError("Error editing schedule", ex.Message);
            }
        }
    }

    public async Task ShowAsync(Guid scheduleId)
    {
        if (scheduleId != Guid.Empty)
        {
            using var context = DbContextFactory.CreateDbContext();
            schedule = await context.Schedules
                .AsNoTracking()
                .Include(s => s.Tags)
                .Include(s => s.Job)
                .FirstAsync(s => s.ScheduleId == scheduleId);
        }
        else if (scheduleId == Guid.Empty)
        {
            var jobId = Job?.JobId ?? Jobs.FirstOrDefault()?.JobId;
            ArgumentNullException.ThrowIfNull(jobId);
            schedule = new()
            {
                JobId = (Guid)jobId
            };
        }

        tags = schedule.Tags
                .Select(t => t.TagName)
                .OrderBy(t => t)
                .ToList();

        await offcanvas.LetAsync(x => x.ShowAsync());
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Discard unsaved changes?");
        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }
}
