@inject IDbContextFactory<AppDbContext> DbFactory
@inject IHxMessengerService Messenger
@inject ISchedulerService SchedulerService

<AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
    <div class="row mt-3">
        <div class="col">
            <HxButton Color="ThemeColor.Success"
                      @onclick="async () => await editModal.LetAsync(x => x.ShowAsync(Guid.Empty))"
                      Enabled="Jobs is not null && Jobs?.Any() == true">
                Add schedule
            </HxButton>
            <HxButton CssClass="ms-3" Color="ThemeColor.Primary" @onclick="SynchronizeSchedulerService">
                <CxIcon Icon="FeatherIcon.RefreshCw" />
                Synchronize
            </HxButton>
            <HxButton CssClass="ms-3 btn-auto" Color="ThemeColor.None" OnClick="ShowStatusOffcanvasAsync" Spinner="false" title="Show scheduler service status">
                <CxIcon Icon="FeatherIcon.Info" />
                Status
            </HxButton>
        </div>
        <div class="col text-end">
            <HxButton Color="ThemeColor.None" CssClass="btn-auto" OnClick="async () => await helpModal.LetAsync(x => x.ShowAsync())">
                <CxIcon Icon="FeatherIcon.HelpCircle" />
            </HxButton>
        </div>
    </div>
</AuthorizeView>

<div class="card shadow-sm pt-2 my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Job
                </th>
                <th>
                    Schedule name
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    Cron expression
                </th>
                <th>
                    Next execution
                </th>
                <th>
                    Tag filters
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (FilteredSchedules is null)
            {
                <tr><td colspan="7" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td></tr>
            }
            else if (FilteredSchedules.Count() == 0)
            {
                <tr><td colspan="7">No schedules</td></tr>
            }
            else
            {
                @foreach (var item in FilteredSchedules.OrderBy(s => s.Job.JobName).ThenBy(s => s.ScheduleName))
                {
                    <tr class="schedule-row @(item.IsEnabled ? null : "disabled")">
                        <td class="align-middle">
                            <a class="text-body" href="@($"jobs/{item.JobId}/schedules")">
                                @item.Job.JobName
                            </a>
                        </td>
                        <td class="align-middle">
                            @item.ScheduleName
                        </td>
                        <td class="align-middle">
                            <div class="form-check form-switch">
                                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                    <input type="checkbox" class="form-check-input" id="@item.ScheduleId" checked=@item.IsEnabled @onchange="args => ToggleEnabled(args, item)">
                                    <label class="form-check-label" for="@item.ScheduleId"></label>
                                </AuthorizeView>
                                <AuthorizeView Roles="@(Roles.Viewer)">
                                    <input type="checkbox" class="form-check-input" disabled checked=@item.IsEnabled>
                                    <label class="form-check-label" for="@item.ScheduleId"></label>
                                </AuthorizeView>
                            </div>
                        </td>
                        <td>
                            <div class="d-inline-flex">
                                @item.CronExpression
                                &nbsp;&nbsp;
                                <HxTooltip Placement="TooltipPlacement.Auto"
                                   Text="@item.GetScheduleDescription()">
                                    <CxIcon Icon="FeatherIcon.Info" />
                                </HxTooltip>
                            </div>
                        </td>
                        <td>
                            <div class="d-inline-flex @(!item.IsEnabled || !item.Job.IsEnabled ? "text-body-tertiary" : null)">
                                @item.NextFireTimes().FirstOrDefault()
                                @(!item.IsEnabled ? "(Schedule disabled)" : null)
                                @(!item.Job.IsEnabled ? "(Job disabled)" : null)
                                &nbsp;&nbsp;
                                <HxTooltip Placement="TooltipPlacement.Auto"
                                   Text="@("Next execution(s) (first 15):\n" + string.Join("\n", item.NextFireTimes().Take(15)))"
                                   CssClass="white-space-pre">
                                    <CxIcon Icon="FeatherIcon.Info" />
                                </HxTooltip>
                            </div>
                        </td>
                        <td>
                            @if (!item.Tags.Any())
                            {
                                <span class="text-secondary ms-2">No tag filters</span>
                            }
                            @foreach (var tag in item.Tags.OrderBy(t => t.TagName))
                            {
                                <TagComponent Tag="tag" CssClass="m-1" />
                            }
                        </td>
                        <td align="center">
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
                                <HxButtonGroup Size="ButtonGroupSize.Small">
                                    <HxButton Color="ThemeColor.None" Size="ButtonSize.Small" CssClass="btn-auto"
                                              @onclick="async () => await editModal.LetAsync(x => x.ShowAsync(item.ScheduleId))">
                                        <CxIcon Icon="FeatherIcon.Edit2" />
                                    </HxButton>
                                    <HxDropdownButtonGroup>
                                        <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                            <CxIcon Icon="FeatherIcon.Trash2" />
                                        </HxDropdownToggleButton>
                                        <HxDropdownMenu>
                                            <HxDropdownHeader>Delete?</HxDropdownHeader>
                                            <HxDropdownItem @onclick="() => DeleteScheduleAsync(item)">Confirm</HxDropdownItem>
                                        </HxDropdownMenu>
                                    </HxDropdownButtonGroup>
                                </HxButtonGroup>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")">
    <ScheduleEditModal @ref="editModal" Jobs="Jobs" OnSubmit="OnScheduleSubmitAsync" />
</AuthorizeView>

<SchedulesHelpModal @ref="helpModal" />

<HxOffcanvas @ref="statusOffcanvas" Title="Scheduler service status" Backdrop="OffcanvasBackdrop.False">
    <BodyTemplate>
        @if (schedulerStatus is null)
        {
            <div class="row">
                <div class="col text-center">
                    <HxSpinner Color="ThemeColor.Secondary" />
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">
                    <CodeEditor @ref="editor"
                                Language="json"
                                ReadOnly="true"
                                MinimapEnabled="false"
                                FontSize="12"
                                InitialValueExpression="() => schedulerStatus"
                                InitialHeight="calc(100vh - 170px)" />
                </div>
            </div>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="() => statusOffcanvas.LetAsync(x => x.HideAsync())">
            Close
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter] public List<Schedule>? Schedules { get; set; }

    [Parameter] public List<Job>? Jobs { get; set; }

    [Parameter] public IEnumerable<Schedule>? FilteredSchedules { get; set; }

    [Parameter] public EventCallback OnSchedulesChanged { get; set; }

    private static readonly JsonSerializerOptions SerializerOptions = new() { WriteIndented = true };

    private ScheduleEditModal? editModal;
    private SchedulesHelpModal? helpModal;
    private HxOffcanvas? statusOffcanvas;
    private CodeEditor? editor;
    private string? schedulerStatus = null;

    private async Task ToggleEnabled(ChangeEventArgs args, Schedule schedule)
    {
        bool value = (bool)args.Value!;
        try
        {
            using var context = DbFactory.CreateDbContext();
            using var transaction = context.Database.BeginTransaction();
            context.Attach(schedule);
            schedule.IsEnabled = !schedule.IsEnabled;
            await context.SaveChangesAsync();
            try
            {
                await SchedulerService.ToggleScheduleEnabledAsync(schedule, value);
                await transaction.CommitAsync();
            }
            catch (Exception)
            {
                await transaction.RollbackAsync();
                schedule.IsEnabled = !schedule.IsEnabled;
                throw;
            }
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error toggling schedule", ex.Message);
        }
    }

    private async Task OnScheduleSubmitAsync(Schedule schedule)
    {
        Schedules?.RemoveAll(s => s.ScheduleId == schedule.ScheduleId);
        Schedules?.Add(schedule);
        await OnSchedulesChanged.InvokeAsync();
    }

    private async Task DeleteScheduleAsync(Schedule schedule)
    {
        try
        {
            using var context = DbFactory.CreateDbContext();
            using var transaction = context.Database.BeginTransaction();
            context.Schedules.Remove(schedule);
            await context.SaveChangesAsync();
            try
            {
                await SchedulerService.RemoveScheduleAsync(schedule);
                transaction.Commit();
            }
            catch (Exception)
            {
                transaction.Rollback();
                throw;
            }

            Schedules?.Remove(schedule);
            await OnSchedulesChanged.InvokeAsync();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error deleting schedule", ex.Message);
        }
    }

    private async Task ShowStatusOffcanvasAsync()
    {
        schedulerStatus = null;
        StateHasChanged();
        await statusOffcanvas.LetAsync(x => x.ShowAsync());
        try
        {
            var status = await SchedulerService.GetStatusAsync();
            schedulerStatus = status.Match(
                (Success success) => GenerateStatusJson(success.Jobs),
                (AuthorizationError error1) => "Authorization failed when getting scheduler service status. Check the scheduler service auth configuration.",
                (SchedulerError error2) => "Scheduler service reported internal error. Check the scheduler service log for details.",
                (UndefinedError error3) => "Undefined error getting scheduler service status. Make sure the service is configured and running correctly.");
        }
        catch (Exception ex)
        {
            schedulerStatus = $"Error getting scheduler service status. Make sure the service is configured and running correctly.\n\n{ex.Message}";
        }
    }

    private string GenerateStatusJson(IEnumerable<Scheduler.Core.JobStatus> jobs)
    {
        // Add names if they can be found from the component state's lists.
        var statuses = jobs.Select(j =>
        {
            var jobName = Jobs?.FirstOrDefault(job => job.JobId.ToString().ToLower() == j.JobId.ToLower())?.JobName;
            var schedules = j.Schedules.Select(s =>
            {
                var scheduleName = Schedules?.FirstOrDefault(sched => sched.ScheduleId.ToString().ToLower() == s.ScheduleId.ToLower())?.ScheduleName;
                return new ScheduleStatus(s.ScheduleId, scheduleName, s.CronExpression, s.IsEnabled, s.IsRunning, s.DisallowConcurrentExecution);
            }).OrderBy(s => s.ScheduleName);

            return new JobStatus(j.JobId, jobName, schedules);
        }).OrderBy(j => j.JobName);
        return JsonSerializer.Serialize(statuses, SerializerOptions);
    }

    private async Task SynchronizeSchedulerService()
    {
        try
        {
            await SchedulerService.SynchronizeAsync();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error synchronizing", ex.Message);
        }
    }

    private record JobStatus(string JobId, string? JobName, IEnumerable<ScheduleStatus> Schedules);

    private record ScheduleStatus(string ScheduleId, string? ScheduleName, string? CronExpression, bool IsEnabled, bool IsRunning, bool DisallowConcurrentExecution);
}
